Repository justeattakeaway/fozzie-components, pull requests merged in 2021-07, with the labels that each got.

#1084 f-checkout@0.149.0 - Amending logging levels for certain errors.
  packages/components/organisms/f-checkout/CHANGELOG.md
  packages/components/organisms/f-checkout/package.json
  packages/components/organisms/f-checkout/src/components/Checkout.vue
  packages/components/organisms/f-checkout/src/components/_tests/Checkout.test.js
  packages/components/organisms/f-checkout/src/exceptions/exceptions.js
Labels: reviewed-1, reviewed-2

#1083 f-checkout@v0.150.0 - Fix guest checkout address population.
  packages/components/organisms/f-checkout/CHANGELOG.md
  packages/components/organisms/f-checkout/package.json
  packages/components/organisms/f-checkout/src/components/Checkout.vue
  packages/components/organisms/f-checkout/src/components/_tests/Checkout.test.js
  packages/components/organisms/f-checkout/src/store/checkout.module.js
  packages/components/organisms/f-checkout/src/store/mutation-types.js
  packages/components/organisms/f-checkout/src/store/tests/checkout.module.test.js
Labels: reviewed-1, reviewed-2

#1091 f-analytics@v0.2.0 - Migrating to a `mixin` service (still no logic just boilerplate)
  packages/components/atoms/f-analytics/src/assets/scss/common.scss
  packages/components/atoms/f-analytics/src/components/Analytics.vue
  packages/components/atoms/f-analytics/src/components/_tests/Analytics.test.js
  packages/components/atoms/f-analytics/stories/Analytics.stories.js
  packages/components/atoms/f-analytics/test-utils/component-objects/README.md
  packages/components/atoms/f-analytics/test-utils/component-objects/f-analytics-selectors.js
  packages/components/atoms/f-analytics/test-utils/component-objects/f-analytics.component.js
  packages/components/atoms/f-analytics/test/accessibility/axe-accessibility.spec.js
  packages/components/atoms/f-analytics/test/component/README.md
  packages/components/atoms/f-analytics/test/component/f-analytics.component.desktop.spec.js
  packages/components/atoms/f-analytics/vue.config.js
  packages/services/f-analytics/.eslintignore
  packages/services/f-analytics/CHANGELOG.md
  packages/services/f-analytics/LICENSE
  packages/services/f-analytics/README.md
  packages/services/f-analytics/babel.config.js
  packages/services/f-analytics/jest.config.js
  packages/services/f-analytics/package.json
  packages/services/f-analytics/src/index.js
  packages/services/f-analytics/src/mixins/_tests/analytics.test.js
  packages/services/f-analytics/src/mixins/analytics.mixin.vue
  packages/services/f-analytics/vue.config.js
Labels: reviewed-1, reviewed-2

#1089 f-button@1.8.1 Fix link event handler
  packages/components/atoms/f-button/CHANGELOG.md
  packages/components/atoms/f-button/package.json
  packages/components/atoms/f-button/src/components/Link.vue
  packages/components/atoms/f-button/src/components/_tests/Button.test.js
  packages/components/atoms/f-button/stories/IconButton.stories.js
  yarn.lock
Labels: bug, ready for re-review

#1017 f-cookie-banner@0.19.0 - Add gulpfile to generate compiled versions of f-cookie-banner using vue pre-render plugin
  .eslintrc.js
  CHANGELOG.md
  package.json
  packages/components/organisms/f-cookie-banner/CHANGELOG.md
  packages/components/organisms/f-cookie-banner/f-cookie-banner-static/babel.config.js
  packages/components/organisms/f-cookie-banner/f-cookie-banner-static/gulpfile.js
  packages/components/organisms/f-cookie-banner/f-cookie-banner-static/package.json
  packages/components/organisms/f-cookie-banner/f-cookie-banner-static/public/index.html
  packages/components/organisms/f-cookie-banner/f-cookie-banner-static/src/App.vue
  packages/components/organisms/f-cookie-banner/f-cookie-banner-static/src/main.js
  packages/components/organisms/f-cookie-banner/f-cookie-banner-static/vue.config.js
  packages/components/organisms/f-cookie-banner/f-cookie-banner-static/yarn.lock
  packages/components/organisms/f-cookie-banner/package.json
Labels: reviewed-1

#1095 f-checkout@v0.152.0 Fix phone number prepopulation for returning guest user
  CHANGELOG.md
  bundlewatch.config.js
  package.json
  packages/components/organisms/f-checkout/CHANGELOG.md
  packages/components/organisms/f-checkout/package.json
  packages/components/organisms/f-checkout/src/components/Checkout.vue
  packages/components/organisms/f-checkout/src/components/_tests/Checkout.test.js
  packages/components/organisms/f-checkout/src/components/_tests/helpers/setup.js
  packages/components/organisms/f-checkout/src/demo/checkoutMock.js
  packages/components/organisms/f-checkout/src/demo/get-customer.json
  packages/components/organisms/f-checkout/src/event-names.js
  packages/components/organisms/f-checkout/src/store/checkout.module.js
  packages/components/organisms/f-checkout/src/store/mutation-types.js
  packages/components/organisms/f-checkout/src/store/tests/checkout.module.test.js
  packages/components/organisms/f-checkout/stories/Checkout.stories.js
Labels: reviewed-1, reviewed-2

#1098 f-checkout@v0.153.0 - added chosen time to eventData
  CHANGELOG.md
  bundlewatch.config.js
  package.json
  packages/components/organisms/f-checkout/CHANGELOG.md
  packages/components/organisms/f-checkout/package.json
  packages/components/organisms/f-checkout/src/components/Checkout.vue
  packages/components/organisms/f-checkout/src/components/_tests/Checkout.test.js
Labels: reviewed-1, reviewed-2

#1094 f-analytics@v0.3.0 - Create a new service (mixin) to wrap GTM actions
  packages/services/f-analytics/CHANGELOG.md
  packages/services/f-analytics/README.md
  packages/services/f-analytics/package.json
  packages/services/f-analytics/src/constants.js
  packages/services/f-analytics/src/mixins/_tests/analytics.created.test.js
  packages/services/f-analytics/src/mixins/_tests/analytics.methods.test.js
  packages/services/f-analytics/src/mixins/_tests/analytics.mounted.test.js
  packages/services/f-analytics/src/mixins/_tests/analytics.test.js
  packages/services/f-analytics/src/mixins/_tests/analytics.watch.test.js
  packages/services/f-analytics/src/mixins/_tests/helpers/setup.js
  packages/services/f-analytics/src/mixins/analytics.mixin.vue
  packages/services/f-analytics/src/store/_tests/__snapshots__/analytics.module.test.js.snap
  packages/services/f-analytics/src/store/_tests/analytics.module.test.js
  packages/services/f-analytics/src/store/analyticsModule.js
Labels: reviewed-1, reviewed-2

#1102 f-checkout@v0.154.0 - Redirect user to homepage when seoName does not…
  packages/components/organisms/f-checkout/CHANGELOG.md
  packages/components/organisms/f-checkout/package.json
  packages/components/organisms/f-checkout/src/components/Checkout.vue
  packages/components/organisms/f-checkout/src/components/_tests/Checkout.test.js
Labels: reviewed-1, reviewed-2

#1100 f-checkout@v0.155.0 - Validate onBlur for Email, Postcode and Mobile
  packages/components/organisms/f-checkout/CHANGELOG.md
  packages/components/organisms/f-checkout/package.json
  packages/components/organisms/f-checkout/src/components/Address.vue
  packages/components/organisms/f-checkout/src/components/Checkout.vue
  packages/components/organisms/f-checkout/src/components/Guest.vue
  packages/components/organisms/f-checkout/src/components/_tests/Guest.test.js
  packages/components/organisms/f-checkout/test-utils/component-objects/f-checkout.component.js
  packages/components/organisms/f-checkout/test/component/f-checkout-guest.component.desktop.spec.js
  packages/components/organisms/f-checkout/test/visual/f-checkout-authenticated.visual.desktop.spec.js
  packages/components/organisms/f-checkout/test/visual/f-checkout-authenticated.visual.mobile.spec.js
  packages/components/organisms/f-checkout/test/visual/f-checkout-guest.visual.desktop.spec.js
  packages/components/organisms/f-checkout/test/visual/f-checkout-guest.visual.mobile.spec.js
Labels: reviewed-1, reviewed-2

#1105 f-checkout@0.157.0 - Handling errors with no responses (e.g. timeouts).
  packages/components/organisms/f-checkout/CHANGELOG.md
  packages/components/organisms/f-checkout/package.json
  packages/components/organisms/f-checkout/src/components/Checkout.vue
  packages/components/organisms/f-checkout/src/components/_tests/Checkout.test.js
  packages/components/organisms/f-checkout/src/demo/checkoutMock.js
  packages/components/organisms/f-checkout/stories/Checkout.stories.js
  packages/components/organisms/f-checkout/test/component/f-checkout.component.shared.spec.js
  packages/components/organisms/f-checkout/test/visual/f-checkout-authenticated.visual.desktop.spec.js
  packages/components/organisms/f-checkout/test/visual/f-checkout-authenticated.visual.mobile.spec.js
  packages/components/organisms/f-checkout/test/visual/f-checkout-guest.visual.desktop.spec.js
  packages/components/organisms/f-checkout/test/visual/f-checkout-guest.visual.mobile.spec.js
Labels: reviewed-1, reviewed-2

#1107 f-checkout@0.158.0 - Migrate to global cookie handler in `adddressServices`
  packages/components/organisms/f-checkout/CHANGELOG.md
  packages/components/organisms/f-checkout/package.json
  packages/components/organisms/f-checkout/src/components/Checkout.vue
  packages/components/organisms/f-checkout/src/components/_tests/Checkout.test.js
  packages/components/organisms/f-checkout/src/services/addressService.js
  packages/components/organisms/f-checkout/src/services/tests/addressService.test.js
  packages/components/organisms/f-checkout/src/store/checkout.module.js
  packages/components/organisms/f-checkout/src/store/tests/checkout.module.test.js
  packages/components/organisms/f-checkout/src/utils/helpers.js
Labels: reviewed-1, reviewed-2

#1116 f-alert@v0.7.0 – Updating f-button dependency
  packages/components/molecules/f-alert/CHANGELOG.md
  packages/components/molecules/f-alert/package.json
  packages/components/molecules/f-alert/src/components/Alert.vue
  yarn.lock
Labels: reviewed-1

#1117 f-mega-modal@v0.11.0 – Updating f-button dependency
  packages/components/molecules/f-mega-modal/CHANGELOG.md
  packages/components/molecules/f-mega-modal/package.json
  packages/components/molecules/f-mega-modal/src/components/MegaModal.vue
Labels: reviewed-1, reviewed-2

#1115 f-checkout@0.159.1 - Update action params for LVO experiment
  packages/components/organisms/f-checkout/CHANGELOG.md
  packages/components/organisms/f-checkout/package.json
  packages/components/organisms/f-checkout/src/store/checkoutAnalytics.module.js
  packages/components/organisms/f-checkout/src/store/tests/checkoutAnalytics.module.test.js
Labels: reviewed-1, reviewed-2

#1119 f-checkout@v0.160.0 - Remove page data and push event
  packages/components/organisms/f-checkout/CHANGELOG.md
  packages/components/organisms/f-checkout/package.json
  packages/components/organisms/f-checkout/src/components/Checkout.vue
  packages/components/organisms/f-checkout/src/components/_tests/Checkout.test.js
  packages/components/organisms/f-checkout/src/event-names.js
  packages/components/organisms/f-checkout/src/store/checkoutAnalytics.module.js
  packages/components/organisms/f-checkout/src/store/tests/checkoutAnalytics.module.test.js
Labels: reviewed-1, reviewed-2

#1124 f-checkout@0.161.0 - error page when there is no time available for d…
  packages/components/organisms/f-checkout/CHANGELOG.md
  packages/components/organisms/f-checkout/package.json
  packages/components/organisms/f-checkout/src/components/Checkout.vue
  packages/components/organisms/f-checkout/src/components/Error.vue
  packages/components/organisms/f-checkout/src/components/_tests/Checkout.test.js
  packages/components/organisms/f-checkout/src/components/_tests/Error.test.js
  packages/components/organisms/f-checkout/src/constants.js
  packages/components/organisms/f-checkout/src/demo/checkout-available-fulfilment-no-time-available.json
  packages/components/organisms/f-checkout/src/demo/checkoutMock.js
  packages/components/organisms/f-checkout/src/exceptions/exceptions.js
  packages/components/organisms/f-checkout/src/tenants/en-GB.js
  packages/components/organisms/f-checkout/stories/Checkout.stories.js
Labels: reviewed-1, reviewed-2

#1103 f-braze-adapter@4.0.0-beta.2 ♊ Implements deduplication and visibility KVPs
  packages/services/f-braze-adapter/CHANGELOG.md
  packages/services/f-braze-adapter/package.json
  packages/services/f-braze-adapter/src/services/contentCard.service.js
  packages/services/f-braze-adapter/src/services/utils/_tests/isCardCurrentlyActive.test.js
  packages/services/f-braze-adapter/src/services/utils/_tests/removeDuplicateContentCards.test.js
  packages/services/f-braze-adapter/src/services/utils/_tests/transformCardData.test.js
  packages/services/f-braze-adapter/src/services/utils/isCardCurrentlyActive.js
  packages/services/f-braze-adapter/src/services/utils/removeDuplicateContentCards.js
  packages/services/f-braze-adapter/src/services/utils/transformCardData.js
Labels: reviewed-1

#1104 f-braze-adapter@3.5.0 ♊ Implements deduplication and visibility KVPs
  packages/services/f-braze-adapter/CHANGELOG.md
  packages/services/f-braze-adapter/package.json
  packages/services/f-braze-adapter/src/services/_tests/contentCard.service.test.js
  packages/services/f-braze-adapter/src/services/contentCard.service.js
  packages/services/f-braze-adapter/src/services/utils/_tests/isCardCurrentlyActive.test.js
  packages/services/f-braze-adapter/src/services/utils/_tests/transformCardData.test.js
  packages/services/f-braze-adapter/src/services/utils/isCardCurrentlyActive.js
  packages/services/f-braze-adapter/src/services/utils/transformCardData.js
Labels: reviewed-1

#1113 f-form-field@v1.17.0 - updates to match PIE
  packages/components/atoms/f-form-field/CHANGELOG.md
  packages/components/atoms/f-form-field/package.json
  packages/components/atoms/f-form-field/src/assets/scss/common.scss
  packages/components/atoms/f-form-field/src/components/FormDropdown.vue
  packages/components/atoms/f-form-field/src/components/FormField.vue
  packages/components/atoms/f-form-field/src/components/FormLabel.vue
  packages/components/atoms/f-form-field/src/components/_tests/FormDropdown.test.js
  packages/components/atoms/f-form-field/src/components/_tests/FormField.test.js
  packages/components/atoms/f-form-field/src/constants.js
  packages/components/atoms/f-form-field/stories/FormField.stories.js
  yarn.lock
Labels: ready for re-review, reviewed-1

#1122 f-statistics@v0.1.0 - Initial MVP
  packages/services/f-stat-client/README.md
  packages/services/f-stat-client/README_1.png
  packages/services/f-stat-client/src/index.js
  packages/services/f-stat-client/src/statClient.js
  packages/services/f-stat-client/src/tests/index.test.js
  packages/services/f-statistics/CHANGELOG.md
  packages/services/f-statistics/LICENSE
  packages/services/f-statistics/README.md
  packages/services/f-statistics/babel.config.js
  packages/services/f-statistics/jest.config.js
  packages/services/f-statistics/package.json
  packages/services/f-statistics/src/defaultOptions.js
  packages/services/f-statistics/src/index.js
  packages/services/f-statistics/src/tests/index.test.js
  yarn.lock
Labels: reviewed-1, reviewed-2

#1112 f-checkout@0.160.0 - Move f-checkout axios calls into service files
  packages/components/organisms/f-checkout/CHANGELOG.md
  packages/components/organisms/f-checkout/package.json
  packages/components/organisms/f-checkout/src/services/accountApi.js
  packages/components/organisms/f-checkout/src/services/addressGeocodingApi.js
  packages/components/organisms/f-checkout/src/services/basketApi.js
  packages/components/organisms/f-checkout/src/services/checkoutApi.js
  packages/components/organisms/f-checkout/src/services/orderPlacementApi.js
  packages/components/organisms/f-checkout/src/services/tests/accountApi.test.js
  packages/components/organisms/f-checkout/src/services/tests/addressGeocodingApi.test.js
  packages/components/organisms/f-checkout/src/services/tests/basketApi.service.test.js
  packages/components/organisms/f-checkout/src/services/tests/checkoutApi.test.js
  packages/components/organisms/f-checkout/src/services/tests/orderPlacementApi.test.js
  packages/components/organisms/f-checkout/src/store/checkout.module.js
  packages/components/organisms/f-checkout/src/store/tests/checkout.module.test.js
  packages/components/organisms/f-checkout/stories/Checkout.stories.js
  yarn.lock
Labels: reviewed-1

#1137 f-header@v4.19.1 - en-IE - Fix 'Contact Preferences' URL
  packages/components/organisms/f-header/CHANGELOG.md
  packages/components/organisms/f-header/package.json
  packages/components/organisms/f-header/src/tenants/en-IE.js
Labels: reviewed-1

#1131 f-button@1.10.0 - f-button changes according to latest PIE designs
  CHANGELOG.md
  package.json
  packages/components/atoms/f-button/CHANGELOG.md
  packages/components/atoms/f-button/README.md
  packages/components/atoms/f-button/package.json
  packages/components/atoms/f-button/src/components/Button.vue
  packages/components/atoms/f-button/src/components/_tests/Button.test.js
  packages/components/atoms/f-button/src/constants.js
  packages/components/atoms/f-button/stories/Button.stories.js
  yarn.lock
Labels: reviewed-1, reviewed-2

#1132 f-form-field@v1.19.0 - Add icon to valid fields
  packages/components/atoms/f-form-field/CHANGELOG.md
  packages/components/atoms/f-form-field/package.json
  packages/components/atoms/f-form-field/src/assets/scss/common.scss
  packages/components/atoms/f-form-field/src/components/FormDropdown.vue
  packages/components/atoms/f-form-field/src/components/FormField.vue
  packages/components/atoms/f-form-field/src/components/_tests/FormField.test.js
  packages/components/atoms/f-form-field/src/constants.js
  packages/components/atoms/f-form-field/stories/FormField.stories.js
  packages/components/atoms/f-form-field/stories/IconFormField.stories.js
  packages/components/atoms/f-form-field/test/accessibility/axe-accessibility.spec.js
  packages/components/atoms/f-form-field/test/component/f-form-field.component.desktop.spec.js
Labels: ready for re-review, reviewed-1

#1134 f-form-field@v1.20.0 - Add assistive text and label details
  packages/components/atoms/f-form-field/CHANGELOG.md
  packages/components/atoms/f-form-field/package.json
  packages/components/atoms/f-form-field/src/assets/scss/common.scss
  packages/components/atoms/f-form-field/src/components/FormField.vue
  packages/components/atoms/f-form-field/src/components/FormLabel.vue
  packages/components/atoms/f-form-field/stories/FormField.stories.js
Labels: reviewed-1

#1148 f-checkout@v0.165.0: Pass errorCode from UpdateCheckout to the log
  packages/components/organisms/f-checkout/CHANGELOG.md
  packages/components/organisms/f-checkout/package.json
  packages/components/organisms/f-checkout/src/components/Checkout.vue
  packages/components/organisms/f-checkout/src/components/_tests/Checkout.test.js
  packages/components/organisms/f-checkout/src/exceptions/exceptions.js
Labels: reviewed-1, reviewed-2

#1147 f-analytics@0.4.0 - Add route to feature name map.
  packages/services/f-analytics/CHANGELOG.md
  packages/services/f-analytics/package.json
  packages/services/f-analytics/src/constants.js
  packages/services/f-analytics/src/mixins/_tests/analytics.created.test.js
  packages/services/f-analytics/src/mixins/_tests/analytics.methods.test.js
  packages/services/f-analytics/src/mixins/_tests/helpers/setup.js
  packages/services/f-analytics/src/mixins/analytics.mixin.vue
  packages/services/f-analytics/src/store/analyticsModule.js
Labels: reviewed-1, reviewed-2

#1123 f-http@v0.6.0 - Collect and Push Dependency Timings
  packages/services/f-http/CHANGELOG.md
  packages/services/f-http/package.json
  packages/services/f-http/src/createClient.js
  packages/services/f-http/src/defaultOptions.js
  packages/services/f-http/src/index.js
  packages/services/f-http/src/interceptors.js
  packages/services/f-http/src/mockFactory.js
  packages/services/f-http/src/requestDispatcher.js
  packages/services/f-http/src/tests/createClient.test.js
  packages/services/f-http/src/tests/index.test.js
  yarn.lock
Labels: reviewed-1, reviewed-2
