Repository justeattakeaway/fozzie-components, pull requests merged in 2021-10, with the labels that each got.

#1290 f-analytics@v0.17.0 - Removed redundant Plugin code
  packages/services/f-analytics/CHANGELOG.md
  packages/services/f-analytics/README.md
  packages/services/f-analytics/package.json
  packages/services/f-analytics/src/index.js
  packages/services/f-analytics/src/plugins/_tests/analytics.plugin.test.js
  packages/services/f-analytics/src/plugins/analytics.plugin.js
  packages/services/f-analytics/src/services/_tests/analytics.service.test.js
  packages/services/f-analytics/src/services/analytics.mapper.js
  packages/services/f-analytics/src/services/analytics.service.js
  packages/services/f-analytics/src/store/_tests/analytics.module.test.js
  packages/services/f-analytics/src/tests/helpers/setup.js
Labels: reviewed-1, reviewed-2

#1316 #trivial - update readme for testing single components
  README.md
Labels: please review

#1303 fozzie-components@4.2.0 - icing phase 2 (part 2 of 3)
  packages/components/molecules/f-alert/CHANGELOG.md
  packages/components/molecules/f-alert/package.json
  packages/components/molecules/f-alert/src/components/Alert.vue
  packages/components/molecules/f-alert/stories/Alert.stories.js
  packages/components/molecules/f-breadcrumbs/CHANGELOG.md
  packages/components/molecules/f-breadcrumbs/package.json
  packages/components/molecules/f-breadcrumbs/src/components/Breadcrumbs.vue
  packages/components/molecules/f-mega-modal/CHANGELOG.md
  packages/components/molecules/f-mega-modal/package.json
  packages/components/molecules/f-mega-modal/src/components/MegaModal.vue
  packages/components/molecules/f-searchbox/CHANGELOG.md
  packages/components/molecules/f-searchbox/package.json
  packages/components/molecules/f-searchbox/src/components/formElements/FormSearchButton.vue
  packages/components/molecules/f-searchbox/src/components/shells/Shell.vue
  packages/components/molecules/f-skeleton-loader/CHANGELOG.md
  packages/components/molecules/f-skeleton-loader/package.json
  packages/components/molecules/f-tabs/CHANGELOG.md
  packages/components/molecules/f-tabs/package.json
  yarn.lock
Labels: reviewed-1, reviewed-2

#1311 storybook@0.45.0 - Update f-analytics mock to match v0.17.0
  packages/storybook/CHANGELOG.md
  packages/storybook/context/analytics.context.js
  packages/storybook/package.json
Labels: reviewed-1, reviewed-2

#1320 f-button@3.0.1 - fix icon buttons loading state
  packages/components/atoms/f-button/CHANGELOG.md
  packages/components/atoms/f-button/package.json
  packages/components/atoms/f-button/src/components/Button.vue
Labels: reviewed-1, reviewed-2

#1312 f-cookie-banner@3.1.0 - Fix re-open link positioning
  packages/components/organisms/f-cookie-banner/CHANGELOG.md
  packages/components/organisms/f-cookie-banner/package.json
  packages/components/organisms/f-cookie-banner/src/components/CookieBanner.vue
  packages/components/organisms/f-cookie-banner/src/components/_tests/CookieBanner.test.js
Labels: reviewed-1, please review

#1314 f-checkout@v1.7.0 - Updated checkout component object. #trivial
  package.json
  packages/components/organisms/f-checkout/CHANGELOG.md
  packages/components/organisms/f-checkout/babel.config.js
  packages/components/organisms/f-checkout/package.json
  packages/components/organisms/f-checkout/test-utils/component-objects/f-checkout.component.js
  packages/components/organisms/f-checkout/test/accessibility/axe-accessibility.spec.js
  packages/components/organisms/f-checkout/test/component/f-checkout-delivery.component.desktop.spec.js
  packages/components/organisms/f-checkout/test/component/f-checkout-dinein.component.desktop.spec.js
  packages/components/organisms/f-checkout/test/component/f-checkout-guest.component.desktop.spec.js
  packages/components/organisms/f-checkout/test/component/f-checkout.component.shared.spec.js
  packages/components/organisms/f-checkout/test/visual/f-checkout-authenticated.visual.desktop.spec.js
  packages/components/organisms/f-checkout/test/visual/f-checkout-authenticated.visual.mobile.spec.js
  packages/components/organisms/f-checkout/test/visual/f-checkout-guest.visual.desktop.spec.js
  packages/components/organisms/f-checkout/test/visual/f-checkout-guest.visual.mobile.spec.js
  packages/components/organisms/f-checkout/test/visual/f-checkout-invalid.visual.mobile.spec.js
  yarn.lock
Labels: please review

#1323 f-cookie-banner@3.2.0 - Adding a nameSuffix prop.
  packages/components/organisms/f-cookie-banner/CHANGELOG.md
  packages/components/organisms/f-cookie-banner/README.md
  packages/components/organisms/f-cookie-banner/package.json
  packages/components/organisms/f-cookie-banner/src/components/CookieBanner.vue
  packages/components/organisms/f-cookie-banner/src/components/_tests/CookieBanner.test.js
  packages/components/organisms/f-cookie-banner/src/components/_tests/__snapshots__/CookieBanner.test.js.snap
  packages/components/organisms/f-cookie-banner/src/constants.js
  packages/components/organisms/f-cookie-banner/stories/CookieBanner.stories.js
  yarn.lock
Labels: reviewed-1, wip, organisms

#1330 f-takeawaypay-activation@2.2.1 - bump the version
  packages/components/organisms/f-takeawaypay-activation/CHANGELOG.md
  packages/components/organisms/f-takeawaypay-activation/package.json
Labels: organisms
