Repository justeattakeaway/fozzie-components, pull requests merged in 2021-06, with the labels that each got.

#995 f-checkout@v0.124.0 - Fix modal breaking page scrolling.
  packages/components/organisms/f-checkout/CHANGELOG.md
  packages/components/organisms/f-checkout/package.json
  packages/components/organisms/f-checkout/src/components/ErrorDialog.vue
  packages/components/organisms/f-checkout/src/components/_tests/ErrorDialog.test.js
Labels: reviewed-1

#999 f-checkout@0.125.0 - Read address from local storage if it exists
  packages/components/organisms/f-checkout/CHANGELOG.md
  packages/components/organisms/f-checkout/package.json
  packages/components/organisms/f-checkout/src/services/addressService.js
  packages/components/organisms/f-checkout/src/services/tests/addressService.test.js
  packages/components/organisms/f-checkout/src/store/checkout.module.js
  packages/components/organisms/f-checkout/test-utils/local-storage/local-storage-mock.js
Labels: reviewed-1

#996 f-checkout@0.126.0 - Restore selected fulfilment time (if valid and still available)
  packages/components/organisms/f-checkout/CHANGELOG.md
  packages/components/organisms/f-checkout/package.json
  packages/components/organisms/f-checkout/src/components/Selector.vue
  packages/components/organisms/f-checkout/src/components/_tests/Selector.test.js
  packages/components/organisms/f-checkout/src/demo/checkout-available-fulfilment.json
  packages/components/organisms/f-checkout/src/demo/checkout-collection.json
  packages/components/organisms/f-checkout/src/demo/checkout-delivery.json
  packages/components/organisms/f-checkout/src/store/tests/__snapshots__/checkout.module.test.js.snap
Labels: reviewed-1, reviewed-2

#998 f-cookie-banner@v0.13.0 - add method to hide legacy cookie banner(s).
  packages/components/organisms/f-cookie-banner/CHANGELOG.md
  packages/components/organisms/f-cookie-banner/package.json
  packages/components/organisms/f-cookie-banner/src/components/CookieBanner.vue
Labels: reviewed-1, reviewed-2

#1002 f-checkout@0.127.0 - Ensure fulfilmentTime and table is sent for dinein
  packages/components/organisms/f-checkout/CHANGELOG.md
  packages/components/organisms/f-checkout/package.json
  packages/components/organisms/f-checkout/src/components/Checkout.vue
  packages/components/organisms/f-checkout/src/components/Selector.vue
  packages/components/organisms/f-checkout/src/components/_tests/Checkout.test.js
  packages/components/organisms/f-checkout/src/components/_tests/Selector.test.js
  packages/components/organisms/f-checkout/src/services/tests/mapper.test.js
Labels: reviewed-1, reviewed-2

#1003 f-checkout@0.128.0 - Duplicate Order Warning - Dialog box
  packages/components/organisms/f-checkout/CHANGELOG.md
  packages/components/organisms/f-checkout/package.json
  packages/components/organisms/f-checkout/src/components/ErrorDialog.vue
  packages/components/organisms/f-checkout/src/components/_tests/ErrorDialog.test.js
  packages/components/organisms/f-checkout/src/components/_tests/helpers/setup.js
  packages/components/organisms/f-checkout/src/store/checkoutAnalytics.module.js
  packages/components/organisms/f-checkout/src/store/tests/checkoutAnalytics.module.test.js
  packages/components/organisms/f-checkout/src/tenants/en-GB.js
Labels: reviewed-1, reviewed-2

#1007 f-checkout@v0.129.0 - save userNote field to session storage
  packages/components/organisms/f-checkout/CHANGELOG.md
  packages/components/organisms/f-checkout/package.json
  packages/components/organisms/f-checkout/src/components/Checkout.vue
  packages/components/organisms/f-checkout/src/components/_tests/helpers/setup.js
  packages/components/organisms/f-checkout/src/store/checkout.module.js
  packages/components/organisms/f-checkout/src/store/tests/checkout.module.test.js
Labels: reviewed-1

#1015 f-footer@4.24.1 - Fix failing tests
  packages/components/organisms/f-footer/CHANGELOG.md
  packages/components/organisms/f-footer/package.json
  packages/components/organisms/f-footer/test/component/f-footer.component.desktop.spec.js
  packages/components/organisms/f-header/CHANGELOG.md
  packages/components/organisms/f-header/package.json
  packages/components/organisms/f-header/test/component/f-header.component.desktop.spec.js
Labels: reviewed-1, reviewed-2

#1014 f-tabs@0.8.0 - Reverse animation direction, and don't change direction if the tab isn't changing
  packages/components/molecules/f-tabs/CHANGELOG.md
  packages/components/molecules/f-tabs/package.json
  packages/components/molecules/f-tabs/src/components/Tabs.vue
  packages/components/molecules/f-tabs/src/components/tests/Tabs.test.js
Labels: reviewed-1, reviewed-2

#1010 f-checkout@0.130.0 - Added Feature tests for Duplicate Order Warn Dialogue box
  packages/components/organisms/f-checkout/CHANGELOG.md
  packages/components/organisms/f-checkout/package.json
  packages/components/organisms/f-checkout/test-utils/component-objects/f-checkout-selectors.js
  packages/components/organisms/f-checkout/test-utils/component-objects/f-checkout.component.js
  packages/components/organisms/f-checkout/test/component/f-checkout.component.shared.spec.js
  packages/components/organisms/f-checkout/test/visual/f-checkout-authenticated.visual.shared.spec.js
  packages/components/organisms/f-checkout/test/visual/f-checkout-guest.visual.shared.spec.js
Labels: reviewed-1

#1026 f-footer@v4.25.0 - Added “Just Eat for Business” to “Get to know us” column for the UK
  packages/components/organisms/f-footer/CHANGELOG.md
  packages/components/organisms/f-footer/package.json
  packages/components/organisms/f-footer/src/tenants/en-GB.js
Labels: reviewed-1, reviewed-2

#1025 fozzie-components@v3.39.0 - Updated percy tests to use lerna #globalconfig
  CHANGELOG.md
  package.json
  packages/components/atoms/f-button/package.json
  packages/components/organisms/f-checkout/package.json
  packages/components/organisms/f-cookie-banner/package.json
  test/configuration/chrome/chrome.settings.js
Labels: reviewed-1, reviewed-2

#1021 f-alert@v0.6.1 - Fix styling issues while rendering the alert header
  packages/components/molecules/f-alert/CHANGELOG.md
  packages/components/molecules/f-alert/package.json
  packages/components/molecules/f-alert/src/components/Alert.vue
Labels: reviewed-1, reviewed-2

#1018 f-checkout@v0.132.0 - Obtain address coords from local storage
  packages/components/organisms/f-checkout/CHANGELOG.md
  packages/components/organisms/f-checkout/package.json
  packages/components/organisms/f-checkout/src/services/addressService.js
  packages/components/organisms/f-checkout/src/store/checkout.module.js
  packages/components/organisms/f-checkout/src/store/tests/checkout.module.test.js
Labels: reviewed-1

#1020 f-checkout@0.133.0 - separate page for 403 error
  packages/components/organisms/f-checkout/CHANGELOG.md
  packages/components/organisms/f-checkout/package.json
  packages/components/organisms/f-checkout/src/components/Checkout.vue
  packages/components/organisms/f-checkout/src/components/Error.vue
  packages/components/organisms/f-checkout/src/components/_tests/Checkout.test.js
  packages/components/organisms/f-checkout/src/components/_tests/Error.test.js
  packages/components/organisms/f-checkout/src/constants.js
  packages/components/organisms/f-checkout/src/demo/checkout-403-get-error.json
  packages/components/organisms/f-checkout/src/demo/checkout-500-get-error.json
  packages/components/organisms/f-checkout/src/demo/checkoutMock.js
  packages/components/organisms/f-checkout/src/exceptions/exceptions.js
  packages/components/organisms/f-checkout/src/tenants/en-GB.js
  packages/components/organisms/f-checkout/stories/Checkout.stories.js
  packages/components/organisms/f-checkout/test/component/f-checkout.component.shared.spec.js
  packages/components/organisms/f-checkout/test/visual/f-checkout-authenticated.visual.shared.spec.js
Labels: reviewed-1, reviewed-2

#1028 f-checkout@0.135.0 - Fixing redirect from error dialog.
  packages/components/organisms/f-checkout/CHANGELOG.md
  packages/components/organisms/f-checkout/package.json
  packages/components/organisms/f-checkout/src/components/ErrorDialog.vue
  packages/components/organisms/f-checkout/src/components/_tests/ErrorDialog.test.js
Labels: reviewed-1, reviewed-2

#1037 f-checkout@v0.137.0 - upgrade to f-alert@v0.6.1
  packages/components/organisms/f-checkout/CHANGELOG.md
  packages/components/organisms/f-checkout/package.json
  yarn.lock
Labels: reviewed-1, reviewed-2

#1039 f-checkout@0.138.0 - Referral State fix.
  packages/components/organisms/f-checkout/CHANGELOG.md
  packages/components/organisms/f-checkout/package.json
  packages/components/organisms/f-checkout/src/components/Checkout.vue
  packages/components/organisms/f-checkout/src/components/_tests/Checkout.test.js
Labels: reviewed-1, reviewed-2

#1042 f-form-field@1.15.1 - Fix click behaviour for dropdown icon
  packages/components/atoms/f-form-field/CHANGELOG.md
  packages/components/atoms/f-form-field/package.json
  packages/components/atoms/f-form-field/src/components/FormDropdown.vue
Labels: reviewed-1, reviewed-2

#1047 f-checkout@0.141.0 - Fixed an issue in which the chosen delivery/collection time wasn't remembered.
  packages/components/organisms/f-checkout/CHANGELOG.md
  packages/components/organisms/f-checkout/package.json
  packages/components/organisms/f-checkout/src/components/Selector.vue
  packages/components/organisms/f-checkout/src/demo/checkout-collection.json
  packages/components/organisms/f-checkout/src/demo/checkout-delivery.json
  packages/components/organisms/f-checkout/src/demo/checkout-dinein.json
  packages/components/organisms/f-checkout/src/store/checkout.module.js
  yarn.lock
Labels: reviewed-1, reviewed-2

#1044 f-header@v4.17.2 - fix nav links colour when profile dropdown is open
  packages/components/organisms/f-header/CHANGELOG.md
  packages/components/organisms/f-header/package.json
  packages/components/organisms/f-header/src/components/Navigation.vue
Labels: reviewed-1

#1027 f-button@1.7.0 Add Vue router link support
  packages/components/atoms/f-button/CHANGELOG.md
  packages/components/atoms/f-button/README.md
  packages/components/atoms/f-button/package.json
  packages/components/atoms/f-button/src/components/Button.vue
  packages/components/atoms/f-button/src/components/_tests/Button.test.js
  packages/components/atoms/f-button/stories/RouterButton.stories.js
  yarn.lock
Labels: enhancement, reviewed-1, reviewed-2

#1051 f-checkout@0.141.1 - Fixed "As soon as possible" not being displayed by default.
  packages/components/organisms/f-checkout/CHANGELOG.md
  packages/components/organisms/f-checkout/package.json
  packages/components/organisms/f-checkout/src/demo/checkout-delivery.json
  packages/components/organisms/f-checkout/src/store/checkout.module.js
  packages/components/organisms/f-checkout/src/store/tests/__snapshots__/checkout.module.test.js.snap
Labels: reviewed-1, reviewed-2

#1050 f-footer@4.26.0 - change deliver with just eat link
  packages/components/organisms/f-footer/CHANGELOG.md
  packages/components/organisms/f-footer/package.json
  packages/components/organisms/f-footer/src/tenants/en-GB.js
Labels: reviewed-1

#1049 f-header@4.18.0 - change deliver with just eat link
  packages/components/organisms/f-header/CHANGELOG.md
  packages/components/organisms/f-header/package.json
  packages/components/organisms/f-header/src/tenants/en-GB.js
Labels: reviewed-1, reviewed-2

#1030 f-footer@v4.26.0 - Add Percy Visual Regression Tests
  CHANGELOG.md
  package.json
  packages/components/atoms/f-button/CHANGELOG.md
  packages/components/atoms/f-button/package.json
  packages/components/atoms/f-button/test/visual/f-button.visual.desktop.spec.js
  packages/components/organisms/f-checkout/CHANGELOG.md
  packages/components/organisms/f-checkout/package.json
  packages/components/organisms/f-checkout/test/visual/f-checkout-authenticated.visual.desktop.spec.js
  packages/components/organisms/f-checkout/test/visual/f-checkout-authenticated.visual.mobile.spec.js
  packages/components/organisms/f-checkout/test/visual/f-checkout-guest.visual.desktop.spec.js
  packages/components/organisms/f-checkout/test/visual/f-checkout-guest.visual.mobile.spec.js
  packages/components/organisms/f-checkout/test/visual/f-checkout-invalid.visual.desktop.spec.js
  packages/components/organisms/f-checkout/test/visual/f-checkout-invalid.visual.mobile.spec.js
  packages/components/organisms/f-cookie-banner/CHANGELOG.md
  packages/components/organisms/f-cookie-banner/package.json
  packages/components/organisms/f-cookie-banner/test/visual/f-cookieConsentBanner.visual.desktop.spec.js
  packages/components/organisms/f-cookie-banner/test/visual/f-cookieConsentBanner.visual.mobile.spec.js
  packages/components/organisms/f-cookie-banner/test/visual/f-cookiebanner-legacy.visual.desktop.spec.js
  packages/components/organisms/f-cookie-banner/test/visual/f-cookiebanner-legacy.visual.mobile.spec.js
  packages/components/organisms/f-footer/CHANGELOG.md
  packages/components/organisms/f-footer/jest.config.js
  packages/components/organisms/f-footer/package.json
  packages/components/organisms/f-footer/test/visual/f-footer.visual.desktop.spec.js
  packages/components/organisms/f-footer/test/visual/f-footer.visual.mobile.spec.js
  test/configuration/chrome/chrome.settings.js
  wdio-chrome.conf.js
  yarn.lock
Labels: do not merge

#1058 f-checkout@0.143.0 - Fix redirecting for Dine In orders
  packages/components/organisms/f-checkout/CHANGELOG.md
  packages/components/organisms/f-checkout/package.json
  packages/components/organisms/f-checkout/src/components/Checkout.vue
  packages/components/organisms/f-checkout/src/components/_tests/Checkout.test.js
Labels: reviewed-1

#1057 f-analytics@v0.1.0 - Initial scaffolding (no logic)
  packages/components/atoms/f-analytics/.eslintignore
  packages/components/atoms/f-analytics/CHANGELOG.md
  packages/components/atoms/f-analytics/LICENSE
  packages/components/atoms/f-analytics/README.md
  packages/components/atoms/f-analytics/babel.config.js
  packages/components/atoms/f-analytics/jest.config.js
  packages/components/atoms/f-analytics/package.json
  packages/components/atoms/f-analytics/src/assets/scss/common.scss
  packages/components/atoms/f-analytics/src/components/Analytics.vue
  packages/components/atoms/f-analytics/src/components/_tests/Analytics.test.js
  packages/components/atoms/f-analytics/src/index.js
  packages/components/atoms/f-analytics/stories/Analytics.stories.js
  packages/components/atoms/f-analytics/test-utils/component-objects/README.md
  packages/components/atoms/f-analytics/test-utils/component-objects/f-analytics-selectors.js
  packages/components/atoms/f-analytics/test-utils/component-objects/f-analytics.component.js
  packages/components/atoms/f-analytics/test/accessibility/axe-accessibility.spec.js
  packages/components/atoms/f-analytics/test/component/README.md
  packages/components/atoms/f-analytics/test/component/f-analytics.component.desktop.spec.js
  packages/components/atoms/f-analytics/vue.config.js
Labels: reviewed-1

#1053 f-offers@v0.4.0 - NoResults component
  packages/components/organisms/f-offers/CHANGELOG.md
  packages/components/organisms/f-offers/package.json
  packages/components/organisms/f-offers/src/components/NoOffersFound.vue
  packages/components/organisms/f-offers/src/components/Offers.vue
  packages/components/organisms/f-offers/src/components/_tests/NoOffersFound.test.js
  packages/components/organisms/f-offers/src/components/_tests/Offers.test.js
  packages/components/organisms/f-offers/src/tenants/en-GB.js
  yarn.lock
Labels: reviewed-1, reviewed-2

#1059 f-registration@v0.57.0 - Added Percy Visual Regression Tests
  packages/components/organisms/f-registration/CHANGELOG.md
  packages/components/organisms/f-registration/jest.config.js
  packages/components/organisms/f-registration/package.json
  packages/components/organisms/f-registration/test/component/f-registration.component.shared.spec.js
  packages/components/organisms/f-registration/test/visual/f-registration.visual.desktop.spec.js
  packages/components/organisms/f-registration/test/visual/f-registration.visual.mobile.spec.js
Labels: reviewed-1

#1066 f-checkout@v0.145.0 - Fix selected times
  packages/components/organisms/f-checkout/CHANGELOG.md
  packages/components/organisms/f-checkout/package.json
  packages/components/organisms/f-checkout/src/components/Selector.vue
  packages/components/organisms/f-checkout/src/components/_tests/Selector.test.js
  packages/components/organisms/f-checkout/src/demo/checkout-collection-user-selected-asap.json
  packages/components/organisms/f-checkout/src/demo/checkout-collection-user-selected-later.json
  packages/components/organisms/f-checkout/src/demo/checkout-collection-user-selected-unavailable-time.json
  packages/components/organisms/f-checkout/src/demo/checkout-delivery-user-selected-asap.json
  packages/components/organisms/f-checkout/src/demo/checkout-delivery-user-selected-later.json
  packages/components/organisms/f-checkout/src/demo/checkout-delivery-user-selected-unavailable-time.json
  packages/components/organisms/f-checkout/src/demo/checkoutMock.js
  packages/components/organisms/f-checkout/src/store/checkout.module.js
  packages/components/organisms/f-checkout/src/store/tests/checkout.module.test.js
  packages/components/organisms/f-checkout/stories/Checkout.stories.js
  yarn.lock
Labels: reviewed-1, reviewed-2

#1068 f-checkout@0.146.0 - Showing users the 403 page for 403 errors when submitting.
  packages/components/organisms/f-checkout/CHANGELOG.md
  packages/components/organisms/f-checkout/package.json
  packages/components/organisms/f-checkout/src/components/Checkout.vue
  packages/components/organisms/f-checkout/src/components/_tests/Checkout.test.js
  packages/components/organisms/f-checkout/src/demo/checkoutMock.js
  packages/components/organisms/f-checkout/src/demo/update-checkout-403.json
  packages/components/organisms/f-checkout/src/exceptions/exceptions.js
  packages/components/organisms/f-checkout/stories/Checkout.stories.js
Labels: reviewed-1, reviewed-2

#1070 f-checkout@v0.147.0 - Fix asap flag
  packages/components/organisms/f-checkout/CHANGELOG.md
  packages/components/organisms/f-checkout/package.json
  packages/components/organisms/f-checkout/src/components/Selector.vue
  packages/components/organisms/f-checkout/src/components/_tests/Selector.test.js
  yarn.lock
Labels: reviewed-1, reviewed-2

#1077 f-registration@0.58.0 - CreateAccountWarning
  packages/components/organisms/f-registration/CHANGELOG.md
  packages/components/organisms/f-registration/package.json
  packages/components/organisms/f-registration/src/components/Registration.vue
  packages/components/organisms/f-registration/src/components/_tests/Registration.test.js
  packages/components/organisms/f-registration/src/components/_tests/f-registration.integration.test.js
  packages/components/organisms/f-registration/src/event-names.js
Labels: reviewed-1, reviewed-2

#1082 f-form-field@1.16.1 - Changes to label description and common.scss file
  packages/components/atoms/f-form-field/CHANGELOG.md
  packages/components/atoms/f-form-field/package.json
  packages/components/atoms/f-form-field/src/assets/scss/common.scss
  packages/components/atoms/f-form-field/src/components/FormDropdown.vue
  packages/components/atoms/f-form-field/src/components/FormField.vue
Labels: ready for re-review, reviewed-1, reviewed-2
