Repository justeattakeaway/fozzie-components, pull requests merged in 2021-03, with the labels that each got.

#754 f-cookie-banner@v0.3.1 - Default banner visiblity to hidden.
  packages/components/organisms/f-cookie-banner/CHANGELOG.md
  packages/components/organisms/f-cookie-banner/package.json
  packages/components/organisms/f-cookie-banner/src/components/CookieBanner.vue
  yarn.lock
Labels: reviewed-1

#757 f-cookie-banner@v0.4.0 - Remove default country value from locale prop.
  packages/components/organisms/f-cookie-banner/CHANGELOG.md
  packages/components/organisms/f-cookie-banner/README.md
  packages/components/organisms/f-cookie-banner/package.json
  packages/components/organisms/f-cookie-banner/src/components/CookieBanner.vue
Labels: reviewed-1, reviewed-2

#759 f-footer@v4.9.0 - Added Ethical Code link
  packages/components/organisms/f-footer/CHANGELOG.md
  packages/components/organisms/f-footer/package.json
  packages/components/organisms/f-footer/src/tenants/it-IT.js
Labels: reviewed-1, reviewed-2

#758 f-popover@0.1.0 - generator output
  packages/components/atoms/f-popover/.eslintignore
  packages/components/atoms/f-popover/CHANGELOG.md
  packages/components/atoms/f-popover/LICENSE
  packages/components/atoms/f-popover/README.md
  packages/components/atoms/f-popover/babel.config.js
  packages/components/atoms/f-popover/jest.config.js
  packages/components/atoms/f-popover/package.json
  packages/components/atoms/f-popover/src/assets/scss/common.scss
  packages/components/atoms/f-popover/src/components/Popover.vue
  packages/components/atoms/f-popover/src/components/_tests/Popover.test.js
  packages/components/atoms/f-popover/src/index.js
  packages/components/atoms/f-popover/stories/Popover.stories.js
  packages/components/atoms/f-popover/test-utils/component-objects/README.md
  packages/components/atoms/f-popover/test-utils/component-objects/f-popover-selectors.js
  packages/components/atoms/f-popover/test-utils/component-objects/f-popover.component.js
  packages/components/atoms/f-popover/test/specs/accessibility/axe-accessibility.spec.js
  packages/components/atoms/f-popover/vue.config.js
Labels: reviewed-1, reviewed-2

#748 f-checkout@0.61.0 - Get geo location for checkout address
  packages/components/organisms/f-checkout/CHANGELOG.md
  packages/components/organisms/f-checkout/README.md
  packages/components/organisms/f-checkout/package.json
  packages/components/organisms/f-checkout/src/components/Checkout.vue
  packages/components/organisms/f-checkout/src/components/_tests/Checkout.test.js
  packages/components/organisms/f-checkout/src/components/_tests/helpers/setup.js
  packages/components/organisms/f-checkout/src/demo/checkoutMock.js
  packages/components/organisms/f-checkout/src/demo/get-geo-location.json
  packages/components/organisms/f-checkout/src/services/mapper.js
  packages/components/organisms/f-checkout/src/services/tests/mapper.test.js
  packages/components/organisms/f-checkout/src/store/checkout.module.js
  packages/components/organisms/f-checkout/src/store/mutation-types.js
  packages/components/organisms/f-checkout/src/store/tests/__snapshots__/checkout.module.test.js.snap
  packages/components/organisms/f-checkout/src/store/tests/checkout.module.test.js
  packages/components/organisms/f-checkout/stories/Checkout.stories.js
Labels: reviewed-1, reviewed-2

#760 f-checkout@0.62.0 - Removing redundant timeout props.
  packages/components/organisms/f-checkout/CHANGELOG.md
  packages/components/organisms/f-checkout/README.md
  packages/components/organisms/f-checkout/package.json
  packages/components/organisms/f-checkout/src/components/Checkout.vue
Labels: reviewed-1, reviewed-2

#771 #trivial usage example in oidc readme
  packages/services/f-consumer-oidc/README.md
Labels: reviewed-1, reviewed-2

#765 Updated error-message, mega-modal and tabs with component tests. #trivial
  packages/components/atoms/f-error-message/CHANGELOG.md
  packages/components/atoms/f-error-message/jest.config.js
  packages/components/atoms/f-error-message/package.json
  packages/components/atoms/f-error-message/test/specs/component/f-error-message.component.spec.js
  packages/components/molecules/f-mega-modal/CHANGELOG.md
  packages/components/molecules/f-mega-modal/jest.config.js
  packages/components/molecules/f-mega-modal/package.json
  packages/components/molecules/f-mega-modal/stories/MegaModal.stories.js
  packages/components/molecules/f-mega-modal/test-utils/component-objects/f-mega-modal.component.js
  packages/components/molecules/f-mega-modal/test/specs/component/f-mega-modal.component.spec.js
  packages/components/molecules/f-tabs/CHANGELOG.md
  packages/components/molecules/f-tabs/package.json
  packages/components/molecules/f-tabs/src/components/Tab.vue
  packages/components/molecules/f-tabs/src/components/Tabs.vue
  packages/components/molecules/f-tabs/src/components/tests/Tab.test.js
  packages/components/molecules/f-tabs/src/components/tests/Tabs.test.js
  packages/components/molecules/f-tabs/test-utils/component-objects/f-tabs.component.js
  packages/components/molecules/f-tabs/test/specs/component/f-tabs.component.spec.js
  packages/components/organisms/f-checkout/src/components/_tests/__snapshots__/Checkout.test.js.snap
  yarn.lock
Labels: reviewed-1, reviewed-2

#769 f-checkout@v0.64.0 - rename analytics module
  packages/components/organisms/f-checkout/CHANGELOG.md
  packages/components/organisms/f-checkout/package.json
  packages/components/organisms/f-checkout/src/components/Address.vue
  packages/components/organisms/f-checkout/src/components/Checkout.vue
  packages/components/organisms/f-checkout/src/components/Guest.vue
  packages/components/organisms/f-checkout/src/components/Header.vue
  packages/components/organisms/f-checkout/src/components/Selector.vue
  packages/components/organisms/f-checkout/src/components/UserNote.vue
  packages/components/organisms/f-checkout/src/components/_tests/helpers/setup.js
  packages/components/organisms/f-checkout/src/constants.js
  packages/components/organisms/f-checkout/src/index.js
  packages/components/organisms/f-checkout/src/store/checkout.module.js
  packages/components/organisms/f-checkout/src/store/checkoutAnalytics.module.js
  packages/components/organisms/f-checkout/src/store/tests/checkout.module.test.js
  packages/components/organisms/f-checkout/src/store/tests/checkoutAnalytics.module.test.js
  packages/components/organisms/f-checkout/stories/Checkout.stories.js
  packages/storybook/CHANGELOG.md
  packages/storybook/context/dataLayer.context.js
  packages/storybook/context/index.js
  packages/storybook/package.json
  yarn.lock
Labels: reviewed-1, reviewed-2

#772 f-content-cards@v4.1.0 - stamp cards accessibility
  packages/components/organisms/f-content-cards/CHANGELOG.md
  packages/components/organisms/f-content-cards/package.json
  packages/components/organisms/f-content-cards/src/components/MakeTextAccessible.js
  packages/components/organisms/f-content-cards/src/components/cardTemplates/StampCard1.vue
  packages/components/organisms/f-content-cards/src/components/cardTemplates/_tests/StampCard1.test.js
  packages/components/organisms/f-content-cards/src/tenants/da-DK.js
  packages/components/organisms/f-content-cards/src/tenants/en-AU.js
  packages/components/organisms/f-content-cards/src/tenants/en-GB.js
  packages/components/organisms/f-content-cards/src/tenants/en-IE.js
  packages/components/organisms/f-content-cards/src/tenants/en-NZ.js
  packages/components/organisms/f-content-cards/src/tenants/es-ES.js
  packages/components/organisms/f-content-cards/src/tenants/it-IT.js
  packages/components/organisms/f-content-cards/src/tenants/nb-NO.js
  packages/components/organisms/f-content-cards/stories/StampCard.stories.js
Labels: reviewed-1

#770 f-footer@4.9.1 Fix Mobile Link lists collapse on scroll
  packages/components/organisms/f-footer/CHANGELOG.md
  packages/components/organisms/f-footer/package.json
  packages/components/organisms/f-footer/src/components/LinkList.vue
Labels: bug, enhancement

#776 f-mega-modal@v0.6.0 - Updated npm dependencies.
  packages/components/molecules/f-mega-modal/CHANGELOG.md
  packages/components/molecules/f-mega-modal/package.json
  packages/components/molecules/f-mega-modal/src/components/MegaModal.vue
Labels: reviewed-1, reviewed-2

#781 f-content-cards@v4.2.0 🔮 Medium-size stamp card
  packages/components/organisms/f-content-cards/CHANGELOG.md
  packages/components/organisms/f-content-cards/package.json
  packages/components/organisms/f-content-cards/src/components/cardTemplates/StampCard1.vue
Labels: reviewed-1, reviewed-2

#779 f-button@v1.1.1 - Minor fixes.
  packages/components/atoms/f-button/CHANGELOG.md
  packages/components/atoms/f-button/package.json
  packages/components/atoms/f-button/src/components/Button.vue
  packages/components/atoms/f-button/stories/Button.stories.js
  packages/components/atoms/f-button/stories/IconButton.stories.js
  packages/storybook/CHANGELOG.md
  packages/storybook/config/storybook/preview-head.html
  packages/storybook/package.json
Labels: reviewed-1

#777 f-checkout@v0.66.0 - Refactor method and tests.
  packages/components/organisms/f-checkout/CHANGELOG.md
  packages/components/organisms/f-checkout/package.json
  packages/components/organisms/f-checkout/src/components/Checkout.vue
  packages/components/organisms/f-checkout/src/components/_tests/Checkout.test.js
  yarn.lock
Labels: bug, do not merge, reviewed-1, reviewed-2

#798 f-card@1.1.0 - Adding the cardHeadingTag prop.
  packages/components/atoms/f-card/CHANGELOG.md
  packages/components/atoms/f-card/README.md
  packages/components/atoms/f-card/package.json
  packages/components/atoms/f-card/src/components/Card.vue
  packages/components/atoms/f-card/src/components/_tests/Card.test.js
  packages/components/atoms/f-card/stories/card.stories.js
Labels: reviewed-1, reviewed-2

#800 f-braze-adapter@v3.1.0 🍽 Stampcard refinements for rest. card
  packages/services/f-braze-adapter/CHANGELOG.md
  packages/services/f-braze-adapter/package.json
  packages/services/f-braze-adapter/src/BrazeDispatcher.js
  packages/services/f-braze-adapter/src/services/utils/_tests/isCardCurrentlyActive.test.js
  packages/services/f-braze-adapter/src/services/utils/_tests/transformCardData.test.js
  packages/services/f-braze-adapter/src/services/utils/isCardCurrentlyActive.js
  packages/services/f-braze-adapter/src/services/utils/transformCardData.js
  packages/services/f-braze-adapter/src/tests/BrazeDispatcher.test.js
Labels: reviewed-1, reviewed-2

#795 f-skeleton-loader@v0.1.0 - Add base component structure
  packages/components/molecules/f-skeleton-loader/.eslintignore
  packages/components/molecules/f-skeleton-loader/CHANGELOG.md
  packages/components/molecules/f-skeleton-loader/LICENSE
  packages/components/molecules/f-skeleton-loader/README.md
  packages/components/molecules/f-skeleton-loader/babel.config.js
  packages/components/molecules/f-skeleton-loader/jest.config.js
  packages/components/molecules/f-skeleton-loader/package.json
  packages/components/molecules/f-skeleton-loader/src/assets/scss/common.scss
  packages/components/molecules/f-skeleton-loader/src/components/SkeletonLoader.vue
  packages/components/molecules/f-skeleton-loader/src/components/_tests/SkeletonLoader.test.js
  packages/components/molecules/f-skeleton-loader/src/index.js
  packages/components/molecules/f-skeleton-loader/stories/SkeletonLoader.stories.js
  packages/components/molecules/f-skeleton-loader/test-utils/component-objects/README.md
  packages/components/molecules/f-skeleton-loader/test-utils/component-objects/f-skeletonLoader-selectors.js
  packages/components/molecules/f-skeleton-loader/test-utils/component-objects/f-skeletonLoader.component.js
  packages/components/molecules/f-skeleton-loader/test/specs/accessibility/axe-accessibility.spec.js
  packages/components/molecules/f-skeleton-loader/test/specs/component/README.md
  packages/components/molecules/f-skeleton-loader/test/specs/component/f-skeletonLoader.component.spec.js
  packages/components/molecules/f-skeleton-loader/vue.config.js
Labels: reviewed-1, reviewed-2

#807 f-checkout@v0.74.0 - Add preorder warning message
  packages/components/organisms/f-checkout/CHANGELOG.md
  packages/components/organisms/f-checkout/package.json
  packages/components/organisms/f-checkout/src/components/Checkout.vue
  packages/components/organisms/f-checkout/src/components/Selector.vue
  packages/components/organisms/f-checkout/src/components/_tests/Checkout.test.js
  packages/components/organisms/f-checkout/src/components/_tests/Selector.test.js
  packages/components/organisms/f-checkout/src/tenants/en-GB.js
  yarn.lock
Labels: reviewed-1, reviewed-2

#809 f-content-cards@4.3.0 - f-braze-adapter package version bump
  packages/components/organisms/f-content-cards/CHANGELOG.md
  packages/components/organisms/f-content-cards/package.json
  yarn.lock
Labels: reviewed-1, reviewed-2

#810 f-registration@0.49.0 Add translations for en-AU and en-NZ
  packages/components/organisms/f-registration/CHANGELOG.md
  packages/components/organisms/f-registration/package.json
  packages/components/organisms/f-registration/src/tenants/en-AU.js
  packages/components/organisms/f-registration/src/tenants/en-NZ.js
Labels: reviewed-1, reviewed-2

#812 f-skeleton-loader@0.2.0 Animation, skeleton component by prop
  packages/components/molecules/f-skeleton-loader/CHANGELOG.md
  packages/components/molecules/f-skeleton-loader/package.json
  packages/components/molecules/f-skeleton-loader/src/assets/scss/common.scss
  packages/components/molecules/f-skeleton-loader/src/components/SkeletonLoader.vue
  packages/components/molecules/f-skeleton-loader/src/components/_tests/SkeletonLoader.test.js
  packages/components/molecules/f-skeleton-loader/src/components/skeletons/Heading.vue
  packages/components/molecules/f-skeleton-loader/src/components/skeletons/Sentence.vue
  packages/components/molecules/f-skeleton-loader/src/components/skeletons/Text.vue
  packages/components/molecules/f-skeleton-loader/src/components/skeletons/index.js
  packages/components/molecules/f-skeleton-loader/stories/SkeletonLoader.stories.js
  packages/components/molecules/f-skeleton-loader/vue.config.js
Labels: reviewed-1, reviewed-2

#817 #trivial add knobs to display checkout errors
  packages/components/organisms/f-checkout/src/components/ErrorDialog.vue
  packages/components/organisms/f-checkout/src/components/_tests/Address.test.js
  packages/components/organisms/f-checkout/src/components/_tests/ErrorDialog.test.js
  packages/components/organisms/f-checkout/src/components/_tests/Guest.test.js
  packages/components/organisms/f-checkout/src/demo/checkoutMock.js
  packages/components/organisms/f-checkout/src/demo/update-checkout-errors.json
  packages/components/organisms/f-checkout/src/store/tests/checkout.module.test.js
  packages/components/organisms/f-checkout/stories/Checkout.stories.js
Labels: reviewed-1, reviewed-2

#821 f-braze-adapter@v3.2.0 🗺 Adds location to card transform
  packages/services/f-braze-adapter/CHANGELOG.md
  packages/services/f-braze-adapter/package.json
  packages/services/f-braze-adapter/src/services/utils/_tests/transformCardData.test.js
  packages/services/f-braze-adapter/src/services/utils/transformCardData.js
Labels: reviewed-1, reviewed-2

#818 f-services@1.8.0 — Update npm dependencies and tooling.
  packages/services/f-services/CHANGELOG.md
  packages/services/f-services/package.json
  packages/services/f-services/rollup.config.js
  packages/services/f-services/vite.config.js
  yarn.lock
Labels: reviewed-1, reviewed-2

#822 fozzie-components@v3.25.0 - Add launch.json to run / debug individual WDIO tests against chrome / BrowserStack / jest tests #globalconfig
  .gitignore
  .vscode/launch.json
  CHANGELOG.md
  jest.setup.js
  package.json
  packages/components/atoms/f-button/jest.config.js
  packages/components/atoms/f-button/package.json
  packages/components/atoms/f-button/src/components/_tests/Button.test.js
  packages/components/atoms/f-card/jest.config.js
  packages/components/atoms/f-card/package.json
  packages/components/atoms/f-card/src/components/_tests/Card.test.js
  packages/components/atoms/f-error-message/jest.config.js
  packages/components/atoms/f-error-message/package.json
  packages/components/atoms/f-error-message/src/components/_tests/ErrorMessage.test.js
  packages/components/atoms/f-form-field/jest.config.js
  packages/components/atoms/f-form-field/package.json
  packages/components/atoms/f-form-field/src/components/_tests/FormField.test.js
  packages/components/atoms/f-popover/jest.config.js
  packages/components/molecules/f-alert/jest.config.js
  packages/components/molecules/f-alert/package.json
  packages/components/molecules/f-alert/src/components/_tests/Alert.test.js
  packages/components/molecules/f-breadcrumbs/jest.config.js
  packages/components/molecules/f-media-element/jest.config.js
  packages/components/molecules/f-media-element/package.json
  packages/components/molecules/f-mega-modal/jest.config.js
  packages/components/molecules/f-mega-modal/package.json
  packages/components/molecules/f-mega-modal/src/components/_tests/MegaModal.test.js
  packages/components/molecules/f-searchbox/jest.config.js
  packages/components/molecules/f-skeleton-loader/jest.config.js
  packages/components/molecules/f-tabs/jest.config.js
  packages/components/molecules/f-user-message/jest.config.js
  packages/components/molecules/f-user-message/package.json
  packages/components/molecules/f-user-message/src/components/_tests/UserMessage.test.js
  packages/components/organisms/f-footer/jest.config.js
  packages/components/organisms/f-footer/src/components/_tests/Footer.test.js
  packages/components/organisms/f-footer/src/components/_tests/LinkList.test.js
  packages/components/organisms/f-status-banner/jest.config.js
  packages/services/f-braze-adapter/jest.config.js
  packages/services/f-services/jest.config.js
  packages/tools/f-vue-icons/jest.config.js
  packages/tools/generator-component/jest.config.js
  yarn.lock
Labels: reviewed-1

#832 f-footer@v4.13.0 - Add shared SCSS
  packages/components/organisms/f-footer/CHANGELOG.md
  packages/components/organisms/f-footer/package.json
  packages/components/organisms/f-footer/src/assets/scss/headings.scss
  packages/components/organisms/f-footer/src/assets/scss/lists.scss
  packages/components/organisms/f-footer/src/components/ButtonList.vue
  packages/components/organisms/f-footer/src/components/FeedbackBlock.vue
  packages/components/organisms/f-footer/src/components/Footer.vue
  packages/components/organisms/f-footer/src/components/IconList.vue
  packages/components/organisms/f-footer/src/components/LegalField.vue
  packages/components/organisms/f-footer/src/components/LinkList.vue
  packages/components/organisms/f-footer/src/components/_tests/LinkList.test.js
  packages/components/organisms/f-footer/src/components/_tests/__snapshots__/Footer.test.js.snap
  packages/components/organisms/f-footer/test-utils/component-objects/f-footer.component.js
  packages/components/organisms/f-footer/test-utils/component-objects/f-footer.selectors.js
  packages/components/organisms/f-footer/test/specs/component/desktop/f-footer.component.spec.js
Labels: reviewed-1, reviewed-2

#836 f-footer@v4.14.0 - Use CSS modules
  packages/components/organisms/f-footer/CHANGELOG.md
  packages/components/organisms/f-footer/package.json
  packages/components/organisms/f-footer/src/components/Footer.vue
  packages/components/organisms/f-footer/src/components/LegalField.vue
  packages/components/organisms/f-footer/src/components/LinkList.vue
  packages/components/organisms/f-footer/src/components/_tests/__snapshots__/Footer.test.js.snap
Labels: reviewed-1

#831 f-content-cards@4.4.1 - Fixed Page Component Object Model for content cards
  packages/components/organisms/f-content-cards/CHANGELOG.md
  packages/components/organisms/f-content-cards/package.json
  packages/components/organisms/f-content-cards/test-utils/component-objects/f-content-cards-home-promotion-card1.component.js
  packages/components/organisms/f-content-cards/test-utils/component-objects/f-content-cards-home-promotion-card2.component.js
  packages/components/organisms/f-content-cards/test/specs/component/f-content-cards-home-promotion-card1.component.spec.js
  packages/components/organisms/f-content-cards/test/specs/component/f-content-cards-home-promotion-card2.component.spec.js
Labels: reviewed-1, reviewed-2

#839 f-vue-icons@v2.5.0 - Added note and close circle icons
  packages/tools/f-vue-icons/CHANGELOG.md
  packages/tools/f-vue-icons/icons/CloseCircleIcon.js
  packages/tools/f-vue-icons/icons/NoteIcon.js
  packages/tools/f-vue-icons/package.json
  packages/tools/f-vue-icons/src/components/CloseCircleIcon.js
  packages/tools/f-vue-icons/src/components/NoteIcon.js
  packages/tools/f-vue-icons/src/index.js
  yarn.lock
Labels: reviewed-1, reviewed-2

#830 f-skeleton-loader@0.3.0 - Use CSS modules, add carousel restaurant card
  packages/components/molecules/f-skeleton-loader/CHANGELOG.md
  packages/components/molecules/f-skeleton-loader/package.json
  packages/components/molecules/f-skeleton-loader/src/assets/scss/common.scss
  packages/components/molecules/f-skeleton-loader/src/components/SkeletonLoader.vue
  packages/components/molecules/f-skeleton-loader/src/components/_tests/SkeletonLoader.test.js
  packages/components/molecules/f-skeleton-loader/src/components/skeletons/CarouselCardRestaurantData.vue
  packages/components/molecules/f-skeleton-loader/src/components/skeletons/CarouselCardRestaurantHeader.vue
  packages/components/molecules/f-skeleton-loader/src/components/skeletons/Heading.vue
  packages/components/molecules/f-skeleton-loader/src/components/skeletons/Image.vue
  packages/components/molecules/f-skeleton-loader/src/components/skeletons/Rating.vue
  packages/components/molecules/f-skeleton-loader/src/components/skeletons/RestaurantCarouselCard.vue
  packages/components/molecules/f-skeleton-loader/src/components/skeletons/Sentence.vue
  packages/components/molecules/f-skeleton-loader/src/components/skeletons/Text.vue
  packages/components/molecules/f-skeleton-loader/src/components/skeletons/index.js
  packages/components/molecules/f-skeleton-loader/stories/SkeletonLoader.stories.js
Labels: reviewed-1, reviewed-2

#840 f-braze-adapter@v3.3.0 👩‍🔧 Fixes TypeError occurrences
  packages/services/f-braze-adapter/CHANGELOG.md
  packages/services/f-braze-adapter/package.json
  packages/services/f-braze-adapter/src/BrazeDispatcher.js
  packages/services/f-braze-adapter/src/tests/BrazeDispatcher.test.js
Labels: reviewed-1, reviewed-2

#824 f-checkout@v0.77.1 - Take address from new location object on GET request
  packages/components/organisms/f-checkout/CHANGELOG.md
  packages/components/organisms/f-checkout/package.json
  packages/components/organisms/f-checkout/src/demo/checkout-delivery.json
  packages/components/organisms/f-checkout/src/store/checkout.module.js
  packages/components/organisms/f-checkout/src/store/tests/checkout.module.test.js
Labels: reviewed-1, reviewed-2
