Repository justeattakeaway/fozzie-components, pull requests merged in 2021-08, with the labels that each got.

#1157 f-cookie-banner@v0.21.0: Reopen link to bottom of window
  packages/components/organisms/f-cookie-banner/CHANGELOG.md
  packages/components/organisms/f-cookie-banner/package.json
  packages/components/organisms/f-cookie-banner/src/components/CookieBanner.vue
  packages/components/organisms/f-cookie-banner/stories/CookieBanner.stories.js
  yarn.lock
Labels: reviewed-1

#1163 f-http@v0.6.1 - Fixes and Improvements for Integration Testing
  packages/services/f-http/CHANGELOG.md
  packages/services/f-http/README.md
  packages/services/f-http/package.json
  packages/services/f-http/src/createClient.js
  packages/services/f-http/src/index.js
  packages/services/f-http/src/mockFactory.js
  packages/services/f-http/src/requestDispatcher.js
Labels: reviewed-1, reviewed-2

#1156 f-analytics@0.5.0 - Move GTM preparation to Nuxt plugin
  packages/services/f-analytics/CHANGELOG.md
  packages/services/f-analytics/README.md
  packages/services/f-analytics/package.json
  packages/services/f-analytics/src/index.js
  packages/services/f-analytics/src/mixins/_tests/analytics.created.test.js
  packages/services/f-analytics/src/mixins/_tests/analytics.methods.test.js
  packages/services/f-analytics/src/mixins/_tests/analytics.mounted.test.js
  packages/services/f-analytics/src/mixins/_tests/analytics.watch.test.js
  packages/services/f-analytics/src/mixins/analytics.mixin.vue
  packages/services/f-analytics/src/plugins/_tests/analytics.plugin.test.js
  packages/services/f-analytics/src/plugins/analytics.plugin.js
  packages/services/f-analytics/src/plugins/defaults.js
  packages/services/f-analytics/src/plugins/lib/analytics.service.js
  packages/services/f-analytics/src/store/_tests/analytics.module.test.js
  packages/services/f-analytics/src/store/analytics.module.js
  packages/services/f-analytics/src/tests/helpers/setup.js
Labels: reviewed-1, reviewed-2

#1164 f-registration@v0.59.0 - Upgrade f-http to 0.6.1
  packages/components/organisms/f-registration/CHANGELOG.md
  packages/components/organisms/f-registration/package.json
  packages/components/organisms/f-registration/src/components/Registration.vue
  packages/components/organisms/f-registration/src/components/_tests/RegistrationServiceApi.test.js
  packages/components/organisms/f-registration/src/components/_tests/f-registration.integration.test.js
  packages/components/organisms/f-registration/src/services/RegistrationServiceApi.js
  packages/storybook/CHANGELOG.md
  packages/storybook/context/http.context.js
  packages/storybook/package.json
  yarn.lock
Labels: reviewed-1, reviewed-2

#1154 f-form-field@v1.21.0 - Create affixed field
  packages/components/atoms/f-form-field/CHANGELOG.md
  packages/components/atoms/f-form-field/package.json
  packages/components/atoms/f-form-field/src/assets/scss/common.scss
  packages/components/atoms/f-form-field/src/components/FormDropdown.vue
  packages/components/atoms/f-form-field/src/components/FormField.vue
  packages/components/atoms/f-form-field/src/components/FormFieldAffixed.vue
  packages/components/atoms/f-form-field/src/components/_tests/FormField.test.js
  packages/components/atoms/f-form-field/src/components/_tests/FormFieldAfix.test.js
  packages/components/atoms/f-form-field/src/components/_tests/__snapshots__/FormFieldAfix.test.js.snap
  packages/components/atoms/f-form-field/src/constants.js
  packages/components/atoms/f-form-field/stories/AffixedFormField.stories.js
Labels: reviewed-1

#1169 f-checkout@v0.167.0 - Add max length.
  packages/components/organisms/f-checkout/CHANGELOG.md
  packages/components/organisms/f-checkout/package.json
  packages/components/organisms/f-checkout/src/components/Guest.vue
  packages/components/organisms/f-checkout/test/component/f-checkout-guest.component.desktop.spec.js
Labels: ready for re-review

#1173 f-takeawaypay-activation@0.6.0 - Add logging
  packages/components/organisms/f-takeawaypay-activation/CHANGELOG.md
  packages/components/organisms/f-takeawaypay-activation/package.json
  packages/components/organisms/f-takeawaypay-activation/src/components/ActivationLoggedIn.vue
  packages/components/organisms/f-takeawaypay-activation/src/components/TakeawaypayActivation.vue
  packages/components/organisms/f-takeawaypay-activation/src/components/_tests/ActivationFailed.test.js
  packages/components/organisms/f-takeawaypay-activation/src/components/_tests/ActivationLoggedIn.test.js
  packages/components/organisms/f-takeawaypay-activation/src/components/_tests/ActivationNotLoggedIn.test.js
  packages/components/organisms/f-takeawaypay-activation/src/components/_tests/ActivationSuccessful.test.js
  packages/components/organisms/f-takeawaypay-activation/src/components/_tests/TakeawaypayActivation.test.js
  packages/components/organisms/f-takeawaypay-activation/src/components/_tests/__snapshots__/TakeawaypayActivation.test.js.snap
  packages/components/organisms/f-takeawaypay-activation/src/components/_tests/helpers/setup.js
  packages/components/organisms/f-takeawaypay-activation/src/services/LoggingService.js
  packages/components/organisms/f-takeawaypay-activation/src/services/TakeawaypayActivationServiceApi.js
  packages/components/organisms/f-takeawaypay-activation/stories/TakeawaypayActivation.stories.js
Labels: reviewed-1, reviewed-2

#1174 f-footer@4.30.0 - SEO updates for brand links
  packages/components/organisms/f-footer/CHANGELOG.md
  packages/components/organisms/f-footer/package.json
  packages/components/organisms/f-footer/src/tenants/en-GB.js
Labels: reviewed-1

#1166 f-checkout@v0.168.0 - Added tab loop tests to f-checkout accessibility. #globalconfig
  packages/components/organisms/f-checkout/CHANGELOG.md
  packages/components/organisms/f-checkout/package.json
  packages/components/organisms/f-checkout/test-utils/component-objects/f-checkout-selectors.js
  packages/components/organisms/f-checkout/test-utils/component-objects/f-checkout.component.js
  packages/components/organisms/f-checkout/test/accessibility/axe-accessibility.spec.js
  packages/services/f-wdio-utils/CHANGELOG.md
  packages/services/f-wdio-utils/package.json
  packages/services/f-wdio-utils/src/page.object.js
  yarn.lock
Labels: reviewed-1, reviewed-2

#1160 f-analytics@0.6.0 - userData
  packages/services/f-analytics/CHANGELOG.md
  packages/services/f-analytics/README.md
  packages/services/f-analytics/package.json
  packages/services/f-analytics/src/constants.js
  packages/services/f-analytics/src/mixins/_tests/analytics.methods.test.js
  packages/services/f-analytics/src/mixins/_tests/analytics.mounted.test.js
  packages/services/f-analytics/src/mixins/_tests/analytics.watch.test.js
  packages/services/f-analytics/src/mixins/analytics.mixin.vue
  packages/services/f-analytics/src/store/_tests/__snapshots__/analytics.module.test.js.snap
  packages/services/f-analytics/src/store/_tests/analytics.module.test.js
  packages/services/f-analytics/src/store/analytics.module.js
  packages/services/f-analytics/src/tests/helpers/setup.js
Labels: reviewed-1, reviewed-2

#1161 f-takeawaypay-activation@0.7.0 - Added logic to handle guest users and render user name
  packages/components/organisms/f-takeawaypay-activation/CHANGELOG.md
  packages/components/organisms/f-takeawaypay-activation/package.json
  packages/components/organisms/f-takeawaypay-activation/src/components/ActivationLoggedIn.vue
  packages/components/organisms/f-takeawaypay-activation/src/components/TakeawaypayActivation.vue
  packages/components/organisms/f-takeawaypay-activation/src/components/_tests/ActivationLoggedIn.test.js
  packages/components/organisms/f-takeawaypay-activation/src/components/_tests/TakeawaypayActivation.test.js
  packages/components/organisms/f-takeawaypay-activation/src/components/_tests/__snapshots__/ActivationLoggedIn.test.js.snap
  packages/components/organisms/f-takeawaypay-activation/src/components/_tests/__snapshots__/ActivationNotLoggedIn.test.js.snap
  packages/components/organisms/f-takeawaypay-activation/src/components/_tests/__snapshots__/TakeawaypayActivation.test.js.snap
  packages/components/organisms/f-takeawaypay-activation/src/constants.js
  packages/components/organisms/f-takeawaypay-activation/src/services/TakeawaypayActivationServiceApi.js
  packages/components/organisms/f-takeawaypay-activation/src/tenants/en-GB.js
  packages/components/organisms/f-takeawaypay-activation/stories/TakeawaypayActivation.stories.js
Labels: reviewed-1, reviewed-2

#1168 f-registration@v0.60.0 - Revised API mocking within stories to work with new module
  packages/components/organisms/f-registration/CHANGELOG.md
  packages/components/organisms/f-registration/package.json
  packages/components/organisms/f-registration/src/mocks/registrationMock.js
  packages/services/f-http/.eslintignore
  packages/services/f-http/CHANGELOG.md
  packages/services/f-http/babel.config.js
  packages/services/f-http/package.json
  packages/services/f-http/src/mockFactory.js
  packages/services/f-http/vite.config.js
  packages/services/f-statistics/CHANGELOG.md
  packages/services/f-statistics/babel.config.js
  packages/services/f-statistics/package.json
  packages/services/f-statistics/vite.config.js
  packages/storybook/CHANGELOG.md
  packages/storybook/context/http.context.js
  packages/storybook/package.json
  yarn.lock
Labels: reviewed-1

#1165 fozzie-components@v3.51.0 – Storybook documentation update and minor package updates #globalconfig
  CHANGELOG.md
  package.json
  packages/services/f-consumer-oidc/package.json
  packages/services/f-development-context/package.json
  packages/services/f-feature-management/package.json
  packages/services/f-services/package.json
  stories/getting-started/contributing-guide.stories.mdx
  stories/getting-started/getting-started.stories.mdx
  yarn.lock
Labels: reviewed-1, reviewed-2

#1179 fozzie-components@v3.52.1 - Updated various package.jsons to support updated f-wdio-utils #globalconfig
  CHANGELOG.md
  package.json
  packages/components/atoms/f-button/package.json
  packages/components/atoms/f-card/package.json
  packages/components/atoms/f-error-message/package.json
  packages/components/atoms/f-form-field/package.json
  packages/components/atoms/f-popover/package.json
  packages/components/molecules/f-alert/package.json
  packages/components/molecules/f-breadcrumbs/package.json
  packages/components/molecules/f-media-element/package.json
  packages/components/molecules/f-mega-modal/package.json
  packages/components/molecules/f-searchbox/package.json
  packages/components/molecules/f-skeleton-loader/package.json
  packages/components/molecules/f-tabs/package.json
  packages/components/molecules/f-user-message/package.json
  packages/components/organisms/f-checkout/package.json
  packages/components/organisms/f-content-cards/package.json
  packages/components/organisms/f-cookie-banner/package.json
  packages/components/organisms/f-footer/package.json
  packages/components/organisms/f-header/package.json
  packages/components/organisms/f-loyalty/package.json
  packages/components/organisms/f-registration/package.json
  packages/components/organisms/f-status-banner/package.json
  packages/tools/generator-component/generators/app/templates/__package__.json
  yarn.lock
Labels: reviewed-1, reviewed-2

#1183 f-http@v0.8.1 - Added new script to build f-http for storybook
  CHANGELOG.md
  package.json
  packages/services/f-http/CHANGELOG.md
  packages/services/f-http/package.json
Labels: reviewed-1, reviewed-2

#1177 f-analytics@0.7.0 - pageData
  packages/services/f-analytics/CHANGELOG.md
  packages/services/f-analytics/README.md
  packages/services/f-analytics/package.json
  packages/services/f-analytics/src/constants.js
  packages/services/f-analytics/src/mixins/_tests/analytics.created.test.js
  packages/services/f-analytics/src/mixins/_tests/analytics.methods.test.js
  packages/services/f-analytics/src/mixins/analytics.mixin.vue
  packages/services/f-analytics/src/store/_tests/__snapshots__/analytics.module.test.js.snap
  packages/services/f-analytics/src/store/_tests/analytics.module.test.js
  packages/services/f-analytics/src/store/analytics.module.js
  packages/services/f-analytics/src/tests/helpers/setup.js
  packages/services/f-analytics/src/utils/_tests/helpers.test.js
  packages/services/f-analytics/src/utils/helpers.js
Labels: reviewed-1, reviewed-2

#1180 f-checkout@v0.169.0 - add age verification
  packages/components/organisms/f-checkout/CHANGELOG.md
  packages/components/organisms/f-checkout/package.json
  packages/components/organisms/f-checkout/src/components/Address.vue
  packages/components/organisms/f-checkout/src/components/AgeVerification.vue
  packages/components/organisms/f-checkout/src/components/Checkout.vue
  packages/components/organisms/f-checkout/src/components/_tests/AgeVerification.test.js
  packages/components/organisms/f-checkout/src/components/_tests/Checkout.test.js
  packages/components/organisms/f-checkout/src/components/_tests/__snapshots__/AgeVerification.test.js.snap
  packages/components/organisms/f-checkout/src/components/_tests/__snapshots__/Selector.test.js.snap
  packages/components/organisms/f-checkout/src/components/_tests/helpers/setup.js
  packages/components/organisms/f-checkout/src/services/mapper.js
  packages/components/organisms/f-checkout/src/services/tests/mapper.test.js
  packages/components/organisms/f-checkout/src/store/checkout.module.js
  packages/components/organisms/f-checkout/src/store/mutation-types.js
  packages/components/organisms/f-checkout/src/store/tests/__snapshots__/checkout.module.test.js.snap
  packages/components/organisms/f-checkout/src/store/tests/checkout.module.test.js
  packages/components/organisms/f-checkout/src/tenants/en-GB.js
  packages/components/organisms/f-checkout/test-utils/component-objects/f-checkout-selectors.js
  yarn.lock
Labels: reviewed-1, reviewed-2

#1182 f-checkout@0.170.0 - Age verification check
  packages/components/organisms/f-checkout/CHANGELOG.md
  packages/components/organisms/f-checkout/package.json
  packages/components/organisms/f-checkout/src/checkout-issues.js
  packages/components/organisms/f-checkout/src/components/Checkout.vue
  packages/components/organisms/f-checkout/src/components/_tests/Checkout.test.js
  packages/components/organisms/f-checkout/src/constants.js
  packages/components/organisms/f-checkout/src/demo/checkoutMock.js
  packages/components/organisms/f-checkout/src/demo/get-basket-collection.json
  packages/components/organisms/f-checkout/src/demo/get-basket-delivery-age-restriction.json
  packages/components/organisms/f-checkout/src/demo/get-basket-delivery.json
  packages/components/organisms/f-checkout/src/demo/get-basket-dinein.json
  packages/components/organisms/f-checkout/src/store/checkout.module.js
  packages/components/organisms/f-checkout/src/store/tests/checkout.module.test.js
  packages/components/organisms/f-checkout/stories/Checkout.stories.js
Labels: reviewed-1, reviewed-2

#1185 f-checkout@0.171.0 - Add LVO phase 2 header in place of previous LVO experiment
  packages/components/organisms/f-checkout/CHANGELOG.md
  packages/components/organisms/f-checkout/package.json
  packages/components/organisms/f-checkout/src/constants.js
  packages/components/organisms/f-checkout/src/services/experimentService.js
  packages/components/organisms/f-checkout/src/services/tests/experimentService.test.js
  packages/components/organisms/f-checkout/src/store/checkoutExperimentation.module.js
  packages/components/organisms/f-checkout/src/store/tests/checkoutAnalytics.module.test.js
  packages/components/organisms/f-checkout/src/store/tests/checkoutExperimentation.module.test.js
Labels: reviewed-1, reviewed-2

#1189 f-takeawaypay-activation@0.8.0 - Cleanup styles and add spinner
  packages/components/organisms/f-takeawaypay-activation/CHANGELOG.md
  packages/components/organisms/f-takeawaypay-activation/package.json
  packages/components/organisms/f-takeawaypay-activation/src/assets/scss/_takeaway-pay-activation.scss
  packages/components/organisms/f-takeawaypay-activation/src/components/ActivationFailed.vue
  packages/components/organisms/f-takeawaypay-activation/src/components/ActivationLoggedIn.vue
  packages/components/organisms/f-takeawaypay-activation/src/components/ActivationNotLoggedIn.vue
  packages/components/organisms/f-takeawaypay-activation/src/components/ActivationSuccessful.vue
  packages/components/organisms/f-takeawaypay-activation/src/components/TakeawaypayActivation.vue
  packages/components/organisms/f-takeawaypay-activation/src/components/_tests/__snapshots__/TakeawaypayActivation.test.js.snap
Labels: reviewed-1

#1184 f-checkout@v0.172.0 - Add age verification validations
  packages/components/organisms/f-checkout/CHANGELOG.md
  packages/components/organisms/f-checkout/package.json
  packages/components/organisms/f-checkout/src/components/AgeVerification.vue
  packages/components/organisms/f-checkout/src/components/Checkout.vue
  packages/components/organisms/f-checkout/src/components/_tests/AgeVerification.test.js
  packages/components/organisms/f-checkout/src/event-names.js
  packages/components/organisms/f-checkout/src/tenants/en-GB.js
Labels: reviewed-1, reviewed-2

#1186 #trivial - Guest visual regression test update.
  packages/components/organisms/f-checkout/CHANGELOG.md
  packages/components/organisms/f-checkout/test/visual/f-checkout-guest.visual.desktop.spec.js
  packages/components/organisms/f-checkout/test/visual/f-checkout-guest.visual.mobile.spec.js
Labels: reviewed-1, reviewed-2

#1178 f-analytics@0.8.0 - Added global method to Push GTM ad-hoc events
  packages/services/f-analytics/CHANGELOG.md
  packages/services/f-analytics/README.md
  packages/services/f-analytics/package.json
  packages/services/f-analytics/src/defaultOptions.js
  packages/services/f-analytics/src/mixins/_tests/analytics.created.test.js
  packages/services/f-analytics/src/mixins/_tests/analytics.methods.test.js
  packages/services/f-analytics/src/mixins/analytics.mixin.vue
  packages/services/f-analytics/src/plugins/_tests/analytics.plugin.test.js
  packages/services/f-analytics/src/plugins/analytics.plugin.js
  packages/services/f-analytics/src/plugins/defaults.js
  packages/services/f-analytics/src/plugins/lib/analytics.service.js
  packages/services/f-analytics/src/services/_tests/analytics.service.test.js
  packages/services/f-analytics/src/services/analytics.service.js
  packages/services/f-analytics/src/store/_tests/__snapshots__/analytics.module.test.js.snap
  packages/services/f-analytics/src/store/_tests/analytics.module.test.js
  packages/services/f-analytics/src/store/analytics.module.js
  packages/services/f-analytics/src/store/mutation-types.js
  packages/services/f-analytics/src/tests/helpers/setup.js
  yarn.lock
Labels: reviewed-1, reviewed-2

#1197 f-vue-icons@2.7.0 - collection icon
  packages/tools/f-vue-icons/CHANGELOG.md
  packages/tools/f-vue-icons/package.json
  packages/tools/f-vue-icons/src/components/CollectionIcon.js
  packages/tools/f-vue-icons/src/index.js
Labels: reviewed-1, reviewed-2

#1191 f-checkout@v0.173.0 Refactor checkout mocks.
  packages/components/organisms/f-checkout/CHANGELOG.md
  packages/components/organisms/f-checkout/package.json
  packages/components/organisms/f-checkout/src/demo/checkoutMock.js
  packages/components/organisms/f-checkout/src/demo/mockResponses.js
  packages/components/organisms/f-checkout/stories/Checkout.stories.js
  yarn.lock
Labels: reviewed-1, reviewed-2

#1202 f-registration@0.61.0 - Removing je-oidc cookie when registering.
  packages/components/organisms/f-registration/CHANGELOG.md
  packages/components/organisms/f-registration/package.json
  packages/components/organisms/f-registration/src/components/Registration.vue
  packages/components/organisms/f-registration/src/components/_tests/Registration.test.js
  packages/components/organisms/f-registration/src/components/_tests/f-registration.integration.test.js
Labels: reviewed-1, reviewed-2

#1192 f-analytics@0.9.0 - Moved push 'UserData' from mixin to service
  packages/services/f-analytics/CHANGELOG.md
  packages/services/f-analytics/README.md
  packages/services/f-analytics/package.json
  packages/services/f-analytics/src/mixins/_tests/analytics.methods.test.js
  packages/services/f-analytics/src/mixins/analytics.mixin.vue
  packages/services/f-analytics/src/plugins/analytics.plugin.js
  packages/services/f-analytics/src/services/_tests/analytics.service.test.js
  packages/services/f-analytics/src/services/analytics.mapper.js
  packages/services/f-analytics/src/services/analytics.service.js
  packages/services/f-analytics/src/tests/helpers/setup.js
  yarn.lock
Labels: reviewed-1, reviewed-2

#1201 TESTING - Circle CI config updates to fix our build issues
  .circleci/config.yml
  package.json
  packages/components/organisms/f-checkout/vue.config.js
Labels: do not merge

#1200 f-mega-modal@0.12.0 - Updated to meet the PIE designs
  packages/components/molecules/f-mega-modal/CHANGELOG.md
  packages/components/molecules/f-mega-modal/README.md
  packages/components/molecules/f-mega-modal/package.json
  packages/components/molecules/f-mega-modal/src/components/MegaModal.vue
Labels: reviewed-1, reviewed-2

#1204 f-cookie-banner@0.23.0 - Adding dk-DK to the list of locales in the banner's static version.
  packages/components/organisms/f-cookie-banner/CHANGELOG.md
  packages/components/organisms/f-cookie-banner/f-cookie-banner-static/gulpfile.js
  packages/components/organisms/f-cookie-banner/f-cookie-banner-static/src/App.vue
  packages/components/organisms/f-cookie-banner/package.json
Labels: reviewed-1, reviewed-2

#1203 TEST - Testing the change detection
  .circleci/config.yml
  packages/components/organisms/f-checkout/src/components/Checkout.vue
  yarn.lock
Labels: do not merge

#1210 fozzie-components@v3.53.0 - CircleCI. updates to improve build reliability
  .circleci/config.yml
  CHANGELOG.md
  package.json
  packages/components/organisms/f-checkout/CHANGELOG.md
  packages/components/organisms/f-checkout/package.json
  packages/components/organisms/f-checkout/vue.config.js
Labels: reviewed-1, reviewed-2

#1215 f-button@v1.11.0 - Allow for conditional nested slot content.
  packages/components/atoms/f-button/CHANGELOG.md
  packages/components/atoms/f-button/package.json
  packages/components/atoms/f-button/src/components/Button.vue
  packages/components/atoms/f-button/src/components/_tests/Button.test.js
  yarn.lock
Labels: reviewed-1, reviewed-2
