Repository justeattakeaway/fozzie-components, pull requests merged in 2021-05, with the labels that each got.

#921 f-checkout@0.100.0 - added red outline to input fields when errors are displayed
  packages/components/organisms/f-checkout/CHANGELOG.md
  packages/components/organisms/f-checkout/package.json
  packages/components/organisms/f-checkout/src/components/Guest.vue
Labels: reviewed-1, reviewed-2

#923 f-mega-modal@0.7.0
  packages/components/molecules/f-mega-modal/CHANGELOG.md
  packages/components/molecules/f-mega-modal/README.md
  packages/components/molecules/f-mega-modal/package.json
  packages/components/molecules/f-mega-modal/src/components/MegaModal.vue
Labels: reviewed-1, reviewed-2

#922 f-checkout@0.101.0 - Fixing mapping of fulfilment address and time.
  packages/components/organisms/f-checkout/CHANGELOG.md
  packages/components/organisms/f-checkout/package.json
  packages/components/organisms/f-checkout/src/components/Checkout.vue
  packages/components/organisms/f-checkout/src/demo/checkout-delivery.json
  packages/components/organisms/f-checkout/src/store/checkout.module.js
  packages/components/organisms/f-checkout/src/store/tests/checkout.module.test.js
Labels: reviewed-1, reviewed-2

#920 fozzie-components@v3.31.0 - added error handling & removed extra spec folder and unused READMEs #globalconfig
  CHANGELOG.md
  package.json
  packages/components/atoms/f-button/test-utils/component-objects/README.md
  packages/components/atoms/f-popover/test-utils/component-objects/README.md
  packages/components/molecules/f-breadcrumbs/test-utils/component-objects/README.md
  packages/components/molecules/f-media-element/test-utils/component-objects/README.md
  packages/components/molecules/f-searchbox/test-utils/component-objects/README.md
  packages/components/molecules/f-searchbox/test/component/README.md
  packages/components/molecules/f-skeleton-loader/test-utils/component-objects/README.md
  packages/components/molecules/f-skeleton-loader/test/component/README.md
  packages/components/molecules/f-tabs/test-utils/component-objects/README.md
  packages/components/molecules/f-tabs/test/component/README.md
  packages/components/organisms/f-checkout/test-utils/component-objects/README.md
  packages/components/organisms/f-checkout/test/component/README.md
  packages/components/organisms/f-cookie-banner/test-utils/component-objects/README.md
  packages/components/organisms/f-cookie-banner/test/component/README.md
  packages/components/organisms/f-header/test/component/f-header.component.mobile.spec.js
  packages/components/organisms/f-status-banner/test-utils/component-objects/README.md
  packages/components/organisms/f-status-banner/test/component/README.md
  packages/tools/generator-component/generators/app/templates/jest.config.js
  packages/tools/generator-component/generators/app/templates/test/accessibility/axe-accessibility.spec.js
  packages/tools/generator-component/generators/app/templates/test/component/README.md
  packages/tools/generator-component/generators/app/templates/test/component/f-skeleton.component.desktop.__spec__.js
  packages/tools/generator-component/generators/app/templates/test/specs/component/README.md
  packages/tools/generator-component/jest.config.js
Labels: reviewed-1, reviewed-2

#929 #trivial Revert "f-mega-modal@0.7.0"
  packages/components/molecules/f-mega-modal/CHANGELOG.md
  packages/components/molecules/f-mega-modal/README.md
  packages/components/molecules/f-mega-modal/package.json
  packages/components/molecules/f-mega-modal/src/components/MegaModal.vue
Labels: do not merge

#926 f-services@v1.11.0 - Revert UK Tel. Regex back to original 1.9.0 version
  packages/services/f-services/CHANGELOG.md
  packages/services/f-services/package.json
  packages/services/f-services/src/validations.js
Labels: reviewed-1, reviewed-2

#931 fozzie-components@3.32.0 - global styles from fozzie
  CHANGELOG.md
  package.json
  packages/storybook/CHANGELOG.md
  packages/storybook/README.md
  packages/storybook/config/storybook/preview.js
  packages/storybook/config/storybook/scss-loader.scss
  packages/storybook/package.json
  packages/storybook/vue.config.js
Labels: reviewed-1

#925 fozzie-components - Added tagging for future percy #trivial
  packages/components/molecules/f-searchbox/CHANGELOG.md
  packages/components/molecules/f-searchbox/test/component/f-searchbox.component.shared.spec.js
  packages/components/organisms/f-checkout/CHANGELOG.md
  packages/components/organisms/f-checkout/test/component/f-checkout-collection.component.shared.spec.js
  packages/components/organisms/f-checkout/test/component/f-checkout-delivery.component.shared.spec.js
  packages/components/organisms/f-checkout/test/component/f-checkout-guest.component.shared.spec.js
  packages/components/organisms/f-checkout/test/component/f-checkout-invalid.component.shared.spec.js
  packages/components/organisms/f-checkout/test/component/f-checkout.component.shared.spec.js
  packages/components/organisms/f-footer/CHANGELOG.md
  packages/components/organisms/f-footer/test/component/f-footer.component.desktop.spec.js
  packages/components/organisms/f-footer/test/component/f-footer.component.mobile.spec.js
  packages/components/organisms/f-header/CHANGELOG.md
  packages/components/organisms/f-header/test/component/f-header.component.desktop.spec.js
  packages/components/organisms/f-header/test/component/f-header.component.mobile.spec.js
  packages/components/organisms/f-header/test/component/f-header.component.shared.spec.js
  packages/components/organisms/f-registration/CHANGELOG.md
  packages/components/organisms/f-registration/test/component/f-registration.component.shared.spec.js
Labels: do not merge, reviewed-1, reviewed-2

#934 f-checkout@0.102.0 - Change guest checkout email input type
  packages/components/organisms/f-checkout/CHANGELOG.md
  packages/components/organisms/f-checkout/package.json
  packages/components/organisms/f-checkout/src/components/Guest.vue
Labels: reviewed-1, reviewed-2

#909 f-checkout@v0.102.0 - Bump `f-services`/`f-form-field` version to 1.11.0
  packages/components/organisms/f-checkout/CHANGELOG.md
  packages/components/organisms/f-checkout/package.json
  packages/components/organisms/f-checkout/src/components/Checkout.vue
Labels: reviewed-1

#933 f-cookie-banner@v0.8.0 - Add mega modal.
  packages/components/organisms/f-cookie-banner/CHANGELOG.md
  packages/components/organisms/f-cookie-banner/package.json
  packages/components/organisms/f-cookie-banner/src/components/CookieBanner.vue
  packages/components/organisms/f-cookie-banner/test/component/f-cookieConsentBanner.component.desktop.spec.js
Labels: reviewed-1, reviewed-2

#935 f-http@v0.4.0 - Support all HTTP methods
  packages/services/f-http/CHANGELOG.md
  packages/services/f-http/README.md
  packages/services/f-http/package.json
  packages/services/f-http/src/authorisationHandler.js
  packages/services/f-http/src/configBuilder.js
  packages/services/f-http/src/createClient.js
  packages/services/f-http/src/defaultOptions.js
  packages/services/f-http/src/httpVerbs.js
  packages/services/f-http/src/mockFactory.js
  packages/services/f-http/src/requestDispatcher.js
  packages/services/f-http/src/tests/authorisationHandler.test.js
  packages/services/f-http/src/tests/configBuilder.test.js
  packages/services/f-http/src/tests/createClient.test.js
  packages/services/f-http/src/tests/httpVerbs.test.js
  packages/services/f-http/src/tests/index.test.js
  yarn.lock
Labels: reviewed-1, reviewed-2

#938 f-registration@v0.53.0 - Switch to F-Http
  packages/components/organisms/f-registration/CHANGELOG.md
  packages/components/organisms/f-registration/package.json
  packages/components/organisms/f-registration/src/components/Registration.vue
  packages/components/organisms/f-registration/src/components/_tests/RegistrationServiceApi.test.js
  packages/components/organisms/f-registration/src/components/_tests/f-registration.integration.test.js
  packages/components/organisms/f-registration/src/services/RegistrationServiceApi.js
  yarn.lock
Labels: reviewed-1, reviewed-2

#943 f-button@v1.2.0 - Update button focus state
  packages/components/atoms/f-button/CHANGELOG.md
  packages/components/atoms/f-button/package.json
  packages/components/atoms/f-button/src/components/Button.vue
  yarn.lock
Labels: reviewed-1, reviewed-2

#946 f-checkout@v0.107.0 - (d) - Update f-button version
  packages/components/organisms/f-checkout/CHANGELOG.md
  packages/components/organisms/f-checkout/package.json
  yarn.lock
Labels: reviewed-1, reviewed-2

#947 f-http@v0.4.1 - Return status code
  packages/services/f-http/CHANGELOG.md
  packages/services/f-http/package.json
  packages/services/f-http/src/requestDispatcher.js
Labels: reviewed-1, reviewed-2

#948 storybook@0.33.0 - make a check for common.scss only inside the repo
  packages/storybook/CHANGELOG.md
  packages/storybook/package.json
  packages/storybook/vue.config.js
Labels: reviewed-1, reviewed-2

#949 f-footer@4.21.0 - Adds styles that can be targeted by consumers
  packages/components/organisms/f-footer/CHANGELOG.md
  packages/components/organisms/f-footer/README.md
  packages/components/organisms/f-footer/package.json
  packages/components/organisms/f-footer/src/components/Footer.vue
  packages/components/organisms/f-footer/src/components/_tests/__snapshots__/Footer.test.js.snap
Labels: reviewed-1, reviewed-2

#952 f-footer@4.22.0 - new link for ES footer
  packages/components/organisms/f-footer/CHANGELOG.md
  packages/components/organisms/f-footer/package.json
  packages/components/organisms/f-footer/src/tenants/es-ES.js
Labels: reviewed-1

#940 f-checkout@v0.109.0 - (a) - Accessibility added for error messages
  packages/components/organisms/f-checkout/CHANGELOG.md
  packages/components/organisms/f-checkout/package.json
  packages/components/organisms/f-checkout/src/components/Address.vue
  packages/components/organisms/f-checkout/src/components/Checkout.vue
  packages/components/organisms/f-checkout/src/components/Guest.vue
  packages/components/organisms/f-checkout/src/components/_tests/Checkout.test.js
  packages/components/organisms/f-checkout/src/components/_tests/__snapshots__/Checkout.test.js.snap
  packages/components/organisms/f-checkout/src/tenants/en-GB.js
  yarn.lock
Labels: reviewed-1, reviewed-2

#944 f-checkout@v0.110.0 - Display correct error message when mobile number field is empty
  packages/components/organisms/f-checkout/CHANGELOG.md
  packages/components/organisms/f-checkout/package.json
  packages/components/organisms/f-checkout/src/components/Checkout.vue
  packages/components/organisms/f-checkout/src/components/_tests/Checkout.test.js
  packages/components/organisms/f-checkout/src/tenants/en-GB.js
  packages/components/organisms/f-checkout/test-utils/component-objects/f-checkout-selectors.js
  packages/components/organisms/f-checkout/test-utils/component-objects/f-checkout.component.js
  packages/components/organisms/f-checkout/test/visual/f-checkout-authenticated.visual.shared.spec.js
  packages/components/organisms/f-checkout/test/visual/f-checkout-guest.visual.shared.spec.js
Labels: do not merge

#967 f-http@v0.5.0 - Inject timing interceptor for all calls
  packages/services/f-http/CHANGELOG.md
  packages/services/f-http/README.md
  packages/services/f-http/package.json
  packages/services/f-http/src/createClient.js
  packages/services/f-http/src/defaultOptions.js
  packages/services/f-http/src/interceptors.js
  packages/services/f-http/src/tests/createClient.test.js
  yarn.lock
Labels: reviewed-1, reviewed-2

#968 f-checkout@0.115.0 - textarea element to come from f-form-field
  packages/components/organisms/f-checkout/CHANGELOG.md
  packages/components/organisms/f-checkout/package.json
  packages/components/organisms/f-checkout/src/components/Checkout.vue
  packages/components/organisms/f-checkout/src/components/UserNote.vue
  packages/components/organisms/f-checkout/test-utils/component-objects/f-checkout-selectors.js
Labels: ready for re-review, reviewed-1, reviewed-2

#970 f-checkout@v0.116.0 - Append Tag to Log Events
  packages/components/organisms/f-checkout/CHANGELOG.md
  packages/components/organisms/f-checkout/package.json
  packages/components/organisms/f-checkout/src/mixins/logger.mixin.js
Labels: reviewed-1, reviewed-2

#972 f-mega-modal@v0.9.0 - added the ability to pass `title` and `titleHtmlTag` values
  packages/components/molecules/f-mega-modal/CHANGELOG.md
  packages/components/molecules/f-mega-modal/README.md
  packages/components/molecules/f-mega-modal/package.json
  packages/components/molecules/f-mega-modal/src/components/MegaModal.vue
  packages/components/molecules/f-mega-modal/src/components/_tests/MegaModal.test.js
  packages/components/molecules/f-mega-modal/stories/MegaModal.stories.js
Labels: do not merge, wip

#975 f-card@1.2.0 - add hasFullWidthFooter prop
  packages/components/atoms/f-card/CHANGELOG.md
  packages/components/atoms/f-card/README.md
  packages/components/atoms/f-card/package.json
  packages/components/atoms/f-card/src/components/Card.vue
  packages/components/atoms/f-card/src/components/_tests/Card.test.js
  packages/components/atoms/f-card/stories/card.stories.js
Labels: reviewed-1

#977 f-card@1.2.1 - css fix
  packages/components/atoms/f-card/CHANGELOG.md
  packages/components/atoms/f-card/package.json
  packages/components/atoms/f-card/src/components/Card.vue
  packages/components/atoms/f-card/src/components/_tests/Card.test.js
Labels: reviewed-1, reviewed-2

#974 f-checkout@0.117.0 - Add mobile number aria label
  packages/components/organisms/f-checkout/CHANGELOG.md
  packages/components/organisms/f-checkout/package.json
  packages/components/organisms/f-checkout/src/components/Checkout.vue
  packages/components/organisms/f-checkout/src/components/_tests/Checkout.test.js
Labels: reviewed-1, reviewed-2

#976 f-checkout@v0.118.0 - updated f-mega-modal, pass ErrorDialog title via prop in…
  packages/components/organisms/f-checkout/CHANGELOG.md
  packages/components/organisms/f-checkout/package.json
  packages/components/organisms/f-checkout/src/components/ErrorDialog.vue
Labels: reviewed-1

#981 f-checkout@0.118.1 - Check mobile number exists before formatting
  packages/components/organisms/f-checkout/CHANGELOG.md
  packages/components/organisms/f-checkout/package.json
  packages/components/organisms/f-checkout/src/components/Checkout.vue
Labels: reviewed-1, reviewed-2

#979 f-stat-client@v0.1.0 - Created a service to handle the publishing of stat data
  packages/services/f-stat-client/CHANGELOG.md
  packages/services/f-stat-client/LICENSE
  packages/services/f-stat-client/README.md
  packages/services/f-stat-client/README_1.png
  packages/services/f-stat-client/babel.config.js
  packages/services/f-stat-client/jest.config.js
  packages/services/f-stat-client/package.json
  packages/services/f-stat-client/src/index.js
  packages/services/f-stat-client/src/statClient.js
  packages/services/f-stat-client/src/tests/index.test.js
  yarn.lock
Labels: reviewed-1, reviewed-2

#983 f-cookie-banner@v0.11.0 - Modify component object exports
  packages/components/organisms/f-cookie-banner/CHANGELOG.md
  packages/components/organisms/f-cookie-banner/package.json
  packages/components/organisms/f-cookie-banner/test-utils/component-objects/f-cookieBanner-legacy.component.js
  packages/components/organisms/f-cookie-banner/test-utils/component-objects/f-cookieConsentBanner.component.js
  packages/components/organisms/f-cookie-banner/test/accessibility/axe-accessibility.spec.js
  packages/components/organisms/f-cookie-banner/test/component/f-cookieBanner-legacy.component.desktop.spec.js
  packages/components/organisms/f-cookie-banner/test/component/f-cookieBanner-legacy.component.shared.spec.js
  packages/components/organisms/f-cookie-banner/test/component/f-cookieConsentBanner.component.desktop.spec.js
  packages/components/organisms/f-cookie-banner/test/component/f-cookieConsentBanner.component.shared.spec.js
Labels: reviewed-1, reviewed-2

#986 f-button@1.3.0 - Fix disabled styling
  packages/components/atoms/f-button/CHANGELOG.md
  packages/components/atoms/f-button/package.json
  packages/components/atoms/f-button/src/components/Button.vue
  packages/components/atoms/f-button/stories/Button.stories.js
Labels: reviewed-1, reviewed-2

#950 f-checkout@0.119.0 - Add dine in capability to Checkout
  packages/components/organisms/f-checkout/CHANGELOG.md
  packages/components/organisms/f-checkout/package.json
  packages/components/organisms/f-checkout/src/checkout-issues.js
  packages/components/organisms/f-checkout/src/components/Checkout.vue
  packages/components/organisms/f-checkout/src/components/Selector.vue
  packages/components/organisms/f-checkout/src/components/_tests/Checkout.test.js
  packages/components/organisms/f-checkout/src/components/_tests/helpers/setup.js
  packages/components/organisms/f-checkout/src/constants.js
  packages/components/organisms/f-checkout/src/demo/checkout-dinein.json
  packages/components/organisms/f-checkout/src/demo/checkoutMock.js
  packages/components/organisms/f-checkout/src/demo/get-basket-dinein.json
  packages/components/organisms/f-checkout/src/services/mapper.js
  packages/components/organisms/f-checkout/src/store/checkout.module.js
  packages/components/organisms/f-checkout/src/store/mutation-types.js
  packages/components/organisms/f-checkout/src/store/tests/__snapshots__/checkout.module.test.js.snap
  packages/components/organisms/f-checkout/src/store/tests/checkout.module.test.js
  packages/components/organisms/f-checkout/src/tenants/en-GB.js
  packages/components/organisms/f-checkout/stories/Checkout.stories.js
  packages/components/organisms/f-checkout/test-utils/component-objects/f-checkout-selectors.js
  packages/components/organisms/f-checkout/test-utils/component-objects/f-checkout.component.js
  packages/components/organisms/f-checkout/test/component/f-checkout-dinein.component.desktop.spec.js
  packages/components/organisms/f-checkout/test/visual/f-checkout-authenticated.visual.shared.spec.js
Labels: reviewed-1, reviewed-2

#985 f-checkout@0.121.0 - Log traceId when there is a server error
  packages/components/organisms/f-checkout/CHANGELOG.md
  packages/components/organisms/f-checkout/package.json
  packages/components/organisms/f-checkout/src/components/Checkout.vue
  packages/components/organisms/f-checkout/src/demo/checkout-server-error.json
  packages/components/organisms/f-checkout/src/demo/checkoutMock.js
  packages/components/organisms/f-checkout/src/demo/update-checkout-server-error.json
  packages/components/organisms/f-checkout/src/exceptions/exceptions.js
  packages/components/organisms/f-checkout/src/mixins/logger.mixin.js
Labels: reviewed-1, reviewed-2

#997 f-checkout@0.123.0 Log error code when placing order
  packages/components/organisms/f-checkout/CHANGELOG.md
  packages/components/organisms/f-checkout/package.json
  packages/components/organisms/f-checkout/src/components/_tests/Checkout.test.js
  packages/components/organisms/f-checkout/src/exceptions/exceptions.js
  packages/components/organisms/f-checkout/src/mixins/logger.mixin.js
Labels: reviewed-1, reviewed-2

#984 fozzie-components@v3.36.0 - Added additional circleci cli tasks
  .circleci/local_config.yml
  .vscode/tasks.json
  CHANGELOG.md
  package.json
  stories/guides/circlieci-cli.stories.mdx
Labels: reviewed-1
