Repository justeattakeaway/fozzie-components, pull requests merged in 2021-01, with the labels that each got.

#538 f-checkout@v0.33.0 - Add login link to checkout.
  packages/components/organisms/f-checkout/CHANGELOG.md
  packages/components/organisms/f-checkout/README.md
  packages/components/organisms/f-checkout/package.json
  packages/components/organisms/f-checkout/src/components/Checkout.vue
  packages/components/organisms/f-checkout/src/components/tests/Checkout.test.js
  packages/components/organisms/f-checkout/src/event-names.js
  packages/components/organisms/f-checkout/src/tenants/en-GB.js
  packages/components/organisms/f-checkout/stories/Checkout.stories.js
Labels: enhancement

#570 f-checkout@v0.34.1 - Updated mobile number tests
  packages/components/organisms/f-checkout/CHANGELOG.md
  packages/components/organisms/f-checkout/package.json
  packages/components/organisms/f-checkout/test/specs/component/f-checkout-delivery.component.spec.js
  packages/components/organisms/f-checkout/test/specs/component/f-checkout.component.spec.js
Labels: reviewed-1, reviewed-2

#558 f-checkout@0.35.0 - vuex mutation for data update
  packages/components/organisms/f-checkout/CHANGELOG.md
  packages/components/organisms/f-checkout/package.json
  packages/components/organisms/f-checkout/src/components/Address.vue
  packages/components/organisms/f-checkout/src/components/Checkout.vue
  packages/components/organisms/f-checkout/src/components/tests/Address.test.js
  packages/components/organisms/f-checkout/src/components/tests/Checkout.test.js
  packages/components/organisms/f-checkout/src/components/tests/helpers/setup.js
  packages/components/organisms/f-checkout/src/store/checkout.module.js
  packages/components/organisms/f-checkout/src/store/tests/__snapshots__/checkout.module.test.js.snap
  packages/components/organisms/f-checkout/src/store/tests/checkout.module.test.js
Labels: reviewed-1

#575 f-searchbox@v4.0.0-beta.15 - Fix accessibility errors.
  packages/components/molecules/f-searchbox/CHANGELOG.md
  packages/components/molecules/f-searchbox/package.json
  packages/components/molecules/f-searchbox/src/components/formElements/FormSearchInnerFieldWrapper.vue
  packages/components/molecules/f-searchbox/src/components/formElements/FormSearchSuggestions.vue
  packages/components/molecules/f-searchbox/src/tenants/en-AU.js
  packages/components/molecules/f-searchbox/src/tenants/en-IE.js
  packages/components/molecules/f-searchbox/src/tenants/en-NZ.js
  packages/components/molecules/f-searchbox/src/tenants/es-ES.js
  packages/components/molecules/f-searchbox/src/tenants/it-IT.js
Labels: reviewed-1, reviewed-2

#585 f-footer@v4.5.0 - Corrected the typo in the IT footer
  packages/components/organisms/f-footer/CHANGELOG.md
  packages/components/organisms/f-footer/package.json
  packages/components/organisms/f-footer/src/tenants/it-IT.js
Labels: reviewed-1, reviewed-2

#578 #trivial Update component versions
  packages/components/molecules/f-alert/CHANGELOG.md
  packages/components/molecules/f-alert/package.json
  packages/components/molecules/f-searchbox/CHANGELOG.md
  packages/components/molecules/f-searchbox/package.json
  packages/components/molecules/f-user-message/CHANGELOG.md
  packages/components/molecules/f-user-message/package.json
  packages/components/organisms/f-checkout/CHANGELOG.md
  packages/components/organisms/f-checkout/package.json
  packages/components/organisms/f-checkout/src/components/tests/__snapshots__/Checkout.test.js.snap
  packages/components/organisms/f-content-cards/src/components/tests/ContentCards.test.js
  packages/components/organisms/f-registration/CHANGELOG.md
  packages/components/organisms/f-registration/package.json
  packages/components/organisms/f-registration/src/components/Registration.vue
  packages/components/organisms/f-registration/src/components/tests/Registration.test.js
  packages/components/organisms/f-registration/src/components/tests/f-registration.integration.test.js
  packages/services/f-services/CHANGELOG.md
  packages/services/f-services/package.json
  packages/tools/generator-component/CHANGELOG.md
  packages/tools/generator-component/generators/app/templates/__package__.json
  packages/tools/generator-component/package.json
  yarn.lock
Labels: reviewed-1

#588 f-footer@v4.6.0 - Added in an extra link for the IT footer under cuisines
  packages/components/organisms/f-footer/CHANGELOG.md
  packages/components/organisms/f-footer/package.json
  packages/components/organisms/f-footer/src/tenants/it-IT.js
Labels: reviewed-1, reviewed-2

#586 #trivial Update f-metadata readme
  packages/services/f-metadata/README.md
Labels: reviewed-1, reviewed-2

#587 #trivial Update f-vue-icons readme
  packages/tools/f-vue-icons/README.md
Labels: reviewed-1, reviewed-2

#590 f-searchbox@v4.0.0beta.17
  packages/components/molecules/f-searchbox/CHANGELOG.md
  packages/components/molecules/f-searchbox/package.json
  packages/components/molecules/f-searchbox/src/components/Form.vue
  packages/components/molecules/f-searchbox/src/components/formElements/FormFullAddressContinueWithSuggestion.vue
  packages/components/molecules/f-searchbox/src/components/formElements/FormFullAddressSearchSuggestions.vue
  packages/components/molecules/f-searchbox/src/components/formElements/FormSearchGeo.vue
  packages/components/molecules/f-searchbox/src/components/formElements/FormSearchSuggestions.vue
  packages/components/molecules/f-searchbox/src/components/formElements/tests/FormFullAddressContinueWithSuggestion.test.js
  packages/components/molecules/f-searchbox/src/components/formElements/tests/FormFullAddressSearchSuggestions.test.js
  packages/components/molecules/f-searchbox/src/services/location/loqate/index.js
  packages/components/molecules/f-searchbox/src/services/location/loqate/tests/index.test.js
  packages/components/molecules/f-searchbox/src/store/mutation.types.js
  packages/components/molecules/f-searchbox/src/store/searchbox.module.js
  packages/components/molecules/f-searchbox/src/tenants/en-GB.js
Labels: reviewed-1, reviewed-2

#582 f-checkout@v0.37.0 - Add guest collection and delivery views
  packages/components/organisms/f-checkout/CHANGELOG.md
  packages/components/organisms/f-checkout/package.json
  packages/components/organisms/f-checkout/src/assets/scss/common.scss
  packages/components/organisms/f-checkout/src/components/Checkout.vue
  packages/components/organisms/f-checkout/src/components/Guest.vue
  packages/components/organisms/f-checkout/src/components/Header.vue
  packages/components/organisms/f-checkout/src/components/TermsAndConditions.vue
  packages/components/organisms/f-checkout/src/components/UserNote.vue
  packages/components/organisms/f-checkout/src/components/tests/Checkout.test.js
  packages/components/organisms/f-checkout/src/components/tests/Guest.test.js
  packages/components/organisms/f-checkout/src/components/tests/Header.test.js
  packages/components/organisms/f-checkout/src/tenants/en-GB.js
  packages/components/organisms/f-checkout/stories/Checkout.stories.js
Labels: reviewed-1

#597 f-form-field@1.7.0 Fix Axe accessibility violation
  packages/components/atoms/f-form-field/CHANGELOG.md
  packages/components/atoms/f-form-field/package.json
  packages/components/atoms/f-form-field/src/components/FormDropdown.vue
Labels: do not merge

#600 f-footer@v4.6.1 Fix Menulog NZ contact us link
  packages/components/organisms/f-footer/CHANGELOG.md
  packages/components/organisms/f-footer/package.json
  packages/components/organisms/f-footer/src/tenants/en-NZ.js
Labels: bug

#599 f-searchbox@v4.0.0-beta.18 - Allow keyboard selection events to happe…
  packages/components/molecules/f-searchbox/CHANGELOG.md
  packages/components/molecules/f-searchbox/package.json
  packages/components/molecules/f-searchbox/src/components/Form.vue
  packages/components/molecules/f-searchbox/src/components/formElements/FormFullAddressSearchSuggestions.vue
  packages/components/molecules/f-searchbox/src/components/formElements/tests/FormFullAddressSearchSuggestions.test.js
  packages/components/molecules/f-searchbox/src/store/searchbox.module.js
Labels: reviewed-1, reviewed-2

#591 #trivial add ignore pattern for axe-violation test results.
  .gitignore
Labels: bug, reviewed-1, reviewed-2

#607 #Trivial Correct f-mega-modal README formatting.
  packages/components/molecules/f-mega-modal/README.md
Labels: reviewed-1, reviewed-2

#605 f-header@4.5.0 - Hide showOffersLink by default
  packages/components/organisms/f-header/CHANGELOG.md
  packages/components/organisms/f-header/package.json
  packages/components/organisms/f-header/src/components/Header.vue
  packages/components/organisms/f-header/src/components/tests/__snapshots__/Header.test.js.snap
  yarn.lock
Labels: reviewed-1, reviewed-2

#608 f-vue-icons@2.3.0 - gift and profile icons to match new designs
  packages/tools/f-vue-icons/CHANGELOG.md
  packages/tools/f-vue-icons/icons/GiftIcon.js
  packages/tools/f-vue-icons/icons/ProfileIcon.js
  packages/tools/f-vue-icons/package.json
  packages/tools/f-vue-icons/src/components/GiftIcon.js
  packages/tools/f-vue-icons/src/components/ProfileIcon.js
  yarn.lock
Labels: reviewed-1

#604 f-footer@v4.7.0 - Updated footer component with tenant tests
  packages/components/organisms/f-footer/CHANGELOG.md
  packages/components/organisms/f-footer/package.json
  packages/components/organisms/f-footer/stories/footer.stories.js
  packages/components/organisms/f-footer/test-utils/component-objects/f-footer.component.js
  packages/components/organisms/f-footer/test-utils/component-objects/f-footer.selectors.js
  packages/components/organisms/f-footer/test/specs/component/f-footer-au.component.spec.js
  packages/components/organisms/f-footer/test/specs/component/f-footer.component.spec.js
Labels: reviewed-1, reviewed-2

#589 #trivial f-checkout@v0.36.0 – Add test to cover link visibility
  packages/components/organisms/f-checkout/CHANGELOG.md
  packages/components/organisms/f-checkout/test-utils/component-objects/f-checkout-selectors.js
  packages/components/organisms/f-checkout/test-utils/component-objects/f-checkout.component.js
  packages/components/organisms/f-checkout/test/specs/component/f-checkout.component.spec.js
Labels: reviewed-1, reviewed-2

#614 fozzie-components@v3.6.0 – Moving tests to match agreed structure #globalconfig
  CHANGELOG.md
  package.json
  packages/components/atoms/f-button/src/components/_tests/Button.test.js
  packages/components/atoms/f-card/src/components/_tests/Card.test.js
  packages/components/atoms/f-error-message/src/components/_tests/ErrorMessage.test.js
  packages/components/atoms/f-form-field/src/components/_tests/FormDropdown.test.js
  packages/components/atoms/f-form-field/src/components/_tests/FormField.test.js
  packages/components/molecules/f-alert/src/components/_tests/Alert.test.js
  packages/components/molecules/f-alert/src/components/_tests/__snapshots__/Alert.test.js.snap
  packages/components/molecules/f-mega-modal/src/components/_tests/MegaModal.test.js
  packages/components/molecules/f-searchbox/src/components/_tests/Base.test.js
  packages/components/molecules/f-searchbox/src/components/_tests/Form.test.js
  packages/components/molecules/f-user-message/src/components/_tests/UserMessage.test.js
  packages/components/organisms/f-checkout/src/components/_tests/Address.test.js
  packages/components/organisms/f-checkout/src/components/_tests/Checkout.test.js
  packages/components/organisms/f-checkout/src/components/_tests/Guest.test.js
  packages/components/organisms/f-checkout/src/components/_tests/Header.test.js
  packages/components/organisms/f-checkout/src/components/_tests/Selector.test.js
  packages/components/organisms/f-checkout/src/components/_tests/__snapshots__/Checkout.test.js.snap
  packages/components/organisms/f-checkout/src/components/_tests/__snapshots__/Selector.test.js.snap
  packages/components/organisms/f-checkout/src/components/_tests/helpers/setup.js
  packages/components/organisms/f-content-cards/src/components/_tests/ContentCards.test.js
  packages/components/organisms/f-footer/src/components/_tests/CountrySelector.test.js
  packages/components/organisms/f-footer/src/components/_tests/Footer.test.js
  packages/components/organisms/f-footer/src/components/_tests/LinkList.test.js
  packages/components/organisms/f-footer/src/components/_tests/__snapshots__/Footer.test.js.snap
  packages/components/organisms/f-header/src/components/_tests/Header.test.js
  packages/components/organisms/f-header/src/components/_tests/Logo.test.js
  packages/components/organisms/f-header/src/components/_tests/Navigation.test.js
  packages/components/organisms/f-header/src/components/_tests/__mocks__/api.account.details.json
  packages/components/organisms/f-header/src/components/_tests/__mocks__/api.account.details.loggedout.json
  packages/components/organisms/f-header/src/components/_tests/__snapshots__/Header.test.js.snap
  packages/components/organisms/f-header/src/components/_tests/helpers/navigation.js
  packages/components/organisms/f-header/vue.config.js
  packages/components/organisms/f-registration/src/components/_tests/Registration.test.js
  packages/components/organisms/f-registration/src/components/_tests/RegistrationServiceApi.test.js
  packages/components/organisms/f-registration/src/components/_tests/f-registration.integration.test.js
Labels: reviewed-1, reviewed-2

#612 f-checkout@v0.40.0 - add `Guest` component validations
  packages/components/organisms/f-checkout/CHANGELOG.md
  packages/components/organisms/f-checkout/package.json
  packages/components/organisms/f-checkout/src/components/Address.vue
  packages/components/organisms/f-checkout/src/components/Checkout.vue
  packages/components/organisms/f-checkout/src/components/Guest.vue
  packages/components/organisms/f-checkout/src/components/_tests/Address.test.js
  packages/components/organisms/f-checkout/src/components/_tests/Checkout.test.js
  packages/components/organisms/f-checkout/src/components/_tests/Guest.test.js
  packages/components/organisms/f-checkout/src/components/_tests/__snapshots__/Checkout.test.js.snap
  packages/components/organisms/f-checkout/src/components/_tests/helpers/setup.js
  packages/components/organisms/f-checkout/src/constants.js
  packages/components/organisms/f-checkout/src/mixins/tests/validations.mixin.test.js
  packages/components/organisms/f-checkout/src/mixins/validations.mixin.js
  packages/components/organisms/f-checkout/src/store/checkout.module.js
  packages/components/organisms/f-checkout/src/store/tests/checkout.module.test.js
  packages/components/organisms/f-checkout/src/tenants/en-GB.js
Labels: reviewed-1

#618 f-consumer-oidc@v1.0.0 - Migration
  packages/services/f-consumer-oidc/.babelrc
  packages/services/f-consumer-oidc/.gitignore
  packages/services/f-consumer-oidc/CHANGELOG.md
  packages/services/f-consumer-oidc/README.md
  packages/services/f-consumer-oidc/package.json
  packages/services/f-consumer-oidc/src/index.js
  packages/services/f-consumer-oidc/src/silent-signin.js
  packages/services/f-consumer-oidc/src/user-manager-factory.js
  packages/services/f-consumer-oidc/test/silent-signin.test.js
  packages/services/f-consumer-oidc/webpack.config.js
  yarn.lock
Labels: reviewed-1, reviewed-2

#630 f-checkout@0.41.0 - Removing Accept-Tenant header
  packages/components/organisms/f-checkout/CHANGELOG.md
  packages/components/organisms/f-checkout/package.json
  packages/components/organisms/f-checkout/src/components/Checkout.vue
  packages/components/organisms/f-checkout/src/store/checkout.module.js
  packages/components/organisms/f-checkout/src/store/tests/checkout.module.test.js
Labels: reviewed-1, reviewed-2

#633 f-checkout@v0.42.0 - Upgrade f-button and update header text
  packages/components/organisms/f-checkout/CHANGELOG.md
  packages/components/organisms/f-checkout/package.json
  packages/components/organisms/f-checkout/src/components/Checkout.vue
  packages/components/organisms/f-checkout/src/components/Header.vue
  packages/components/organisms/f-checkout/src/components/_tests/Header.test.js
  packages/components/organisms/f-checkout/src/tenants/en-GB.js
Labels: reviewed-1

#631 #Trivial Correct README.md headers
  packages/components/atoms/f-form-field/README.md
  packages/components/molecules/f-mega-modal/README.md
  packages/components/organisms/f-footer/README.md
  packages/components/organisms/f-header/README.md
  packages/components/organisms/f-registration/README.md
  packages/services/f-metadata/README.md
  packages/services/f-services/README.md
  packages/tools/generator-component/README.md
  packages/tools/generator-component/generators/app/templates/README.md
Labels: reviewed-1, reviewed-2

#628 f-tabs@0.1.0 - generated output
  packages/components/molecules/f-tabs/.eslintignore
  packages/components/molecules/f-tabs/CHANGELOG.md
  packages/components/molecules/f-tabs/LICENSE
  packages/components/molecules/f-tabs/README.md
  packages/components/molecules/f-tabs/babel.config.js
  packages/components/molecules/f-tabs/jest.config.js
  packages/components/molecules/f-tabs/package.json
  packages/components/molecules/f-tabs/src/assets/scss/common.scss
  packages/components/molecules/f-tabs/src/components/Tabs.vue
  packages/components/molecules/f-tabs/src/components/tests/Tabs.test.js
  packages/components/molecules/f-tabs/src/index.js
  packages/components/molecules/f-tabs/src/tenants/da-DK.js
  packages/components/molecules/f-tabs/src/tenants/en-AU.js
  packages/components/molecules/f-tabs/src/tenants/en-GB.js
  packages/components/molecules/f-tabs/src/tenants/en-IE.js
  packages/components/molecules/f-tabs/src/tenants/en-NZ.js
  packages/components/molecules/f-tabs/src/tenants/es-ES.js
  packages/components/molecules/f-tabs/src/tenants/index.js
  packages/components/molecules/f-tabs/src/tenants/it-IT.js
  packages/components/molecules/f-tabs/src/tenants/nb-NO.js
  packages/components/molecules/f-tabs/stories/Tabs.stories.js
  packages/components/molecules/f-tabs/test-utils/component-objects/README.md
  packages/components/molecules/f-tabs/test-utils/component-objects/f-tabs.component.js
  packages/components/molecules/f-tabs/test/specs/accessibility/axe-accessibility.spec.js
  packages/components/molecules/f-tabs/test/specs/component/README.md
  packages/components/molecules/f-tabs/test/specs/component/f-tabs.component.spec.js
  packages/components/molecules/f-tabs/vue.config.js
Labels: reviewed-1, reviewed-2

#639 #Trivial Update readme files.
  packages/components/atoms/f-form-field/README.md
  packages/components/molecules/f-mega-modal/README.md
  packages/components/organisms/f-footer/README.md
  packages/components/organisms/f-header/README.md
  packages/components/organisms/f-registration/README.md
  packages/services/f-metadata/README.md
  packages/services/f-services/README.md
  packages/tools/generator-component/README.md
  packages/tools/generator-component/generators/app/templates/README.md
Labels: reviewed-1

#649 f-footer@4.8.0 - showCountrySelector prop
  packages/components/organisms/f-footer/CHANGELOG.md
  packages/components/organisms/f-footer/README.md
  packages/components/organisms/f-footer/package.json
  packages/components/organisms/f-footer/src/components/Footer.vue
  packages/components/organisms/f-footer/src/components/_tests/__snapshots__/Footer.test.js.snap
Labels: reviewed-1, reviewed-2

#655 #Trivial Add prop and event details to f-footer README.md
  packages/components/organisms/f-footer/README.md
Labels: reviewed-1, reviewed-2

#613 f-header@4.6.0 - Add country selector for both mobile and desktop view
  packages/components/organisms/f-header/CHANGELOG.md
  packages/components/organisms/f-header/README.md
  packages/components/organisms/f-header/jest.config.js
  packages/components/organisms/f-header/package.json
  packages/components/organisms/f-header/src/components/CountrySelector.vue
  packages/components/organisms/f-header/src/components/FlagIcon.vue
  packages/components/organisms/f-header/src/components/Header.vue
  packages/components/organisms/f-header/src/components/Navigation.vue
  packages/components/organisms/f-header/src/components/_tests/CountrySelector.test.js
  packages/components/organisms/f-header/src/components/_tests/Header.test.js
  packages/components/organisms/f-header/src/components/_tests/Navigation.test.js
  packages/components/organisms/f-header/src/components/_tests/__snapshots__/Header.test.js.snap
  packages/components/organisms/f-header/src/components/_tests/helpers/navigation.js
  packages/components/organisms/f-header/src/tenants/countryList.js
  packages/components/organisms/f-header/src/tenants/da-DK.js
  packages/components/organisms/f-header/src/tenants/en-AU.js
  packages/components/organisms/f-header/src/tenants/en-GB.js
  packages/components/organisms/f-header/src/tenants/en-IE.js
  packages/components/organisms/f-header/src/tenants/en-NZ.js
  packages/components/organisms/f-header/src/tenants/es-ES.js
  packages/components/organisms/f-header/src/tenants/index.js
  packages/components/organisms/f-header/src/tenants/it-IT.js
  packages/components/organisms/f-header/src/tenants/nb-NO.js
  packages/components/organisms/f-header/stories/header.stories.js
  yarn.lock
Labels: reviewed-1, reviewed-2
