Repository justeattakeaway/fozzie-components, pull requests merged in 2021-04, with the labels that each got.

#850 f-checkout@0.80.0 Configurable spinner timeout
  packages/components/organisms/f-checkout/CHANGELOG.md
  packages/components/organisms/f-checkout/package.json
  packages/components/organisms/f-checkout/src/components/Checkout.vue
  packages/components/organisms/f-checkout/src/components/_tests/Checkout.test.js
Labels: reviewed-1

#857 f-footer@4.16.0 - Added Ethics hotline link to all the tenants
  packages/components/organisms/f-footer/CHANGELOG.md
  packages/components/organisms/f-footer/package.json
  packages/components/organisms/f-footer/src/tenants/da-DK.js
  packages/components/organisms/f-footer/src/tenants/en-AU.js
  packages/components/organisms/f-footer/src/tenants/en-GB.js
  packages/components/organisms/f-footer/src/tenants/en-IE.js
  packages/components/organisms/f-footer/src/tenants/en-NZ.js
  packages/components/organisms/f-footer/src/tenants/es-ES.js
  packages/components/organisms/f-footer/src/tenants/it-IT.js
  packages/components/organisms/f-footer/src/tenants/nb-NO.js
Labels: reviewed-1, reviewed-2

#851 f-checkout@0.80.1 f-registration@0.49.2 o-link fozzie css classes
  packages/components/organisms/f-checkout/CHANGELOG.md
  packages/components/organisms/f-checkout/package.json
  packages/components/organisms/f-checkout/src/components/Header.vue
  packages/components/organisms/f-checkout/src/components/TermsAndConditions.vue
  packages/components/organisms/f-checkout/src/components/_tests/__snapshots__/Header.test.js.snap
  packages/components/organisms/f-registration/CHANGELOG.md
  packages/components/organisms/f-registration/package.json
  packages/components/organisms/f-registration/src/components/Registration.vue
  packages/components/organisms/f-registration/src/components/_tests/Registration.test.js
Labels: reviewed-1, reviewed-2

#848 f-skeleton-loader@0.4.0 - Added restaurant carousel
  packages/components/molecules/f-skeleton-loader/CHANGELOG.md
  packages/components/molecules/f-skeleton-loader/package.json
  packages/components/molecules/f-skeleton-loader/src/components/skeletons/RestaurantCarousel.vue
  packages/components/molecules/f-skeleton-loader/src/components/skeletons/RestaurantCarouselCard.vue
  packages/components/molecules/f-skeleton-loader/src/components/skeletons/index.js
Labels: reviewed-1, reviewed-2

#860 f-footer@4.17.0 - Added `rel: 'noopener'` and `gtm` value to Ethics hotline links
  packages/components/organisms/f-footer/CHANGELOG.md
  packages/components/organisms/f-footer/package.json
  packages/components/organisms/f-footer/src/tenants/da-DK.js
  packages/components/organisms/f-footer/src/tenants/en-AU.js
  packages/components/organisms/f-footer/src/tenants/en-GB.js
  packages/components/organisms/f-footer/src/tenants/en-IE.js
  packages/components/organisms/f-footer/src/tenants/en-NZ.js
  packages/components/organisms/f-footer/src/tenants/es-ES.js
  packages/components/organisms/f-footer/src/tenants/it-IT.js
  packages/components/organisms/f-footer/src/tenants/nb-NO.js
Labels: reviewed-1, reviewed-2

#862 f-checkout@0.84.0 - Automatic scroll to server-side errors
  packages/components/organisms/f-checkout/CHANGELOG.md
  packages/components/organisms/f-checkout/package.json
  packages/components/organisms/f-checkout/src/components/Checkout.vue
  packages/components/organisms/f-checkout/src/components/_tests/Checkout.test.js
Labels: reviewed-1, reviewed-2

#861 f-cookie-banner@v0.6.1 fix datalayer push
  packages/components/organisms/f-cookie-banner/CHANGELOG.md
  packages/components/organisms/f-cookie-banner/package.json
  packages/components/organisms/f-cookie-banner/src/components/CookieBanner.vue
  packages/components/organisms/f-cookie-banner/src/components/_tests/CookieBanner.test.js
  packages/components/organisms/f-cookie-banner/src/tenants/da-DK.js
  packages/components/organisms/f-cookie-banner/src/tenants/nb-NO.js
  packages/components/organisms/f-cookie-banner/test/specs/component/desktop/f-cookieConsentBanner.component.spec.js
Labels: reviewed-1, reviewed-2

#871 f-cookie-banner@1.7.0 - accessibility fix for mobile devices
  packages/components/organisms/f-cookie-banner/CHANGELOG.md
  packages/components/organisms/f-cookie-banner/package.json
  packages/components/organisms/f-cookie-banner/src/components/CookieBanner.vue
  yarn.lock
Labels: reviewed-1, reviewed-2

#866 f-checkout@0.84.1 - Checkout errors storybook
  packages/components/organisms/f-checkout/CHANGELOG.md
  packages/components/organisms/f-checkout/package.json
  packages/components/organisms/f-checkout/src/demo/checkoutMock.js
  packages/components/organisms/f-checkout/src/demo/update-checkout-server-error.json
  packages/components/organisms/f-checkout/stories/Checkout.stories.js
  packages/components/organisms/f-checkout/test-utils/component-objects/f-checkout.component.js
  packages/components/organisms/f-checkout/test/specs/component/shared/f-checkout.component.spec.js
Labels: reviewed-1

#865 f-checkout@0.86.0 - Removing hardcoded timeout before redirecting to the payment page.
  packages/components/organisms/f-checkout/CHANGELOG.md
  packages/components/organisms/f-checkout/package.json
  packages/components/organisms/f-checkout/src/components/Checkout.vue
  packages/components/organisms/f-checkout/src/components/_tests/Checkout.test.js
Labels: reviewed-1, reviewed-2

#874 f-checkout@0.88.0 - Send null for address lines 3 and 4 in PATCH request
  packages/components/organisms/f-checkout/CHANGELOG.md
  packages/components/organisms/f-checkout/package.json
  packages/components/organisms/f-checkout/src/services/mapper.js
  packages/components/organisms/f-checkout/src/services/tests/mapper.test.js
Labels: reviewed-1, reviewed-2

#879 f-checkout@0.89.0 - Automatic scrolling to inline errors.
  packages/components/organisms/f-checkout/CHANGELOG.md
  packages/components/organisms/f-checkout/package.json
  packages/components/organisms/f-checkout/src/components/Address.vue
  packages/components/organisms/f-checkout/src/components/Checkout.vue
  packages/components/organisms/f-checkout/src/components/Guest.vue
  packages/components/organisms/f-checkout/src/components/_tests/Checkout.test.js
Labels: reviewed-1, reviewed-2

#878 f-header@4.11.2 - Fixed typo in Italian header
  packages/components/organisms/f-header/CHANGELOG.md
  packages/components/organisms/f-header/package.json
  packages/components/organisms/f-header/src/tenants/it-IT.js
Labels: reviewed-1

#881 f-header@v4.12.0 - Use CSS modules (part 1)
  packages/components/organisms/f-header/CHANGELOG.md
  packages/components/organisms/f-header/package.json
  packages/components/organisms/f-header/src/assets/scss/navigation.scss
  packages/components/organisms/f-header/src/components/CountrySelectorPanel.vue
  packages/components/organisms/f-header/src/components/Header.vue
  packages/components/organisms/f-header/src/components/Logo.vue
  packages/components/organisms/f-header/src/components/SkipToMain.vue
  packages/components/organisms/f-header/src/components/UserNavigationPanel.vue
  packages/components/organisms/f-header/src/components/_tests/Logo.test.js
Labels: reviewed-1

#880 f-checkout@0.91.0 - Logger alignment changes
  packages/components/organisms/f-checkout/CHANGELOG.md
  packages/components/organisms/f-checkout/README.md
  packages/components/organisms/f-checkout/package.json
  packages/components/organisms/f-checkout/src/components/Checkout.vue
  packages/components/organisms/f-checkout/src/components/Header.vue
  packages/components/organisms/f-checkout/src/components/_tests/Checkout.test.js
  packages/components/organisms/f-checkout/src/exceptions/exceptions.js
  packages/components/organisms/f-checkout/src/mixins/logger.mixin.js
Labels: reviewed-1, reviewed-2

#858 f-registration@v0.50.0 - Add a11y markup to f-registration
  .eslintrc.js
  CHANGELOG.md
  package.json
  packages/components/organisms/f-registration/CHANGELOG.md
  packages/components/organisms/f-registration/package.json
  packages/components/organisms/f-registration/src/components/Registration.vue
  packages/components/organisms/f-registration/src/components/_tests/Registration.test.js
  packages/components/organisms/f-registration/stories/Registration.stories.js
  packages/components/organisms/f-registration/test-utils/component-objects/f-registration.component.js
  packages/components/organisms/f-registration/test-utils/component-objects/f-registration.selectors.js
  packages/components/organisms/f-registration/test/specs/component/shared/f-registration.component.spec.js
Labels: accessibility, reviewed-1, reviewed-2

#894 f-footer@4.19.0 - Expander buttons are present only for narrow screens
  packages/components/organisms/f-footer/CHANGELOG.md
  packages/components/organisms/f-footer/package.json
  packages/components/organisms/f-footer/src/components/LinkList.vue
  packages/components/organisms/f-footer/src/components/_tests/LinkList.test.js
Labels: reviewed-1

#889 f-checkout@v0.92.0 - Fallback to use AuthToken customer phones numbers
  packages/components/organisms/f-checkout/CHANGELOG.md
  packages/components/organisms/f-checkout/package.json
  packages/components/organisms/f-checkout/src/components/_tests/helpers/setup.js
  packages/components/organisms/f-checkout/src/store/checkout.module.js
  packages/components/organisms/f-checkout/src/store/tests/checkout.module.test.js
Labels: reviewed-1, reviewed-2

#899 f-checkout@v0.93.0 - Refactor Customer Details Fallback
  packages/components/organisms/f-checkout/CHANGELOG.md
  packages/components/organisms/f-checkout/package.json
  packages/components/organisms/f-checkout/src/components/Checkout.vue
  packages/components/organisms/f-checkout/src/components/_tests/Checkout.test.js
  packages/components/organisms/f-checkout/src/store/checkout.module.js
  packages/components/organisms/f-checkout/src/store/tests/__snapshots__/checkout.module.test.js.snap
  packages/components/organisms/f-checkout/src/store/tests/checkout.module.test.js
Labels: reviewed-1, reviewed-2

#903 f-http@v0.1.0 - Initial Commit
  packages/services/f-http/CHANGELOG.md
  packages/services/f-http/LICENSE
  packages/services/f-http/README.md
  packages/services/f-http/babel.config.js
  packages/services/f-http/jest.config.js
  packages/services/f-http/package.json
  packages/services/f-http/src/httpClient.js
  packages/services/f-http/src/index.js
  packages/services/f-http/src/tests/index.test.js
Labels: reviewed-1, reviewed-2

#905 f-services@v1.10.0 - Extended the tel. no. regex for GB and added AU and NZ
  packages/services/f-services/CHANGELOG.md
  packages/services/f-services/package.json
  packages/services/f-services/src/validations.js
  packages/services/f-services/tests/validations.test.js
Labels: reviewed-1, reviewed-2

#908 f-http@v0.2.0 - Developing POC
  packages/services/f-http/CHANGELOG.md
  packages/services/f-http/README.md
  packages/services/f-http/package.json
  packages/services/f-http/src/createClient.js
  packages/services/f-http/src/defaultOptions.js
  packages/services/f-http/src/errorHandler.js
  packages/services/f-http/src/httpClient.js
  packages/services/f-http/src/index.js
  packages/services/f-http/src/tests/createClient.test.js
  packages/services/f-http/src/tests/errorHandler.test.js
  packages/services/f-http/src/tests/index.test.js
Labels: reviewed-1, reviewed-2

#910 f-form-field@v1.11.0 - Extended the valid Types allowed
  packages/components/atoms/f-form-field/CHANGELOG.md
  packages/components/atoms/f-form-field/README.md
  packages/components/atoms/f-form-field/package.json
  packages/components/atoms/f-form-field/src/constants.js
Labels: reviewed-1, reviewed-2

#902 f-skeleton-loader@0.5.0 - Rename components and classnames
  packages/components/molecules/f-skeleton-loader/CHANGELOG.md
  packages/components/molecules/f-skeleton-loader/package.json
  packages/components/molecules/f-skeleton-loader/src/components/skeletons/RestaurantCard.vue
  packages/components/molecules/f-skeleton-loader/src/components/skeletons/RestaurantCardData.vue
  packages/components/molecules/f-skeleton-loader/src/components/skeletons/RestaurantCardHeader.vue
  packages/components/molecules/f-skeleton-loader/src/components/skeletons/RestaurantCarousel.vue
  packages/components/molecules/f-skeleton-loader/src/components/skeletons/RestaurantCarouselCard.vue
  packages/components/molecules/f-skeleton-loader/src/components/skeletons/Sentence.vue
  packages/components/molecules/f-skeleton-loader/src/components/skeletons/index.js
Labels: reviewed-1

#915 storybook@v0.30.0 - Documentation and Add F-Http to Storybook Context
  packages/storybook/CHANGELOG.md
  packages/storybook/config/storybook/preview.js
  packages/storybook/context/http.context.js
  packages/storybook/context/index.js
  packages/storybook/package.json
  stories/services/overview.stories.mdx
Labels: reviewed-1, reviewed-2

#897 fozzie-components@v3.29.1 - Adding support for Local circleci
  .circleci/local_config.yml
  .gitignore
  .vscode/tasks.json
  CHANGELOG.md
  package.json
  packages/components/organisms/f-registration/CHANGELOG.md
  packages/components/organisms/f-registration/package.json
  packages/components/organisms/f-registration/src/components/Registration.vue
  stories/guides/circlieci-cli.stories.mdx
Labels: reviewed-1, reviewed-2
