Repository justeattakeaway/fozzie-components, pull requests merged in 2021-02, with the labels that each got.

#663 f-user-message@v1.1.0 - Support new structure
  packages/components/molecules/f-user-message/CHANGELOG.md
  packages/components/molecules/f-user-message/package.json
  packages/components/molecules/f-user-message/src/components/_tests/UserMessage.test.js
  packages/components/molecules/f-user-message/src/services/UserMessageApi.js
  packages/components/molecules/f-user-message/stories/UserMessage.stories.js
  packages/storybook/public/user-message.json
Labels: reviewed-1, reviewed-2

#666 #trivial Update bundle watch max size fix
  CHANGELOG.md
  bundlewatch.config.js
  packages/services/f-consumer-oidc/CHANGELOG.md
  packages/services/f-consumer-oidc/package.json
  packages/services/f-consumer-oidc/webpack.config.js
  packages/services/f-development-context/CHANGELOG.md
  packages/services/f-development-context/package.json
  packages/services/f-services/CHANGELOG.md
  packages/services/f-services/package.json
  yarn.lock
Labels: reviewed-1, reviewed-2

#646 f-checkout@0.46.0 - Submit checkout data to CheckoutApi
  packages/components/organisms/f-checkout/CHANGELOG.md
  packages/components/organisms/f-checkout/README.md
  packages/components/organisms/f-checkout/package.json
  packages/components/organisms/f-checkout/src/components/Address.vue
  packages/components/organisms/f-checkout/src/components/Checkout.vue
  packages/components/organisms/f-checkout/src/components/Selector.vue
  packages/components/organisms/f-checkout/src/components/_tests/Checkout.test.js
  packages/components/organisms/f-checkout/src/components/_tests/Selector.test.js
  packages/components/organisms/f-checkout/src/components/_tests/__snapshots__/Selector.test.js.snap
  packages/components/organisms/f-checkout/src/components/_tests/helpers/setup.js
  packages/components/organisms/f-checkout/src/demo/checkout-delivery.json
  packages/components/organisms/f-checkout/src/store/checkout.module.js
  packages/components/organisms/f-checkout/src/store/mutation-types.js
  packages/components/organisms/f-checkout/src/store/tests/__snapshots__/checkout.module.test.js.snap
  packages/components/organisms/f-checkout/src/store/tests/checkout.module.test.js
  packages/components/organisms/f-checkout/stories/Checkout.stories.js
  packages/components/organisms/f-checkout/test/specs/component/f-checkout.component.spec.js
Labels: reviewed-1, reviewed-2

#653 #Trivial Add prop and event details to f-registration README.md
  packages/components/organisms/f-registration/README.md
Labels: reviewed-1, reviewed-2

#665 #Trivial Add prop and event details to f-header README.md
  packages/components/organisms/f-header/README.md
  packages/components/organisms/f-header/src/components/Header.vue
Labels: reviewed-1

#671 f-checkout@0.48.0 - Include user note in PATCH request
  packages/components/organisms/f-checkout/CHANGELOG.md
  packages/components/organisms/f-checkout/package.json
  packages/components/organisms/f-checkout/src/components/Checkout.vue
  packages/components/organisms/f-checkout/src/components/UserNote.vue
  packages/components/organisms/f-checkout/src/components/_tests/helpers/setup.js
  packages/components/organisms/f-checkout/src/demo/checkout-collection.json
  packages/components/organisms/f-checkout/src/demo/checkout-delivery.json
  packages/components/organisms/f-checkout/src/services/mapper.js
  packages/components/organisms/f-checkout/src/services/tests/mapper.test.js
  packages/components/organisms/f-checkout/src/store/checkout.module.js
  packages/components/organisms/f-checkout/src/store/mutation-types.js
  packages/components/organisms/f-checkout/src/store/tests/__snapshots__/checkout.module.test.js.snap
  packages/components/organisms/f-checkout/src/store/tests/checkout.module.test.js
Labels: reviewed-1, reviewed-2

#677 f-checkout@v0.50.0 - update emitted events
  packages/components/organisms/f-checkout/CHANGELOG.md
  packages/components/organisms/f-checkout/README.md
  packages/components/organisms/f-checkout/package.json
  packages/components/organisms/f-checkout/src/components/Checkout.vue
  packages/components/organisms/f-checkout/src/components/_tests/Checkout.test.js
  packages/components/organisms/f-checkout/src/event-names.js
Labels: reviewed-1, reviewed-2

#680 f-footer@4.8.2 ANZ Footer links update
  packages/components/organisms/f-footer/CHANGELOG.md
  packages/components/organisms/f-footer/README.md
  packages/components/organisms/f-footer/package.json
  packages/components/organisms/f-footer/src/tenants/en-AU.js
Labels: reviewed-1, reviewed-2

#686 f-checkout@0.51.0 - Handle PATCH response, and mock in Storybook
  packages/components/organisms/f-checkout/CHANGELOG.md
  packages/components/organisms/f-checkout/package.json
  packages/components/organisms/f-checkout/src/demo/checkoutMock.js
  packages/components/organisms/f-checkout/src/demo/update-checkout.json
  packages/components/organisms/f-checkout/src/store/checkout.module.js
  packages/components/organisms/f-checkout/src/store/mutation-types.js
  packages/components/organisms/f-checkout/src/store/tests/__snapshots__/checkout.module.test.js.snap
  packages/components/organisms/f-checkout/src/store/tests/checkout.module.test.js
  packages/components/organisms/f-checkout/stories/Checkout.stories.js
Labels: reviewed-1

#696 f-checkout@0.52.0 - Prop refactorings.
  packages/components/organisms/f-checkout/CHANGELOG.md
  packages/components/organisms/f-checkout/README.md
  packages/components/organisms/f-checkout/package.json
  packages/components/organisms/f-checkout/src/components/Checkout.vue
  packages/components/organisms/f-checkout/src/components/_tests/Checkout.test.js
  packages/components/organisms/f-checkout/src/components/_tests/helpers/setup.js
  packages/components/organisms/f-checkout/src/demo/checkoutMock.js
  packages/components/organisms/f-checkout/src/store/checkout.module.js
  packages/components/organisms/f-checkout/src/store/tests/checkout.module.test.js
  packages/components/organisms/f-checkout/stories/Checkout.stories.js
  packages/components/organisms/f-checkout/test/specs/component/f-checkout-collection.component.spec.js
  packages/components/organisms/f-checkout/test/specs/component/f-checkout-delivery.component.spec.js
  packages/components/organisms/f-checkout/test/specs/component/f-checkout-guest.component.spec.js
  packages/components/organisms/f-checkout/test/specs/component/f-checkout.component.spec.js
Labels: reviewed-1, reviewed-2

#694 f-user-message@v1.2.0 - user message component tests
  packages/components/molecules/f-user-message/CHANGELOG.md
  packages/components/molecules/f-user-message/jest.config.js
  packages/components/molecules/f-user-message/package.json
  packages/components/molecules/f-user-message/src/components/UserMessage.vue
  packages/components/molecules/f-user-message/test-utils/component-objects/f-user-message-selectors.js
  packages/components/molecules/f-user-message/test-utils/component-objects/f-user-message.component.js
  packages/components/molecules/f-user-message/test/specs/accessibility/axe-accessibility.spec.js
  packages/components/molecules/f-user-message/test/specs/component/f-user-message.component.spec.js
Labels: wip

#703 generator-component@v2.0.1 – README fixes
  packages/tools/generator-component/CHANGELOG.md
  packages/tools/generator-component/generators/app/templates/README.md
  packages/tools/generator-component/package.json
Labels: reviewed-1, reviewed-2

#697 f-checkout@0.53.0 Loading customer address from API endpoint if Checkout endpoint did not return it. Part 1
  packages/components/organisms/f-checkout/CHANGELOG.md
  packages/components/organisms/f-checkout/package.json
  packages/components/organisms/f-checkout/src/components/Checkout.vue
  packages/components/organisms/f-checkout/src/components/_tests/Checkout.test.js
  packages/components/organisms/f-checkout/src/components/_tests/helpers/setup.js
  packages/components/organisms/f-checkout/src/demo/checkoutMock.js
  packages/components/organisms/f-checkout/src/demo/get-address.json
  packages/components/organisms/f-checkout/src/event-names.js
  packages/components/organisms/f-checkout/src/store/checkout.module.js
  packages/components/organisms/f-checkout/src/store/tests/checkout.module.test.js
  packages/components/organisms/f-checkout/stories/Checkout.stories.js
Labels: reviewed-1, reviewed-2

#700 f-status-banner@v0.1.0 - Base component.
  packages/components/organisms/f-status-banner/.eslintignore
  packages/components/organisms/f-status-banner/CHANGELOG.md
  packages/components/organisms/f-status-banner/LICENSE
  packages/components/organisms/f-status-banner/README.md
  packages/components/organisms/f-status-banner/babel.config.js
  packages/components/organisms/f-status-banner/jest.config.js
  packages/components/organisms/f-status-banner/package.json
  packages/components/organisms/f-status-banner/src/assets/scss/common.scss
  packages/components/organisms/f-status-banner/src/components/StatusBanner.vue
  packages/components/organisms/f-status-banner/src/components/_tests/StatusBanner.test.js
  packages/components/organisms/f-status-banner/src/index.js
  packages/components/organisms/f-status-banner/src/services/StatusBannerServiceApi.js
  packages/components/organisms/f-status-banner/src/tenants/da-DK.js
  packages/components/organisms/f-status-banner/src/tenants/en-AU.js
  packages/components/organisms/f-status-banner/src/tenants/en-GB.js
  packages/components/organisms/f-status-banner/src/tenants/en-IE.js
  packages/components/organisms/f-status-banner/src/tenants/en-NZ.js
  packages/components/organisms/f-status-banner/src/tenants/es-ES.js
  packages/components/organisms/f-status-banner/src/tenants/index.js
  packages/components/organisms/f-status-banner/src/tenants/it-IT.js
  packages/components/organisms/f-status-banner/src/tenants/nb-NO.js
  packages/components/organisms/f-status-banner/stories/StatusBanner.stories.js
  packages/components/organisms/f-status-banner/test-utils/component-objects/README.md
  packages/components/organisms/f-status-banner/test-utils/component-objects/f-statusBanner.component.js
  packages/components/organisms/f-status-banner/test/specs/accessibility/axe-accessibility.spec.js
  packages/components/organisms/f-status-banner/test/specs/component/README.md
  packages/components/organisms/f-status-banner/test/specs/component/f-statusBanner.component.spec.js
  packages/components/organisms/f-status-banner/vue.config.js
Labels: reviewed-1, reviewed-2

#699 f-checkout@0.55.0 - Utilise vue svg loader for displaying SVGs
  packages/components/organisms/f-checkout/CHANGELOG.md
  packages/components/organisms/f-checkout/jest.config.js
  packages/components/organisms/f-checkout/package.json
  packages/components/organisms/f-checkout/src/components/Error.vue
  packages/components/organisms/f-checkout/svgTransform.js
  packages/components/organisms/f-checkout/vue.config.js
  packages/storybook/CHANGELOG.md
  packages/storybook/package.json
  packages/storybook/vue.config.js
Labels: reviewed-1

#701 f-checkout@v0.56.0 - use $logger to log events
  packages/components/organisms/f-checkout/CHANGELOG.md
  packages/components/organisms/f-checkout/package.json
  packages/components/organisms/f-checkout/src/components/Checkout.vue
  packages/components/organisms/f-checkout/src/components/Header.vue
  packages/components/organisms/f-checkout/src/components/_tests/Checkout.test.js
  packages/components/organisms/f-checkout/src/components/_tests/Header.test.js
  packages/components/organisms/f-checkout/src/components/_tests/helpers/setup.js
Labels: reviewed-1, reviewed-2

#714 f-checkout@0.56.1 - Use comment in vue template correctly
  packages/components/organisms/f-checkout/CHANGELOG.md
  packages/components/organisms/f-checkout/package.json
  packages/components/organisms/f-checkout/src/components/Error.vue
Labels: reviewed-1, reviewed-2

#717 f-checkout@v0.56.2 - Fix logging
  packages/components/organisms/f-checkout/CHANGELOG.md
  packages/components/organisms/f-checkout/package.json
  packages/components/organisms/f-checkout/src/components/Checkout.vue
Labels: reviewed-1, reviewed-2

#720 fozzie-components@v3.13.0 – Contributing and Dependency guides
  CHANGELOG.md
  CONTRIBUTING.md
  package.json
  packages/storybook/CHANGELOG.md
  packages/storybook/config/storybook/manager-head.html
  packages/storybook/config/storybook/preview-head.html
  packages/storybook/config/storybook/preview.js
  packages/storybook/package.json
  stories/getting-started/contributing-guide.stories.mdx
  stories/getting-started/getting-started.stories.mdx
  stories/guides/component-dependencies.stories.mdx
  stories/guides/typography.stories.mdx
Labels: reviewed-1, reviewed-2

#716 f-searchbox@4.0.0-beta.25 - media query fix
  packages/components/molecules/f-searchbox/CHANGELOG.md
  packages/components/molecules/f-searchbox/package.json
  packages/components/molecules/f-searchbox/src/components/Form.vue
Labels: reviewed-1, reviewed-2

#688 f-tabs@v0.2.1 - Unit tests
  packages/components/molecules/f-tabs/CHANGELOG.md
  packages/components/molecules/f-tabs/package.json
  packages/components/molecules/f-tabs/src/components/Tab.vue
  packages/components/molecules/f-tabs/src/components/Tabs.vue
  packages/components/molecules/f-tabs/src/components/tests/Tab.test.js
  packages/components/molecules/f-tabs/src/components/tests/Tabs.test.js
Labels: reviewed-1, reviewed-2

#722 f-checkout@0.57.0: Logic to choose closest address for uk tenant
  packages/components/organisms/f-checkout/CHANGELOG.md
  packages/components/organisms/f-checkout/package.json
  packages/components/organisms/f-checkout/src/components/Checkout.vue
  packages/components/organisms/f-checkout/src/services/addressService.js
  packages/components/organisms/f-checkout/src/services/tests/addressService.test.js
  packages/components/organisms/f-checkout/src/store/checkout.module.js
  packages/components/organisms/f-checkout/src/utils/helpers.js
Labels: reviewed-1, reviewed-2

#723 f-content-cards@3.2.0
  packages/components/organisms/f-content-cards/CHANGELOG.md
  packages/components/organisms/f-content-cards/jest.config.js
  packages/components/organisms/f-content-cards/package.json
  packages/components/organisms/f-content-cards/src/components/cardTemplates/homePromotionCard/HomePromotionCard1.vue
  packages/components/organisms/f-content-cards/src/components/cardTemplates/homePromotionCard/HomePromotionCard2.vue
  packages/components/organisms/f-content-cards/src/components/cardTemplates/homePromotionCard/_tests/HomePromotionCard1.test.js
  packages/components/organisms/f-content-cards/src/components/cardTemplates/homePromotionCard/_tests/HomePromotionCard2.test.js
Labels: reviewed-1

#724 f-checkout@0.58.0 - Add loading spinner if requests take > 1s
  CHANGELOG.md
  package.json
  packages/components/organisms/f-checkout/CHANGELOG.md
  packages/components/organisms/f-checkout/package.json
  packages/components/organisms/f-checkout/src/components/Checkout.vue
  packages/components/organisms/f-checkout/src/components/_tests/Checkout.test.js
  yarn.lock
Labels: enhancement

#735 f-content-cards@v3.3.0: Stamp Card
  packages/components/organisms/f-content-cards/CHANGELOG.md
  packages/components/organisms/f-content-cards/README.md
  packages/components/organisms/f-content-cards/docs/StampCard1.md
  packages/components/organisms/f-content-cards/package.json
  packages/components/organisms/f-content-cards/src/components/ContentCards.js
  packages/components/organisms/f-content-cards/src/components/cardTemplates/StampCard1.vue
  packages/components/organisms/f-content-cards/src/components/cardTemplates/_tests/StampCard1.test.js
  packages/components/organisms/f-content-cards/src/components/cardTemplates/images/stamp-empty-15.svg
  packages/components/organisms/f-content-cards/src/components/cardTemplates/images/stamp-full-15.svg
  packages/components/organisms/f-content-cards/src/components/cardTemplates/index.js
  packages/components/organisms/f-content-cards/src/index.js
  packages/components/organisms/f-content-cards/stories/ContentCards.stories.js
  packages/components/organisms/f-content-cards/stories/HomePromotionCard1.stories.js
  packages/components/organisms/f-content-cards/stories/StampCard.stories.js
  packages/components/organisms/f-content-cards/stories/images/an-viet.png
  packages/components/organisms/f-content-cards/stories/mockData/cards.js
  yarn.lock
Labels: reviewed-1

#736 f-card@v1.0.0 – Removing unecessary config and story controls added
  packages/components/atoms/f-card/CHANGELOG.md
  packages/components/atoms/f-card/README.md
  packages/components/atoms/f-card/package.json
  packages/components/atoms/f-card/src/components/Card.vue
  packages/components/atoms/f-card/src/components/_tests/Card.test.js
  packages/components/atoms/f-card/src/tenants/da-DK.js
  packages/components/atoms/f-card/src/tenants/en-AU.js
  packages/components/atoms/f-card/src/tenants/en-GB.js
  packages/components/atoms/f-card/src/tenants/en-IE.js
  packages/components/atoms/f-card/src/tenants/en-NZ.js
  packages/components/atoms/f-card/src/tenants/es-ES.js
  packages/components/atoms/f-card/src/tenants/index.js
  packages/components/atoms/f-card/src/tenants/it-IT.js
  packages/components/atoms/f-card/src/tenants/nb-NO.js
  packages/components/atoms/f-card/stories/card.stories.js
Labels: reviewed-1

#733 fozzie-components - add page object model to components #trivial
  packages/components/molecules/f-tabs/CHANGELOG.md
  packages/components/molecules/f-tabs/test-utils/component-objects/f-tabs.component.js
  packages/components/molecules/f-tabs/test/specs/component/f-tabs.component.spec.js
  packages/components/molecules/f-user-message/test/specs/component/f-user-message.component.spec.js
  packages/components/organisms/f-checkout/CHANGELOG.md
  packages/components/organisms/f-checkout/babel.config.js
  packages/components/organisms/f-checkout/package.json
  packages/components/organisms/f-checkout/test-utils/component-objects/f-checkout.component.js
  packages/components/organisms/f-checkout/test/specs/accessibility/axe-accessibility.spec.js
  packages/components/organisms/f-checkout/test/specs/component/f-checkout-collection.component.spec.js
  packages/components/organisms/f-checkout/test/specs/component/f-checkout-delivery.component.spec.js
  packages/components/organisms/f-checkout/test/specs/component/f-checkout-guest.component.spec.js
  packages/components/organisms/f-checkout/test/specs/component/f-checkout.component.spec.js
  packages/components/organisms/f-footer/CHANGELOG.md
  packages/components/organisms/f-footer/package.json
  packages/components/organisms/f-footer/src/components/IconList.vue
  packages/components/organisms/f-footer/test-utils/component-objects/f-footer.component.js
  packages/components/organisms/f-footer/test-utils/component-objects/f-footer.selectors.js
  packages/components/organisms/f-footer/test/specs/accessibility/axe-accessibility.spec.js
  packages/components/organisms/f-footer/test/specs/component/f-footer-au.component.spec.js
  packages/components/organisms/f-footer/test/specs/component/f-footer.component.spec.js
Labels: reviewed-1
