Repository justeattakeaway/fozzie-components, pull requests merged in 2021-12, with the labels that each got.

#1511 f-card-with-content@1.0.0 - Add button & card to peerDep.
  packages/components/molecules/f-card-with-content/CHANGELOG.md
  packages/components/molecules/f-card-with-content/README.md
  packages/components/molecules/f-card-with-content/package.json
  packages/components/molecules/f-card-with-content/src/components/CardWithContent.vue
  packages/components/molecules/f-card-with-content/vue.config.js
  yarn.lock
Labels: reviewed-1, molecules

#1494 f-header@7.2.0 - Extract NavLink and CountrySelector components
  packages/components/organisms/f-header/CHANGELOG.md
  packages/components/organisms/f-header/package.json
  packages/components/organisms/f-header/src/assets/scss/navigation.scss
  packages/components/organisms/f-header/src/components/CountrySelector.vue
  packages/components/organisms/f-header/src/components/CountrySelectorPanel.vue
  packages/components/organisms/f-header/src/components/NavLink.vue
  packages/components/organisms/f-header/src/components/Navigation.vue
  packages/components/organisms/f-header/src/components/UserNavigationPanel.vue
  packages/components/organisms/f-header/src/components/_tests/CountrySelector.test.js
  packages/components/organisms/f-header/src/components/_tests/Navigation.test.js
  packages/components/organisms/f-header/src/components/_tests/helpers/navigation.js
  packages/components/organisms/f-header/src/services/analytics/objects.js
  packages/components/organisms/f-header/stories/header.stories.js
  packages/components/organisms/f-header/test-utils/component-objects/f-header.selectors.js
  packages/components/organisms/f-header/test-utils/helpers/objects.js
  packages/components/organisms/f-header/test/visual/f-header.visual.desktop.spec.js
  packages/components/organisms/f-header/test/visual/f-header.visual.mobile.spec.js
  yarn.lock
Labels: reviewed-1, reviewed-2, organisms

#1514 f-contact-preferences@v0.9.1 – Updating button classname
  packages/components/pages/f-contact-preferences/CHANGELOG.md
  packages/components/pages/f-contact-preferences/package.json
  packages/components/pages/f-contact-preferences/src/components/ContactPreferences.vue
Labels: reviewed-1, reviewed-2, pages

#1516 f-form-field@4.3.0 - Ensure labelDescription prop is passed to checkbox label
  packages/components/atoms/f-form-field/CHANGELOG.md
  packages/components/atoms/f-form-field/package.json
  packages/components/atoms/f-form-field/src/components/FormSelectionControl.vue
  packages/components/atoms/f-form-field/src/components/_tests/FormSelectionControl.test.js
  packages/components/atoms/f-form-field/stories/Checkbox.stories.js
Labels: reviewed-1, please review, atoms

#1518 f-cookie-banner@v3.6.1 - changes to cookie banner URL to fix browser test
  packages/components/organisms/f-cookie-banner/CHANGELOG.md
  packages/components/organisms/f-cookie-banner/package.json
  packages/components/organisms/f-cookie-banner/src/tenants/es-ES.js
Labels: organisms

#1522 f-form-field@4.4.0 - Change label colour for disabled checkbox
  packages/components/atoms/f-form-field/CHANGELOG.md
  packages/components/atoms/f-form-field/package.json
  packages/components/atoms/f-form-field/src/components/FormSelectionControl.vue
Labels: reviewed-1, reviewed-2, please review, atoms

#1521 f-account-info@0.7.0 - Add GET Consumer Addresses method to API provider
  packages/components/pages/f-account-info/CHANGELOG.md
  packages/components/pages/f-account-info/package.json
  packages/components/pages/f-account-info/src/constants.js
  packages/components/pages/f-account-info/src/services/providers/Consumer.api.js
  packages/components/pages/f-account-info/src/services/providers/_tests/Consumer.api.test.js
Labels: reviewed-1, please review, pages

#1524 f-card@3.4.0 - Pr comment to fix selector.
  packages/components/atoms/f-card/CHANGELOG.md
  packages/components/atoms/f-card/package.json
  packages/components/atoms/f-card/src/components/Card.vue
Labels: please review, atoms

#1515 f-checkout@v3.12.0 - Move all errors to checkoutErrorMessages
  packages/components/pages/f-checkout/CHANGELOG.md
  packages/components/pages/f-checkout/package.json
  packages/components/pages/f-checkout/src/checkout-issues.js
  packages/components/pages/f-checkout/src/components/Checkout.vue
  packages/components/pages/f-checkout/src/components/Error.vue
  packages/components/pages/f-checkout/src/components/ErrorDialog.vue
  packages/components/pages/f-checkout/src/components/_tests/Checkout.test.js
  packages/components/pages/f-checkout/src/components/_tests/Error.test.js
  packages/components/pages/f-checkout/src/components/_tests/ErrorDialog.test.js
  packages/components/pages/f-checkout/src/components/_tests/helpers/setup.js
  packages/components/pages/f-checkout/src/constants.js
  packages/components/pages/f-checkout/src/exceptions/exceptions.js
  packages/components/pages/f-checkout/src/log-events.js
  packages/components/pages/f-checkout/src/services/mapper.js
  packages/components/pages/f-checkout/src/services/tests/analytics.test.js
  packages/components/pages/f-checkout/src/services/tests/mapper.test.js
  packages/components/pages/f-checkout/src/store/checkout.module.js
  packages/components/pages/f-checkout/src/store/mutation-types.js
  packages/components/pages/f-checkout/src/store/tests/__snapshots__/checkout.module.test.js.snap
  packages/components/pages/f-checkout/src/store/tests/checkout.module.test.js
  packages/components/pages/f-checkout/stories/Checkout.stories.js
  packages/components/pages/f-checkout/stories/demo/create-guest-error.json
  packages/components/pages/f-checkout/stories/demo/mockResponses.js
Labels: pages

#1523 f-header@7.3.0 - Add support for custom navigation links
  packages/components/organisms/f-header/CHANGELOG.md
  packages/components/organisms/f-header/README.md
  packages/components/organisms/f-header/package.json
  packages/components/organisms/f-header/src/components/Header.vue
  packages/components/organisms/f-header/src/components/Navigation.vue
  packages/components/organisms/f-header/src/components/_tests/Navigation.test.js
  packages/components/organisms/f-header/src/components/_tests/__snapshots__/Header.test.js.snap
  packages/components/organisms/f-header/stories/header.stories.js
  packages/components/organisms/f-header/test-utils/helpers/objects.js
  packages/components/organisms/f-header/test/visual/f-header.visual.desktop.spec.js
  packages/components/organisms/f-header/test/visual/f-header.visual.mobile.spec.js
Labels: organisms

#1517 f-restaurant-card@v0.9.0 - add ratings component
  packages/components/molecules/f-restaurant-card/CHANGELOG.md
  packages/components/molecules/f-restaurant-card/package.json
  packages/components/molecules/f-restaurant-card/src/components/RestaurantCard.v1.vue
  packages/components/molecules/f-restaurant-card/src/components/_tests/RestaurantCard.v1.test.js
  packages/components/molecules/f-restaurant-card/src/components/subcomponents/RestaurantBadges/RestaurantBadge.vue
  packages/components/molecules/f-restaurant-card/src/components/subcomponents/RestaurantBadges/RestaurantBadges.vue
  packages/components/molecules/f-restaurant-card/src/components/subcomponents/RestaurantBadges/_tests/RestaurantBadge.test.js
  packages/components/molecules/f-restaurant-card/src/components/subcomponents/RestaurantBadges/_tests/RestaurantBadges.test.js
  packages/components/molecules/f-restaurant-card/src/components/subcomponents/RestaurantRating/RestaurantRating.vue
  packages/components/molecules/f-restaurant-card/src/components/subcomponents/RestaurantRating/_tests/RestaurantRating.test.js
  packages/components/molecules/f-restaurant-card/src/components/subcomponents/RestaurantTags/RestaurantTag.vue
  packages/components/molecules/f-restaurant-card/src/components/subcomponents/RestaurantTags/RestaurantTags.vue
  packages/components/molecules/f-restaurant-card/src/components/subcomponents/RestaurantTags/_tests/RestaurantTag.test.js
  packages/components/molecules/f-restaurant-card/src/components/subcomponents/RestaurantTags/_tests/RestaurantTags.test.js
  packages/components/molecules/f-restaurant-card/stories/DeliveryTimeMeta.stories.js
  packages/components/molecules/f-restaurant-card/stories/IconText.stories.js
  packages/components/molecules/f-restaurant-card/stories/RestaurantCard.stories.js
  packages/components/molecules/f-restaurant-card/stories/RestaurantCuisines.stories.js
  packages/components/molecules/f-restaurant-card/stories/RestaurantRating.stories.js
  packages/components/molecules/f-restaurant-card/stories/RestaurantTag.stories.js
  packages/components/molecules/f-restaurant-card/stories/RestaurantTags.stories.js
  packages/components/molecules/f-restaurant-card/test-utils/component-objects/f-restaurantCard.component.js
Labels: please review, molecules

#1528 f-vue-icons@v3.2.0 - update offer icon
  packages/tools/f-vue-icons/CHANGELOG.md
  packages/tools/f-vue-icons/icons/OfferIcon.js
  packages/tools/f-vue-icons/package.json
  packages/tools/f-vue-icons/src/components/OfferIcon.js
  yarn.lock
Labels: please review, tools

#1527 f-template-subnav@v0.4.0 – Updated classnames
  packages/components/templates/f-template-subnav/CHANGELOG.md
  packages/components/templates/f-template-subnav/package.json
  packages/components/templates/f-template-subnav/src/components/TemplateSubNav.vue
Labels: reviewed-1, templates

#1532 f-vue-icons@v3.2.1 - use newer legend icon (whitespace trimmed)
  packages/tools/f-vue-icons/CHANGELOG.md
  packages/tools/f-vue-icons/icons/LegendIcon.js
  packages/tools/f-vue-icons/package.json
  packages/tools/f-vue-icons/src/components/LegendIcon.js
  yarn.lock
Labels: please review, tools

#1529 f-restaurant-card@v0.10.0 - add offers
  packages/components/molecules/f-restaurant-card/CHANGELOG.md
  packages/components/molecules/f-restaurant-card/package.json
  packages/components/molecules/f-restaurant-card/src/components/RestaurantCard.v1.vue
  packages/components/molecules/f-restaurant-card/src/components/_tests/RestaurantCard.v1.test.js
  packages/components/molecules/f-restaurant-card/stories/RestaurantCard.stories.js
Labels: please review, molecules

#1534 f-wdio-utils@v0.5.0 - Expose the timeout option on `waitForComponent()` method
  packages/services/f-wdio-utils/CHANGELOG.md
  packages/services/f-wdio-utils/package.json
  packages/services/f-wdio-utils/src/page.object.js
Labels: reviewed-1, services

#1526 f-account-info@v0.8.0 - Add the Vuex store (get data only)
  packages/components/pages/f-account-info/CHANGELOG.md
  packages/components/pages/f-account-info/package.json
  packages/components/pages/f-account-info/src/components/_tests/AccountInfo.test.js
  packages/components/pages/f-account-info/src/constants.js
  packages/components/pages/f-account-info/src/services/mapping/consumer.mapper.js
  packages/components/pages/f-account-info/src/services/providers/AccountInfo.api.js
  packages/components/pages/f-account-info/src/services/providers/Consumer.api.js
  packages/components/pages/f-account-info/src/services/providers/_tests/AccountInfo.api.test.js
  packages/components/pages/f-account-info/src/store/_tests/accountInfo.module.test.js
  packages/components/pages/f-account-info/src/store/accountInfo.module.js
  packages/components/pages/f-account-info/stories/AccountInfo.stories.js
  packages/components/pages/f-account-info/test-utils/setup.js
Labels: reviewed-1, reviewed-2, pages

#1536 #trivial - f-account-info - Renamed `fields` to `consumer` in preparation of the Store State model
  packages/components/pages/f-account-info/src/components/AccountInfo.vue
  packages/components/pages/f-account-info/src/components/AccountInfoValidationMixin.vue
  packages/components/pages/f-account-info/src/components/EmailAddressField.vue
  packages/components/pages/f-account-info/src/components/_tests/AccountInfo.test.js
  packages/components/pages/f-account-info/src/components/_tests/AccountInfoValidationMixin.test.js
  packages/components/pages/f-account-info/src/tenants/en-GB.js
Labels: reviewed-1, reviewed-2, pages

#1530 f-restaurant-card@v0.11.0 - add local legend logo
  packages/components/molecules/f-restaurant-card/CHANGELOG.md
  packages/components/molecules/f-restaurant-card/package.json
  packages/components/molecules/f-restaurant-card/src/components/RestaurantCard.v1.vue
  packages/components/molecules/f-restaurant-card/src/components/_tests/RestaurantCard.v1.test.js
  packages/components/molecules/f-restaurant-card/stories/RestaurantCard.stories.js
Labels: molecules

#1519 f-contact-preferences@0.10.0 - Update to use f-form-field
  packages/components/pages/f-contact-preferences/CHANGELOG.md
  packages/components/pages/f-contact-preferences/package.json
  packages/components/pages/f-contact-preferences/src/components/ContactPreferences.vue
  packages/components/pages/f-contact-preferences/src/components/_tests/ContactPreferences.test.js
  packages/components/pages/f-contact-preferences/test-utils/component-objects/selectors.js
  yarn.lock
Labels: reviewed-1, please review, pages

#1533 f-vue-icons@3.3.0 - new jet logos
  packages/tools/f-vue-icons/CHANGELOG.md
  packages/tools/f-vue-icons/icons/LogoJetHorizontalIcon.js
  packages/tools/f-vue-icons/icons/LogoJetSecondaryIcon.js
  packages/tools/f-vue-icons/icons/LogoJetVerticalIcon.js
  packages/tools/f-vue-icons/package.json
  packages/tools/f-vue-icons/src/components/LogoJetHorizontalIcon.js
  packages/tools/f-vue-icons/src/components/LogoJetSecondaryIcon.js
  packages/tools/f-vue-icons/src/components/LogoJetVerticalIcon.js
  packages/tools/f-vue-icons/src/index.js
  yarn.lock
Labels: tools

#1538 f-navigation-links@1.0.0 - move f-links to peer deps
  packages/components/molecules/f-navigation-links/CHANGELOG.md
  packages/components/molecules/f-navigation-links/README.md
  packages/components/molecules/f-navigation-links/package.json
  packages/components/molecules/f-navigation-links/src/components/NavigationLinks.vue
  packages/components/molecules/f-navigation-links/vue.config.js
  yarn.lock
Labels: molecules

#1545 f-cookie-banner@v3.7.0 - Address style inheritance issues
  packages/components/organisms/f-cookie-banner/CHANGELOG.md
  packages/components/organisms/f-cookie-banner/package.json
  packages/components/organisms/f-cookie-banner/src/components/CookieBanner.vue
Labels: reviewed-1, reviewed-2, organisms

#1535 f-account-info@0.10.0 - Add defence to form submission.
  packages/components/pages/f-account-info/CHANGELOG.md
  packages/components/pages/f-account-info/package.json
  packages/components/pages/f-account-info/src/components/AccountInfo.vue
  packages/components/pages/f-account-info/src/components/_tests/AccountInfo.test.js
Labels: reviewed-1, reviewed-2, please review, pages

#1548 f-account-info@v0.11.0 - Wired up the store action `editConsumerDetails` to the Template
  packages/components/pages/f-account-info/CHANGELOG.md
  packages/components/pages/f-account-info/package.json
  packages/components/pages/f-account-info/src/components/AccountInfo.vue
  packages/components/pages/f-account-info/src/components/_tests/AccountInfo.test.js
  packages/components/pages/f-account-info/src/store/_tests/accountInfo.module.test.js
  packages/components/pages/f-account-info/src/store/accountInfo.module.js
  packages/components/pages/f-account-info/test-utils/setup.js
Labels: reviewed-1, reviewed-2, please review, pages

#1546 f-header@9.0.0 - add atom deps to peer deps
  packages/components/organisms/f-header/CHANGELOG.md
  packages/components/organisms/f-header/README.md
  packages/components/organisms/f-header/package.json
  packages/components/organisms/f-header/src/components/CountrySelector.vue
  packages/components/organisms/f-header/src/components/CountrySelectorPanel.vue
  packages/components/organisms/f-header/src/components/Navigation.vue
  packages/components/organisms/f-header/stories/header.stories.js
  packages/components/organisms/f-header/test-utils/component-objects/f-header.component.js
  packages/components/organisms/f-header/vue.config.js
Labels: organisms

#1541 f-status-banner@5.0.0 - Add peerDep, update changelog.
  packages/components/organisms/f-status-banner/CHANGELOG.md
  packages/components/organisms/f-status-banner/README.md
  packages/components/organisms/f-status-banner/package.json
  packages/components/organisms/f-status-banner/src/components/MainBannerContainer.vue
  packages/components/organisms/f-status-banner/stories/StatusBanner.stories.js
  packages/components/organisms/f-status-banner/vue.config.js
Labels: organisms

#1551 f-header@9.1.0 - jet logo
  packages/components/organisms/f-header/CHANGELOG.md
  packages/components/organisms/f-header/README.md
  packages/components/organisms/f-header/package.json
  packages/components/organisms/f-header/src/components/CountrySelectorPanel.vue
  packages/components/organisms/f-header/src/components/Header.vue
  packages/components/organisms/f-header/src/components/Logo.vue
  packages/components/organisms/f-header/src/components/_tests/Header.test.js
  packages/components/organisms/f-header/src/components/_tests/Logo.test.js
  packages/components/organisms/f-header/stories/header.stories.js
Labels: reviewed-1, reviewed-2, organisms

#1561 fozzie-components@v5.7.0 - Modify Storybook config to prevent out of memory exception when running global builds.
  .circleci/config.yml
  CHANGELOG.md
  package.json
  packages/storybook/CHANGELOG.md
  packages/storybook/config/storybook/main.js
  packages/storybook/package.json
  yarn.lock
Labels: storybook

#1559 f-contact-preferences@0.12.0 - Simplified Storybook file + some package updates
  packages/components/pages/f-contact-preferences/CHANGELOG.md
  packages/components/pages/f-contact-preferences/package.json
  packages/components/pages/f-contact-preferences/stories/ContactPreferences.stories.js
  packages/components/pages/f-contact-preferences/stories/story.helper.js
Labels: reviewed-1, reviewed-2, pages

#1544 f-account-info@v0.12.0 - Added the Storybook Story
  packages/components/pages/f-account-info/CHANGELOG.md
  packages/components/pages/f-account-info/package.json
  packages/components/pages/f-account-info/stories/AccountInfo.stories.js
  packages/components/pages/f-account-info/stories/payloads/get-consumer-addresses.json
  packages/components/pages/f-account-info/stories/payloads/get-consumer-details.json
  packages/components/pages/f-account-info/stories/story.helper.js
Labels: reviewed-1, reviewed-2, please review, pages

#1562 #trivial - small fixes for pages component tests
  packages/components/pages/f-account-info/test-utils/component-objects/README.md
  packages/components/pages/f-account-info/test-utils/component-objects/f-accountInfo.component.js
  packages/components/pages/f-account-info/test/accessibility/axe-accessibility.spec.js
  packages/components/pages/f-account-info/test/component/README.md
  packages/components/pages/f-account-info/test/component/f-accountInfo.component.spec.js
  packages/components/pages/f-checkout/package.json
  packages/components/pages/f-checkout/test-utils/component-objects/f-checkout-selectors.js
  packages/components/pages/f-checkout/test-utils/component-objects/f-checkout.component.js
  packages/components/pages/f-checkout/test/component/f-checkout.component.spec.js
  packages/components/pages/f-checkout/test/visual/f-checkout-authenticated.visual.desktop.spec.js
  packages/components/pages/f-contact-preferences/package.json
  packages/components/pages/f-contact-preferences/test-utils/component-objects/README.md
  packages/components/pages/f-contact-preferences/test-utils/component-objects/f-contactPreferences.component.js
  packages/components/pages/f-contact-preferences/test/accessibility/axe-accessibility.spec.js
  packages/components/pages/f-contact-preferences/test/component/README.md
  packages/components/pages/f-contact-preferences/test/component/f-contact-preferences.component.spec.js
  packages/components/pages/f-registration/package.json
  packages/components/pages/f-registration/test-utils/component-objects/f-registration.component.js
  packages/components/pages/f-registration/test/component/f-registration.component.spec.js
  packages/components/pages/f-registration/test/visual/f-registration.visual.desktop.spec.js
  packages/components/pages/f-registration/test/visual/f-registration.visual.mobile.spec.js
  packages/components/pages/f-takeawaypay-activation/package.json
  packages/components/pages/f-takeawaypay-activation/test-utils/component-objects/README.md
  packages/components/pages/f-takeawaypay-activation/test-utils/component-objects/f-takeawaypayActivation.component.js
  packages/components/pages/f-takeawaypay-activation/test/component/f-takeawaypayActivation.component.spec.js
  yarn.lock
Labels: pages

#1547 #trivial fixes for atom component tests
  packages/components/atoms/f-button/package.json
  packages/components/atoms/f-button/test-utils/component-objects/f-button--action.component.js
  packages/components/atoms/f-button/test-utils/component-objects/f-button--icon.component.js
  packages/components/atoms/f-button/test-utils/component-objects/f-button--link.component.js
  packages/components/atoms/f-button/test-utils/component-objects/f-button.component.js
  packages/components/atoms/f-button/test/accessibility/axe-accessibility.spec.js
  packages/components/atoms/f-button/test/component/f-button.component.spec.js
  packages/components/atoms/f-button/test/visual/f-button.visual.desktop.spec.js
  packages/components/atoms/f-card/package.json
  packages/components/atoms/f-card/test-utils/component-objects/f-card.component.js
  packages/components/atoms/f-error-message/package.json
  packages/components/atoms/f-error-message/test-utils/component-objects/f-error-message.component.js
  packages/components/atoms/f-form-field/package.json
  packages/components/atoms/f-form-field/test-utils/component-objects/f-form-field.component.js
  packages/components/atoms/f-image-tile/package.json
  packages/components/atoms/f-image-tile/test-utils/component-objects/f-image-tile.component.js
  packages/components/atoms/f-image-tile/test-utils/component-objects/f-imageTile-selectors.js
  packages/components/atoms/f-image-tile/test/accessibility/axe-accessibility.spec.js
  packages/components/atoms/f-image-tile/test/component/README.md
  packages/components/atoms/f-image-tile/test/component/f-image-tile.component.spec.js
  packages/components/atoms/f-image-tile/test/component/f-imageTile.component.spec.js
  packages/components/atoms/f-link/package.json
  packages/components/atoms/f-link/test-utils/component-objects/f-link-selectors.js
  packages/components/atoms/f-link/test/accessibility/axe-accessibility.spec.js
  packages/components/atoms/f-link/test/component/f-link.component.spec.js
  packages/components/atoms/f-popover/package.json
  packages/components/atoms/f-popover/test-utils/component-objects/f-popover-selectors.js
  packages/components/atoms/f-popover/test-utils/component-objects/f-popover.component.js
  packages/components/atoms/f-spinner/package.json
  packages/components/atoms/f-spinner/test-utils/component-objects/f-spinner-selectors.js
  packages/components/atoms/f-spinner/test-utils/component-objects/f-spinner.component.js
  packages/components/atoms/f-spinner/test/component/f-spinner.component.spec.js
  yarn.lock
Labels: reviewed-1, reviewed-2, atoms

#1557 f-account-info@0.13.0 - Add error handling and card
  packages/components/pages/f-account-info/CHANGELOG.md
  packages/components/pages/f-account-info/package.json
  packages/components/pages/f-account-info/src/components/AccountInfo.vue
  packages/components/pages/f-account-info/src/components/_tests/AccountInfo.test.js
  packages/components/pages/f-account-info/src/exceptions/index.js
  packages/components/pages/f-account-info/src/tenants/en-GB.js
Labels: reviewed-1, reviewed-2, pages

#1568 f-account-info@0.14.0 - Adding analytics.
  packages/components/pages/f-account-info/CHANGELOG.md
  packages/components/pages/f-account-info/package.json
  packages/components/pages/f-account-info/src/components/AccountInfo.vue
  packages/components/pages/f-account-info/src/components/_tests/AccountInfo.test.js
  packages/components/pages/f-account-info/src/services/_tests/__snapshots__/analytics.test.js.snap
  packages/components/pages/f-account-info/src/services/_tests/analytics.test.js
  packages/components/pages/f-account-info/src/services/analytics.js
  yarn.lock
Labels: pages

#1569 f-restaurant-card@v0.11.1 - Add f-vue-icons as dependency
  packages/components/molecules/f-restaurant-card/CHANGELOG.md
  packages/components/molecules/f-restaurant-card/package.json
Labels: please review, molecules

#1506 f-checkout@3.13.0 - Split notes v2
  packages/components/pages/f-checkout/CHANGELOG.md
  packages/components/pages/f-checkout/package.json
  packages/components/pages/f-checkout/src/checkout-issues.js
  packages/components/pages/f-checkout/src/components/Accordion.vue
  packages/components/pages/f-checkout/src/components/Checkout.vue
  packages/components/pages/f-checkout/src/components/CheckoutForm.vue
  packages/components/pages/f-checkout/src/components/Notes.vue
  packages/components/pages/f-checkout/src/components/_tests/Accordion.test.js
  packages/components/pages/f-checkout/src/components/_tests/Checkout.test.js
  packages/components/pages/f-checkout/src/components/_tests/helpers/setup.js
  packages/components/pages/f-checkout/src/constants.js
  packages/components/pages/f-checkout/src/event-names.js
  packages/components/pages/f-checkout/src/log-events.js
  packages/components/pages/f-checkout/src/services/checkoutApi.js
  packages/components/pages/f-checkout/src/services/mapper.js
  packages/components/pages/f-checkout/src/services/tests/checkoutApi.test.js
  packages/components/pages/f-checkout/src/services/tests/mapper.test.js
  packages/components/pages/f-checkout/src/store/checkout.module.js
  packages/components/pages/f-checkout/src/store/mutation-types.js
  packages/components/pages/f-checkout/src/store/tests/__snapshots__/checkout.module.test.js.snap
  packages/components/pages/f-checkout/src/store/tests/checkout.module.test.js
  packages/components/pages/f-checkout/src/tenants/en-GB.js
  packages/components/pages/f-checkout/stories/Checkout.stories.js
  packages/components/pages/f-checkout/stories/demo/get-notes-config-split.json
  packages/components/pages/f-checkout/stories/demo/get-notes-config.json
  packages/components/pages/f-checkout/stories/demo/mockResponses.js
  packages/components/pages/f-checkout/stories/demo/uk/checkout-delivery-split-notes-courier-kitchen.json
  packages/components/pages/f-checkout/stories/demo/uk/checkout-delivery-split-notes-courier.json
  packages/components/pages/f-checkout/test-utils/component-objects/f-checkout-selectors.js
  packages/components/pages/f-checkout/test-utils/component-objects/f-checkout.component.js
  packages/components/pages/f-checkout/test/component/f-checkout-delivery.component.spec.js
  packages/components/pages/f-checkout/test/component/f-checkout.component.spec.js
  packages/components/pages/f-checkout/test/visual/f-checkout-authenticated.visual.desktop.spec.js
Labels: pages

#1558 f-restaurant-card@v0.12.0 - dish items
  packages/components/molecules/f-restaurant-card/CHANGELOG.md
  packages/components/molecules/f-restaurant-card/package.json
  packages/components/molecules/f-restaurant-card/src/components/RestaurantCard.v1.vue
  packages/components/molecules/f-restaurant-card/src/components/_tests/RestaurantCard.v1.test.js
  packages/components/molecules/f-restaurant-card/src/components/subcomponents/RestaurantDish.vue
  packages/components/molecules/f-restaurant-card/src/components/subcomponents/RestaurantDishes/RestaurantDish.vue
  packages/components/molecules/f-restaurant-card/src/components/subcomponents/RestaurantDishes/RestaurantDishes.vue
  packages/components/molecules/f-restaurant-card/src/components/subcomponents/RestaurantDishes/_tests/RestaurantDish.test.js
  packages/components/molecules/f-restaurant-card/src/components/subcomponents/RestaurantDishes/_tests/RestaurantDishes.test.js
  packages/components/molecules/f-restaurant-card/stories/RestaurantCard.stories.js
  packages/components/molecules/f-restaurant-card/stories/RestaurantDish.stories.js
  packages/components/molecules/f-restaurant-card/stories/RestaurantDishes.stories.js
Labels: please review, molecules

#1566 f-image-tile@0.2.0 - Add toggle functionality
  packages/components/atoms/f-image-tile/CHANGELOG.md
  packages/components/atoms/f-image-tile/package.json
  packages/components/atoms/f-image-tile/src/components/ImageTile.vue
  packages/components/atoms/f-image-tile/src/components/_tests/ImageTile.test.js
  packages/components/atoms/f-image-tile/stories/Demo.stories.js
  packages/components/atoms/f-image-tile/stories/ImageTile.stories.js
  packages/components/atoms/f-image-tile/stories/TestContainer.vue
  packages/components/atoms/f-image-tile/test-utils/component-objects/f-image-tile.component.js
Labels: reviewed-1, reviewed-2, atoms

#1570 f-header@9.2.0 - remove ml theme style overrides
  CHANGELOG.md
  package.json
  packages/components/organisms/f-header/CHANGELOG.md
  packages/components/organisms/f-header/package.json
  packages/components/organisms/f-header/src/assets/scss/common.scss
  packages/components/organisms/f-header/src/components/Logo.vue
  packages/components/organisms/f-header/src/components/_tests/Header.test.js
  packages/components/organisms/f-header/src/components/_tests/Logo.test.js
  packages/components/organisms/f-header/src/tenants/da-DK.js
  packages/components/organisms/f-header/src/tenants/index.js
  packages/components/organisms/f-header/src/tenants/nb-NO.js
  packages/components/organisms/f-header/stories/header.stories.js
  packages/components/organisms/f-header/test/accessibility/axe-accessibility.spec.js
  yarn.lock
Labels: reviewed-1, reviewed-2, organisms

#1564 f-filter-pill@v0.1.0 - Initial component generated
  .circleci/config.yml
  CHANGELOG.md
  package.json
  packages/components/atoms/f-filter-pill/.eslintignore
  packages/components/atoms/f-filter-pill/CHANGELOG.md
  packages/components/atoms/f-filter-pill/LICENSE
  packages/components/atoms/f-filter-pill/README.md
  packages/components/atoms/f-filter-pill/babel.config.js
  packages/components/atoms/f-filter-pill/jest.config.js
  packages/components/atoms/f-filter-pill/package.json
  packages/components/atoms/f-filter-pill/src/assets/scss/common.scss
  packages/components/atoms/f-filter-pill/src/components/FilterPill.vue
  packages/components/atoms/f-filter-pill/src/components/_tests/FilterPill.test.js
  packages/components/atoms/f-filter-pill/src/index.js
  packages/components/atoms/f-filter-pill/stories/FilterPill.stories.js
  packages/components/atoms/f-filter-pill/test-utils/component-objects/README.md
  packages/components/atoms/f-filter-pill/test-utils/component-objects/f-filter-pill-selectors.js
  packages/components/atoms/f-filter-pill/test-utils/component-objects/f-filter-pill.component.js
  packages/components/atoms/f-filter-pill/test/accessibility/axe-accessibility.spec.js
  packages/components/atoms/f-filter-pill/test/component/README.md
  packages/components/atoms/f-filter-pill/test/component/f-filter-pill.component.spec.js
  packages/components/atoms/f-filter-pill/vue.config.js
Labels: atoms

#1572 generator-component@2.6.0 - remove theme.css fozzie import
  packages/tools/generator-component/CHANGELOG.md
  packages/tools/generator-component/generators/app/templates/src/assets/scss/common.scss
  packages/tools/generator-component/package.json
Labels: tools
