Repository justeattakeaway/fozzie-components, pull requests merged in 2021-11, with the labels that each got.

#1411 f-restaurant-card@0.6.0 - Add restaurant cuisines component
  packages/components/molecules/f-restaurant-card/CHANGELOG.md
  packages/components/molecules/f-restaurant-card/package.json
  packages/components/molecules/f-restaurant-card/src/components/RestaurantCard.v1.vue
  packages/components/molecules/f-restaurant-card/src/components/_tests/RestaurantCard.v1.test.js
  packages/components/molecules/f-restaurant-card/src/components/_tests/RestaurantCuisines.test.js
  packages/components/molecules/f-restaurant-card/src/components/subcomponents/RestaurantCuisines.vue
  packages/components/molecules/f-restaurant-card/src/components/subcomponents/RestaurantDish.vue
  packages/components/molecules/f-restaurant-card/src/components/subcomponents/RestaurantImage.vue
  packages/components/molecules/f-restaurant-card/src/components/subcomponents/RestaurantLogo.vue
  packages/components/molecules/f-restaurant-card/stories/RestaurantCard.stories.js
  packages/components/molecules/f-restaurant-card/vue.config.js
Labels: molecules

#1417 f-takeawaypay-activation@2.6.0 - Added AU localization
  packages/components/organisms/f-takeawaypay-activation/CHANGELOG.md
  packages/components/organisms/f-takeawaypay-activation/package.json
  packages/components/organisms/f-takeawaypay-activation/src/components/_tests/__snapshots__/ActivationFailed.test.js.snap
  packages/components/organisms/f-takeawaypay-activation/src/components/_tests/__snapshots__/ActivationLoggedIn.test.js.snap
  packages/components/organisms/f-takeawaypay-activation/src/components/_tests/__snapshots__/ActivationNotLoggedIn.test.js.snap
  packages/components/organisms/f-takeawaypay-activation/src/tenants/en-AU.js
  packages/components/organisms/f-takeawaypay-activation/src/tenants/en-GB.js
  packages/components/organisms/f-takeawaypay-activation/src/tenants/index.js
  packages/components/organisms/f-takeawaypay-activation/stories/TakeawaypayActivation.stories.js
Labels: organisms

#1422 f-offers@v1.4.0 - upgrading f-button and adjusting top margin
  packages/components/organisms/f-offers/CHANGELOG.md
  packages/components/organisms/f-offers/package.json
  packages/components/organisms/f-offers/src/components/Offers.vue
  yarn.lock
Labels: organisms

#1425 #trivial - f-template-subnav - Exported some test selector files
  packages/components/organisms/f-template-subnav/package.json
  packages/components/organisms/f-template-subnav/test-utils/component-objects/README.md
  packages/components/organisms/f-template-subnav/test-utils/component-objects/f-template-subnav.component.js
Labels: please review, organisms

#1396 f-feature-management@v0.5.0 - refactor for first integration
  packages/services/f-feature-management/.babelrc
  packages/services/f-feature-management/CHANGELOG.md
  packages/services/f-feature-management/README.md
  packages/services/f-feature-management/package.json
  packages/services/f-feature-management/src/FeatureManager.js
  packages/services/f-feature-management/src/configStore.js
  packages/services/f-feature-management/src/createFeatureManagementInstance.js
  packages/services/f-feature-management/src/index.js
  packages/services/f-feature-management/src/logger.js
  packages/services/f-feature-management/src/trackExperiment.js
  packages/services/f-feature-management/test/configStore.test.js
  packages/services/f-feature-management/test/endToEnd.test.js
  packages/services/f-feature-management/test/evaluateRestriction.test.js
  packages/services/f-feature-management/test/fractions.test.js
  yarn.lock
Labels: reviewed-1, services

#1421 f-contact-preferences@0.4.0 - Initial error handling
  packages/components/organisms/f-contact-preferences/CHANGELOG.md
  packages/components/organisms/f-contact-preferences/package.json
  packages/components/organisms/f-contact-preferences/src/components/ContactPreferences.vue
  packages/components/organisms/f-contact-preferences/src/components/_tests/ContactPreferences.test.js
  packages/components/organisms/f-contact-preferences/src/exceptions/index.js
  packages/components/organisms/f-contact-preferences/src/tenants/en-GB.js
  packages/components/organisms/f-contact-preferences/stories/ContactPreferences.stories.js
Labels: reviewed-1, reviewed-2, organisms

#1427 f-template-subnav@v0.2.1 - Moved the project into the 'Templates' folder
  .circleci/config.yml
  CHANGELOG.md
  package.json
  packages/components/templates/f-template-subnav/.eslintignore
  packages/components/templates/f-template-subnav/CHANGELOG.md
  packages/components/templates/f-template-subnav/LICENSE
  packages/components/templates/f-template-subnav/README.md
  packages/components/templates/f-template-subnav/babel.config.js
  packages/components/templates/f-template-subnav/jest.config.js
  packages/components/templates/f-template-subnav/package.json
  packages/components/templates/f-template-subnav/src/assets/scss/common.scss
  packages/components/templates/f-template-subnav/src/components/TemplateSubNav.vue
  packages/components/templates/f-template-subnav/src/components/_tests/TemplateSubNav.test.js
  packages/components/templates/f-template-subnav/src/index.js
  packages/components/templates/f-template-subnav/stories/TemplateSubNav.stories.js
  packages/components/templates/f-template-subnav/test-utils/component-objects/README.md
  packages/components/templates/f-template-subnav/test-utils/component-objects/f-template-subnav.component.js
  packages/components/templates/f-template-subnav/vue.config.js
Labels: templates

#1429 f-navigation-links@0.2.1 - Bumped f-link version and refactored some test
  packages/components/molecules/f-navigation-links/CHANGELOG.md
  packages/components/molecules/f-navigation-links/package.json
  packages/components/molecules/f-navigation-links/test-utils/component-objects/f-navigationLinks-selectors.js
  packages/components/molecules/f-navigation-links/test-utils/component-objects/f-navigationLinks.component.js
  packages/components/molecules/f-navigation-links/test/accessibility/axe-accessibility.spec.js
  packages/components/molecules/f-navigation-links/test/component/f-navigationLinks.component.spec.js
Labels: reviewed-1, reviewed-2, molecules

#1428 f-contact-preferences@v0.4.1 - Refactored some test files
  packages/components/organisms/f-contact-preferences/CHANGELOG.md
  packages/components/organisms/f-contact-preferences/package.json
  packages/components/organisms/f-contact-preferences/src/components/ContactPreferences.vue
  packages/components/organisms/f-contact-preferences/test-utils/component-objects/f-contactPreferences-selectors.js
  packages/components/organisms/f-contact-preferences/test-utils/component-objects/f-contactPreferences.component.js
  packages/components/organisms/f-contact-preferences/test/accessibility/axe-accessibility.spec.js
  packages/components/organisms/f-contact-preferences/test/component/f-contactPreferences.component.spec.js
Labels: reviewed-1, reviewed-2, organisms

#1430 f-template-subnav@v0.2.2 - Bumped f-navigation-links version to 0.2.1
  packages/components/templates/f-template-subnav/CHANGELOG.md
  packages/components/templates/f-template-subnav/package.json
Labels: reviewed-1, reviewed-2, templates

#1431 f-compatibility@v0.2.1 - Correction to title text for Menulog tenants.
  packages/services/f-compatibility/CHANGELOG.md
  packages/services/f-compatibility/package.json
  packages/services/f-compatibility/src/constants.js
Labels: reviewed-1, reviewed-2, services

#1424 f-restaurant-card@v0.7.0 - badges
  packages/components/molecules/f-restaurant-card/CHANGELOG.md
  packages/components/molecules/f-restaurant-card/package.json
  packages/components/molecules/f-restaurant-card/src/components/RestaurantCard.v1.vue
  packages/components/molecules/f-restaurant-card/src/components/_tests/RestaurantCard.v1.test.js
  packages/components/molecules/f-restaurant-card/src/components/subcomponents/RestaurantBadges/RestaurantBadge.vue
  packages/components/molecules/f-restaurant-card/src/components/subcomponents/RestaurantBadges/RestaurantBadges.vue
  packages/components/molecules/f-restaurant-card/src/components/subcomponents/RestaurantBadges/_tests/RestaurantBadge.test.js
  packages/components/molecules/f-restaurant-card/src/components/subcomponents/RestaurantBadges/_tests/RestaurantBadges.test.js
  packages/components/molecules/f-restaurant-card/src/components/subcomponents/RestaurantImage/RestaurantImage.vue
  packages/components/molecules/f-restaurant-card/src/components/subcomponents/RestaurantImage/_tests/RestaurantImage.test.js
  packages/components/molecules/f-restaurant-card/stories/RestaurantCard.stories.js
Labels: please review, molecules

#1433 storybook@v0.47.0 - Add new log context
  packages/storybook/CHANGELOG.md
  packages/storybook/context/index.js
  packages/storybook/context/log.context.js
  packages/storybook/package.json
Labels: storybook

#1435 f-cookie-banner@3.6.0 - Fix up layout styles.
  packages/components/organisms/f-cookie-banner/CHANGELOG.md
  packages/components/organisms/f-cookie-banner/package.json
  packages/components/organisms/f-cookie-banner/src/components/CookieBanner.vue
Labels: reviewed-1, reviewed-2, organisms

#1436 f-error-boundary@v0.1.0 - Initial generated component.
  .circleci/config.yml
  CHANGELOG.md
  package.json
  packages/components/atoms/f-error-boundary/.eslintignore
  packages/components/atoms/f-error-boundary/CHANGELOG.md
  packages/components/atoms/f-error-boundary/LICENSE
  packages/components/atoms/f-error-boundary/README.md
  packages/components/atoms/f-error-boundary/jest.config.js
  packages/components/atoms/f-error-boundary/package.json
  packages/components/atoms/f-error-boundary/src/ErrorBoundary.vue
  packages/components/atoms/f-error-boundary/vite.config.js
  yarn.lock
Labels: atoms

#1447 #trivial fozzie-components@v5.1.4 – Updates to `f-wdio-utils` package version
  CHANGELOG.md
  package.json
  packages/components/atoms/f-button/package.json
  packages/components/atoms/f-card/package.json
  packages/components/atoms/f-error-message/package.json
  packages/components/atoms/f-form-field/package.json
  packages/components/atoms/f-image-tile/package.json
  packages/components/atoms/f-popover/package.json
  packages/components/atoms/f-spinner/package.json
  packages/components/molecules/f-alert/package.json
  packages/components/molecules/f-breadcrumbs/package.json
  packages/components/molecules/f-card-with-content/package.json
  packages/components/molecules/f-media-element/package.json
  packages/components/molecules/f-mega-modal/package.json
  packages/components/molecules/f-navigation-links/package.json
  packages/components/molecules/f-promotions-showcase/package.json
  packages/components/molecules/f-restaurant-card/package.json
  packages/components/molecules/f-searchbox/package.json
  packages/components/molecules/f-skeleton-loader/package.json
  packages/components/molecules/f-tabs/package.json
  packages/components/molecules/f-user-message/package.json
  packages/components/organisms/f-checkout/package.json
  packages/components/organisms/f-contact-preferences/package.json
  packages/components/organisms/f-content-cards/package.json
  packages/components/organisms/f-cookie-banner/package.json
  packages/components/organisms/f-footer/package.json
  packages/components/organisms/f-header/package.json
  packages/components/organisms/f-loyalty/package.json
  packages/components/organisms/f-status-banner/package.json
  packages/components/organisms/f-takeawaypay-activation/package.json
  packages/components/pages/f-registration/package.json
  packages/components/templates/f-template-subnav/package.json
  packages/services/f-performance/package.json
  packages/tools/generator-component/CHANGELOG.md
  packages/tools/generator-component/generators/app/templates/__package__.json
  packages/tools/generator-component/package.json
Labels: atoms, molecules, organisms, services, tools, pages, templates

#1438 f-restaurant-card@v0.8.0 - ETA, distance, address
  packages/components/molecules/f-restaurant-card/CHANGELOG.md
  packages/components/molecules/f-restaurant-card/package.json
  packages/components/molecules/f-restaurant-card/src/components/RestaurantCard.v1.vue
  packages/components/molecules/f-restaurant-card/src/components/_tests/RestaurantCard.v1.test.js
  packages/components/molecules/f-restaurant-card/src/components/subcomponents/DeliveryTimeMeta/DeliveryTimeMeta.vue
  packages/components/molecules/f-restaurant-card/src/components/subcomponents/DeliveryTimeMeta/_tests/DeliveryTimeMeta.test.js
  packages/components/molecules/f-restaurant-card/src/components/subcomponents/IconText.vue
  packages/components/molecules/f-restaurant-card/src/components/subcomponents/RestaurantCuisines.vue
  packages/components/molecules/f-restaurant-card/src/components/subcomponents/_tests/IconText.test.js
  packages/components/molecules/f-restaurant-card/stories/RestaurantCard.stories.js
Labels: molecules

#1440 f-checkout@3.1.1 - update translations
  packages/components/pages/f-checkout/CHANGELOG.md
  packages/components/pages/f-checkout/package.json
  packages/components/pages/f-checkout/src/components/Address.vue
  packages/components/pages/f-checkout/src/components/Checkout.vue
  packages/components/pages/f-checkout/src/components/Guest.vue
  packages/components/pages/f-checkout/src/tenants/en-AU.js
  packages/components/pages/f-checkout/src/tenants/en-GB.js
  packages/components/pages/f-checkout/src/tenants/en-NZ.js
Labels: pages

#1450 f-vue-icons@3.0.0 - Updated and added bag icons
  packages/tools/f-vue-icons/CHANGELOG.md
  packages/tools/f-vue-icons/icons/BagBinocularsBgIcon.js
  packages/tools/f-vue-icons/icons/BagCelebrateBgIcon.js
  packages/tools/f-vue-icons/icons/BagCelebrateIcon.js
  packages/tools/f-vue-icons/icons/BagCryBgIcon.js
  packages/tools/f-vue-icons/icons/BagHeart1BgIcon.js
  packages/tools/f-vue-icons/icons/BagHeart2BgIcon.js
  packages/tools/f-vue-icons/icons/BagHelpBgIcon.js
  packages/tools/f-vue-icons/icons/BagListenBgIcon.js
  packages/tools/f-vue-icons/icons/BagMagicBgIcon.js
  packages/tools/f-vue-icons/icons/BagMoneyBgIcon.js
  packages/tools/f-vue-icons/icons/BagRunBgIcon.js
  packages/tools/f-vue-icons/icons/BagSadBgIcon.js
  packages/tools/f-vue-icons/icons/BagSorryBgIcon.js
  packages/tools/f-vue-icons/icons/BagSurfBgIcon.js
  packages/tools/f-vue-icons/icons/BagXmasDecorateBgIcon.js
  packages/tools/f-vue-icons/icons/BagXmasSantaBgIcon.js
  packages/tools/f-vue-icons/icons/BagXmasSleighBgIcon.js
  packages/tools/f-vue-icons/package.json
  packages/tools/f-vue-icons/src/components/BagBinocularsBgIcon.js
  packages/tools/f-vue-icons/src/components/BagCelebrateBgIcon.js
  packages/tools/f-vue-icons/src/components/BagCelebrateIcon.js
  packages/tools/f-vue-icons/src/components/BagCryBgIcon.js
  packages/tools/f-vue-icons/src/components/BagHeart1BgIcon.js
  packages/tools/f-vue-icons/src/components/BagHeart2BgIcon.js
  packages/tools/f-vue-icons/src/components/BagHelpBgIcon.js
  packages/tools/f-vue-icons/src/components/BagListenBgIcon.js
  packages/tools/f-vue-icons/src/components/BagMagicBgIcon.js
  packages/tools/f-vue-icons/src/components/BagMoneyBgIcon.js
  packages/tools/f-vue-icons/src/components/BagRunBgIcon.js
  packages/tools/f-vue-icons/src/components/BagSadBgIcon.js
  packages/tools/f-vue-icons/src/components/BagSorryBgIcon.js
  packages/tools/f-vue-icons/src/components/BagSurfBgIcon.js
  packages/tools/f-vue-icons/src/components/BagXmasDecorateBgIcon.js
  packages/tools/f-vue-icons/src/components/BagXmasSantaBgIcon.js
  packages/tools/f-vue-icons/src/components/BagXmasSleighBgIcon.js
  packages/tools/f-vue-icons/src/index.js
  yarn.lock
Labels: tools

#1453 f-checkout@3.2.0 - Create checkout form field
  packages/components/pages/f-checkout/CHANGELOG.md
  packages/components/pages/f-checkout/package.json
  packages/components/pages/f-checkout/src/components/Checkout.vue
  packages/components/pages/f-checkout/src/components/CheckoutFormField.vue
  packages/components/pages/f-checkout/src/components/Guest.vue
  packages/components/pages/f-checkout/src/components/_tests/Checkout.test.js
  packages/components/pages/f-checkout/src/components/_tests/CheckoutFormField.test.js
  packages/components/pages/f-checkout/src/components/_tests/Guest.test.js
  packages/components/pages/f-checkout/src/components/_tests/__snapshots__/Checkout.test.js.snap
  packages/components/pages/f-checkout/src/components/_tests/__snapshots__/CheckoutFormField.test.js.snap
  packages/components/pages/f-checkout/src/constants.js
  packages/components/pages/f-checkout/src/tenants/en-GB.js
  packages/components/pages/f-checkout/test-utils/component-objects/f-checkout-selectors.js
Labels: pages

#1434 f-checkout@3.3.0 - Visual tests for ANZ age verification
  packages/components/pages/f-checkout/CHANGELOG.md
  packages/components/pages/f-checkout/package.json
  packages/components/pages/f-checkout/test-utils/component-objects/f-checkout-selectors.js
  packages/components/pages/f-checkout/test-utils/component-objects/f-checkout.component.js
  packages/components/pages/f-checkout/test/visual/f-checkout-authenticated.visual.desktop.spec.js
Labels: pages

#1452 f-link@2.3.0
  packages/components/atoms/f-link/CHANGELOG.md
  packages/components/atoms/f-link/README.md
  packages/components/atoms/f-link/package.json
  packages/components/atoms/f-link/src/components/Link.vue
  packages/components/atoms/f-link/src/components/_tests/Link.test.js
  packages/components/atoms/f-link/stories/Link.stories.js
Labels: reviewed-1, reviewed-2, atoms

#1456 fozzie-components@v5.3.0 – #globalconfig Node engine updated to v12 and lerna config update
  CHANGELOG.md
  lerna.json
  package.json
  packages/components/atoms/f-button/package.json
  packages/components/atoms/f-card/package.json
  packages/components/atoms/f-error-message/package.json
  packages/components/atoms/f-form-field/package.json
  packages/components/atoms/f-image-tile/package.json
  packages/components/atoms/f-link/package.json
  packages/components/atoms/f-popover/package.json
  packages/components/atoms/f-spinner/package.json
  packages/components/molecules/f-alert/package.json
  packages/components/molecules/f-breadcrumbs/package.json
  packages/components/molecules/f-card-with-content/package.json
  packages/components/molecules/f-media-element/package.json
  packages/components/molecules/f-mega-modal/package.json
  packages/components/molecules/f-navigation-links/package.json
  packages/components/molecules/f-promotions-showcase/package.json
  packages/components/molecules/f-restaurant-card/package.json
  packages/components/molecules/f-searchbox/package.json
  packages/components/molecules/f-skeleton-loader/package.json
  packages/components/molecules/f-tabs/package.json
  packages/components/molecules/f-user-message/package.json
  packages/components/organisms/f-content-cards/package.json
  packages/components/organisms/f-cookie-banner/package.json
  packages/components/organisms/f-footer/package.json
  packages/components/organisms/f-header/package.json
  packages/components/organisms/f-status-banner/package.json
  packages/components/pages/f-checkout/package.json
  packages/components/pages/f-contact-preferences/package.json
  packages/components/pages/f-loyalty/package.json
  packages/components/pages/f-offers/package.json
  packages/components/pages/f-registration/package.json
  packages/components/pages/f-takeawaypay-activation/package.json
  packages/services/f-analytics/package.json
  packages/services/f-braze-adapter/package.json
  packages/services/f-compatibility/package.json
  packages/services/f-consumer-oidc/package.json
  packages/services/f-development-context/package.json
  packages/services/f-feature-management-vue/package.json
  packages/services/f-feature-management/package.json
  packages/services/f-globalisation/package.json
  packages/services/f-http/package.json
  packages/services/f-performance/package.json
  packages/services/f-services/package.json
  packages/services/f-statistics/package.json
  packages/services/f-test-data-creator/package.json
  packages/services/f-wdio-utils/package.json
  packages/storybook/package.json
  packages/tools/f-vue-icons/package.json
  packages/tools/generator-component/package.json
Labels: atoms, molecules, organisms, services, storybook, tools, pages

#1461 generator-component@v2.4.0 – template and page options added to generator
  packages/tools/generator-component/CHANGELOG.md
  packages/tools/generator-component/generators/app/prompts.js
  packages/tools/generator-component/generators/app/templates/__package__.json
  packages/tools/generator-component/package.json
Labels: tools

#1462 f-promotions-showcase@v0.3.0 - Updating font-sizes.
  packages/components/molecules/f-promotions-showcase/CHANGELOG.md
  packages/components/molecules/f-promotions-showcase/package.json
  packages/components/molecules/f-promotions-showcase/src/components/PromotionsShowcase.vue
Labels: reviewed-1, reviewed-2, molecules

#1454 f-checkout@3.4.0 - Component tests for age verification
  packages/components/pages/f-checkout/CHANGELOG.md
  packages/components/pages/f-checkout/package.json
  packages/components/pages/f-checkout/src/components/AgeVerification.vue
  packages/components/pages/f-checkout/test-utils/component-objects/f-checkout-selectors.js
  packages/components/pages/f-checkout/test-utils/component-objects/f-checkout.component.js
  packages/components/pages/f-checkout/test/component/f-checkout-delivery.component.spec.js
Labels: pages

#1457 f-footer@v6.0.2 - Update careers links
  packages/components/organisms/f-footer/CHANGELOG.md
  packages/components/organisms/f-footer/package.json
  packages/components/organisms/f-footer/src/tenants/en-AU.js
  packages/components/organisms/f-footer/src/tenants/en-IE.js
  packages/components/organisms/f-footer/src/tenants/en-NZ.js
  packages/components/organisms/f-footer/src/tenants/it-IT.js
Labels: reviewed-1, please review, organisms

#1455 f-checkout@3.5.0 - use form field for address and table identifier
  packages/components/pages/f-checkout/CHANGELOG.md
  packages/components/pages/f-checkout/package.json
  packages/components/pages/f-checkout/src/components/Address.vue
  packages/components/pages/f-checkout/src/components/Checkout.vue
  packages/components/pages/f-checkout/src/components/CheckoutFormField.vue
  packages/components/pages/f-checkout/src/components/Guest.vue
  packages/components/pages/f-checkout/src/components/_tests/Address.test.js
  packages/components/pages/f-checkout/src/components/_tests/Checkout.test.js
  packages/components/pages/f-checkout/src/components/_tests/CheckoutFormField.test.js
  packages/components/pages/f-checkout/src/components/_tests/__snapshots__/CheckoutFormField.test.js.snap
  packages/components/pages/f-checkout/src/components/_tests/helpers/setup.js
  packages/components/pages/f-checkout/src/constants.js
  packages/components/pages/f-checkout/src/mixins/tests/validations.mixin.test.js
  packages/components/pages/f-checkout/src/mixins/validations.mixin.js
  packages/components/pages/f-checkout/src/store/checkout.module.js
  packages/components/pages/f-checkout/src/store/mutation-types.js
  packages/components/pages/f-checkout/src/store/tests/__snapshots__/checkout.module.test.js.snap
  packages/components/pages/f-checkout/src/store/tests/checkout.module.test.js
  packages/components/pages/f-checkout/src/tenants/en-AU.js
  packages/components/pages/f-checkout/src/tenants/en-GB.js
  packages/components/pages/f-checkout/src/tenants/en-NZ.js
  packages/components/pages/f-checkout/test-utils/component-objects/f-checkout-selectors.js
Labels: pages

#1463 f-checkout@3.6.0 - move all form logic out of `Checkout.vue`
  packages/components/pages/f-checkout/CHANGELOG.md
  packages/components/pages/f-checkout/package.json
  packages/components/pages/f-checkout/src/components/Checkout.vue
  packages/components/pages/f-checkout/src/components/CheckoutForm.vue
  packages/components/pages/f-checkout/src/components/_tests/Checkout.test.js
  packages/components/pages/f-checkout/src/components/_tests/CheckoutForm.test.js
  packages/components/pages/f-checkout/src/components/_tests/__snapshots__/Checkout.test.js.snap
  packages/components/pages/f-checkout/src/components/_tests/__snapshots__/CheckoutForm.test.js.snap
  packages/components/pages/f-checkout/src/event-names.js
Labels: pages

#1441 f-form-field@4.1.0 - Adding custom checkbox support.
  packages/components/atoms/f-form-field/CHANGELOG.md
  packages/components/atoms/f-form-field/package.json
  packages/components/atoms/f-form-field/src/assets/scss/common.scss
  packages/components/atoms/f-form-field/src/components/FormField.vue
  packages/components/atoms/f-form-field/src/components/FormLabel.vue
  packages/components/atoms/f-form-field/src/components/FormSelectionControl.vue
  packages/components/atoms/f-form-field/src/components/_tests/FormField.test.js
  packages/components/atoms/f-form-field/src/components/_tests/FormSelectionControl.test.js
  packages/components/atoms/f-form-field/src/components/_tests/__snapshots__/FormSelectionControl.test.js.snap
  packages/components/atoms/f-form-field/src/constants.js
  packages/components/atoms/f-form-field/stories/Checkbox.stories.js
  yarn.lock
Labels: reviewed-1, reviewed-2, atoms

#1466 f-form-field@4.2.0 - Styled radio component.
  packages/components/atoms/f-form-field/CHANGELOG.md
  packages/components/atoms/f-form-field/package.json
  packages/components/atoms/f-form-field/src/components/FormSelectionControl.vue
  packages/components/atoms/f-form-field/src/components/_tests/FormSelectionControl.test.js
  packages/components/atoms/f-form-field/stories/Radio.stories.js
  yarn.lock
Labels: atoms

#1423 f-header@7.1.0 - tab focus and loop
  packages/components/organisms/f-header/CHANGELOG.md
  packages/components/organisms/f-header/package.json
  packages/components/organisms/f-header/src/components/CountrySelectorPanel.vue
  packages/components/organisms/f-header/src/components/Navigation.vue
  packages/components/organisms/f-header/src/components/UserNavigationPanel.vue
  packages/components/organisms/f-header/src/components/_tests/Navigation.test.js
  packages/components/organisms/f-header/src/components/_tests/helpers/navigation.js
Labels: reviewed-1, reviewed-2, organisms

#1465 f-footer@v6.0.3 - Update careers link for Spain
  packages/components/organisms/f-footer/CHANGELOG.md
  packages/components/organisms/f-footer/package.json
  packages/components/organisms/f-footer/src/tenants/es-ES.js
Labels: reviewed-1, please review, organisms

#1459 f-navigation-links@0.3.0 - Support router-links and change active link styling
  packages/components/molecules/f-navigation-links/CHANGELOG.md
  packages/components/molecules/f-navigation-links/README.md
  packages/components/molecules/f-navigation-links/package.json
  packages/components/molecules/f-navigation-links/src/components/NavigationLinks.vue
  packages/components/molecules/f-navigation-links/src/components/_tests/NavigationLinks.test.js
  packages/components/molecules/f-navigation-links/src/components/_tests/__snapshots__/NavigationLinks.test.js.snap
  packages/components/molecules/f-navigation-links/stories/NavigationLinks.stories.js
Labels: reviewed-1, molecules

#1460 f-card-with-content@0.2.0 - Add component functionality
  packages/components/molecules/f-card-with-content/CHANGELOG.md
  packages/components/molecules/f-card-with-content/README.md
  packages/components/molecules/f-card-with-content/jest.config.js
  packages/components/molecules/f-card-with-content/package.json
  packages/components/molecules/f-card-with-content/src/components/CardWithContent.vue
  packages/components/molecules/f-card-with-content/stories/CardWithContent.stories.js
  packages/components/molecules/f-card-with-content/test/visual/f-card-with-content.visual.desktop.spec.js
  packages/components/molecules/f-card-with-content/test/visual/f-card-with-content.visual.mobile.spec.js
Labels: molecules

#1448 f-error-boundary@v0.2.0 - Implement component logic.
  packages/components/atoms/f-error-boundary/CHANGELOG.md
  packages/components/atoms/f-error-boundary/README.md
  packages/components/atoms/f-error-boundary/babel.config.js
  packages/components/atoms/f-error-boundary/package.json
  packages/components/atoms/f-error-boundary/src/ErrorBoundary.vue
  packages/components/atoms/f-error-boundary/src/components/ErrorBoundary.vue
  packages/components/atoms/f-error-boundary/src/components/tests/ErrorBoundary.test.js
  packages/components/atoms/f-error-boundary/src/components/tests/__snapshots__/ErrorBoundary.test.js.snap
  packages/components/atoms/f-error-boundary/src/service/logger.service.js
  packages/components/atoms/f-error-boundary/src/service/tests/__snapshots__/logger.service.test.js.snap
  packages/components/atoms/f-error-boundary/src/service/tests/logger.service.test.js
  packages/components/atoms/f-error-boundary/stories/ErrorBoundary.hideOnError.stories.js
  packages/components/atoms/f-error-boundary/stories/ErrorBoundaryDemoComponent.vue
  packages/components/atoms/f-error-boundary/stories/ErrorBoundaryDemoWrapper.vue
  packages/components/atoms/f-error-boundary/vite.config.js
Labels: reviewed-1, reviewed-2, atoms

#1472 f-card@3.0.1 - Ensure page content wrapper inner spacing style only applies to immediate children
  packages/components/atoms/f-card/CHANGELOG.md
  packages/components/atoms/f-card/package.json
  packages/components/atoms/f-card/src/components/Card.vue
  yarn.lock
Labels: reviewed-1, reviewed-2, atoms

#1471 f-card-with-content@0.2.1 - Unit test coverage
  packages/components/molecules/f-card-with-content/CHANGELOG.md
  packages/components/molecules/f-card-with-content/package.json
  packages/components/molecules/f-card-with-content/src/components/CardWithContent.vue
  packages/components/molecules/f-card-with-content/src/components/_tests/CardWithContent.test.js
Labels: reviewed-1, reviewed-2, molecules

#1474 f-checkout@3.6.2 - Revert v3.0.0
  packages/components/pages/f-checkout/CHANGELOG.md
  packages/components/pages/f-checkout/package.json
  packages/components/pages/f-checkout/src/components/Checkout.vue
  packages/components/pages/f-checkout/src/components/_tests/Checkout.test.js
  packages/components/pages/f-checkout/src/event-names.js
  packages/components/pages/f-checkout/test/component/f-checkout.component.spec.js
Labels: pages

#1475 f-checkout@v3.7.0 - Remove spinner from checkout form.
  packages/components/pages/f-checkout/CHANGELOG.md
  packages/components/pages/f-checkout/package.json
  packages/components/pages/f-checkout/src/components/Checkout.vue
  packages/components/pages/f-checkout/src/components/_tests/Checkout.test.js
  packages/components/pages/f-checkout/src/event-names.js
Labels: do not merge, pages

#1391 fozzie-components@5.3.2 - Refactored wdio config #globalconfig
  .circleci/config.yml
  .gitignore
  CHANGELOG.md
  package.json
  packages/components/atoms/f-button/package.json
  packages/components/atoms/f-button/test/visual/f-button.visual.desktop.spec.js
  packages/components/atoms/f-card/package.json
  packages/components/atoms/f-error-message/package.json
  packages/components/atoms/f-form-field/package.json
  packages/components/atoms/f-link/package.json
  packages/components/atoms/f-popover/package.json
  packages/components/molecules/f-alert/package.json
  packages/components/molecules/f-breadcrumbs/package.json
  packages/components/molecules/f-media-element/package.json
  packages/components/molecules/f-mega-modal/package.json
  packages/components/molecules/f-navigation-links/package.json
  packages/components/molecules/f-restaurant-card/package.json
  packages/components/molecules/f-searchbox/package.json
  packages/components/molecules/f-skeleton-loader/package.json
  packages/components/molecules/f-tabs/package.json
  packages/components/molecules/f-user-message/package.json
  packages/components/organisms/f-content-cards/package.json
  packages/components/organisms/f-cookie-banner/package.json
  packages/components/organisms/f-cookie-banner/test-utils/component-objects/f-cookieBanner-legacy.component.js
  packages/components/organisms/f-footer/package.json
  packages/components/organisms/f-header/package.json
  packages/components/organisms/f-status-banner/package.json
  packages/components/pages/f-checkout/package.json
  packages/components/pages/f-loyalty/package.json
  packages/components/pages/f-offers/package.json
  packages/components/pages/f-registration/package.json
  packages/components/pages/f-takeawaypay-activation/package.json
  test/configuration/chrome/chrome.settings.js
  test/configuration/ci.test-settings.js
  test/configuration/circleci.config.js
  test/configuration/configuration-helper.js
  test/configuration/local.config.js
  test/configuration/local.test-settings.js
  test/configuration/shared.config.js
  test/constants/viewport-widths.js
  test/utils/configuration-helper.js
  wdio-chrome.conf.js
  wdio-shared.conf.js
  yarn.lock
Labels: atoms, molecules, organisms, pages

#1476 f-account-info@v0.1.0 - Initial Commit
  packages/components/pages/f-account-info/.eslintignore
  packages/components/pages/f-account-info/CHANGELOG.md
  packages/components/pages/f-account-info/LICENSE
  packages/components/pages/f-account-info/README.md
  packages/components/pages/f-account-info/babel.config.js
  packages/components/pages/f-account-info/jest.config.js
  packages/components/pages/f-account-info/package.json
  packages/components/pages/f-account-info/src/assets/scss/common.scss
  packages/components/pages/f-account-info/src/components/AccountInfo.vue
  packages/components/pages/f-account-info/src/components/_tests/AccountInfo.test.js
  packages/components/pages/f-account-info/src/index.js
  packages/components/pages/f-account-info/src/services/AccountInfoServiceApi.js
  packages/components/pages/f-account-info/src/tenants/en-AU.js
  packages/components/pages/f-account-info/src/tenants/en-GB.js
  packages/components/pages/f-account-info/src/tenants/en-IE.js
  packages/components/pages/f-account-info/src/tenants/en-NZ.js
  packages/components/pages/f-account-info/src/tenants/es-ES.js
  packages/components/pages/f-account-info/src/tenants/index.js
  packages/components/pages/f-account-info/src/tenants/it-IT.js
  packages/components/pages/f-account-info/stories/AccountInfo.stories.js
  packages/components/pages/f-account-info/test-utils/component-objects/README.md
  packages/components/pages/f-account-info/test-utils/component-objects/f-accountInfo-selectors.js
  packages/components/pages/f-account-info/test-utils/component-objects/f-accountInfo.component.js
  packages/components/pages/f-account-info/test/accessibility/axe-accessibility.spec.js
  packages/components/pages/f-account-info/test/component/README.md
  packages/components/pages/f-account-info/test/component/f-accountInfo.component.spec.js
  packages/components/pages/f-account-info/vue.config.js
  yarn.lock
Labels: reviewed-1, reviewed-2, pages

#1479 f-account-info@v0.2.0 - Initial UI
  packages/components/pages/f-account-info/CHANGELOG.md
  packages/components/pages/f-account-info/package.json
  packages/components/pages/f-account-info/src/components/AccountInfo.vue
  packages/components/pages/f-account-info/src/components/_tests/AccountInfo.test.js
  packages/components/pages/f-account-info/src/tenants/en-AU.js
  packages/components/pages/f-account-info/src/tenants/en-GB.js
  packages/components/pages/f-account-info/src/tenants/en-IE.js
  packages/components/pages/f-account-info/src/tenants/en-NZ.js
  packages/components/pages/f-account-info/src/tenants/es-ES.js
  packages/components/pages/f-account-info/src/tenants/index.js
  packages/components/pages/f-account-info/src/tenants/it-IT.js
  packages/components/pages/f-account-info/test-utils/component-objects/f-accountInfo-selectors.js
  packages/components/pages/f-account-info/test/component/f-accountInfo.component.spec.js
Labels: reviewed-1, please review, pages

#1480 f-feature-management@0.7.0 - Improved error handling
  packages/services/f-feature-management/CHANGELOG.md
  packages/services/f-feature-management/package.json
  packages/services/f-feature-management/src/lib/FeatureManager.js
  packages/services/f-feature-management/src/lib/trackExperiment.js
  packages/services/f-feature-management/src/vue/services/features.service.js
  yarn.lock
Labels: reviewed-1, reviewed-2, services

#1481 f-checkout@3.8.0 -fix alert styling
  packages/components/pages/f-checkout/CHANGELOG.md
  packages/components/pages/f-checkout/package.json
  packages/components/pages/f-checkout/src/components/Checkout.vue
  packages/components/pages/f-checkout/src/components/CheckoutForm.vue
  packages/components/pages/f-checkout/src/components/_tests/CheckoutForm.test.js
Labels: pages

#1477 f-header@v7.1.1 - Update component exports.
  packages/components/organisms/f-header/CHANGELOG.md
  packages/components/organisms/f-header/package.json
  packages/components/organisms/f-header/test-utils/component-objects/f-header.selectors.js
Labels: reviewed-1, reviewed-2, please review, organisms

#1358 f-loyalty@v1.1.0 - Adding slots component
  packages/components/pages/f-loyalty/CHANGELOG.md
  packages/components/pages/f-loyalty/package.json
  packages/components/pages/f-loyalty/src/components/Slots.vue
  packages/components/pages/f-loyalty/src/components/_tests/Slots.test.js
  packages/components/pages/f-loyalty/src/tenants/en-AU.js
  packages/components/pages/f-loyalty/src/tenants/en-GB.js
  packages/components/pages/f-loyalty/src/tenants/en-IE.js
Labels: please review, pages

#1482 f-card@3.1.0
  packages/components/atoms/f-card/CHANGELOG.md
  packages/components/atoms/f-card/README.md
  packages/components/atoms/f-card/package.json
  packages/components/atoms/f-card/src/components/Card.vue
  packages/components/atoms/f-card/src/components/_tests/Card.test.js
  packages/components/atoms/f-card/stories/card.stories.js
Labels: reviewed-1, reviewed-2, atoms

#1483 f-contact-preferences@v0.6.0 - Add storybook story
  packages/components/pages/f-contact-preferences/CHANGELOG.md
  packages/components/pages/f-contact-preferences/package.json
  packages/components/pages/f-contact-preferences/stories/ContactPreferences.stories.js
  packages/components/pages/f-contact-preferences/stories/payloads/get-consumer-preferences.json
  packages/components/pages/f-contact-preferences/stories/story.helper.js
Labels: reviewed-1, pages

#1458 f-braze-adapter@v4.0.0 - Merge Beta into master as v4.0.0
  packages/services/f-braze-adapter/CHANGELOG.md
  packages/services/f-braze-adapter/README.md
  packages/services/f-braze-adapter/babel.config.js
  packages/services/f-braze-adapter/package.json
  packages/services/f-braze-adapter/src/BrazeAdapter.js
  packages/services/f-braze-adapter/src/BrazeDispatcher.js
  packages/services/f-braze-adapter/src/index.js
  packages/services/f-braze-adapter/src/services/BrazeConsumer.js
  packages/services/f-braze-adapter/src/services/BrazeConsumerRegistry.js
  packages/services/f-braze-adapter/src/services/BrazeDispatcher.js
  packages/services/f-braze-adapter/src/services/DispatcherEventStream.js
  packages/services/f-braze-adapter/src/services/_tests/BrazeConsumer.test.js
  packages/services/f-braze-adapter/src/services/_tests/BrazeConsumerRegistry.test.js
  packages/services/f-braze-adapter/src/services/_tests/BrazeDispatcher.node.test.js
  packages/services/f-braze-adapter/src/services/_tests/BrazeDispatcher.test.js
  packages/services/f-braze-adapter/src/services/_tests/DispatcherEventStream.test.js
  packages/services/f-braze-adapter/src/services/_tests/contentCard.service.test.js
  packages/services/f-braze-adapter/src/services/contentCard.service.js
  packages/services/f-braze-adapter/src/services/errors/InvalidConsumerConfigError.js
  packages/services/f-braze-adapter/src/services/types/cardTypes.js
  packages/services/f-braze-adapter/src/services/types/events.js
  packages/services/f-braze-adapter/src/services/types/logger.js
  packages/services/f-braze-adapter/src/services/utils/_tests/areCookiesPermitted.test.js
  packages/services/f-braze-adapter/src/services/utils/_tests/filterByBrandName.test.js
  packages/services/f-braze-adapter/src/services/utils/_tests/filterByEnabledCardTypes.test.js
  packages/services/f-braze-adapter/src/services/utils/_tests/isAppboyInitialised.test.js
  packages/services/f-braze-adapter/src/services/utils/_tests/isCardCurrentlyActive.test.js
  packages/services/f-braze-adapter/src/services/utils/_tests/removeDuplicateContentCards.test.js
  packages/services/f-braze-adapter/src/services/utils/_tests/sortByCardOrder.test.js
  packages/services/f-braze-adapter/src/services/utils/areCookiesPermitted.js
  packages/services/f-braze-adapter/src/services/utils/filterByBrandName.js
  packages/services/f-braze-adapter/src/services/utils/filterByCurrentlyActive.js
  packages/services/f-braze-adapter/src/services/utils/filterByEnabledCardTypes.js
  packages/services/f-braze-adapter/src/services/utils/index.js
  packages/services/f-braze-adapter/src/services/utils/isAppboyInitialised.js
  packages/services/f-braze-adapter/src/services/utils/isCardCurrentlyActive.js
  packages/services/f-braze-adapter/src/services/utils/pipe.js
  packages/services/f-braze-adapter/src/services/utils/removeDuplicateContentCards.js
  packages/services/f-braze-adapter/src/services/utils/sortByCardOrder.js
  packages/services/f-braze-adapter/src/tests/BrazeAdapter.test.js
  packages/services/f-braze-adapter/src/tests/BrazeDispatcher.test.js
  packages/services/f-braze-adapter/src/tests/index.test.js
  packages/services/f-braze-adapter/src/utils/_tests/isAppboyInitialised.test.js
  packages/services/f-braze-adapter/src/utils/isAppboyInitialised.js
  packages/services/f-braze-adapter/vite.config.js
Labels: services

#1380 f-checkout@v3.9.0 Prevent submission of user details on age verification.
  packages/components/pages/f-checkout/CHANGELOG.md
  packages/components/pages/f-checkout/package.json
  packages/components/pages/f-checkout/src/components/AgeVerification.vue
  packages/components/pages/f-checkout/src/components/Checkout.vue
  packages/components/pages/f-checkout/src/components/_tests/AgeVerification.test.js
  packages/components/pages/f-checkout/src/components/_tests/Checkout.test.js
  packages/components/pages/f-checkout/src/services/mapper.js
  packages/components/pages/f-checkout/src/services/tests/mapper.test.js
  packages/components/pages/f-checkout/src/store/checkout.module.js
  packages/components/pages/f-checkout/src/store/mutation-types.js
  packages/components/pages/f-checkout/src/store/tests/checkout.module.test.js
  yarn.lock
Labels: bug, please review, pages

#1487 #trivial - f-contact preferences - Chrome/Visual (Percy) Tests
  .gitignore
  packages/components/pages/f-contact-preferences/CHANGELOG.md
  packages/components/pages/f-contact-preferences/jest.config.js
  packages/components/pages/f-contact-preferences/package.json
  packages/components/pages/f-contact-preferences/src/components/ContactPreferences.vue
  packages/components/pages/f-contact-preferences/src/components/_tests/ContactPreferences.test.js
  packages/components/pages/f-contact-preferences/stories/story.helper.js
  packages/components/pages/f-contact-preferences/test-utils/component-objects/f-contactPreferences.component.js
  packages/components/pages/f-contact-preferences/test-utils/component-objects/selectors.js
  packages/components/pages/f-contact-preferences/test/component/f-contactPreferences.component.spec.js
  packages/components/pages/f-contact-preferences/test/visual/f-contact-preferences.visual.desktop.spec.js
  packages/components/pages/f-contact-preferences/test/visual/f-contact-preferences.visual.mobile.spec.js
Labels: reviewed-1, reviewed-2, pages

#1490 f-feature-management@0.7.1 - Enable store namespacing
  packages/services/f-feature-management/CHANGELOG.md
  packages/services/f-feature-management/package.json
  packages/services/f-feature-management/src/vue/store/features.module.js
Labels: reviewed-1, reviewed-2, please review, services

#1493 #trivial - f-contract-preferences (Accessibility tests)
  packages/components/pages/f-contact-preferences/CHANGELOG.md
  packages/components/pages/f-contact-preferences/package.json
  packages/components/pages/f-contact-preferences/test/accessibility/axe-accessibility.spec.js
Labels: pages

#1486 f-contact-preferences@0.7.0 - Rename boolean fields
  packages/components/pages/f-contact-preferences/CHANGELOG.md
  packages/components/pages/f-contact-preferences/package.json
  packages/components/pages/f-contact-preferences/src/components/ContactPreferences.vue
  packages/components/pages/f-contact-preferences/src/components/_tests/ContactPreferences.test.js
  packages/components/pages/f-contact-preferences/src/services/mapping/contactPreferences.mapper.js
  packages/components/pages/f-contact-preferences/test-utils/setup.js
Labels: reviewed-1, pages

#1489 f-card@3.2.0 - Add prop cardSizeCustom to allow two different widths.
  packages/components/atoms/f-card/CHANGELOG.md
  packages/components/atoms/f-card/README.md
  packages/components/atoms/f-card/package.json
  packages/components/atoms/f-card/src/components/Card.vue
  packages/components/atoms/f-card/src/components/_tests/Card.test.js
  packages/components/atoms/f-card/stories/card.stories.js
Labels: reviewed-1, reviewed-2, atoms

#1491 f-account-info@v0.3.0 - Added protection to the Submit button whilst busy
  packages/components/pages/f-account-info/CHANGELOG.md
  packages/components/pages/f-account-info/package.json
  packages/components/pages/f-account-info/src/components/AccountInfo.vue
Labels: reviewed-1, pages

#1496 #trivial - f-contact-preferences - Added missing dependency ref.
  packages/components/pages/f-contact-preferences/package.json
Labels: reviewed-1, reviewed-2, pages

#1497 #trivial - f-account-info - Added missing ref. and removed redundant ref.
  packages/components/pages/f-account-info/package.json
Labels: bug, reviewed-1, reviewed-2, pages

#1500 f-checkout@v3.10.0 - Show dialog on basket change
  packages/components/pages/f-checkout/CHANGELOG.md
  packages/components/pages/f-checkout/package.json
  packages/components/pages/f-checkout/src/checkout-issues.js
  packages/components/pages/f-checkout/src/store/checkout.module.js
  packages/components/pages/f-checkout/src/store/tests/checkout.module.test.js
  packages/components/pages/f-checkout/src/tenants/en-AU.js
  packages/components/pages/f-checkout/src/tenants/en-GB.js
  packages/components/pages/f-checkout/src/tenants/en-NZ.js
  packages/components/pages/f-checkout/stories/Checkout.stories.js
  packages/components/pages/f-checkout/stories/demo/get-basket-invalid-products.json
  packages/components/pages/f-checkout/stories/demo/get-basket-offline-products.json
  packages/components/pages/f-checkout/stories/demo/mockResponses.js
Labels: pages

#1501 f-checkout@v3.11.0 - Use card with content for Errors
  packages/components/pages/f-checkout/CHANGELOG.md
  packages/components/pages/f-checkout/package.json
  packages/components/pages/f-checkout/src/components/Error.vue
  packages/components/pages/f-checkout/src/components/_tests/Error.test.js
Labels: pages

#1503 f-card@3.3.0 - Fixes a comment from a previous pr.
  packages/components/atoms/f-card/CHANGELOG.md
  packages/components/atoms/f-card/package.json
  packages/components/atoms/f-card/src/components/Card.vue
  packages/components/atoms/f-card/src/components/_tests/Card.test.js
Labels: reviewed-1, reviewed-2, atoms

#1507 f-contact-preferences@0.8.0 - Update card version to pull in new props.
  packages/components/pages/f-contact-preferences/CHANGELOG.md
  packages/components/pages/f-contact-preferences/package.json
  packages/components/pages/f-contact-preferences/src/components/ContactPreferences.vue
Labels: reviewed-1, reviewed-2, please review, pages

#1509 f-alert@4.0.0 - add f-button to peer dependencies
  CHANGELOG.md
  package.json
  packages/components/molecules/f-alert/CHANGELOG.md
  packages/components/molecules/f-alert/README.md
  packages/components/molecules/f-alert/package.json
  packages/components/molecules/f-alert/src/components/Alert.vue
  packages/components/molecules/f-alert/vue.config.js
  yarn.lock
Labels: reviewed-1, reviewed-2, molecules

#1510 f-mega-modal@4.0.0 - f-button to the peer deps
  packages/components/molecules/f-mega-modal/CHANGELOG.md
  packages/components/molecules/f-mega-modal/README.md
  packages/components/molecules/f-mega-modal/package.json
  packages/components/molecules/f-mega-modal/src/components/MegaModal.vue
  packages/components/molecules/f-mega-modal/vue.config.js
  yarn.lock
Labels: molecules

#1499 f-account-info@0.4.0 - API provider class
  packages/components/pages/f-account-info/CHANGELOG.md
  packages/components/pages/f-account-info/package.json
  packages/components/pages/f-account-info/src/constants.js
  packages/components/pages/f-account-info/src/services/AccountInfoServiceApi.js
  packages/components/pages/f-account-info/src/services/providers/AccountInfo.api.js
  packages/components/pages/f-account-info/src/services/providers/_tests/AccountInfo.api.test.js
  packages/components/pages/f-account-info/test-utils/setup.js
Labels: reviewed-1, please review, pages

#1512 f-vue-icons@v3.1.0 - Update Legend icon
  packages/tools/f-vue-icons/CHANGELOG.md
  packages/tools/f-vue-icons/icons/LegendIcon.js
  packages/tools/f-vue-icons/package.json
  packages/tools/f-vue-icons/src/components/LegendIcon.js
  yarn.lock
Labels: please review, tools

#1504 f-contact-preferences@v0.9.0 - Register Module and Initialise Page based on Authorisation
  packages/components/pages/f-contact-preferences/CHANGELOG.md
  packages/components/pages/f-contact-preferences/README.md
  packages/components/pages/f-contact-preferences/package.json
  packages/components/pages/f-contact-preferences/src/components/ContactPreferences.vue
  packages/components/pages/f-contact-preferences/src/components/_tests/ContactPreferences.test.js
  packages/components/pages/f-contact-preferences/src/constants.js
  packages/components/pages/f-contact-preferences/stories/ContactPreferences.stories.js
Labels: reviewed-1, please review, pages
