Repository justeattakeaway/fozzie-components, pull requests merged in 2022-09, with the labels that each got.

#2089 fozzie-components@v7.27.0 - GitHub Actions Browser Tests
  .circleci/config.yml
  .github/workflows/build.yml
  CHANGELOG.md
  package.json
  packages/services/f-wdio-utils/CHANGELOG.md
  packages/services/f-wdio-utils/package.json
  packages/services/f-wdio-utils/src/axe-helper.js
  test/configuration/ci.config.js
  test/configuration/configuration-helper.js
  test/utils/axe-helper.js
  wdio-shared.conf.js
  yarn.lock
Labels: services

#2119 f-mega-modal@v7.2.1 - Fix flush styles.
  packages/components/molecules/f-mega-modal/CHANGELOG.md
  packages/components/molecules/f-mega-modal/package.json
  packages/components/molecules/f-mega-modal/src/components/MegaModal.vue
Labels: reviewed-1, reviewed-2, molecules

#2120 fozzie-components@v7.28.0 - Add linting and unit tests to GitHub Actions
  .github/workflows/build.yml
  CHANGELOG.md
  package.json
Labels: reviewed-1, reviewed-2

#2122 f-error-boundary@v0.4.0
  packages/components/atoms/f-error-boundary/CHANGELOG.md
  packages/components/atoms/f-error-boundary/package.json
  packages/components/atoms/f-error-boundary/src/components/ErrorBoundary.vue
  packages/components/atoms/f-error-boundary/src/components/tests/ErrorBoundary.test.js
Labels: atoms

#2124 f-mfa@v0.13.0 - Clear opt field on mount()
  packages/components/pages/f-mfa/CHANGELOG.md
  packages/components/pages/f-mfa/package.json
  packages/components/pages/f-mfa/src/components/Mfa.vue
  packages/components/pages/f-mfa/src/tenants/en-GB.js
Labels: pages

#2125 f-header@v10.6.2 - Fixed analytics order count URL.
  packages/components/organisms/f-header/CHANGELOG.md
  packages/components/organisms/f-header/package.json
  packages/components/organisms/f-header/src/components/Header.vue
  packages/components/organisms/f-header/src/components/_tests/__snapshots__/Header.test.js.snap
Labels: organisms

#2127 f-mfa@v0.14.0 - Disabled autocomplete on the otp field
  packages/components/pages/f-mfa/CHANGELOG.md
  packages/components/pages/f-mfa/package.json
  packages/components/pages/f-mfa/src/components/Mfa.vue
Labels: reviewed-1, reviewed-2, pages

#2126 f-mfa@0.15.0 - Fixes from staff beta
  packages/components/pages/f-mfa/CHANGELOG.md
  packages/components/pages/f-mfa/package.json
  packages/components/pages/f-mfa/src/components/Help.vue
  packages/components/pages/f-mfa/src/components/Mfa.vue
  packages/components/pages/f-mfa/src/components/_tests/Mfa.test.js
Labels: pages

#2128 f-header@10.7.0 - Fix logout issue and pointer.
  packages/components/organisms/f-header/CHANGELOG.md
  packages/components/organisms/f-header/package.json
  packages/components/organisms/f-header/src/components/CountrySelector.vue
  packages/components/organisms/f-header/src/components/Navigation.vue
  packages/components/organisms/f-header/src/components/UserNavigationPanel.vue
Labels: organisms

#2130 fozzie-components@v7.28.1 - Revert to old @storybook/storybook-deployer dependency and fix cache env vars.
  .github/workflows/build.yml
  CHANGELOG.md
  package.json
  packages/storybook/CHANGELOG.md
  packages/storybook/package.json
  yarn.lock
Labels: storybook

#2132 f-mfa@0.17.0 - Fix validation of returnUrl
  packages/components/pages/f-mfa/CHANGELOG.md
  packages/components/pages/f-mfa/package.json
  packages/components/pages/f-mfa/src/_tests/constants.test.js
  packages/components/pages/f-mfa/src/components/Help.vue
  packages/components/pages/f-mfa/src/components/Mfa.vue
  packages/components/pages/f-mfa/src/components/_tests/Mfa.test.js
  packages/components/pages/f-mfa/src/components/_tests/__snapshots__/Mfa.test.js.snap
  packages/components/pages/f-mfa/src/constants.js
Labels: pages

#2133 #trivial - Update README.md formatting
  README.md
Labels: bug, please review

#2135 f-mfa@v0.18.0 - Updated all the ga tracking models
  packages/components/pages/f-mfa/CHANGELOG.md
  packages/components/pages/f-mfa/package.json
  packages/components/pages/f-mfa/src/components/Mfa.vue
  packages/components/pages/f-mfa/src/components/_tests/__snapshots__/Mfa.test.js.snap
  packages/components/pages/f-mfa/src/services/EventBuilder.js
  packages/components/pages/f-mfa/test-utils/component-objects/f-mfa.component.js
Labels: reviewed-1, reviewed-2, pages

#2136 f-mfa@0.19.0 - Add translations for AU and NZ
  packages/components/pages/f-mfa/CHANGELOG.md
  packages/components/pages/f-mfa/package.json
  packages/components/pages/f-mfa/src/tenants/en-AU.js
  packages/components/pages/f-mfa/src/tenants/en-NZ.js
  packages/components/pages/f-mfa/stories/Mfa.stories.js
Labels: pages

#2138 f-analytics@v0.19.0 - pushEvent() - Stripped objects of reflection details
  packages/services/f-analytics/CHANGELOG.md
  packages/services/f-analytics/package.json
  packages/services/f-analytics/src/services/analytics.service.js
Labels: reviewed-1, services

#2139 f-mfa@v0.20.0 - Fixed issue of pushing event twice
  packages/components/pages/f-mfa/CHANGELOG.md
  packages/components/pages/f-mfa/package.json
  packages/components/pages/f-mfa/src/components/Mfa.vue
  packages/components/pages/f-mfa/src/components/_tests/Mfa.test.js
Labels: reviewed-1, pages

#2140 f-analytics@v0.20.1 - Version Bump Only
  packages/services/f-analytics/CHANGELOG.md
  packages/services/f-analytics/package.json
Labels: services

#2141 storybook@v0.58.0 - Upgrade F-HTTP Context
  packages/storybook/CHANGELOG.md
  packages/storybook/context/http.context.js
  packages/storybook/package.json
  yarn.lock
Labels: reviewed-1, reviewed-2, storybook

#2143 f-mfa@0.21.0 - Cleanup API Service
  packages/components/pages/f-mfa/CHANGELOG.md
  packages/components/pages/f-mfa/package.json
  packages/components/pages/f-mfa/src/components/Mfa.vue
  packages/components/pages/f-mfa/src/constants.js
  packages/components/pages/f-mfa/src/services/AccountWeb.api.js
  packages/components/pages/f-mfa/src/services/_tests/AccountWeb.api.test.js
  yarn.lock
Labels: reviewed-1, reviewed-2, pages

#2146 f-http@v1.1.0 - revert axios lazy import and trigger tests on storybook changes
  .circleci/config.yml
  CHANGELOG.md
  package.json
  packages/services/f-http/CHANGELOG.md
  packages/services/f-http/package.json
  packages/services/f-http/src/createClient.js
  packages/storybook/CHANGELOG.md
  packages/storybook/package.json
Labels: services, storybook

#2131 fozzie-components@v7.30.0 - npm-publish github action
  .circleci/config.yml
  .github/workflows/build.yml
  CHANGELOG.md
  lerna.json
  package.json
  yarn.lock
Labels: dependencies, please review

#2147 f-cookie-banner@v4.6.0 - Move static cookie banner to f-cookie-banner directory
  packages/components/organisms/f-cookie-banner-static/babel.config.js
  packages/components/organisms/f-cookie-banner-static/package.json
  packages/components/organisms/f-cookie-banner-static/vue.config.js
  packages/components/organisms/f-cookie-banner/CHANGELOG.md
  packages/components/organisms/f-cookie-banner/babel.config.js
  packages/components/organisms/f-cookie-banner/gulpfile.js
  packages/components/organisms/f-cookie-banner/package.json
  packages/components/organisms/f-cookie-banner/public/index.html
  packages/components/organisms/f-cookie-banner/static/CHANGELOG.md
  packages/components/organisms/f-cookie-banner/static/src/App.vue
  packages/components/organisms/f-cookie-banner/static/src/main.js
  packages/components/organisms/f-cookie-banner/vue.config.js
  yarn.lock
Labels: organisms
