Repository justeattakeaway/fozzie-components, pull requests merged in 2022-10, with the labels that each got.

#2150 f-error-message@2.3.0 - Fix font size call.
  packages/components/atoms/f-error-message/CHANGELOG.md
  packages/components/atoms/f-error-message/package.json
  packages/components/atoms/f-error-message/src/components/ErrorMessage.vue
  packages/components/pages/f-registration/CHANGELOG.md
  packages/components/pages/f-registration/package.json
  yarn.lock
Labels: atoms, pages

#2152 #trivial - update to fozzie 10.5.0
  CHANGELOG.md
  package.json
  packages/components/atoms/f-button/src/components/Button.vue
  packages/components/atoms/f-filter-pill/src/components/FilterPill.vue
  packages/components/atoms/f-form-field/src/assets/scss/common.scss
  packages/components/atoms/f-form-field/src/components/FormSelectionControl.vue
  packages/components/molecules/f-restaurant-card/src/components/subcomponents/RestaurantAvailability/RestaurantAvailability.vue
  packages/components/molecules/f-restaurant-card/src/components/subcomponents/RestaurantTags/RestaurantTag.vue
  packages/components/molecules/f-searchbox/src/components/formElements/FormFullAddressSearchSuggestions.vue
  packages/components/molecules/f-searchbox/src/components/formElements/FormSearchSuggestions.vue
  packages/components/molecules/f-searchbox/src/components/shells/Shell.vue
  packages/components/organisms/f-content-cards/src/components/cardTemplates/SkeletonLoader.vue
  packages/components/organisms/f-content-cards/src/components/cardTemplates/homePromotionCard/HomePromotionCard2.vue
  packages/components/organisms/f-content-cards/src/components/cardTemplates/voucherCard/VoucherCard.vue
  packages/components/organisms/f-cookie-banner/src/components/LegacyBanner.vue
  packages/components/organisms/f-form/src/components/Form.vue
  packages/components/pages/f-checkout/src/components/Header.vue
  packages/components/pages/f-checkout/src/components/TermsAndConditions.vue
  packages/components/pages/f-loyalty/src/components/Header.vue
  packages/components/pages/f-offers/src/components/NoOffersFound.vue
  packages/components/pages/f-offers/src/components/Offers.vue
  yarn.lock
Labels: atoms, molecules, organisms, pages

#2148 f-checkout@4.6.1 - Add minor improvements
  packages/components/pages/f-checkout/CHANGELOG.md
  packages/components/pages/f-checkout/README.md
  packages/components/pages/f-checkout/package.json
  packages/services/f-http/CHANGELOG.md
  packages/services/f-http/package.json
Labels: services, pages

#2158 f-rating@v0.1.0 - initial code commit from generator.
  .github/workflows/build.yml
  CHANGELOG.md
  package.json
  packages/components/molecules/f-rating/.eslintignore
  packages/components/molecules/f-rating/CHANGELOG.md
  packages/components/molecules/f-rating/LICENSE
  packages/components/molecules/f-rating/README.md
  packages/components/molecules/f-rating/babel.config.js
  packages/components/molecules/f-rating/jest.config.js
  packages/components/molecules/f-rating/package.json
  packages/components/molecules/f-rating/src/assets/scss/common.scss
  packages/components/molecules/f-rating/src/components/Rating.vue
  packages/components/molecules/f-rating/src/components/_tests/Rating.test.js
  packages/components/molecules/f-rating/src/index.js
  packages/components/molecules/f-rating/src/tenants/en-AU.js
  packages/components/molecules/f-rating/src/tenants/en-GB.js
  packages/components/molecules/f-rating/src/tenants/en-IE.js
  packages/components/molecules/f-rating/src/tenants/en-NZ.js
  packages/components/molecules/f-rating/src/tenants/es-ES.js
  packages/components/molecules/f-rating/src/tenants/index.js
  packages/components/molecules/f-rating/src/tenants/it-IT.js
  packages/components/molecules/f-rating/stories/Rating.stories.js
  packages/components/molecules/f-rating/test-utils/component-objects/README.md
  packages/components/molecules/f-rating/test-utils/component-objects/f-rating.component.js
  packages/components/molecules/f-rating/test/accessibility/axe-accessibility.spec.js
  packages/components/molecules/f-rating/test/component/README.md
  packages/components/molecules/f-rating/test/component/f-rating.component.spec.js
  packages/components/molecules/f-rating/test/visual/f-rating.visual.spec.js
  packages/components/molecules/f-rating/vue.config.js
Labels: molecules

#2160 f-cookie-banner@v4.6.1 - version bump to publish
  packages/components/organisms/f-cookie-banner/CHANGELOG.md
  packages/components/organisms/f-cookie-banner/package.json
Labels: organisms

#2161 f-cookie-banner@v4.6.2 - update static cookie banner readme example
  packages/components/organisms/f-cookie-banner/CHANGELOG.md
  packages/components/organisms/f-cookie-banner/README.md
  packages/components/organisms/f-cookie-banner/package.json
Labels: organisms

#2165 f-rating@0.2.0 - Add stars implementation to initial generator code.
  packages/components/molecules/f-rating/CHANGELOG.md
  packages/components/molecules/f-rating/README.md
  packages/components/molecules/f-rating/package.json
  packages/components/molecules/f-rating/src/components/Rating.vue
  packages/components/molecules/f-rating/src/components/_tests/Rating.test.js
  packages/components/molecules/f-rating/src/components/_tests/__snapshots__/Rating.test.js.snap
  packages/components/molecules/f-rating/src/components/_tests/helpers/setup.js
  packages/components/molecules/f-rating/src/tenants/en-AU.js
  packages/components/molecules/f-rating/src/tenants/en-GB.js
  packages/components/molecules/f-rating/src/tenants/en-IE.js
  packages/components/molecules/f-rating/src/tenants/en-NZ.js
  packages/components/molecules/f-rating/src/tenants/es-ES.js
  packages/components/molecules/f-rating/src/tenants/it-IT.js
  packages/components/molecules/f-rating/stories/Rating.stories.js
  packages/components/molecules/f-rating/test/visual/f-rating.visual.spec.js
Labels: molecules

#2169 f-rating@0.3.0 - Move icon to devDep. #trivial
  packages/components/molecules/f-rating/CHANGELOG.md
  packages/components/molecules/f-rating/package.json
Labels: molecules

#2170 f-rating@0.4.0 - Refactor component to allow fractional stars.
  packages/components/molecules/f-rating/CHANGELOG.md
  packages/components/molecules/f-rating/README.md
  packages/components/molecules/f-rating/package.json
  packages/components/molecules/f-rating/src/components/Rating.vue
  packages/components/molecules/f-rating/src/components/_tests/Rating.test.js
  packages/components/molecules/f-rating/src/components/_tests/__snapshots__/Rating.test.js.snap
  packages/components/molecules/f-rating/src/constants.js
  packages/components/molecules/f-rating/src/tests/constants.test.js
  packages/components/molecules/f-rating/stories/Rating.stories.js
Labels: molecules

#2164 f-registration@3.7.2 Adding ES, IE and IT translations
  packages/components/pages/f-registration/CHANGELOG.md
  packages/components/pages/f-registration/package.json
  packages/components/pages/f-registration/src/tenants/en-IE.js
  packages/components/pages/f-registration/src/tenants/es-ES.js
  packages/components/pages/f-registration/src/tenants/it-IT.js
Labels: reviewed-1, reviewed-2, pages

#2167 fozzie-components@v7.38.0 - Atoms - Remove duplicate dependencies #globalconfig
  CHANGELOG.md
  package.json
  packages/components/atoms/f-button/package.json
  packages/components/atoms/f-card/package.json
  packages/components/atoms/f-error-message/package.json
  packages/components/atoms/f-filter-pill/package.json
  packages/components/atoms/f-form-field/package.json
  packages/components/atoms/f-image-tile/package.json
  packages/components/atoms/f-link/package.json
  packages/components/atoms/f-popover/package.json
  yarn.lock
Labels: atoms

#2174 f-rating@0.5.0 - Add description to rating component & tests.
  packages/components/molecules/f-rating/CHANGELOG.md
  packages/components/molecules/f-rating/README.md
  packages/components/molecules/f-rating/package.json
  packages/components/molecules/f-rating/src/components/Rating.vue
  packages/components/molecules/f-rating/src/components/_tests/Rating.test.js
  packages/components/molecules/f-rating/src/constants.js
  packages/components/molecules/f-rating/src/tenants/en-AU.js
  packages/components/molecules/f-rating/src/tenants/en-GB.js
  packages/components/molecules/f-rating/src/tenants/en-IE.js
  packages/components/molecules/f-rating/src/tenants/en-NZ.js
  packages/components/molecules/f-rating/src/tenants/es-ES.js
  packages/components/molecules/f-rating/src/tenants/it-IT.js
  packages/components/molecules/f-rating/src/tests/constants.test.js
  packages/components/molecules/f-rating/stories/Rating.stories.js
  packages/components/molecules/f-rating/test/visual/f-rating.visual.spec.js
Labels: please review, molecules

#2176 fozzie@v10.8.0 – Updating to use product orange pie-design-token
  packages/tools/fozzie/CHANGELOG.md
  packages/tools/fozzie/package.json
  packages/tools/fozzie/src/test/css/snapshot-tests/__snapshots__/fozzie-typography.spec.js.snap
  packages/tools/fozzie/src/test/css/snapshot-tests/__snapshots__/fozzie-utilities.spec.js.snap
  packages/tools/fozzie/src/test/scss/snapshot-tests/__snapshots__/snapshotTest.spec.js.snap
  yarn.lock
Labels: tools

#2168 fozzie-components@v7.39.0 - Molecules - Remove duplicate dependencies #globalconfig
  CHANGELOG.md
  package.json
  packages/components/molecules/f-alert/package.json
  packages/components/molecules/f-breadcrumbs/package.json
  packages/components/molecules/f-card-with-content/package.json
  packages/components/molecules/f-media-element/package.json
  packages/components/molecules/f-mega-modal/package.json
  packages/components/molecules/f-navigation-links/package.json
  packages/components/molecules/f-promotions-showcase/package.json
  packages/components/molecules/f-rating/package.json
  packages/components/molecules/f-restaurant-card/package.json
  packages/components/molecules/f-searchbox/package.json
  packages/components/molecules/f-skeleton-loader/package.json
  packages/components/molecules/f-tabs/package.json
  packages/components/molecules/f-user-message/package.json
Labels: molecules

#2179 f-registration@3.8.0 Use Vue I18n
  packages/components/pages/f-registration/CHANGELOG.md
  packages/components/pages/f-registration/package.json
  packages/components/pages/f-registration/src/components/Registration.vue
  packages/components/pages/f-registration/src/components/_tests/Registration.test.js
  packages/components/pages/f-registration/src/components/_tests/f-registration.integration.test.js
  packages/components/pages/f-registration/src/components/_tests/helpers/setup.js
  packages/components/pages/f-registration/src/tenants/en-AU.js
  packages/components/pages/f-registration/src/tenants/en-GB.js
  packages/components/pages/f-registration/src/tenants/en-IE.js
  packages/components/pages/f-registration/src/tenants/en-NZ.js
  packages/components/pages/f-registration/src/tenants/es-ES.js
  packages/components/pages/f-registration/src/tenants/index.js
  packages/components/pages/f-registration/src/tenants/it-IT.js
  packages/components/pages/f-registration/stories/Registration.stories.js
Labels: pages

#2173 f-checkout@4.7.0 - Add retrieve address from cookie logic
  packages/components/pages/f-checkout/CHANGELOG.md
  packages/components/pages/f-checkout/README.md
  packages/components/pages/f-checkout/package.json
  packages/components/pages/f-checkout/src/components/Checkout.vue
  packages/components/pages/f-checkout/src/components/CheckoutFormField.vue
  packages/components/pages/f-checkout/src/components/_tests/Checkout.test.js
  packages/components/pages/f-checkout/src/services/addressService/index.js
  packages/components/pages/f-checkout/src/services/addressService/tenants/nz.js
  packages/components/pages/f-checkout/src/services/tests/addressService.test.js
  packages/components/pages/f-checkout/src/store/checkout.module.js
  packages/components/pages/f-checkout/src/store/tests/__snapshots__/checkout.module.test.js.snap
  packages/components/pages/f-checkout/src/store/tests/checkout.module.test.js
  packages/components/pages/f-checkout/src/tenants/en-NZ.js
  packages/components/pages/f-checkout/stories/helpers/addresses/nz.js
Labels: pages

#2177 storybook@v0.60.0 – Style updates and typography doc updates #trivial
  packages/storybook/CHANGELOG.md
  packages/storybook/config/storybook/preview-head.html
  packages/storybook/package.json
  packages/storybook/public/jetsans-base-subset.png
  packages/storybook/public/jetsans-extended-subset.png
  stories/guides/circlieci-cli.stories.mdx
  stories/guides/typography.stories.mdx
Labels: storybook

#2180 f-registration@v3.9.0 - Update visual tests to include multiple tenants
  packages/components/pages/f-registration/CHANGELOG.md
  packages/components/pages/f-registration/package.json
  packages/components/pages/f-registration/stories/Registration.stories.js
  packages/components/pages/f-registration/test/visual/f-registration.visual.desktop.spec.js
  packages/components/pages/f-registration/test/visual/f-registration.visual.spec.js
Labels: pages

#2178 f-rating@0.6.0 - add single star variant
  packages/components/molecules/f-rating/CHANGELOG.md
  packages/components/molecules/f-rating/README.md
  packages/components/molecules/f-rating/package.json
  packages/components/molecules/f-rating/src/assets/scss/rating.scss
  packages/components/molecules/f-rating/src/components/Rating.vue
  packages/components/molecules/f-rating/src/components/RatingMultiStarVariant.vue
  packages/components/molecules/f-rating/src/components/RatingSingleStarVariant.vue
  packages/components/molecules/f-rating/src/components/_tests/Rating.test.js
  packages/components/molecules/f-rating/src/components/_tests/RatingFiveStarVariant.test.js
  packages/components/molecules/f-rating/src/components/_tests/__snapshots__/Rating.test.js.snap
  packages/components/molecules/f-rating/src/constants.js
  packages/components/molecules/f-rating/src/tests/constants.test.js
  packages/components/molecules/f-rating/stories/Rating.stories.js
  packages/components/molecules/f-rating/test/visual/f-rating.visual.spec.js
Labels: molecules
