Repository justeattakeaway/fozzie-components, pull requests merged in 2022-07, with the labels that each got.

#2009 f-checkout@v3.33.0 - fix address mapping
  packages/components/pages/f-checkout/CHANGELOG.md
  packages/components/pages/f-checkout/package.json
  packages/components/pages/f-checkout/src/services/addressService/index.js
  packages/components/pages/f-checkout/src/services/addressService/tenants/au.js
  packages/components/pages/f-checkout/src/services/addressService/tenants/es.js
  packages/components/pages/f-checkout/src/services/addressService/tenants/ie.js
  packages/components/pages/f-checkout/src/services/addressService/tenants/it.js
  packages/components/pages/f-checkout/src/services/addressService/tenants/nz.js
  packages/components/pages/f-checkout/src/services/addressService/tenants/uk.js
  packages/components/pages/f-checkout/src/services/tests/addressService.test.js
  packages/components/pages/f-checkout/src/store/checkout.module.js
  packages/components/pages/f-checkout/src/store/tests/__snapshots__/checkout.module.test.js.snap
  packages/components/pages/f-checkout/src/store/tests/checkout.module.test.js
  yarn.lock
Labels: pages

#2013 Upgraded all packages to f-wdio-utils ver 0.12.0 #globalconfig #trivial
  CHANGELOG.md
  package.json
  packages/components/atoms/f-card/package.json
  packages/components/atoms/f-error-message/package.json
  packages/components/atoms/f-filter-pill/package.json
  packages/components/atoms/f-form-field/package.json
  packages/components/atoms/f-image-tile/package.json
  packages/components/atoms/f-link/package.json
  packages/components/atoms/f-popover/package.json
  packages/components/atoms/f-spinner/package.json
  packages/components/molecules/f-alert/package.json
  packages/components/molecules/f-breadcrumbs/package.json
  packages/components/molecules/f-card-with-content/package.json
  packages/components/molecules/f-media-element/package.json
  packages/components/molecules/f-mega-modal/package.json
  packages/components/molecules/f-navigation-links/package.json
  packages/components/molecules/f-promotions-showcase/package.json
  packages/components/molecules/f-restaurant-card/package.json
  packages/components/molecules/f-searchbox/package.json
  packages/components/molecules/f-skeleton-loader/package.json
  packages/components/molecules/f-tabs/package.json
  packages/components/molecules/f-user-message/package.json
  packages/components/organisms/f-content-cards/package.json
  packages/components/organisms/f-cookie-banner/package.json
  packages/components/organisms/f-cookie-banner/test-utils/component-objects/f-cookie-banner.component.js
  packages/components/organisms/f-cookie-banner/test/component/f-cookie-banner.component.spec.js
  packages/components/organisms/f-cookie-banner/test/visual/f-cookie-banner-legacy.visual.spec.js
  packages/components/organisms/f-cookie-banner/test/visual/f-cookie-banner.visual.spec.js
  packages/components/organisms/f-footer/package.json
  packages/components/organisms/f-form/package.json
  packages/components/organisms/f-header/package.json
  packages/components/organisms/f-status-banner/package.json
  packages/services/f-performance/package.json
  packages/tools/generator-component/generators/app/templates/__package__.json
Labels: atoms, molecules, organisms, services, tools

#2014 f-wdio-utils@v1.1.0 - Update Axe implementation to support async
  packages/components/atoms/f-button/CHANGELOG.md
  packages/components/atoms/f-button/package.json
  packages/components/atoms/f-button/test/accessibility/axe-accessibility.spec.js
  packages/services/f-wdio-utils/CHANGELOG.md
  packages/services/f-wdio-utils/package.json
  packages/services/f-wdio-utils/src/axe-helper.js
  packages/services/f-wdio-utils/src/page.object.js
  yarn.lock
Labels: atoms, services

#2015 Atoms - Refactor tests to use ES6 / async await #trivial
  packages/components/atoms/f-card/CHANGELOG.md
  packages/components/atoms/f-card/babel.config.js
  packages/components/atoms/f-card/package.json
  packages/components/atoms/f-card/test-utils/component-objects/f-card.component.js
  packages/components/atoms/f-card/test/accessibility/axe-accessibility.spec.js
  packages/components/atoms/f-card/test/component/f-card.component.spec.js
  packages/components/atoms/f-error-message/CHANGELOG.md
  packages/components/atoms/f-error-message/package.json
  packages/components/atoms/f-error-message/test-utils/component-objects/f-error-message.component.js
  packages/components/atoms/f-error-message/test/accessibility/axe-accessibility.spec.js
  packages/components/atoms/f-error-message/test/component/f-error-message.component.spec.js
  packages/components/atoms/f-filter-pill/CHANGELOG.md
  packages/components/atoms/f-filter-pill/package.json
  packages/components/atoms/f-filter-pill/test-utils/component-objects/f-filter-pill.component.js
  packages/components/atoms/f-filter-pill/test/accessibility/axe-accessibility.spec.js
  packages/components/atoms/f-filter-pill/test/component/f-filter-pill.component.spec.js
  packages/components/atoms/f-form-field/CHANGELOG.md
  packages/components/atoms/f-form-field/package.json
  packages/components/atoms/f-form-field/test-utils/component-objects/f-form-field--visual.component.js
  packages/components/atoms/f-form-field/test-utils/component-objects/f-form-field.component.js
  packages/components/atoms/f-form-field/test/accessibility/axe-accessibility.spec.js
  packages/components/atoms/f-form-field/test/component/f-form-field.component.spec.js
  packages/components/atoms/f-form-field/test/visual/f-form-field.visual.spec.js
  packages/components/atoms/f-image-tile/CHANGELOG.md
  packages/components/atoms/f-image-tile/package.json
  packages/components/atoms/f-image-tile/test-utils/component-objects/f-image-tile.component.js
  packages/components/atoms/f-image-tile/test/accessibility/axe-accessibility.spec.js
  packages/components/atoms/f-image-tile/test/component/f-image-tile.component.spec.js
  packages/components/atoms/f-link/CHANGELOG.md
  packages/components/atoms/f-link/package.json
  packages/components/atoms/f-link/test-utils/component-objects/f-link.component.js
  packages/components/atoms/f-link/test/accessibility/axe-accessibility.spec.js
  packages/components/atoms/f-link/test/component/f-link.component.spec.js
  packages/components/atoms/f-popover/CHANGELOG.md
  packages/components/atoms/f-popover/package.json
  packages/components/atoms/f-popover/test-utils/component-objects/f-popover.component.js
  packages/components/atoms/f-popover/test/accessibility/axe-accessibility.spec.js
  packages/components/atoms/f-popover/test/component/f-popover.component.spec.js
  packages/components/atoms/f-spinner/CHANGELOG.md
  packages/components/atoms/f-spinner/package.json
  packages/components/atoms/f-spinner/test-utils/component-objects/f-spinner.component.js
  packages/components/atoms/f-spinner/test/accessibility/axe-accessibility.spec.js
  packages/components/atoms/f-spinner/test/component/f-spinner.component.spec.js
Labels: atoms

#2020 f-account-info@v1.0.0 - update to newer sass syntax
  packages/components/pages/f-account-info/CHANGELOG.md
  packages/components/pages/f-account-info/package.json
  packages/components/pages/f-account-info/src/assets/scss/common.scss
  packages/components/pages/f-account-info/src/components/AccountInfo.vue
  packages/components/pages/f-account-info/src/components/EmailAddressField.vue
  packages/components/pages/f-account-info/src/components/Notifications.vue
  packages/components/pages/f-account-info/vue.config.js
  packages/storybook/CHANGELOG.md
  packages/storybook/package.json
  packages/storybook/vue.config.js
  yarn.lock
Labels: dependencies, please review, storybook, pages

#2019 generator-component@2.12.0 - Update to support use/forward.
  packages/tools/generator-component/CHANGELOG.md
  packages/tools/generator-component/generators/app/templates/src/assets/scss/common.scss
  packages/tools/generator-component/generators/app/templates/src/components/Skeleton.vue
  packages/tools/generator-component/generators/app/templates/vue.config.js
  packages/tools/generator-component/package.json
  packages/tools/generator-component/vue.config.js
Labels: do not merge, tools

#2024 generator-component@2.12.1 - Fix closing brace
  packages/tools/generator-component/CHANGELOG.md
  packages/tools/generator-component/generators/app/templates/__package__.json
  packages/tools/generator-component/package.json
Labels: tools

#2023 f-checkout@v4.0.0 - newer sass syntax
  packages/components/pages/f-checkout/CHANGELOG.md
  packages/components/pages/f-checkout/package.json
  packages/components/pages/f-checkout/src/assets/scss/common.scss
  packages/components/pages/f-checkout/src/components/Accordion.vue
  packages/components/pages/f-checkout/src/components/Address.vue
  packages/components/pages/f-checkout/src/components/AgeVerification.vue
  packages/components/pages/f-checkout/src/components/Checkout.vue
  packages/components/pages/f-checkout/src/components/CheckoutForm.vue
  packages/components/pages/f-checkout/src/components/CheckoutFormField.vue
  packages/components/pages/f-checkout/src/components/Error.vue
  packages/components/pages/f-checkout/src/components/ErrorDialog.vue
  packages/components/pages/f-checkout/src/components/Guest.vue
  packages/components/pages/f-checkout/src/components/Header.vue
  packages/components/pages/f-checkout/src/components/Notes.vue
  packages/components/pages/f-checkout/src/components/Selector.vue
  packages/components/pages/f-checkout/src/components/TermsAndConditions.vue
  packages/components/pages/f-checkout/vue.config.js
  packages/storybook/CHANGELOG.md
  packages/storybook/package.json
  packages/storybook/vue.config.js
  yarn.lock
Labels: dependencies, storybook, pages

#2026 f-contact-preferences@v1.0.0 - use newer sass syntax
  packages/components/pages/f-contact-preferences/CHANGELOG.md
  packages/components/pages/f-contact-preferences/package.json
  packages/components/pages/f-contact-preferences/src/assets/scss/common.scss
  packages/components/pages/f-contact-preferences/src/components/ContactPreferences.vue
  packages/components/pages/f-contact-preferences/src/components/Notifications.vue
  packages/components/pages/f-contact-preferences/vue.config.js
  packages/storybook/CHANGELOG.md
  packages/storybook/package.json
  packages/storybook/vue.config.js
  yarn.lock
Labels: dependencies, please review, storybook, pages

#2025 Refactor organisms to be async / await + fix stability #trivial
  packages/components/organisms/f-content-cards/CHANGELOG.md
  packages/components/organisms/f-content-cards/package.json
  packages/components/organisms/f-content-cards/test-utils/component-objects/f-content-cards-home-promotion-card1.component.js
  packages/components/organisms/f-content-cards/test-utils/component-objects/f-content-cards-home-promotion-card2.component.js
  packages/components/organisms/f-content-cards/test-utils/component-objects/f-content-cards-home-promotion.selectors.js
  packages/components/organisms/f-content-cards/test/accessibility/axe-accessibility.spec.js
  packages/components/organisms/f-content-cards/test/component/f-content-cards-home-promotion-card1.component.spec.js
  packages/components/organisms/f-content-cards/test/component/f-content-cards-home-promotion-card2.component.spec.js
  packages/components/organisms/f-cookie-banner/CHANGELOG.md
  packages/components/organisms/f-cookie-banner/package.json
  packages/components/organisms/f-cookie-banner/test-utils/component-objects/f-cookie-banner-legacy.component.js
  packages/components/organisms/f-cookie-banner/test-utils/component-objects/f-cookie-banner.component.js
  packages/components/organisms/f-cookie-banner/test/accessibility/axe-accessibility.spec.js
  packages/components/organisms/f-cookie-banner/test/component/f-cookie-banner-legacy.component.spec.js
  packages/components/organisms/f-cookie-banner/test/component/f-cookie-banner.component.spec.js
  packages/components/organisms/f-cookie-banner/test/visual/f-cookie-banner-legacy.visual.spec.js
  packages/components/organisms/f-cookie-banner/test/visual/f-cookie-banner.visual.spec.js
  packages/components/organisms/f-footer/CHANGELOG.md
  packages/components/organisms/f-footer/package.json
  packages/components/organisms/f-footer/test-utils/component-objects/f-footer.component.js
  packages/components/organisms/f-footer/test-utils/component-objects/f-footer.selectors.js
  packages/components/organisms/f-footer/test/accessibility/axe-accessibility.spec.js
  packages/components/organisms/f-footer/test/component/f-footer.component.spec.js
  packages/components/organisms/f-footer/test/visual/f-footer.visual.desktop.spec.js
  packages/components/organisms/f-footer/test/visual/f-footer.visual.mobile.spec.js
  packages/components/organisms/f-form/CHANGELOG.md
  packages/components/organisms/f-form/package.json
  packages/components/organisms/f-form/test-utils/component-objects/f-form.component.js
  packages/components/organisms/f-form/test/accessibility/axe-accessibility.spec.js
  packages/components/organisms/f-form/test/component/f-form.component.spec.js
  packages/components/organisms/f-header/CHANGELOG.md
  packages/components/organisms/f-header/package.json
  packages/components/organisms/f-header/test-utils/component-objects/f-header.component.js
  packages/components/organisms/f-header/test-utils/component-objects/f-header.selectors.js
  packages/components/organisms/f-header/test/accessibility/axe-accessibility.spec.js
  packages/components/organisms/f-header/test/component/f-header.component.spec.js
  packages/components/organisms/f-header/test/visual/f-header.visual.desktop.spec.js
  packages/components/organisms/f-header/test/visual/f-header.visual.mobile.spec.js
  packages/components/organisms/f-status-banner/CHANGELOG.md
  packages/components/organisms/f-status-banner/package.json
  packages/components/organisms/f-status-banner/test-utils/component-objects/f-status-banner.component.js
  packages/components/organisms/f-status-banner/test-utils/component-objects/f-status-banner.selectors.js
  packages/components/organisms/f-status-banner/test/accessibility/axe-accessibility.spec.js
  packages/components/organisms/f-status-banner/test/component/f-status-banner.component.spec.js
  packages/components/organisms/f-status-banner/test/visual/f-status-banner.visual.spec.js
  yarn.lock
Labels: reviewed-1, please review, organisms

#2027 f-loyalty@v2.0.0 - new sass syntax
  packages/components/pages/f-loyalty/CHANGELOG.md
  packages/components/pages/f-loyalty/package.json
  packages/components/pages/f-loyalty/src/assets/scss/common.scss
  packages/components/pages/f-loyalty/src/components/Header.vue
  packages/components/pages/f-loyalty/src/components/HowItWorks.vue
  packages/components/pages/f-loyalty/src/components/Loading.vue
  packages/components/pages/f-loyalty/src/components/Loyalty.vue
  packages/components/pages/f-loyalty/src/components/NoCardsErrorState.vue
  packages/components/pages/f-loyalty/src/components/Slots.vue
  packages/components/pages/f-loyalty/src/components/Terms.vue
  packages/components/pages/f-loyalty/src/components/Unauthenticated.vue
  packages/components/pages/f-loyalty/vue.config.js
  packages/storybook/CHANGELOG.md
  packages/storybook/package.json
  packages/storybook/vue.config.js
  yarn.lock
Labels: dependencies, please review, storybook, pages

#2029 f-offers@v2.0.0-beta.1
  packages/components/pages/f-offers/CHANGELOG.md
  packages/components/pages/f-offers/package.json
  packages/components/pages/f-offers/src/assets/scss/common.scss
  packages/components/pages/f-offers/src/components/Header.vue
  packages/components/pages/f-offers/src/components/NoOffersFound.vue
  packages/components/pages/f-offers/src/components/Offers.vue
  packages/components/pages/f-offers/src/components/Results.vue
  packages/components/pages/f-offers/src/components/Unauthenticated.vue
  packages/components/pages/f-offers/vue.config.js
  packages/storybook/CHANGELOG.md
  packages/storybook/package.json
  packages/storybook/vue.config.js
  yarn.lock
Labels: dependencies, storybook, pages

#2033 f-registration@v3.0.0 - Use new sass syntax.
  packages/components/pages/f-registration/CHANGELOG.md
  packages/components/pages/f-registration/package.json
  packages/components/pages/f-registration/src/assets/scss/common.scss
  packages/components/pages/f-registration/src/components/Registration.vue
  packages/components/pages/f-registration/vue.config.js
  packages/storybook/CHANGELOG.md
  packages/storybook/package.json
  packages/storybook/vue.config.js
  yarn.lock
Labels: storybook, pages

#2031 f-header@10.2.0 - Add a theme to support header on Search
  packages/components/organisms/f-header/CHANGELOG.md
  packages/components/organisms/f-header/README.md
  packages/components/organisms/f-header/package.json
  packages/components/organisms/f-header/src/components/Header.vue
  packages/components/organisms/f-header/src/components/_tests/Header.test.js
  packages/components/organisms/f-header/stories/header.stories.js
  packages/components/organisms/f-header/test/visual/f-header.visual.desktop.spec.js
  packages/components/organisms/f-header/test/visual/f-header.visual.mobile.spec.js
Labels: organisms

#2034 f-takeawaypay-activation@v3.0.0 - update sass syntax
  packages/components/pages/f-takeawaypay-activation/CHANGELOG.md
  packages/components/pages/f-takeawaypay-activation/package.json
  packages/components/pages/f-takeawaypay-activation/src/assets/scss/_takeaway-pay-activation.scss
  packages/components/pages/f-takeawaypay-activation/src/assets/scss/common.scss
  packages/components/pages/f-takeawaypay-activation/src/components/ActivationFailed.vue
  packages/components/pages/f-takeawaypay-activation/src/components/ActivationLoggedIn.vue
  packages/components/pages/f-takeawaypay-activation/src/components/ActivationNotLoggedIn.vue
  packages/components/pages/f-takeawaypay-activation/src/components/ActivationSuccessful.vue
  packages/components/pages/f-takeawaypay-activation/src/components/TakeawaypayActivation.vue
  packages/components/pages/f-takeawaypay-activation/src/components/_tests/__snapshots__/TakeawaypayActivation.test.js.snap
  packages/components/pages/f-takeawaypay-activation/vue.config.js
  packages/storybook/CHANGELOG.md
  packages/storybook/package.json
  packages/storybook/vue.config.js
  yarn.lock
Labels: dependencies, storybook, pages

#2036 f-offers@v1.12.0-beta.4 – Fixing versioning from previous commits
  packages/components/pages/f-offers/CHANGELOG.md
  packages/components/pages/f-offers/package.json
Labels: pages

#2037 f-button@v4.3.0 (and other atoms) - Add Node 16 support
  packages/components/atoms/f-button/CHANGELOG.md
  packages/components/atoms/f-button/package.json
  packages/components/atoms/f-card/CHANGELOG.md
  packages/components/atoms/f-card/package.json
  packages/components/atoms/f-error-boundary/CHANGELOG.md
  packages/components/atoms/f-error-boundary/package.json
  packages/components/atoms/f-error-message/CHANGELOG.md
  packages/components/atoms/f-error-message/package.json
  packages/components/atoms/f-filter-pill/CHANGELOG.md
  packages/components/atoms/f-filter-pill/package.json
  packages/components/atoms/f-form-field/CHANGELOG.md
  packages/components/atoms/f-form-field/package.json
  packages/components/atoms/f-image-tile/CHANGELOG.md
  packages/components/atoms/f-image-tile/package.json
  packages/components/atoms/f-link/CHANGELOG.md
  packages/components/atoms/f-link/package.json
  packages/components/atoms/f-popover/CHANGELOG.md
  packages/components/atoms/f-popover/package.json
  packages/components/atoms/f-spinner/CHANGELOG.md
  packages/components/atoms/f-spinner/package.json
  yarn.lock
Labels: atoms

#2039 f-form-field@6.2.0 - Prevent form label from showing as required when no props/attributes are given
  packages/components/atoms/f-form-field/CHANGELOG.md
  packages/components/atoms/f-form-field/package.json
  packages/components/atoms/f-form-field/src/components/FormField.vue
  packages/components/atoms/f-form-field/src/components/FormLabel.vue
  packages/components/atoms/f-form-field/src/components/FormSelectionControl.vue
Labels: atoms

#2041 generator-component@v2.13.0 - Fix reference to fozzie variable.
  packages/tools/generator-component/CHANGELOG.md
  packages/tools/generator-component/generators/app/templates/src/components/Skeleton.vue
  packages/tools/generator-component/package.json
Labels: tools

#2040 fozzie-components@v7.17.0 - Fix storybook deploy
  CHANGELOG.md
  package.json
  packages/storybook/CHANGELOG.md
  packages/storybook/package.json
Labels: storybook

#2042 storybook@v0.52.35 - Fix storybook deploy to use native git push
  packages/storybook/CHANGELOG.md
  packages/storybook/package.json
  yarn.lock
Labels: reviewed-1, storybook

#2043 f-mfa@v0.1.0 - Initial yeoman generated files
  packages/components/pages/f-mfa/.eslintignore
  packages/components/pages/f-mfa/CHANGELOG.md
  packages/components/pages/f-mfa/LICENSE
  packages/components/pages/f-mfa/README.md
  packages/components/pages/f-mfa/babel.config.js
  packages/components/pages/f-mfa/jest.config.js
  packages/components/pages/f-mfa/package.json
  packages/components/pages/f-mfa/src/assets/scss/common.scss
  packages/components/pages/f-mfa/src/components/Mfa.vue
  packages/components/pages/f-mfa/src/components/_tests/Mfa.test.js
  packages/components/pages/f-mfa/src/index.js
  packages/components/pages/f-mfa/src/tenants/en-AU.js
  packages/components/pages/f-mfa/src/tenants/en-GB.js
  packages/components/pages/f-mfa/src/tenants/en-IE.js
  packages/components/pages/f-mfa/src/tenants/en-NZ.js
  packages/components/pages/f-mfa/src/tenants/es-ES.js
  packages/components/pages/f-mfa/src/tenants/index.js
  packages/components/pages/f-mfa/src/tenants/it-IT.js
  packages/components/pages/f-mfa/stories/Mfa.stories.js
  packages/components/pages/f-mfa/test-utils/component-objects/README.md
  packages/components/pages/f-mfa/test-utils/component-objects/f-mfa.component.js
  packages/components/pages/f-mfa/test/accessibility/axe-accessibility.spec.js
  packages/components/pages/f-mfa/test/component/README.md
  packages/components/pages/f-mfa/test/component/f-mfa.component.spec.js
  packages/components/pages/f-mfa/test/visual/f-mfa.visual.spec.js
  packages/components/pages/f-mfa/vue.config.js
Labels: pages

#2028 f-account-info@1.2.0 (and all other pages) - Move components to peerDependencies
  packages/components/pages/f-account-info/CHANGELOG.md
  packages/components/pages/f-account-info/package.json
  packages/components/pages/f-account-info/src/components/AccountInfo.vue
  packages/components/pages/f-checkout/CHANGELOG.md
  packages/components/pages/f-checkout/package.json
  packages/components/pages/f-contact-preferences/CHANGELOG.md
  packages/components/pages/f-contact-preferences/package.json
  packages/components/pages/f-loyalty/CHANGELOG.md
  packages/components/pages/f-loyalty/package.json
  packages/components/pages/f-loyalty/src/components/_tests/Header.test.js
  packages/components/pages/f-loyalty/src/components/_tests/Loyalty.test.js
  packages/components/pages/f-offers/CHANGELOG.md
  packages/components/pages/f-offers/package.json
  packages/components/pages/f-registration/CHANGELOG.md
  packages/components/pages/f-registration/package.json
  packages/components/pages/f-registration/src/components/Registration.vue
  packages/components/pages/f-takeawaypay-activation/CHANGELOG.md
  packages/components/pages/f-takeawaypay-activation/package.json
  yarn.lock
Labels: do not merge, please review, pages

#2049 f-header@10.2.1 - Rename `whiteSeamless` theme, change the background of the theme
  packages/components/organisms/f-header/CHANGELOG.md
  packages/components/organisms/f-header/README.md
  packages/components/organisms/f-header/package.json
  packages/components/organisms/f-header/src/components/Header.vue
  packages/components/organisms/f-header/src/components/_tests/Header.test.js
  packages/components/organisms/f-header/stories/header.stories.js
  packages/components/organisms/f-header/test/visual/f-header.visual.desktop.spec.js
  packages/components/organisms/f-header/test/visual/f-header.visual.mobile.spec.js
  yarn.lock
Labels: organisms

#2038 f-alert@v6.1.0 (and other molecules) - Add Node 16 support
  CHANGELOG.md
  bundlewatch.config.js
  package.json
  packages/components/molecules/f-alert/CHANGELOG.md
  packages/components/molecules/f-alert/package.json
  packages/components/molecules/f-breadcrumbs/CHANGELOG.md
  packages/components/molecules/f-breadcrumbs/package.json
  packages/components/molecules/f-card-with-content/CHANGELOG.md
  packages/components/molecules/f-card-with-content/package.json
  packages/components/molecules/f-media-element/CHANGELOG.md
  packages/components/molecules/f-media-element/package.json
  packages/components/molecules/f-mega-modal/CHANGELOG.md
  packages/components/molecules/f-mega-modal/package.json
  packages/components/molecules/f-navigation-links/CHANGELOG.md
  packages/components/molecules/f-navigation-links/package.json
  packages/components/molecules/f-promotions-showcase/CHANGELOG.md
  packages/components/molecules/f-promotions-showcase/package.json
  packages/components/molecules/f-restaurant-card/CHANGELOG.md
  packages/components/molecules/f-restaurant-card/package.json
  packages/components/molecules/f-searchbox/CHANGELOG.md
  packages/components/molecules/f-searchbox/package.json
  packages/components/molecules/f-skeleton-loader/CHANGELOG.md
  packages/components/molecules/f-skeleton-loader/package.json
  packages/components/molecules/f-tabs/CHANGELOG.md
  packages/components/molecules/f-tabs/package.json
  packages/components/molecules/f-user-message/CHANGELOG.md
  packages/components/molecules/f-user-message/package.json
  packages/storybook/CHANGELOG.md
  packages/storybook/config/storybook/scss-loader.scss
  packages/storybook/config/storybook/story.config.js
  packages/storybook/package.json
  yarn.lock
Labels: molecules, storybook

#2051 f-registration@v3.3.0 (and other pages) - Add node 16 support to pages
  .circleci/config.yml
  CHANGELOG.md
  package.json
  packages/components/pages/f-account-info/CHANGELOG.md
  packages/components/pages/f-account-info/package.json
  packages/components/pages/f-checkout/CHANGELOG.md
  packages/components/pages/f-checkout/package.json
  packages/components/pages/f-contact-preferences/CHANGELOG.md
  packages/components/pages/f-contact-preferences/package.json
  packages/components/pages/f-loyalty/CHANGELOG.md
  packages/components/pages/f-loyalty/package.json
  packages/components/pages/f-mfa/CHANGELOG.md
  packages/components/pages/f-mfa/package.json
  packages/components/pages/f-offers/CHANGELOG.md
  packages/components/pages/f-offers/package.json
  packages/components/pages/f-registration/CHANGELOG.md
  packages/components/pages/f-registration/package.json
  packages/components/pages/f-takeawaypay-activation/CHANGELOG.md
  packages/components/pages/f-takeawaypay-activation/package.json
Labels: pages

#2050 f-header@v10.3.0 (and other organisms) - Add node 16 support to organisms
  packages/components/organisms/f-content-cards/CHANGELOG.md
  packages/components/organisms/f-content-cards/package.json
  packages/components/organisms/f-cookie-banner-static/CHANGELOG.md
  packages/components/organisms/f-cookie-banner-static/package.json
  packages/components/organisms/f-cookie-banner/CHANGELOG.md
  packages/components/organisms/f-cookie-banner/package.json
  packages/components/organisms/f-footer/CHANGELOG.md
  packages/components/organisms/f-footer/package.json
  packages/components/organisms/f-form/CHANGELOG.md
  packages/components/organisms/f-form/package.json
  packages/components/organisms/f-header/CHANGELOG.md
  packages/components/organisms/f-header/package.json
  packages/components/organisms/f-status-banner/CHANGELOG.md
  packages/components/organisms/f-status-banner/package.json
  packages/storybook/CHANGELOG.md
  packages/storybook/config/storybook/story.config.js
  packages/storybook/package.json
Labels: organisms, storybook

#2053 f-vue-icons@v3.11.0 - Update tools / templates / storybook / root to support Node 16
  CHANGELOG.md
  package.json
  packages/components/templates/f-template-subnav/CHANGELOG.md
  packages/components/templates/f-template-subnav/package.json
  packages/storybook/CHANGELOG.md
  packages/storybook/package.json
  packages/tools/f-vue-icons/CHANGELOG.md
  packages/tools/f-vue-icons/package.json
  packages/tools/generator-component/CHANGELOG.md
  packages/tools/generator-component/generators/app/templates/__package__.json
  packages/tools/generator-component/package.json
Labels: storybook, tools, templates

#2054 fozzie-components@v7.20.0 - Update f-wdio-utils at root and remove references from component package.json + Update checkout max bundle size #globalconfig
  CHANGELOG.md
  package.json
  packages/components/atoms/f-button/package.json
  packages/components/atoms/f-card/package.json
  packages/components/atoms/f-error-message/package.json
  packages/components/atoms/f-filter-pill/package.json
  packages/components/atoms/f-form-field/package.json
  packages/components/atoms/f-image-tile/package.json
  packages/components/atoms/f-link/package.json
  packages/components/atoms/f-popover/package.json
  packages/components/atoms/f-spinner/package.json
  packages/components/molecules/f-alert/package.json
  packages/components/molecules/f-breadcrumbs/package.json
  packages/components/molecules/f-card-with-content/package.json
  packages/components/molecules/f-media-element/package.json
  packages/components/molecules/f-mega-modal/package.json
  packages/components/molecules/f-navigation-links/package.json
  packages/components/molecules/f-promotions-showcase/package.json
  packages/components/molecules/f-restaurant-card/package.json
  packages/components/molecules/f-searchbox/package.json
  packages/components/molecules/f-skeleton-loader/package.json
  packages/components/molecules/f-tabs/package.json
  packages/components/molecules/f-user-message/package.json
  packages/components/organisms/f-content-cards/package.json
  packages/components/organisms/f-cookie-banner-static/CHANGELOG.md
  packages/components/organisms/f-cookie-banner/package.json
  packages/components/organisms/f-footer/package.json
  packages/components/organisms/f-form/package.json
  packages/components/organisms/f-header/package.json
  packages/components/organisms/f-status-banner/package.json
  packages/components/pages/f-account-info/package.json
  packages/components/pages/f-checkout/CHANGELOG.md
  packages/components/pages/f-checkout/package.json
  packages/components/pages/f-contact-preferences/package.json
  packages/components/pages/f-loyalty/package.json
  packages/components/pages/f-mfa/package.json
  packages/components/pages/f-offers/package.json
  packages/components/pages/f-registration/package.json
  packages/components/pages/f-takeawaypay-activation/package.json
  packages/components/templates/f-template-subnav/package.json
Labels: atoms, molecules, organisms, pages, templates

#2056 f-header@v10.4.0 (and other components) - Update to node 16 compatible dependencies
  packages/components/molecules/f-searchbox/CHANGELOG.md
  packages/components/molecules/f-searchbox/package.json
  packages/components/organisms/f-header/CHANGELOG.md
  packages/components/organisms/f-header/package.json
  yarn.lock
Labels: molecules, organisms

#2057 fozzie-components@v7.20.1 - Ensure dependants are built / served / tested / analysed by Bundlewatch
  .circleci/config.yml
  CHANGELOG.md
  bundlewatch.config.js
  lerna.json
  package.json
  packages/storybook/CHANGELOG.md
  packages/storybook/config/storybook/story.config.js
  packages/storybook/package.json
Labels: storybook

#2061 f-account-info@v1.4.0 - Update f-account-info to have node 16 compatible deps
  packages/components/pages/f-account-info/CHANGELOG.md
  packages/components/pages/f-account-info/package.json
  yarn.lock
Labels: pages

#2060 generator-components@v2.14.1 (and f-mfa)- Fix generated tests to use ES6
  packages/components/pages/f-mfa/CHANGELOG.md
  packages/components/pages/f-mfa/package.json
  packages/components/pages/f-mfa/test-utils/component-objects/f-mfa.component.js
  packages/components/pages/f-mfa/test/accessibility/axe-accessibility.spec.js
  packages/components/pages/f-mfa/test/component/f-mfa.component.spec.js
  packages/components/pages/f-mfa/test/visual/f-mfa.visual.spec.js
  packages/tools/generator-component/CHANGELOG.md
  packages/tools/generator-component/generators/app/templates/__package__.json
  packages/tools/generator-component/generators/app/templates/jest.config.js
  packages/tools/generator-component/generators/app/templates/stories/Skeleton.__stories__.js
  packages/tools/generator-component/generators/app/templates/test-utils/component-objects/f-skeleton.component.js
  packages/tools/generator-component/generators/app/templates/test/accessibility/axe-accessibility.spec.js
  packages/tools/generator-component/generators/app/templates/test/component/f-skeleton.component.__spec__.js
  packages/tools/generator-component/generators/app/templates/test/visual/f-skeleton.visual.__spec__.js
  packages/tools/generator-component/package.json
Labels: tools, pages

#2062 fozzie-components@v7.21.0 - Update components to use Node 16 compatible version of f-services #trival #globalconfig
  CHANGELOG.md
  package.json
  packages/components/atoms/f-card/package.json
  packages/components/atoms/f-form-field/package.json
  packages/components/atoms/f-image-tile/package.json
  packages/components/atoms/f-link/package.json
  packages/components/atoms/f-popover/package.json
  packages/components/atoms/f-spinner/package.json
  packages/components/molecules/f-alert/package.json
  packages/components/molecules/f-breadcrumbs/package.json
  packages/components/molecules/f-media-element/package.json
  packages/components/molecules/f-searchbox/package.json
  packages/components/molecules/f-skeleton-loader/package.json
  packages/components/molecules/f-tabs/package.json
  packages/components/molecules/f-user-message/CHANGELOG.md
  packages/components/molecules/f-user-message/package.json
  packages/components/molecules/f-user-message/src/components/UserMessage.vue
  packages/components/organisms/f-footer/package.json
  packages/components/organisms/f-form/package.json
  packages/components/organisms/f-status-banner/package.json
  packages/components/pages/f-checkout/package.json
  packages/components/pages/f-contact-preferences/package.json
  packages/components/pages/f-mfa/package.json
  packages/services/f-performance/package.json
  packages/services/f-test-data-creator/package.json
  packages/services/f-wdio-utils/package.json
  yarn.lock
Labels: atoms, molecules, organisms, services, pages

#2066 f-takeawaypay-activation@v3.3.0 - Update dependencies to be Node 16 compatible.
  packages/components/pages/f-takeawaypay-activation/CHANGELOG.md
  packages/components/pages/f-takeawaypay-activation/package.json
  yarn.lock
Labels: pages

#2065 f-restaurant-card@v1.3.0 - Update dependencies to be Node 16 compatible.
  packages/components/molecules/f-restaurant-card/CHANGELOG.md
  packages/components/molecules/f-restaurant-card/package.json
  yarn.lock
Labels: molecules
