Repository justeattakeaway/fozzie-components, pull requests merged in 2022-02, with the labels that each got.

#1635 f-vue-icons@v3.5.0 - add new clock-small and walking-small icons
  packages/tools/f-vue-icons/CHANGELOG.md
  packages/tools/f-vue-icons/icons/ClockSmallIcon.js
  packages/tools/f-vue-icons/icons/WalkingSmallIcon.js
  packages/tools/f-vue-icons/package.json
  packages/tools/f-vue-icons/src/components/ClockSmallIcon.js
  packages/tools/f-vue-icons/src/components/WalkingSmallIcon.js
  packages/tools/f-vue-icons/src/index.js
  yarn.lock
Labels: please review, tools

#1625 f-account-info@v0.15.1 - added functions from `f-wdio-utils` package
  CHANGELOG.md
  package.json
  packages/components/pages/f-account-info/CHANGELOG.md
  packages/components/pages/f-account-info/package.json
  packages/components/pages/f-account-info/test-utils/component-objects/f-account-info.component.js
  packages/components/pages/f-account-info/test/component/f-account-info.component.spec.js
  packages/components/pages/f-account-info/test/visual/f-account-info.visual.desktop.spec.js
  packages/components/pages/f-account-info/test/visual/f-account-info.visual.mobile.spec.js
  packages/components/pages/f-account-info/test/visual/f-account-info.visual.spec.js
  test/configuration/shared.config.js
Labels: pages

#1637 f-footer@6.2.0 - ES prensa link update
  packages/components/organisms/f-footer/CHANGELOG.md
  packages/components/organisms/f-footer/package.json
  packages/components/organisms/f-footer/src/tenants/es-ES.js
Labels: organisms

#1622 f-checkout@v3.16.0 - added `f-wdio-utils` functions to tests
  packages/components/pages/f-checkout/CHANGELOG.md
  packages/components/pages/f-checkout/package.json
  packages/components/pages/f-checkout/test-utils/component-objects/f-checkout.component.js
  packages/components/pages/f-checkout/test/accessibility/axe-accessibility.spec.js
  packages/components/pages/f-checkout/test/component/f-checkout-delivery.component.spec.js
  packages/components/pages/f-checkout/test/component/f-checkout-dinein.component.spec.js
  packages/components/pages/f-checkout/test/component/f-checkout-guest.component.spec.js
  packages/components/pages/f-checkout/test/component/f-checkout.component.spec.js
  packages/components/pages/f-checkout/test/visual/f-checkout-authenticated.visual.desktop.spec.js
  packages/components/pages/f-checkout/test/visual/f-checkout-authenticated.visual.mobile.spec.js
  packages/components/pages/f-checkout/test/visual/f-checkout-guest.visual.desktop.spec.js
  packages/components/pages/f-checkout/test/visual/f-checkout-guest.visual.mobile.spec.js
  yarn.lock
Labels: pages

#1638 f-checkout@3.17.0 - Remove unused notes from split notes formatting
  packages/components/pages/f-checkout/CHANGELOG.md
  packages/components/pages/f-checkout/package.json
  packages/components/pages/f-checkout/src/components/Notes.vue
  packages/components/pages/f-checkout/src/services/checkoutApi.js
  packages/components/pages/f-checkout/src/services/tests/checkoutApi.test.js
  packages/components/pages/f-checkout/src/store/checkout.module.js
  packages/components/pages/f-checkout/src/store/tests/checkout.module.test.js
  packages/components/pages/f-checkout/stories/demo/get-notes-config.json
Labels: pages

#1636 f-checkout@3.18.0 - Address service to handle AU/NZ addresses
  packages/components/pages/f-checkout/CHANGELOG.md
  packages/components/pages/f-checkout/package.json
  packages/components/pages/f-checkout/src/services/addressService.js
  packages/components/pages/f-checkout/src/services/tests/__snapshots__/addressService.test.js.snap
  packages/components/pages/f-checkout/src/services/tests/addressService.test.js
  packages/components/pages/f-checkout/src/store/checkout.module.js
  packages/components/pages/f-checkout/src/store/tests/checkout.module.test.js
  packages/components/pages/f-checkout/stories/Checkout.stories.js
  packages/components/pages/f-checkout/stories/demo/au/get-address.json
  packages/components/pages/f-checkout/stories/demo/mockResponses.js
  packages/components/pages/f-checkout/stories/demo/nz/get-address.json
  packages/components/pages/f-checkout/stories/demo/uk/get-address.json
Labels: pages

#1643 f-checkout@3.18.1 - Use only the old notes input for order notes
  packages/components/pages/f-checkout/CHANGELOG.md
  packages/components/pages/f-checkout/package.json
  packages/components/pages/f-checkout/src/components/Notes.vue
  packages/components/pages/f-checkout/test/component/f-checkout-delivery.component.spec.js
Labels: pages

#1630 f-contact-preferences@v0.16.0 - Extracted notifications to own file
  packages/components/pages/f-contact-preferences/CHANGELOG.md
  packages/components/pages/f-contact-preferences/package.json
  packages/components/pages/f-contact-preferences/src/components/ContactPreferences.vue
  packages/components/pages/f-contact-preferences/src/components/Notifications.vue
  packages/components/pages/f-contact-preferences/src/components/_tests/ContactPreferences.test.js
  packages/components/pages/f-contact-preferences/src/components/_tests/Notifications.test.js
  packages/components/pages/f-contact-preferences/src/tenants/en-GB.js
Labels: pages

#1641 #trivial - package updates.
  packages/components/molecules/f-alert/CHANGELOG.md
  packages/components/molecules/f-alert/package.json
  packages/components/molecules/f-card-with-content/CHANGELOG.md
  packages/components/molecules/f-card-with-content/package.json
  packages/components/molecules/f-mega-modal/CHANGELOG.md
  packages/components/molecules/f-mega-modal/package.json
  packages/components/molecules/f-searchbox/CHANGELOG.md
  packages/components/molecules/f-searchbox/package.json
Labels: molecules

#1647 f-checkout@3.19.1 - Use courier string instead of empty variable
  packages/components/pages/f-checkout/CHANGELOG.md
  packages/components/pages/f-checkout/package.json
  packages/components/pages/f-checkout/src/components/Notes.vue
Labels: pages

#1648 f-checkout@3.19.2 - handle no issues returned from available fulfilment times
  packages/components/pages/f-checkout/CHANGELOG.md
  packages/components/pages/f-checkout/package.json
  packages/components/pages/f-checkout/src/store/checkout.module.js
  packages/components/pages/f-checkout/stories/demo/checkout-available-fulfilment-no-time-available.json
  packages/components/pages/f-checkout/stories/demo/checkout-available-fulfilment-preorder.json
  packages/components/pages/f-checkout/stories/demo/checkout-available-fulfilment.json
Labels: pages

#1650 #trivial - Bump packages with icing changes.
  packages/components/organisms/f-cookie-banner/CHANGELOG.md
  packages/components/organisms/f-cookie-banner/package.json
  packages/components/organisms/f-form/CHANGELOG.md
  packages/components/organisms/f-form/package.json
  packages/components/organisms/f-header/CHANGELOG.md
  packages/components/organisms/f-header/package.json
Labels: organisms

#1598 f-braze-adapter@v4.1.0 - Location filter
  packages/services/f-braze-adapter/CHANGELOG.md
  packages/services/f-braze-adapter/package.json
  packages/services/f-braze-adapter/src/BrazeAdapter.js
  packages/services/f-braze-adapter/src/services/BrazeConsumer.js
  packages/services/f-braze-adapter/src/services/utils/_tests/locationFilter.test.js
  packages/services/f-braze-adapter/src/services/utils/locationFilter.js
Labels: services

#1634 f-form-field@4.7.0 - postcss inline svg
  packages/components/atoms/f-form-field/CHANGELOG.md
  packages/components/atoms/f-form-field/package.json
  packages/components/atoms/f-form-field/src/assets/img/icons/check--grey.svg
  packages/components/atoms/f-form-field/src/assets/img/icons/check--white.svg
  packages/components/atoms/f-form-field/src/assets/scss/common.scss
  packages/components/atoms/f-form-field/src/components/FormSelectionControl.vue
  packages/components/atoms/f-form-field/vue.config.js
  packages/storybook/CHANGELOG.md
  packages/storybook/package.json
  packages/storybook/src/assets/img/icons/check--grey.svg
  packages/storybook/src/assets/img/icons/check--white.svg
  packages/storybook/vue.config.js
  yarn.lock
Labels: atoms, storybook

#1646 f-form-field@4.7.1 - Visual Tests
  CHANGELOG.md
  package.json
  packages/components/atoms/f-form-field/CHANGELOG.md
  packages/components/atoms/f-form-field/jest.config.js
  packages/components/atoms/f-form-field/package.json
  packages/components/atoms/f-form-field/stories/FormField.stories.js
  packages/components/atoms/f-form-field/test-utils/component-objects/f-form-field--visual.component.js
  packages/components/atoms/f-form-field/test/visual/f-form-field.visual.spec.js
  stories/standards/visual-regression-setup.stories.mdx
  yarn.lock
Labels: atoms

#1644 f-statistics@0.5.0 - Support log batching
  packages/services/f-statistics/CHANGELOG.md
  packages/services/f-statistics/README.md
  packages/services/f-statistics/package.json
  packages/services/f-statistics/src/defaultOptions.js
  packages/services/f-statistics/src/index.js
  packages/services/f-statistics/src/services/_tests/statistics.service.test.js
  packages/services/f-statistics/src/services/statistics.service.js
  packages/services/f-statistics/src/tests/index.test.js
Labels: reviewed-1, reviewed-2, services

#1658 f-image-tile@v0.7.0 - Added clickable component test
  packages/components/atoms/f-image-tile/CHANGELOG.md
  packages/components/atoms/f-image-tile/package.json
  packages/components/atoms/f-image-tile/test-utils/component-objects/f-image-tile.component.js
  packages/components/atoms/f-image-tile/test/component/f-image-tile.component.spec.js
Labels: please review, atoms

#1649 Update molecules to use Storybook controls #trivial
  packages/components/molecules/f-alert/stories/Alert.stories.js
  packages/components/molecules/f-breadcrumbs/stories/Breadcrumbs.stories.js
  packages/components/molecules/f-card-with-content/stories/CardWithContent.stories.js
  packages/components/molecules/f-media-element/stories/MediaElement.stories.js
  packages/components/molecules/f-mega-modal/stories/MegaModal.stories.js
  packages/components/molecules/f-navigation-links/stories/NavigationLinks.stories.js
  packages/components/molecules/f-promotions-showcase/stories/PromotionsShowcase.stories.js
  packages/components/molecules/f-restaurant-card/stories/DeliveryTimeMeta.stories.js
  packages/components/molecules/f-restaurant-card/stories/IconText.stories.js
  packages/components/molecules/f-restaurant-card/stories/RestaurantAvailability.stories.js
  packages/components/molecules/f-restaurant-card/stories/RestaurantCard.stories.js
  packages/components/molecules/f-restaurant-card/stories/RestaurantCuisines.stories.js
  packages/components/molecules/f-restaurant-card/stories/RestaurantDish.stories.js
  packages/components/molecules/f-restaurant-card/stories/RestaurantDishes.stories.js
  packages/components/molecules/f-restaurant-card/stories/RestaurantRating.stories.js
  packages/components/molecules/f-restaurant-card/stories/RestaurantTag.stories.js
  packages/components/molecules/f-restaurant-card/stories/RestaurantTags.stories.js
  packages/components/molecules/f-tabs/stories/Tabs.stories.js
  packages/components/molecules/f-user-message/stories/UserMessage.stories.js
  yarn.lock
Labels: molecules

#1660 f-loyalty@v1.5.0 - Adding back in tabs animation
  packages/components/pages/f-loyalty/CHANGELOG.md
  packages/components/pages/f-loyalty/package.json
  packages/components/pages/f-loyalty/src/components/Loyalty.vue
Labels: pages

#1663 f-image-tile@v0.8.0 - Unified Storybook stories
  packages/components/atoms/f-image-tile/CHANGELOG.md
  packages/components/atoms/f-image-tile/package.json
  packages/components/atoms/f-image-tile/stories/Demo.stories.js
  packages/components/atoms/f-image-tile/stories/ImageTile.stories.js
  packages/components/atoms/f-image-tile/stories/TestContainer.vue
Labels: please review, atoms

#1659 f-alert - visual regression tests #trivial
  packages/components/molecules/f-alert/CHANGELOG.md
  packages/components/molecules/f-alert/jest.config.js
  packages/components/molecules/f-alert/package.json
  packages/components/molecules/f-alert/stories/Alert.stories.js
  packages/components/molecules/f-alert/test-utils/component-objects/f-alert.component.js
  packages/components/molecules/f-alert/test/visual/f-alert.visual.spec.js
  yarn.lock
Labels: reviewed-1, reviewed-2, molecules

#1664 f-checkout@3.20.0 - Update fozzie component versions and stories
  packages/components/pages/f-checkout/CHANGELOG.md
  packages/components/pages/f-checkout/package.json
  packages/components/pages/f-checkout/src/components/Checkout.vue
  packages/components/pages/f-checkout/src/components/Selector.vue
  packages/components/pages/f-checkout/src/components/_tests/__snapshots__/Selector.test.js.snap
  packages/components/pages/f-checkout/stories/Checkout.stories.js
  packages/components/pages/f-checkout/stories/api/responses/getCheckout/getCheckout.js
  packages/components/pages/f-checkout/stories/api/responses/getCheckout/index.js
  packages/components/pages/f-checkout/stories/helpers/index.js
  packages/components/pages/f-checkout/stories/helpers/propOptions.js
  yarn.lock
Labels: pages

#1662 #trivial - Atoms - Converted storybook knobs to controls
  .vscode/launch.json
  packages/components/atoms/f-button/CHANGELOG.md
  packages/components/atoms/f-button/package.json
  packages/components/atoms/f-button/stories/RouterButton.stories.js
  packages/components/atoms/f-form-field/CHANGELOG.md
  packages/components/atoms/f-form-field/package.json
  packages/components/atoms/f-form-field/stories/Checkbox.stories.js
  packages/components/atoms/f-form-field/stories/DropdownDefault.stories.js
  packages/components/atoms/f-form-field/stories/DropdownIcon.stories.js
  packages/components/atoms/f-form-field/stories/FormField.stories.js
  packages/components/atoms/f-form-field/stories/Radio.stories.js
  packages/components/atoms/f-form-field/stories/SharedArgTypes.js
  packages/components/atoms/f-form-field/stories/TextInputAffixed.stories.js
  packages/components/atoms/f-form-field/stories/TextInputDefault.stories.js
  packages/components/atoms/f-form-field/stories/TextInputIcon.stories.js
  packages/components/atoms/f-form-field/stories/Textarea.stories.js
  packages/components/atoms/f-form-field/test/visual/f-form-field.visual.spec.js
  packages/components/molecules/f-mega-modal/stories/MegaModal.stories.js
  yarn.lock
Labels: reviewed-1, atoms, molecules

#1667 f-popover@2.2.0 and other - Elevation tokens values instead of direct box-shadow values
  packages/components/atoms/f-popover/CHANGELOG.md
  packages/components/atoms/f-popover/package.json
  packages/components/atoms/f-popover/src/components/Popover.vue
  packages/components/molecules/f-mega-modal/CHANGELOG.md
  packages/components/molecules/f-mega-modal/package.json
  packages/components/molecules/f-mega-modal/src/components/MegaModal.vue
  packages/components/molecules/f-promotions-showcase/CHANGELOG.md
  packages/components/molecules/f-promotions-showcase/package.json
  packages/components/molecules/f-promotions-showcase/src/components/PromotionsShowcase.vue
  packages/components/organisms/f-content-cards/CHANGELOG.md
  packages/components/organisms/f-content-cards/package.json
  packages/components/organisms/f-content-cards/src/components/cardTemplates/CardContainer.vue
  packages/components/organisms/f-content-cards/src/components/cardTemplates/SkeletonLoader.vue
  packages/components/organisms/f-content-cards/src/components/cardTemplates/StampCard1.vue
  packages/components/organisms/f-content-cards/src/components/cardTemplates/StampCardPromotionCard.vue
  packages/components/organisms/f-content-cards/src/components/cardTemplates/homePromotionCard/HomePromotionCard2.vue
  packages/components/organisms/f-footer/CHANGELOG.md
  packages/components/organisms/f-footer/package.json
  packages/components/organisms/f-footer/src/components/CountrySelector.vue
  packages/components/organisms/f-header/CHANGELOG.md
  packages/components/organisms/f-header/package.json
  packages/components/organisms/f-header/src/assets/scss/common.scss
  yarn.lock
Labels: atoms, molecules, organisms

#1668 f-restaurant-card@v0.18.0 - aria-label support for tags
  packages/components/molecules/f-restaurant-card/CHANGELOG.md
  packages/components/molecules/f-restaurant-card/package.json
  packages/components/molecules/f-restaurant-card/src/components/subcomponents/RestaurantTags/RestaurantTag.vue
  packages/components/molecules/f-restaurant-card/src/components/subcomponents/RestaurantTags/_tests/RestaurantTag.test.js
  packages/components/molecules/f-restaurant-card/stories/RestaurantCard.stories.js
  packages/components/molecules/f-restaurant-card/stories/RestaurantTag.stories.js
Labels: reviewed-1, reviewed-2, please review, molecules

#1666 f-checkout@3.21.0 - Take number from auth token regardless of tenant
  packages/components/pages/f-checkout/CHANGELOG.md
  packages/components/pages/f-checkout/package.json
  packages/components/pages/f-checkout/src/store/checkout.module.js
  packages/components/pages/f-checkout/src/store/tests/checkout.module.test.js
Labels: pages

#1657 f-braze-adapter@v4.2.0 - url location substitution
  packages/services/f-braze-adapter/CHANGELOG.md
  packages/services/f-braze-adapter/package.json
  packages/services/f-braze-adapter/src/services/BrazeConsumer.js
  packages/services/f-braze-adapter/src/services/utils/_tests/urlLocationSubstitution.test.js
  packages/services/f-braze-adapter/src/services/utils/urlLocationSubstitution.js
Labels: services

#1670 f-contact-preferences - updated storybook knobs to controls #trivial
  packages/components/pages/f-contact-preferences/CHANGELOG.md
  packages/components/pages/f-contact-preferences/stories/ContactPreferences.stories.js
  packages/components/pages/f-contact-preferences/stories/story.helper.js
  packages/components/pages/f-contact-preferences/test-utils/component-objects/f-contactPreferences.component.js
  packages/components/pages/f-contact-preferences/test/accessibility/axe-accessibility.spec.js
  packages/components/pages/f-contact-preferences/test/component/f-contact-preferences.component.spec.js
  packages/components/pages/f-contact-preferences/test/visual/f-contact-preferences.visual.desktop.spec.js
  packages/components/pages/f-contact-preferences/test/visual/f-contact-preferences.visual.mobile.spec.js
Labels: reviewed-1, pages

#1672 f-promotions-showcase@v0.5.0 - style changes to match figma designs
  packages/components/molecules/f-promotions-showcase/CHANGELOG.md
  packages/components/molecules/f-promotions-showcase/package.json
  packages/components/molecules/f-promotions-showcase/src/components/PromotionsShowcase.vue
Labels: molecules

#1671 f-restaurant-card@v0.20.0 - remove wrapper component and increase image size
  packages/components/molecules/f-restaurant-card/CHANGELOG.md
  packages/components/molecules/f-restaurant-card/package.json
  packages/components/molecules/f-restaurant-card/src/assets/vue/mixins/errorBoundary.mixin.js
  packages/components/molecules/f-restaurant-card/src/components/RestaurantCard.v1.vue
  packages/components/molecules/f-restaurant-card/src/components/RestaurantCard.vue
  packages/components/molecules/f-restaurant-card/src/components/_tests/RestaurantCard.test.js
  packages/components/molecules/f-restaurant-card/src/components/_tests/RestaurantCard.v1.test.js
  packages/components/molecules/f-restaurant-card/src/components/_tests/restaurantCardVersions.test.js
  packages/components/molecules/f-restaurant-card/src/components/restaurantCardVersions.js
  packages/components/molecules/f-restaurant-card/src/constants/custom-events.js
  packages/components/molecules/f-restaurant-card/stories/RestaurantCard.stories.js
Labels: please review, molecules

#1673 f-content-cards@7.2.0 - $log interface instead of $logger
  packages/components/organisms/f-content-cards/CHANGELOG.md
  packages/components/organisms/f-content-cards/package.json
  packages/components/organisms/f-content-cards/src/components/ContentCards.js
  packages/components/organisms/f-content-cards/src/components/_tests/ContentCards.test.js
Labels: organisms

#1669 f-account-info@0.16.1 - Convert knobs to controls
  packages/components/pages/f-account-info/CHANGELOG.md
  packages/components/pages/f-account-info/package.json
  packages/components/pages/f-account-info/stories/AccountInfo.stories.js
  packages/components/pages/f-account-info/stories/story.helper.js
  packages/components/pages/f-account-info/test-utils/component-objects/f-account-info.component.js
  packages/components/pages/f-account-info/test/component/f-account-info.component.spec.js
  packages/components/pages/f-account-info/test/visual/f-account-info.visual.spec.js
Labels: reviewed-1, pages

#1675 f-checkout@3.21.1 - Update translations
  packages/components/pages/f-checkout/CHANGELOG.md
  packages/components/pages/f-checkout/package.json
  packages/components/pages/f-checkout/src/tenants/en-AU.js
  packages/components/pages/f-checkout/src/tenants/en-NZ.js
Labels: pages

#1654 Dynamic config multi workflow #trivial
  .circleci/config.yml
  .circleci/continue_config.yml
  .circleci/parallel-config.yml
  package.json
  packages/components/atoms/f-button/package.json
  packages/components/atoms/f-card/package.json
  packages/components/atoms/f-error-boundary/package.json
  packages/components/atoms/f-error-message/package.json
  packages/components/atoms/f-filter-pill/package.json
  packages/components/atoms/f-form-field/package.json
  packages/components/atoms/f-image-tile/package.json
  packages/components/atoms/f-link/package.json
  packages/components/atoms/f-popover/package.json
  packages/components/atoms/f-spinner/package.json
  packages/components/molecules/f-alert/package.json
  packages/components/molecules/f-breadcrumbs/package.json
  packages/components/molecules/f-card-with-content/package.json
  packages/components/molecules/f-media-element/package.json
  packages/components/molecules/f-mega-modal/package.json
  packages/components/molecules/f-navigation-links/package.json
  packages/components/molecules/f-promotions-showcase/package.json
  packages/components/molecules/f-restaurant-card/package.json
  packages/components/molecules/f-searchbox/package.json
  packages/components/molecules/f-skeleton-loader/package.json
  packages/components/molecules/f-tabs/package.json
  packages/components/molecules/f-user-message/package.json
  packages/components/organisms/f-content-cards/package.json
  packages/components/organisms/f-cookie-banner/package.json
  packages/components/organisms/f-footer/package.json
  packages/components/organisms/f-form/package.json
  packages/components/organisms/f-header/package.json
  packages/components/organisms/f-status-banner/package.json
  packages/components/pages/f-account-info/package.json
  packages/components/pages/f-checkout/package.json
  packages/components/pages/f-contact-preferences/package.json
  packages/components/pages/f-loyalty/package.json
  packages/components/pages/f-offers/package.json
  packages/components/pages/f-registration/package.json
  packages/components/pages/f-takeawaypay-activation/package.json
  packages/components/templates/f-template-subnav/package.json
  packages/services/f-analytics/package.json
  packages/services/f-braze-adapter/package.json
  packages/services/f-compatibility/package.json
  packages/services/f-consumer-oidc/package.json
  packages/services/f-development-context/package.json
  packages/services/f-feature-management-vue/package.json
  packages/services/f-feature-management/package.json
  packages/services/f-globalisation/package.json
  packages/services/f-http/package.json
  packages/services/f-performance/package.json
  packages/services/f-services/package.json
  packages/services/f-statistics/package.json
  packages/services/f-test-data-creator/package.json
  packages/services/f-wdio-utils/package.json
  packages/tools/f-vue-icons/package.json
Labels: atoms, molecules, organisms, services, tools, pages, templates

#1676 f-contact-preferences@v0.17.0 - Included Accept-Language header for consumerApi calls
  packages/components/pages/f-contact-preferences/CHANGELOG.md
  packages/components/pages/f-contact-preferences/package.json
  packages/components/pages/f-contact-preferences/src/components/ContactPreferences.vue
  packages/components/pages/f-contact-preferences/src/components/_tests/ContactPreferences.test.js
  packages/components/pages/f-contact-preferences/src/constants.js
  packages/components/pages/f-contact-preferences/src/services/providers/_tests/contactPreferences.api.test.js
  packages/components/pages/f-contact-preferences/src/services/providers/contactPreferences.api.js
Labels: reviewed-1, reviewed-2, pages

#1678 f-vue-icons@v3.6.0 - updated cross icon
  packages/tools/f-vue-icons/CHANGELOG.md
  packages/tools/f-vue-icons/icons/CrossIcon.js
  packages/tools/f-vue-icons/package.json
  packages/tools/f-vue-icons/src/components/CrossIcon.js
  yarn.lock
Labels: reviewed-1, reviewed-2, tools

#1679 f-restaurant-card@v0.21.0 - Sync first batch of test ids with SearchWeb
  packages/components/molecules/f-restaurant-card/CHANGELOG.md
  packages/components/molecules/f-restaurant-card/package.json
  packages/components/molecules/f-restaurant-card/src/components/RestaurantCard.vue
  packages/components/molecules/f-restaurant-card/src/components/_tests/RestaurantCard.test.js
  packages/components/molecules/f-restaurant-card/src/components/subcomponents/DeliveryTimeMeta/DeliveryTimeMeta.vue
  packages/components/molecules/f-restaurant-card/src/components/subcomponents/DeliveryTimeMeta/_tests/DeliveryTimeMeta.test.js
  packages/components/molecules/f-restaurant-card/src/components/subcomponents/RestaurantCuisines.vue
  packages/components/molecules/f-restaurant-card/src/components/subcomponents/RestaurantFees/RestaurantFees.vue
  packages/components/molecules/f-restaurant-card/test-utils/component-objects/f-restaurant-card.component.js
Labels: please review, molecules

#1682 f-loyalty@v1.6.0 - fixing image link
  packages/components/pages/f-loyalty/CHANGELOG.md
  packages/components/pages/f-loyalty/package.json
  packages/components/pages/f-loyalty/src/components/NoCardsErrorState.vue
Labels: pages

#1677 contact-preferences - removed unneeded toggle controls in storybook #trivial
  packages/components/pages/f-contact-preferences/CHANGELOG.md
  packages/components/pages/f-contact-preferences/stories/ContactPreferences.stories.js
  packages/components/pages/f-contact-preferences/test/visual/f-contact-preferences.visual.desktop.spec.js
  packages/components/pages/f-contact-preferences/test/visual/f-contact-preferences.visual.mobile.spec.js
Labels: reviewed-1, pages

#1684 f-loyalty@v1.6.1 - version bump trying to fix previous bad build output
  packages/components/pages/f-loyalty/CHANGELOG.md
  packages/components/pages/f-loyalty/package.json
  yarn.lock
Labels: pages

#1685 f-restaurant-card@0.22.0 - Sync more test ids with searchweb
  packages/components/molecules/f-restaurant-card/CHANGELOG.md
  packages/components/molecules/f-restaurant-card/package.json
  packages/components/molecules/f-restaurant-card/src/components/RestaurantCard.vue
  packages/components/molecules/f-restaurant-card/src/components/_tests/RestaurantCard.test.js
  packages/components/molecules/f-restaurant-card/src/components/subcomponents/RestaurantAvailability/RestaurantAvailability.vue
  packages/components/molecules/f-restaurant-card/src/components/subcomponents/RestaurantImage/RestaurantImage.vue
  packages/components/molecules/f-restaurant-card/src/components/subcomponents/RestaurantRating/RestaurantRating.vue
  packages/components/molecules/f-restaurant-card/src/components/subcomponents/RestaurantRating/_tests/RestaurantRating.test.js
  packages/components/molecules/f-restaurant-card/src/components/subcomponents/RestaurantTags/RestaurantTag.vue
Labels: molecules

#1680 f-checkout@3.22.0 - switch logger with log interface
  packages/components/pages/f-checkout/CHANGELOG.md
  packages/components/pages/f-checkout/package.json
  packages/components/pages/f-checkout/src/components/Checkout.vue
  packages/components/pages/f-checkout/src/components/Error.vue
  packages/components/pages/f-checkout/src/components/Header.vue
  packages/components/pages/f-checkout/src/components/Notes.vue
  packages/components/pages/f-checkout/src/components/_tests/Checkout.test.js
  packages/components/pages/f-checkout/src/components/_tests/CheckoutForm.test.js
  packages/components/pages/f-checkout/src/components/_tests/Error.test.js
  packages/components/pages/f-checkout/src/components/_tests/Header.test.js
  packages/components/pages/f-checkout/src/components/_tests/helpers/setup.js
  packages/components/pages/f-checkout/src/log-events.js
  packages/components/pages/f-checkout/src/mixins/logger.mixin.js
Labels: pages

#1686 f-restaurant-card@v0.23.0 - Sync dish test ids with searchweb
  packages/components/molecules/f-restaurant-card/CHANGELOG.md
  packages/components/molecules/f-restaurant-card/package.json
  packages/components/molecules/f-restaurant-card/src/components/RestaurantCard.vue
  packages/components/molecules/f-restaurant-card/src/components/_tests/RestaurantCard.test.js
  packages/components/molecules/f-restaurant-card/src/components/subcomponents/RestaurantDishes/RestaurantDish.vue
  packages/components/molecules/f-restaurant-card/src/components/subcomponents/RestaurantDishes/RestaurantDishes.vue
  packages/components/molecules/f-restaurant-card/src/components/subcomponents/RestaurantDishes/_tests/RestaurantDish.test.js
  packages/components/molecules/f-restaurant-card/src/components/subcomponents/RestaurantTags/RestaurantTag.vue
  packages/components/molecules/f-restaurant-card/stories/RestaurantCard.stories.js
  packages/components/molecules/f-restaurant-card/stories/RestaurantTag.stories.js
Labels: molecules

#1687 f-promotions-showcase@v0.5.1 - minor change to add auto-fit property
  packages/components/molecules/f-promotions-showcase/CHANGELOG.md
  packages/components/molecules/f-promotions-showcase/package.json
  packages/components/molecules/f-promotions-showcase/src/components/PromotionsShowcase.vue
Labels: molecules

#1683 f-alert@v4.3.0 - Fix `f-alert` close button css
  packages/components/molecules/f-alert/CHANGELOG.md
  packages/components/molecules/f-alert/package.json
  packages/components/molecules/f-alert/src/components/Alert.vue
Labels: reviewed-1, molecules

#1674 f-content-cards@v7.3.0 - upgrading braze adapter version
  packages/components/organisms/f-content-cards/CHANGELOG.md
  packages/components/organisms/f-content-cards/package.json
  packages/components/organisms/f-content-cards/src/components/ContentCards.js
  yarn.lock
Labels: organisms

#1691 f-feature@0.7.2 - Fix import of config JSON action import for features store module
  packages/services/f-feature-management/CHANGELOG.md
  packages/services/f-feature-management/package.json
  packages/services/f-feature-management/src/vue/store/features.module.js
  packages/services/f-feature-management/src/vue/store/mutation.types.js
  yarn.lock
Labels: services

#1690 f-contact-preferences@v0.18.0 - version bump of f-alert
  packages/components/pages/f-contact-preferences/CHANGELOG.md
  packages/components/pages/f-contact-preferences/package.json
  yarn.lock
Labels: pages

#1689 f-offers@1.7.0 - log interface instead of logger
  packages/components/pages/f-offers/CHANGELOG.md
  packages/components/pages/f-offers/package.json
  packages/components/pages/f-offers/src/components/Offers.vue
  packages/components/pages/f-offers/src/components/Results.vue
  packages/components/pages/f-offers/src/components/_tests/Offers.test.js
Labels: pages

#1692 f-services@v1.14.0 - add Italian validations
  packages/services/f-services/CHANGELOG.md
  packages/services/f-services/package.json
  packages/services/f-services/src/validations.js
  packages/services/f-services/tests/validations.test.js
Labels: services

#1693 f-footer - converted knobs to controls #trivial
  packages/components/organisms/f-footer/CHANGELOG.md
  packages/components/organisms/f-footer/stories/footer.stories.js
  packages/components/organisms/f-footer/test/accessibility/axe-accessibility.spec.js
  packages/components/organisms/f-footer/test/component/f-footer.component.spec.js
  packages/components/organisms/f-footer/test/visual/f-footer.visual.desktop.spec.js
  packages/components/organisms/f-footer/test/visual/f-footer.visual.mobile.spec.js
Labels: reviewed-1, reviewed-2, organisms

#1697 f-image-tile@v0.9.1 - Add `f-vue-icons` as dependency
  packages/components/atoms/f-image-tile/CHANGELOG.md
  packages/components/atoms/f-image-tile/package.json
Labels: atoms

#1696 f-braze-adapter@5.0.0 - updated logWhileInitialising function
  packages/services/f-braze-adapter/CHANGELOG.md
  packages/services/f-braze-adapter/README.md
  packages/services/f-braze-adapter/package.json
  packages/services/f-braze-adapter/src/services/BrazeConsumer.js
  packages/services/f-braze-adapter/src/services/BrazeConsumerRegistry.js
  packages/services/f-braze-adapter/src/services/_tests/BrazeConsumer.test.js
  packages/services/f-braze-adapter/src/services/_tests/BrazeConsumerRegistry.test.js
  packages/services/f-braze-adapter/src/services/logging/logging.service.js
  packages/services/f-braze-adapter/src/services/logging/logging.service.test.js
  packages/services/f-braze-adapter/src/services/types/logger.js
Labels: reviewed-1, reviewed-2, services

#1701 f-content-cards@7.4.0 - f-braze-adapter update
  packages/components/organisms/f-content-cards/CHANGELOG.md
  packages/components/organisms/f-content-cards/README.md
  packages/components/organisms/f-content-cards/package.json
  packages/components/organisms/f-content-cards/src/components/cardTemplates/voucherCard/VoucherCard.vue
  yarn.lock
Labels: organisms

#1694 f-restaurant-card@v0.24.0 - style data points layout
  packages/components/molecules/f-restaurant-card/CHANGELOG.md
  packages/components/molecules/f-restaurant-card/package.json
  packages/components/molecules/f-restaurant-card/src/components/RestaurantCard.vue
  packages/components/molecules/f-restaurant-card/src/components/subcomponents/IconText.vue
  packages/components/molecules/f-restaurant-card/src/components/subcomponents/RestaurantCuisines.vue
  packages/components/molecules/f-restaurant-card/src/components/subcomponents/RestaurantDishes/RestaurantDishes.vue
  packages/components/molecules/f-restaurant-card/src/components/subcomponents/RestaurantFees/RestaurantFees.vue
  packages/components/molecules/f-restaurant-card/src/components/subcomponents/RestaurantTags/RestaurantTag.vue
  packages/components/molecules/f-restaurant-card/src/components/subcomponents/RestaurantTags/RestaurantTags.vue
Labels: molecules

#1700 f-image-tile@v0.9.2 - Add error handling for image
  packages/components/atoms/f-image-tile/CHANGELOG.md
  packages/components/atoms/f-image-tile/package.json
  packages/components/atoms/f-image-tile/src/components/ImageTile.vue
  packages/components/atoms/f-image-tile/src/components/_tests/ImageTile.test.js
  packages/components/atoms/f-image-tile/stories/ImageTile.stories.js
Labels: atoms

#1698 converted storybook knobs to controls for f-cookie-banner and f-content-cards #trivial
  packages/components/organisms/f-content-cards/CHANGELOG.md
  packages/components/organisms/f-content-cards/stories/PromoCard.stories.js
  packages/components/organisms/f-content-cards/stories/SkeletonCard.stories.js
  packages/components/organisms/f-content-cards/stories/TermsAndConditionsCard.stories.js
  packages/components/organisms/f-content-cards/stories/VoucherCard.stories.js
  packages/components/organisms/f-cookie-banner/CHANGELOG.md
  packages/components/organisms/f-cookie-banner/stories/CookieBanner.stories.js
  packages/components/organisms/f-cookie-banner/test/accessibility/axe-accessibility.spec.js
  packages/components/organisms/f-cookie-banner/test/component/f-cookie-banner-legacy.component.spec.js
  packages/components/organisms/f-cookie-banner/test/component/f-cookie-consent-banner.component.spec.js
  packages/components/organisms/f-cookie-banner/test/visual/f-cookie-banner-legacy.visual.desktop.spec.js
  packages/components/organisms/f-cookie-banner/test/visual/f-cookie-banner-legacy.visual.mobile.spec.js
  packages/components/organisms/f-cookie-banner/test/visual/f-cookie-consent-banner.visual.desktop.spec.js
  packages/components/organisms/f-cookie-banner/test/visual/f-cookie-consent-banner.visual.mobile.spec.js
  packages/components/organisms/f-header/CHANGELOG.md
  packages/components/organisms/f-header/test/accessibility/axe-accessibility.spec.js
Labels: organisms

#1703 f-restaurant-card@v0.24.1 - Make servings not dependant on calories data
  packages/components/molecules/f-restaurant-card/CHANGELOG.md
  packages/components/molecules/f-restaurant-card/package.json
  packages/components/molecules/f-restaurant-card/src/components/subcomponents/RestaurantDishes/RestaurantDish.vue
  packages/components/molecules/f-restaurant-card/src/components/subcomponents/RestaurantDishes/_tests/RestaurantDish.test.js
Labels: molecules

#1705 f-image-tile@v0.10.0 - Changes to support SSR & replacing storybook default values with args
  packages/components/atoms/f-image-tile/CHANGELOG.md
  packages/components/atoms/f-image-tile/package.json
  packages/components/atoms/f-image-tile/src/components/ImageTile.vue
  packages/components/atoms/f-image-tile/src/components/_tests/ImageTile.test.js
  packages/components/atoms/f-image-tile/stories/ImageTile.stories.js
Labels: please review, atoms

#1706 f-offers@1.8.0 and f-loyalty@1.7.0 - f-content-cards dependency update
  packages/components/pages/f-loyalty/CHANGELOG.md
  packages/components/pages/f-loyalty/package.json
  packages/components/pages/f-offers/CHANGELOG.md
  packages/components/pages/f-offers/package.json
  yarn.lock
Labels: pages
