Repository justeattakeaway/fozzie-components, pull requests merged in 2022-11, with the labels that each got.

#2181 f-button@v4.4.0 – product-orange release
  packages/components/atoms/f-button/CHANGELOG.md
  packages/components/atoms/f-button/package.json
  packages/components/atoms/f-form-field/CHANGELOG.md
  packages/components/atoms/f-form-field/package.json
  packages/components/atoms/f-image-tile/CHANGELOG.md
  packages/components/atoms/f-image-tile/package.json
  packages/components/molecules/f-navigation-links/CHANGELOG.md
  packages/components/molecules/f-navigation-links/package.json
  packages/components/molecules/f-searchbox/CHANGELOG.md
  packages/components/molecules/f-searchbox/package.json
  packages/components/organisms/f-header/CHANGELOG.md
  packages/components/organisms/f-header/package.json
Labels: atoms, molecules, organisms

#2079 f-header@10.9.0 - Add Corporate Ordering
  packages/components/organisms/f-header/CHANGELOG.md
  packages/components/organisms/f-header/README.md
  packages/components/organisms/f-header/package.json
  packages/components/organisms/f-header/src/assets/scss/common.scss
  packages/components/organisms/f-header/src/components/Header.vue
  packages/components/organisms/f-header/src/components/Logo.vue
  packages/components/organisms/f-header/src/components/NavLink.vue
  packages/components/organisms/f-header/src/components/Navigation.vue
  packages/components/organisms/f-header/src/components/_tests/Navigation.test.js
  packages/components/organisms/f-header/src/components/_tests/helpers/navigation.js
  packages/components/organisms/f-header/src/tenants/en-GB.js
  packages/components/organisms/f-header/src/tenants/en-IE.js
  packages/components/organisms/f-header/stories/header.stories.js
  packages/components/organisms/f-header/test-utils/component-objects/f-header.component.js
  packages/components/organisms/f-header/test-utils/component-objects/f-header.selectors.js
  packages/components/organisms/f-header/test/component/f-header.component.spec.js
  packages/components/organisms/f-header/test/visual/f-header.visual.desktop.spec.js
  packages/components/organisms/f-header/test/visual/f-header.visual.mobile.spec.js
Labels: ready for re-review, please review, organisms

#2184 f-registration@v3.10.0 – Added fozzie components as externals in Webpack config
  packages/components/pages/f-registration/CHANGELOG.md
  packages/components/pages/f-registration/package.json
  packages/components/pages/f-registration/vue.config.js
Labels: pages

#2185 f-account-info@v1.6.0 – Added fozzie components as externals in Webpack config
  packages/components/pages/f-account-info/CHANGELOG.md
  packages/components/pages/f-account-info/package.json
  packages/components/pages/f-account-info/vue.config.js
Labels: pages

#2186 f-checkout@v4.8.0 – Added fozzie components as externals in Webpack config
  packages/components/pages/f-checkout/CHANGELOG.md
  packages/components/pages/f-checkout/package.json
  packages/components/pages/f-checkout/vue.config.js
Labels: pages

#2187 f-content-preferences@v1.10.0 – Added fozzie components as externals in Webpack config
  packages/components/pages/f-contact-preferences/CHANGELOG.md
  packages/components/pages/f-contact-preferences/package.json
  packages/components/pages/f-contact-preferences/vue.config.js
Labels: pages

#2189 f-registration@3.11.0 - Remove asterisks from registration page form …
  packages/components/pages/f-registration/CHANGELOG.md
  packages/components/pages/f-registration/package.json
  packages/components/pages/f-registration/src/components/Registration.vue
Labels: pages

#2192 f-registration@v3.12.0 – Reverting externals change
  packages/components/pages/f-registration/CHANGELOG.md
  packages/components/pages/f-registration/package.json
  packages/components/pages/f-registration/vue.config.js
Labels: pages

#2144 f-account-info@1.6.0 - Remove conversation ID logic
  packages/components/pages/f-account-info/CHANGELOG.md
  packages/components/pages/f-account-info/README.md
  packages/components/pages/f-account-info/package.json
  packages/components/pages/f-account-info/src/components/AccountInfo.vue
  packages/components/pages/f-account-info/src/constants.js
  packages/components/pages/f-account-info/src/services/providers/Consumer.api.js
  packages/components/pages/f-account-info/src/services/providers/_tests/Consumer.api.test.js
  packages/components/pages/f-account-info/src/store/_tests/accountInfo.module.test.js
  packages/components/pages/f-account-info/src/store/accountInfo.module.js
  packages/components/pages/f-account-info/test-utils/setup.js
Labels: reviewed-1, pages

#2193 f-registration@v3.13.0 – Added fozzie components as externals in Webpack config
  packages/components/pages/f-registration/CHANGELOG.md
  packages/components/pages/f-registration/package.json
  packages/components/pages/f-registration/vue.config.js
Labels: pages

#2166 f-loyalty@v2.6.0 - StampCards more markets
  packages/components/pages/f-loyalty/CHANGELOG.md
  packages/components/pages/f-loyalty/package.json
  packages/components/pages/f-loyalty/src/components/HowItWorks.vue
  packages/components/pages/f-loyalty/src/components/Loyalty.vue
  packages/components/pages/f-loyalty/src/components/_tests/HowItWorks.test.js
  packages/components/pages/f-loyalty/src/tenantBagFees.js
  packages/components/pages/f-loyalty/src/tenants/en-AU.js
  packages/components/pages/f-loyalty/src/tenants/en-GB.js
  packages/components/pages/f-loyalty/src/tenants/en-IE.js
  packages/components/pages/f-loyalty/src/tenants/en-NZ.js
  packages/components/pages/f-loyalty/src/tenants/es-ES.js
  packages/components/pages/f-loyalty/src/tenants/it-IT.js
Labels: please review, pages

#2188 fozzie@v10.8.1 - Add u-hideOnMid
  packages/tools/fozzie/CHANGELOG.md
  packages/tools/fozzie/package.json
  packages/tools/fozzie/src/scss/trumps/_rwd.scss
  packages/tools/fozzie/src/test/css/snapshot-tests/__snapshots__/fozzie-utilities.spec.js.snap
  packages/tools/fozzie/src/test/scss/snapshot-tests/__snapshots__/snapshotTest.spec.js.snap
  packages/tools/fozzie/src/test/scss/snapshot-tests/css-files/__snapshots__/utilities.spec.js.snap
Labels: please review, tools

#2196 f-cookie-banner@v4.7.0 – Updating to include new product orange
  packages/components/organisms/f-cookie-banner/CHANGELOG.md
  packages/components/organisms/f-cookie-banner/package.json
Labels: organisms

#2194 f-rating@v0.8.0 - Simplify prop.
  packages/components/molecules/f-rating/CHANGELOG.md
  packages/components/molecules/f-rating/README.md
  packages/components/molecules/f-rating/package.json
  packages/components/molecules/f-rating/src/components/Rating.vue
  packages/components/molecules/f-rating/src/components/_tests/Rating.test.js
  packages/components/molecules/f-rating/src/components/_tests/__snapshots__/Rating.test.js.snap
  packages/components/molecules/f-rating/src/constants.js
  packages/components/molecules/f-rating/src/tests/constants.test.js
  packages/components/molecules/f-rating/stories/RatingMultiStar.stories.js
  packages/components/molecules/f-rating/stories/commonDefaults.js
  packages/components/molecules/f-rating/test/visual/f-rating-singleStar.visual.spec.js
  packages/components/molecules/f-rating/test/visual/f-rating.visual.spec.js
Labels: reviewed-1, please review, molecules

#2182 f-content-cards@v10.0.0 - Adding in changed version of content cards and updated unit tests
  packages/components/organisms/f-content-cards/CHANGELOG.md
  packages/components/organisms/f-content-cards/package.json
  packages/components/organisms/f-content-cards/src/components/ContentCards.js
  packages/components/organisms/f-content-cards/src/components/_tests/ContentCards.test.js
  packages/components/organisms/f-content-cards/src/components/cardTemplates/StampCard1.vue
  packages/components/organisms/f-content-cards/src/components/cardTemplates/_tests/StampCard1.test.js
  packages/components/organisms/f-content-cards/src/components/cardTemplates/images/stamp-percentage-empty.svg
  packages/components/organisms/f-content-cards/src/components/cardTemplates/images/stamp-percentage.svg
  packages/components/organisms/f-content-cards/src/index.js
  packages/components/organisms/f-content-cards/stories/ContentCards.stories.js
  packages/components/organisms/f-content-cards/stories/Organisms/ContentCardsGrouped.stories.js
  packages/components/organisms/f-content-cards/stories/content-cards/all-cards.js
  packages/components/organisms/f-content-cards/stories/content-cards/custom-cards.js
  packages/components/organisms/f-content-cards/stories/content-cards/error.js
  packages/components/organisms/f-content-cards/stories/content-cards/loading.js
  packages/components/organisms/f-content-cards/stories/content-cards/no-cards.js
  packages/components/organisms/f-content-cards/stories/content-cards/story-utils/braze-mocks.js
  packages/components/organisms/f-content-cards/stories/content-cards/story-utils/methods.js
  yarn.lock
Labels: organisms

#2197 f-rating@v0.9.0 - Fixed rating description.
  packages/components/molecules/f-rating/CHANGELOG.md
  packages/components/molecules/f-rating/package.json
  packages/components/molecules/f-rating/src/components/Rating.vue
  packages/components/molecules/f-rating/src/components/_tests/Rating.test.js
Labels: reviewed-1, please review, molecules

#2195 f-loyalty@v2.7.0 – Added fozzie components as externals in Webpack config
  packages/components/pages/f-loyalty/CHANGELOG.md
  packages/components/pages/f-loyalty/package.json
  packages/components/pages/f-loyalty/vue.config.js
Labels: pages

#2199 f-takeawaypay-activation@v3.5.0 – Added fozzie components as externals in Webpack config
  packages/components/pages/f-takeawaypay-activation/CHANGELOG.md
  packages/components/pages/f-takeawaypay-activation/package.json
  packages/components/pages/f-takeawaypay-activation/vue.config.js
Labels: pages

#2203 fozzie@10.9.0 - Fix failing tests
  packages/tools/fozzie/CHANGELOG.md
  packages/tools/fozzie/package.json
  packages/tools/fozzie/src/scss/components/optional/_listings-skeleton.scss
  packages/tools/fozzie/src/scss/components/optional/_loading-indicator.scss
  packages/tools/fozzie/src/scss/components/optional/_toast.scss
  packages/tools/fozzie/src/scss/tools/helpers/_breakpoints.scss
  packages/tools/fozzie/src/scss/tools/mixins/_utilities.scss
  packages/tools/fozzie/src/test/css/snapshot-tests/__snapshots__/fozzie-utilities.spec.js.snap
  packages/tools/fozzie/src/test/scss/scss-setup.spec.js
  packages/tools/fozzie/src/test/scss/snapshot-tests/__snapshots__/snapshotTest.spec.js.snap
Labels: tools

#2204 f-rating@0.10.0
  packages/components/molecules/f-rating/CHANGELOG.md
  packages/components/molecules/f-rating/README.md
  packages/components/molecules/f-rating/package.json
  packages/components/molecules/f-rating/src/assets/scss/rating.scss
  packages/components/molecules/f-rating/src/constants.js
  packages/components/molecules/f-rating/src/tests/constants.test.js
  packages/components/molecules/f-rating/stories/RatingMultiStar.stories.js
  packages/components/molecules/f-rating/stories/RatingSingleStar.stories.js
  packages/components/molecules/f-rating/test/visual/f-rating-singleStar.visual.spec.js
  packages/components/molecules/f-rating/test/visual/f-rating.visual.spec.js
Labels: molecules

#2208 fozzie-components@v7.42.0 - Pages / Templates / Services / Tools - Remove duplicate dependencies #globalconfig
  CHANGELOG.md
  package.json
  packages/components/atoms/f-button/package.json
  packages/components/atoms/f-error-boundary/package.json
  packages/components/atoms/f-spinner/package.json
  packages/components/molecules/f-user-message/package.json
  packages/components/organisms/f-content-cards/package.json
  packages/components/organisms/f-cookie-banner/package.json
  packages/components/organisms/f-footer/package.json
  packages/components/organisms/f-header/package.json
  packages/components/organisms/f-status-banner/package.json
  packages/components/pages/f-account-info/package.json
  packages/components/pages/f-checkout/package.json
  packages/components/pages/f-contact-preferences/package.json
  packages/components/pages/f-loyalty/package.json
  packages/components/pages/f-mfa/package.json
  packages/components/pages/f-offers/package.json
  packages/components/pages/f-registration/package.json
  packages/components/pages/f-takeawaypay-activation/package.json
  packages/components/templates/f-template-subnav/package.json
  packages/services/f-analytics/package.json
  packages/services/f-braze-adapter/package.json
  packages/services/f-compatibility/package.json
  packages/services/f-consumer-oidc/package.json
  packages/services/f-feature-management-vue/package.json
  packages/services/f-feature-management/package.json
  packages/services/f-globalisation/package.json
  packages/services/f-http/.eslintrc.js
  packages/services/f-http/package.json
  packages/services/f-performance/package.json
  packages/services/f-services/package.json
  packages/services/f-statistics/package.json
  packages/services/f-test-data-creator/package.json
  packages/services/f-wdio-utils/package.json
  packages/tools/f-vue-icons/package.json
  packages/tools/generator-component/generators/app/templates/__package__.json
  packages/tools/generator-component/package.json
  yarn.lock
Labels: atoms, molecules, organisms, services, tools, pages, templates

#2207 f-rating@0.11.0 - Add scripts for ci job.
  packages/components/molecules/f-rating/CHANGELOG.md
  packages/components/molecules/f-rating/package.json
Labels: molecules

#2200 f-content-cards@v10.1.0 - Added fozzie components as externals in Webpack config
  packages/components/organisms/f-content-cards/CHANGELOG.md
  packages/components/organisms/f-content-cards/package.json
  packages/components/organisms/f-content-cards/vue.config.js
Labels: organisms

#2212 f-rating@v0.12.0 - Add isUserRating.
  packages/components/molecules/f-rating/CHANGELOG.md
  packages/components/molecules/f-rating/README.md
  packages/components/molecules/f-rating/package.json
  packages/components/molecules/f-rating/src/assets/scss/rating.scss
  packages/components/molecules/f-rating/src/components/Rating.vue
  packages/components/molecules/f-rating/src/components/RatingSingleStarVariant.vue
  packages/components/molecules/f-rating/src/components/_tests/Rating.test.js
  packages/components/molecules/f-rating/src/tenants/en-AU.js
  packages/components/molecules/f-rating/src/tenants/en-GB.js
  packages/components/molecules/f-rating/src/tenants/en-IE.js
  packages/components/molecules/f-rating/src/tenants/en-NZ.js
  packages/components/molecules/f-rating/src/tenants/es-ES.js
  packages/components/molecules/f-rating/src/tenants/it-IT.js
  packages/components/molecules/f-rating/stories/RatingMultiStar.stories.js
  packages/components/molecules/f-rating/stories/RatingSingleStar.stories.js
  packages/components/molecules/f-rating/stories/commonDefaults.js
  packages/components/molecules/f-rating/test/visual/f-rating-singleStar.visual.spec.js
  packages/components/molecules/f-rating/test/visual/f-rating.visual.spec.js
Labels: molecules

#2210 f-mfa@0.23.0 - Change heading tag to h1 for accessibility
  packages/components/pages/f-mfa/CHANGELOG.md
  packages/components/pages/f-mfa/package.json
  packages/components/pages/f-mfa/src/assets/scss/common.scss
  packages/components/pages/f-mfa/src/components/Help.vue
  packages/components/pages/f-mfa/src/components/Mfa.vue
Labels: pages

#2211 f-header@v10.11.0 - Add Corporate Ordering to AU & NZ
  packages/components/organisms/f-header/CHANGELOG.md
  packages/components/organisms/f-header/package.json
  packages/components/organisms/f-header/src/tenants/en-AU.js
  packages/components/organisms/f-header/src/tenants/en-NZ.js
Labels: organisms

#2217 f-rating@v0.13.0 - Add translations for ES & IT.
  packages/components/molecules/f-rating/CHANGELOG.md
  packages/components/molecules/f-rating/package.json
  packages/components/molecules/f-rating/src/tenants/es-ES.js
  packages/components/molecules/f-rating/src/tenants/it-IT.js
Labels: molecules

#2218 fozzie@v10.10.0 – Fixing broken release
  packages/tools/fozzie/CHANGELOG.md
  packages/tools/fozzie/package.json
Labels: tools

#2219 fozzie@v10.10.1 - Fixing SCSS tests
  packages/tools/fozzie/CHANGELOG.md
  packages/tools/fozzie/package.json
  packages/tools/fozzie/src/test/scss/scss-setup.spec.js
Labels: tools
