Repository justeattakeaway/fozzie-components, pull requests merged in 2022-12, with the labels that each got.

#2215 f-form-field@6.4.0
  packages/components/atoms/f-form-field/CHANGELOG.md
  packages/components/atoms/f-form-field/package.json
  packages/components/atoms/f-form-field/src/components/FormField.vue
  packages/components/atoms/f-form-field/src/components/_tests/FormField.test.js
  packages/components/pages/f-checkout/CHANGELOG.md
  packages/components/pages/f-checkout/jest.config.js
  packages/components/pages/f-checkout/package.json
  packages/components/pages/f-checkout/src/components/_tests/Selector.test.js
  packages/components/pages/f-checkout/src/components/_tests/__snapshots__/Selector.test.js.snap
  packages/components/pages/f-checkout/test-utils/settings/jest.crypto-setup.js
Labels: please review, atoms, pages

#2213 f-content-cards@v10.2.0 - Updating tests and adding analytics tracking
  packages/components/organisms/f-content-cards/CHANGELOG.md
  packages/components/organisms/f-content-cards/package.json
  packages/components/organisms/f-content-cards/src/components/ContentCards.js
  packages/components/organisms/f-content-cards/src/components/_tests/ContentCards.test.js
  packages/components/organisms/f-content-cards/src/components/cardTemplates/CardCase.vue
  packages/components/organisms/f-content-cards/src/components/cardTemplates/_tests/CardCase.test.js
  packages/components/organisms/f-content-cards/src/components/cardTemplates/_tests/CardContainer.test.js
  packages/components/organisms/f-content-cards/src/components/cards/_tests/PromotionCardOne.test.js
  packages/components/organisms/f-content-cards/src/components/cards/_tests/PromotionCardTwo.test.js
  packages/components/organisms/f-content-cards/src/components/cards/_tests/VoucherCard.test.js
  packages/components/organisms/f-content-cards/src/components/templates/ContentCardContainer.vue
  packages/components/organisms/f-content-cards/src/components/templates/ContentCardVoucherCode.vue
  packages/components/organisms/f-content-cards/src/components/templates/_tests/ContentCardContainer.test.js
  yarn.lock
Labels: reviewed-1, please review, organisms

#2222 fozzie-components@v7.45.0 – pie-icons-vue pkg update #globalconfig
  CHANGELOG.md
  package.json
  packages/components/atoms/f-button/CHANGELOG.md
  packages/components/atoms/f-button/package.json
  packages/components/atoms/f-error-message/CHANGELOG.md
  packages/components/atoms/f-error-message/package.json
  packages/components/atoms/f-form-field/CHANGELOG.md
  packages/components/atoms/f-form-field/package.json
  packages/components/molecules/f-alert/CHANGELOG.md
  packages/components/molecules/f-alert/package.json
  packages/components/molecules/f-mega-modal/CHANGELOG.md
  packages/components/molecules/f-mega-modal/package.json
  packages/components/molecules/f-rating/CHANGELOG.md
  packages/components/molecules/f-rating/package.json
  packages/components/molecules/f-user-message/CHANGELOG.md
  packages/components/molecules/f-user-message/package.json
  packages/components/organisms/f-footer/CHANGELOG.md
  packages/components/organisms/f-footer/package.json
  packages/components/organisms/f-header/CHANGELOG.md
  packages/components/organisms/f-header/package.json
  packages/tools/fozzie/CHANGELOG.md
  packages/tools/fozzie/package.json
  stories/guides/typography.stories.mdx
Labels: atoms, molecules, organisms, tools

#2229 f-registration@v3.13.1 - Fix unit test failure on uuid
  packages/components/pages/f-registration/CHANGELOG.md
  packages/components/pages/f-registration/jest.config.js
  packages/components/pages/f-registration/package.json
  packages/components/pages/f-registration/src/components/_tests/f-registration.integration.test.js
  packages/components/pages/f-registration/test-utils/settings/jest.crypto-setup.js
Labels: pages

#2231 f-mfa@v0.23.1 - Add mocker for crypto method.
  packages/components/pages/f-mfa/CHANGELOG.md
  packages/components/pages/f-mfa/jest.config.js
  packages/components/pages/f-mfa/package.json
  packages/components/pages/f-mfa/src/components/_tests/Mfa.test.js
  packages/components/pages/f-mfa/test-utils/settings/jest.crypto-setup.js
Labels: pages

#2230 f-rating@0.14.0
  packages/components/molecules/f-rating/CHANGELOG.md
  packages/components/molecules/f-rating/README.md
  packages/components/molecules/f-rating/package.json
  packages/components/molecules/f-rating/src/assets/scss/rating.scss
  packages/components/molecules/f-rating/src/components/Rating.vue
  packages/components/molecules/f-rating/src/constants.js
  packages/components/molecules/f-rating/src/tests/constants.test.js
  packages/components/molecules/f-rating/stories/RatingMultiStar.stories.js
  packages/components/molecules/f-rating/stories/RatingSingleStar.stories.js
  packages/components/molecules/f-rating/stories/commonDefaults.js
  packages/components/molecules/f-rating/test/visual/f-rating-singleStar.visual.spec.js
  packages/components/molecules/f-rating/test/visual/f-rating.visual.spec.js
Labels: molecules
