Repository justeattakeaway/fozzie-components, pull requests merged in 2022-01, with the labels that each got.

#1574 f-checkout@3.14.1 - Fix tests
  packages/components/pages/f-checkout/CHANGELOG.md
  packages/components/pages/f-checkout/package.json
  packages/components/pages/f-checkout/src/components/_tests/AgeVerification.test.js
Labels: pages

#1575 f-contact-preferences@v0.12.1 - access to services folder and constants.js file
  packages/components/pages/f-contact-preferences/CHANGELOG.md
  packages/components/pages/f-contact-preferences/package.json
Labels: reviewed-1, reviewed-2, pages

#1576 f-offers@v1.6.0 🖌 Fixes UK-specific translation strings
  packages/components/pages/f-offers/CHANGELOG.md
  packages/components/pages/f-offers/package.json
  packages/components/pages/f-offers/src/tenants/en-AU.js
  packages/components/pages/f-offers/src/tenants/en-IE.js
  packages/components/pages/f-offers/src/tenants/en-NZ.js
Labels: reviewed-1, reviewed-2, pages

#1565 Changes to Circle CI config - #globalconfig
  .circleci/config.yml
  package.json
  packages/components/atoms/f-button/package.json
  packages/components/atoms/f-card/package.json
  packages/components/atoms/f-error-boundary/package.json
  packages/components/atoms/f-error-message/package.json
  packages/components/atoms/f-form-field/package.json
  packages/components/atoms/f-image-tile/package.json
  packages/components/atoms/f-link/package.json
  packages/components/atoms/f-popover/package.json
  packages/components/atoms/f-spinner/package.json
  packages/components/molecules/f-alert/package.json
  packages/components/molecules/f-breadcrumbs/package.json
  packages/components/molecules/f-card-with-content/package.json
  packages/components/molecules/f-media-element/package.json
  packages/components/molecules/f-mega-modal/package.json
  packages/components/molecules/f-navigation-links/package.json
  packages/components/molecules/f-promotions-showcase/package.json
  packages/components/molecules/f-restaurant-card/package.json
  packages/components/molecules/f-searchbox/package.json
  packages/components/molecules/f-skeleton-loader/package.json
  packages/components/molecules/f-tabs/package.json
  packages/components/molecules/f-user-message/package.json
  packages/components/organisms/f-content-cards/package.json
  packages/components/organisms/f-cookie-banner/package.json
  packages/components/organisms/f-footer/package.json
  packages/components/organisms/f-header/package.json
  packages/components/organisms/f-status-banner/package.json
  packages/components/pages/f-account-info/package.json
  packages/components/pages/f-checkout/package.json
  packages/components/pages/f-contact-preferences/package.json
  packages/components/pages/f-loyalty/package.json
  packages/components/pages/f-offers/package.json
  packages/components/pages/f-registration/package.json
  packages/components/pages/f-takeawaypay-activation/package.json
  packages/components/templates/f-template-subnav/package.json
  packages/services/f-analytics/package.json
  packages/services/f-braze-adapter/package.json
  packages/services/f-compatibility/package.json
  packages/services/f-consumer-oidc/package.json
  packages/services/f-feature-management-vue/package.json
  packages/services/f-feature-management/package.json
  packages/services/f-globalisation/package.json
  packages/services/f-http/package.json
  packages/services/f-performance/package.json
  packages/services/f-services/package.json
  packages/services/f-statistics/package.json
  packages/services/f-wdio-utils/package.json
  packages/tools/f-vue-icons/package.json
  packages/tools/generator-component/package.json
Labels: atoms, molecules, organisms, services, tools, pages, templates

#1468 f-form-field@4.5.1 - Update `uniqueId` to allow grouping
  packages/components/atoms/f-form-field/CHANGELOG.md
  packages/components/atoms/f-form-field/package.json
  packages/components/atoms/f-form-field/src/components/FormField.vue
  packages/components/atoms/f-form-field/src/components/_tests/FormField.test.js
  packages/components/atoms/f-form-field/stories/Radio.stories.js
Labels: atoms

#1554 f-form@0.2.0 - Add basic components
  .circleci/config.yml
  CHANGELOG.md
  package.json
  packages/components/organisms/f-form/CHANGELOG.md
  packages/components/organisms/f-form/README.md
  packages/components/organisms/f-form/package.json
  packages/components/organisms/f-form/src/components/Form.vue
  packages/components/organisms/f-form/src/components/_tests/Form.test.js
  packages/components/organisms/f-form/src/components/_tests/__snapshots__/Form.test.js.snap
  packages/components/organisms/f-form/src/constants.js
  packages/components/organisms/f-form/stories/Form.stories.js
  packages/components/organisms/f-form/vue.config.js
Labels: reviewed-1, ready for re-review, please review, organisms

#1579 f-header@6.1.0 - Update ethics hotline links
  packages/components/organisms/f-footer/CHANGELOG.md
  packages/components/organisms/f-footer/package.json
  packages/components/organisms/f-footer/src/tenants/en-AU.js
  packages/components/organisms/f-footer/src/tenants/en-GB.js
  packages/components/organisms/f-footer/src/tenants/en-IE.js
  packages/components/organisms/f-footer/src/tenants/en-NZ.js
  packages/components/organisms/f-footer/src/tenants/es-ES.js
  packages/components/organisms/f-footer/src/tenants/it-IT.js
Labels: organisms

#1581 #trivial - component tests for account-info
  packages/components/pages/f-account-info/CHANGELOG.md
  packages/components/pages/f-account-info/package.json
  packages/components/pages/f-account-info/src/components/AccountInfo.vue
  packages/components/pages/f-account-info/src/components/DeleteAccount.vue
  packages/components/pages/f-account-info/src/components/EmailAddressField.vue
  packages/components/pages/f-account-info/src/components/_tests/AccountInfo.test.js
  packages/components/pages/f-account-info/test-utils/component-objects/f-account-info-selectors.js
  packages/components/pages/f-account-info/test-utils/component-objects/f-account-info.component.js
  packages/components/pages/f-account-info/test-utils/component-objects/f-accountInfo-selectors.js
  packages/components/pages/f-account-info/test-utils/component-objects/f-accountInfo.component.js
  packages/components/pages/f-account-info/test/accessibility/axe-accessibility.spec.js
  packages/components/pages/f-account-info/test/component/f-account-info.component.spec.js
  packages/components/pages/f-account-info/test/component/f-accountInfo.component.spec.js
Labels: pages

#1488 f-content-cards@v7.0.0 - Update beta to master
  packages/components/organisms/f-content-cards/CHANGELOG.md
  packages/components/organisms/f-content-cards/package.json
  packages/components/organisms/f-content-cards/src/components/ContentCards.js
  packages/components/organisms/f-content-cards/src/components/_tests/ContentCards.test.js
  packages/components/organisms/f-content-cards/src/components/cardTemplates/StampCard1.vue
  packages/components/organisms/f-content-cards/vue.config.js
  yarn.lock
Labels: bug, do not merge, organisms

#1585 f-checkout@3.13.2 - Use restaurant to decide if split notes is enabled
  packages/components/pages/f-checkout/CHANGELOG.md
  packages/components/pages/f-checkout/package.json
  packages/components/pages/f-checkout/src/components/Checkout.vue
  packages/components/pages/f-checkout/src/components/Notes.vue
  packages/components/pages/f-checkout/src/store/checkout.module.js
  packages/components/pages/f-checkout/src/store/tests/checkout.module.test.js
Labels: pages

#1584 f-checkout@3.13.3 - Add test id and focus
  packages/components/pages/f-checkout/CHANGELOG.md
  packages/components/pages/f-checkout/package.json
  packages/components/pages/f-checkout/src/components/Address.vue
  packages/components/pages/f-checkout/src/components/Header.vue
  packages/components/pages/f-checkout/src/components/_tests/__snapshots__/Header.test.js.snap
Labels: pages

#1590 f-account-info@v0.14.1 - Just a version bump
  packages/components/pages/f-account-info/CHANGELOG.md
  packages/components/pages/f-account-info/package.json
Labels: pages

#1591 f-checkout@3.14.0 - Fix getAddressClosestToPostcode logic
  packages/components/pages/f-checkout/CHANGELOG.md
  packages/components/pages/f-checkout/package.json
  packages/components/pages/f-checkout/src/services/addressService.js
Labels: pages

#1595 f-vue-icons@3.4.0 - add new cash small icon
  packages/tools/f-vue-icons/CHANGELOG.md
  packages/tools/f-vue-icons/icons/CashSmallIcon.js
  packages/tools/f-vue-icons/package.json
  packages/tools/f-vue-icons/src/components/CashSmallIcon.js
  packages/tools/f-vue-icons/src/index.js
  yarn.lock
Labels: please review, tools

#1593 f-account-info - small changes to enable contract tests #trivial
  packages/components/pages/f-account-info/CHANGELOG.md
  packages/components/pages/f-account-info/package.json
Labels: pages

#1597 f-account-info@v0.14.3 - Expose the data test id for the error card
  packages/components/pages/f-account-info/CHANGELOG.md
  packages/components/pages/f-account-info/package.json
  packages/components/pages/f-account-info/test-utils/component-objects/f-account-info-selectors.js
Labels: pages

#1600 f-account-info@v0.14.4 - Exposed test methods wait & isdisplayed for error card
  packages/components/pages/f-account-info/CHANGELOG.md
  packages/components/pages/f-account-info/package.json
  packages/components/pages/f-account-info/test-utils/component-objects/f-account-info.component.js
  yarn.lock
Labels: pages

#1587 f-loyalty@v1.4.0 - Adding the main cards page, updating content cards version
  packages/components/pages/f-loyalty/CHANGELOG.md
  packages/components/pages/f-loyalty/package.json
  packages/components/pages/f-loyalty/src/components/Loading.vue
  packages/components/pages/f-loyalty/src/components/Loyalty.vue
  packages/components/pages/f-loyalty/src/components/LoyaltyCards.vue
  packages/components/pages/f-loyalty/src/components/Slots.vue
  packages/components/pages/f-loyalty/src/components/Terms.vue
  packages/components/pages/f-loyalty/src/components/_tests/LoyaltyCards.test.js
  packages/components/pages/f-loyalty/src/store/loyalty.module.js
  packages/components/pages/f-loyalty/src/store/types.js
  packages/components/pages/f-loyalty/src/tenants/en-NZ.js
  packages/components/pages/f-loyalty/stories/Loyalty.stories.js
  packages/components/pages/f-loyalty/stories/stories/mocks/data.js
  packages/components/pages/f-loyalty/stories/stories/mocks/factories/cardFactory.js
  packages/components/pages/f-loyalty/stories/stories/mocks/seeds/stampcards.js
  packages/components/pages/f-loyalty/stories/stories/mocks/server.js
  packages/components/pages/f-loyalty/stories/stories/mocks/traits/stampCardInProgress.js
  packages/components/pages/f-loyalty/stories/stories/mocks/traits/stampCardReadyToClaim.js
  packages/components/pages/f-loyalty/vue.config.js
  yarn.lock
Labels: reviewed-1, reviewed-2, pages

#1596 f-restaurant-card@v0.13.0 - delivery fee and minimum order
  packages/components/molecules/f-restaurant-card/CHANGELOG.md
  packages/components/molecules/f-restaurant-card/package.json
  packages/components/molecules/f-restaurant-card/src/components/RestaurantCard.v1.vue
  packages/components/molecules/f-restaurant-card/src/components/_tests/RestaurantCard.v1.test.js
  packages/components/molecules/f-restaurant-card/src/components/subcomponents/RestaurantFees/RestaurantFees.vue
  packages/components/molecules/f-restaurant-card/src/components/subcomponents/RestaurantFees/_tests/RestaurantFees.test.js
  packages/components/molecules/f-restaurant-card/src/components/subcomponents/RestaurantImage/RestaurantImage.vue
  packages/components/molecules/f-restaurant-card/stories/RestaurantCard.stories.js
  yarn.lock
Labels: please review, molecules

#1603 fozzie-components@v5.9.0 - Automatic package publishing to npm
  .circleci/config.yml
  CHANGELOG.md
  CONTRIBUTING.md
  package.json
  packages/components/molecules/f-searchbox/CHANGELOG.md
  packages/components/molecules/f-searchbox/package.json
  packages/storybook/CHANGELOG.md
  packages/storybook/package.json
  stories/getting-started/contributing-guide.stories.mdx
  yarn.lock
Labels: molecules, storybook

#1607 Revert "fozzie-components@v5.9.0 - Automatic package publishing to npm"
  .circleci/config.yml
  CHANGELOG.md
  CONTRIBUTING.md
  package.json
  packages/components/molecules/f-searchbox/CHANGELOG.md
  packages/components/molecules/f-searchbox/package.json
  packages/storybook/CHANGELOG.md
  packages/storybook/package.json
  stories/getting-started/contributing-guide.stories.mdx
  yarn.lock
Labels: molecules, storybook

#1602 f-checkout@3.15.0 - Re-call note config if note not accepted
  packages/components/pages/f-checkout/CHANGELOG.md
  packages/components/pages/f-checkout/package.json
  packages/components/pages/f-checkout/src/components/Checkout.vue
  packages/components/pages/f-checkout/src/components/ErrorDialog.vue
  packages/components/pages/f-checkout/src/components/_tests/ErrorDialog.test.js
  packages/components/pages/f-checkout/src/constants.js
  packages/components/pages/f-checkout/src/event-names.js
Labels: pages

#1589 f-spinner@0.3.0 - Add aria-live and role attributes to spinner
  packages/components/atoms/f-spinner/CHANGELOG.md
  packages/components/atoms/f-spinner/package.json
  packages/components/atoms/f-spinner/src/components/Spinner.vue
Labels: atoms

#1586 f-form@0.3.0 - Add validation
  packages/components/organisms/f-form/CHANGELOG.md
  packages/components/organisms/f-form/README.md
  packages/components/organisms/f-form/package.json
  packages/components/organisms/f-form/src/components/Form.vue
  packages/components/organisms/f-form/src/components/_tests/Form.test.js
  packages/components/organisms/f-form/src/components/_tests/__snapshots__/Form.test.js.snap
  packages/components/organisms/f-form/src/components/_tests/helpers.js
  packages/components/organisms/f-form/src/constants.js
  packages/components/organisms/f-form/src/mixin/_tests/__snapshots__/formValidations.mixin.test.js.snap
  packages/components/organisms/f-form/src/mixin/_tests/formValidations.mixin.test.js
  packages/components/organisms/f-form/src/mixin/formValidation.mixin.js
  packages/components/organisms/f-form/src/services/formField.js
  packages/components/organisms/f-form/src/tenants/en-AU.js
  packages/components/organisms/f-form/src/tenants/en-GB.js
  packages/components/organisms/f-form/src/tenants/en-NZ.js
  packages/components/organisms/f-form/stories/Form.stories.js
  packages/components/organisms/f-form/stories/helpers.js
Labels: please review, organisms

#1606 f-mega-modal@4.0.1 - added aria-label to component
  packages/components/molecules/f-mega-modal/CHANGELOG.md
  packages/components/molecules/f-mega-modal/package.json
  packages/components/molecules/f-mega-modal/src/components/MegaModal.vue
  yarn.lock
Labels: molecules

#1604 f-image-tile@0.3.0 - Implement image
  packages/components/atoms/f-image-tile/CHANGELOG.md
  packages/components/atoms/f-image-tile/package.json
  packages/components/atoms/f-image-tile/src/components/ImageTile.vue
  packages/components/atoms/f-image-tile/src/components/_tests/ImageTile.test.js
  packages/components/atoms/f-image-tile/stories/Demo.stories.js
  packages/components/atoms/f-image-tile/stories/ImageTile.stories.js
  packages/components/atoms/f-image-tile/stories/TestContainer.vue
  packages/components/atoms/f-image-tile/stories/images/burgers.jpg
  packages/components/atoms/f-image-tile/stories/images/wallpaper.png
Labels: please review, atoms

#1605 fozzie-components@v5.9.0 - Danger checks to their own CI workflow
  .circleci/config.yml
  CHANGELOG.md
  package.json
Labels: please review

#1611 f-restaurant-card@v0.14.0 - image fallbacks
  packages/components/molecules/f-restaurant-card/CHANGELOG.md
  packages/components/molecules/f-restaurant-card/package.json
  packages/components/molecules/f-restaurant-card/src/components/RestaurantCard.v1.vue
  packages/components/molecules/f-restaurant-card/src/components/subcomponents/RestaurantImage/RestaurantImage.vue
  packages/components/molecules/f-restaurant-card/src/components/subcomponents/RestaurantLogo.vue
  packages/components/molecules/f-restaurant-card/src/components/subcomponents/RestaurantLogo/RestaurantLogo.vue
Labels: please review, molecules

#1610 f-checkout@3.15.1 - Correct split notes disabled note key
  packages/components/pages/f-checkout/CHANGELOG.md
  packages/components/pages/f-checkout/package.json
  packages/components/pages/f-checkout/src/store/checkout.module.js
  packages/components/pages/f-checkout/src/store/tests/checkout.module.test.js
Labels: pages

#1613 f-mega-modal@4.0.2 - axe fix to remove storybook violation
  packages/components/molecules/f-mega-modal/CHANGELOG.md
  packages/components/molecules/f-mega-modal/package.json
  packages/components/molecules/f-mega-modal/src/components/MegaModal.vue
Labels: molecules

#1614 f-cookie-banner@3.7.1 - version bump of f-mega-modal
  packages/components/organisms/f-cookie-banner/CHANGELOG.md
  packages/components/organisms/f-cookie-banner/package.json
  packages/components/organisms/f-cookie-banner/src/components/CookieBanner.vue
Labels: organisms

#1609 f-checkout@3.15.2 - version bump of f-mega-modal
  packages/components/pages/f-checkout/CHANGELOG.md
  packages/components/pages/f-checkout/package.json
Labels: reviewed-1, reviewed-2, pages

#1615 f-checkout@3.15.3 - Passed tenant to getCustomer call
  packages/components/pages/f-checkout/CHANGELOG.md
  packages/components/pages/f-checkout/package.json
  packages/components/pages/f-checkout/src/components/Checkout.vue
Labels: pages

#1594 f-header@9.3.0 - Fix keyboard navigation and accessibility of user menu
  packages/components/organisms/f-header/CHANGELOG.md
  packages/components/organisms/f-header/package.json
  packages/components/organisms/f-header/src/assets/scss/navigation.scss
  packages/components/organisms/f-header/src/components/CountrySelector.vue
  packages/components/organisms/f-header/src/components/CountrySelectorPanel.vue
  packages/components/organisms/f-header/src/components/Navigation.vue
  packages/components/organisms/f-header/src/components/UserNavigationPanel.vue
  packages/components/organisms/f-header/src/components/_tests/Navigation.test.js
  packages/components/organisms/f-header/src/components/_tests/UserNavigationPanel.test.js
  packages/components/organisms/f-header/src/components/_tests/helpers/navigation.js
  packages/components/organisms/f-header/src/tenants/en-AU.js
  packages/components/organisms/f-header/src/tenants/en-GB.js
  packages/components/organisms/f-header/src/tenants/en-IE.js
  packages/components/organisms/f-header/src/tenants/en-NZ.js
  packages/components/organisms/f-header/src/tenants/es-ES.js
  packages/components/organisms/f-header/src/tenants/it-IT.js
Labels: please review, organisms

#1616 fozzie-components@v5.9.1 - Updated axe helper with updated rules to match storybook.
  CHANGELOG.md
  package.json
  stories/standards/accessibiliity.stories.mdx
  stories/standards/automated-accessibility-checks.stories.mdx
  test/utils/axe-helper.js
Labels: reviewed-1

#1617 f-alert@v4.1.0 - Applied Icing Designs
  packages/components/molecules/f-alert/CHANGELOG.md
  packages/components/molecules/f-alert/package.json
  packages/components/molecules/f-alert/src/components/Alert.vue
Labels: molecules

#1601 f-account-info@0.15.0 - Design updates
  packages/components/pages/f-account-info/CHANGELOG.md
  packages/components/pages/f-account-info/package.json
  packages/components/pages/f-account-info/src/components/AccountInfo.vue
  packages/components/pages/f-account-info/src/components/DeleteAccount.vue
  packages/components/pages/f-account-info/src/components/EmailAddressField.vue
  packages/components/pages/f-account-info/test-utils/component-objects/f-account-info.component.js
  packages/components/pages/f-account-info/test/component/f-account-info.component.spec.js
Labels: reviewed-1, please review, pages

#1619 f-card@3.5.0 - Adding `cardHeadingSize` prop.
  packages/components/atoms/f-card/CHANGELOG.md
  packages/components/atoms/f-card/README.md
  packages/components/atoms/f-card/package.json
  packages/components/atoms/f-card/src/components/Card.vue
  packages/components/atoms/f-card/src/components/_tests/Card.test.js
  packages/components/atoms/f-card/stories/card.stories.js
Labels: reviewed-1, reviewed-2, atoms

#1592 f-takeawaypay-activation@2.9.0 accessibility improvements
  packages/components/pages/f-takeawaypay-activation/CHANGELOG.md
  packages/components/pages/f-takeawaypay-activation/package.json
  packages/components/pages/f-takeawaypay-activation/src/components/ActivationLoggedIn.vue
  packages/components/pages/f-takeawaypay-activation/src/components/_tests/__snapshots__/ActivationLoggedIn.test.js.snap
  packages/components/pages/f-takeawaypay-activation/src/tenants/en-AU.js
  packages/components/pages/f-takeawaypay-activation/src/tenants/en-GB.js
Labels: reviewed-1, reviewed-2, pages

#1612 f-contact-preference@v0.13.0 - Added Alerts for failed and successful saving
  packages/components/pages/f-contact-preferences/CHANGELOG.md
  packages/components/pages/f-contact-preferences/package.json
  packages/components/pages/f-contact-preferences/src/components/ContactPreferences.vue
  packages/components/pages/f-contact-preferences/src/components/_tests/ContactPreferences.test.js
  packages/components/pages/f-contact-preferences/src/exceptions/index.js
  packages/components/pages/f-contact-preferences/src/exceptions/preferencesError.js
  packages/components/pages/f-contact-preferences/src/tenants/en-GB.js
  packages/components/pages/f-contact-preferences/stories/story.helper.js
  packages/components/pages/f-contact-preferences/test-utils/component-objects/f-contactPreferences.component.js
  packages/components/pages/f-contact-preferences/test-utils/component-objects/selectors.js
  packages/components/pages/f-contact-preferences/test/accessibility/axe-accessibility.spec.js
  packages/components/pages/f-contact-preferences/test/component/f-contact-preferences.component.spec.js
  packages/components/pages/f-contact-preferences/test/visual/f-contact-preferences.visual.desktop.spec.js
  packages/components/pages/f-contact-preferences/test/visual/f-contact-preferences.visual.mobile.spec.js
  yarn.lock
Labels: do not merge, reviewed-1, reviewed-2, pages

#1624 f-contact-preferences@0.14.0 - Amending styles to match the designs.
  packages/components/pages/f-contact-preferences/CHANGELOG.md
  packages/components/pages/f-contact-preferences/package.json
  packages/components/pages/f-contact-preferences/src/components/ContactPreferences.vue
  yarn.lock
Labels: reviewed-1, pages

#1626 f-checkout@v3.15.4 - Update f-alert
  packages/components/pages/f-checkout/CHANGELOG.md
  packages/components/pages/f-checkout/package.json
  yarn.lock
Labels: pages

#1628 f-header@9.4.0 - f-vue-icons package version bump
  packages/components/organisms/f-header/CHANGELOG.md
  packages/components/organisms/f-header/package.json
Labels: organisms

#1629 f-image-tile@v0.5.0 - Keyboard navigation
  packages/components/atoms/f-image-tile/CHANGELOG.md
  packages/components/atoms/f-image-tile/package.json
  packages/components/atoms/f-image-tile/src/components/ImageTile.vue
Labels: reviewed-1, please review, atoms

#1632 f-image-tile@v0.5.1 - Update tabindex value
  packages/components/atoms/f-image-tile/CHANGELOG.md
  packages/components/atoms/f-image-tile/package.json
  packages/components/atoms/f-image-tile/src/components/ImageTile.vue
Labels: please review, atoms
