Repository justeattakeaway/fozzie-components, pull requests merged in 2022-03, with the labels that each got.

#1710 f-image-tile@v0.10.1 - Updated Readme to add props and events
  packages/components/atoms/f-image-tile/CHANGELOG.md
  packages/components/atoms/f-image-tile/README.md
  packages/components/atoms/f-image-tile/package.json
Labels: please review, atoms

#1707 f-development-context@1.2.0 - new log interface signature
  packages/services/f-development-context/CHANGELOG.md
  packages/services/f-development-context/README.md
  packages/services/f-development-context/package.json
  packages/services/f-development-context/src/logger.context.js
  packages/storybook/CHANGELOG.md
  packages/storybook/context/logger.context.js
  packages/storybook/package.json
Labels: services, storybook

#1708 f-filter-pill@0.2.0 - Implement the Behaviour
  packages/components/atoms/f-filter-pill/CHANGELOG.md
  packages/components/atoms/f-filter-pill/package.json
  packages/components/atoms/f-filter-pill/src/components/FilterPill.vue
  packages/components/atoms/f-filter-pill/src/components/_tests/FilterPill.test.js
  packages/components/atoms/f-filter-pill/stories/FilterPill.stories.js
Labels: reviewed-1, please review, atoms

#1712 f-checkout@v3.22.1 - fix address service postcode
  packages/components/pages/f-checkout/CHANGELOG.md
  packages/components/pages/f-checkout/package.json
  packages/components/pages/f-checkout/src/services/addressService.js
  packages/components/pages/f-checkout/stories/api/responses/getAddress.js
Labels: pages

#1713 f-vue-icons@3.8.0 - Upgrade f-icons
  packages/tools/f-vue-icons/CHANGELOG.md
  packages/tools/f-vue-icons/icons/StarEmptyIcon.js
  packages/tools/f-vue-icons/icons/StarFilledIcon.js
  packages/tools/f-vue-icons/package.json
  packages/tools/f-vue-icons/src/components/StarEmptyIcon.js
  packages/tools/f-vue-icons/src/components/StarFilledIcon.js
  yarn.lock
Labels: dependencies, please review, tools

#1709 f-footer@7.0.0 - Introducing the `content` prop.
  packages/components/organisms/f-footer/CHANGELOG.md
  packages/components/organisms/f-footer/README.md
  packages/components/organisms/f-footer/data/da-DK.json
  packages/components/organisms/f-footer/data/en-AU.json
  packages/components/organisms/f-footer/data/en-GB.json
  packages/components/organisms/f-footer/data/en-IE.json
  packages/components/organisms/f-footer/data/en-NZ.json
  packages/components/organisms/f-footer/data/es-ES.json
  packages/components/organisms/f-footer/data/it-IT.json
  packages/components/organisms/f-footer/data/nb-NO.json
  packages/components/organisms/f-footer/package.json
  packages/components/organisms/f-footer/src/components/Footer.vue
  packages/components/organisms/f-footer/src/components/LinkList.vue
  packages/components/organisms/f-footer/src/components/_tests/Footer.test.js
  packages/components/organisms/f-footer/src/components/_tests/LinkList.test.js
  packages/components/organisms/f-footer/src/tenants/da-DK.js
  packages/components/organisms/f-footer/src/tenants/en-AU.js
  packages/components/organisms/f-footer/src/tenants/en-GB.js
  packages/components/organisms/f-footer/src/tenants/en-IE.js
  packages/components/organisms/f-footer/src/tenants/en-NZ.js
  packages/components/organisms/f-footer/src/tenants/es-ES.js
  packages/components/organisms/f-footer/src/tenants/it-IT.js
  packages/components/organisms/f-footer/src/tenants/nb-NO.js
  packages/components/organisms/f-footer/stories/footer.stories.js
Labels: reviewed-1, organisms

#1714 fozzie-components@7.0.1 - Updated config.yml with new resource_class
  .circleci/config.yml
  CHANGELOG.md
  package.json
Labels: please review

#1715 f-restaurant-card@v0.25.0 - Restaurant card skeletons
  packages/components/molecules/f-restaurant-card/CHANGELOG.md
  packages/components/molecules/f-restaurant-card/package.json
  packages/components/molecules/f-restaurant-card/src/assets/scss/animations.scss
  packages/components/molecules/f-restaurant-card/src/assets/scss/common.scss
  packages/components/molecules/f-restaurant-card/src/assets/scss/mixins.scss
  packages/components/molecules/f-restaurant-card/src/components/RestaurantCard.vue
  packages/components/molecules/f-restaurant-card/src/components/subcomponents/RestaurantSkeleton/RestaurantContentSkeleton.vue
  packages/components/molecules/f-restaurant-card/src/components/subcomponents/RestaurantSkeleton/RestaurantRatingSkeleton.vue
  packages/components/molecules/f-restaurant-card/src/components/subcomponents/RestaurantTags/RestaurantTag.vue
  packages/components/molecules/f-restaurant-card/stories/RestaurantCard.stories.js
  yarn.lock
Labels: dependencies, molecules

#1711 f-checkout - converted knobs to controls #trivial
  packages/components/pages/f-checkout/CHANGELOG.md
  packages/components/pages/f-checkout/stories/Checkout.stories.js
  packages/components/pages/f-checkout/test-utils/component-objects/argumentStringBuilder.js
  packages/components/pages/f-checkout/test/accessibility/axe-accessibility.spec.js
  packages/components/pages/f-checkout/test/component/f-checkout-delivery.component.spec.js
  packages/components/pages/f-checkout/test/component/f-checkout-dinein.component.spec.js
  packages/components/pages/f-checkout/test/component/f-checkout-guest.component.spec.js
  packages/components/pages/f-checkout/test/component/f-checkout.component.spec.js
  packages/components/pages/f-checkout/test/visual/f-checkout-authenticated.visual.desktop.spec.js
  packages/components/pages/f-checkout/test/visual/f-checkout-authenticated.visual.mobile.spec.js
  packages/components/pages/f-checkout/test/visual/f-checkout-guest.visual.desktop.spec.js
  packages/components/pages/f-checkout/test/visual/f-checkout-guest.visual.mobile.spec.js
  packages/components/pages/f-checkout/test/visual/f-checkout-invalid.visual.desktop.spec.js
  packages/components/pages/f-checkout/test/visual/f-checkout-invalid.visual.mobile.spec.js
Labels: pages

#1718 f-restaurant-card@v0.26.0 - Optional performance tracking
  packages/components/molecules/f-restaurant-card/CHANGELOG.md
  packages/components/molecules/f-restaurant-card/package.json
  packages/components/molecules/f-restaurant-card/src/components/RestaurantCard.vue
  packages/components/molecules/f-restaurant-card/src/components/_tests/RestaurantCard.test.js
  packages/components/molecules/f-restaurant-card/src/components/subcomponents/DeliveryTimeMeta/DeliveryTimeMeta.vue
  packages/components/molecules/f-restaurant-card/src/components/subcomponents/DeliveryTimeMeta/_tests/DeliveryTimeMeta.test.js
Labels: molecules

#1719 f-account-info@v0.17.0 - Added PATCH method to api provider class
  packages/components/pages/f-account-info/CHANGELOG.md
  packages/components/pages/f-account-info/package.json
  packages/components/pages/f-account-info/src/constants.js
  packages/components/pages/f-account-info/src/services/_tests/__snapshots__/analytics.test.js.snap
  packages/components/pages/f-account-info/src/services/analytics.js
  packages/components/pages/f-account-info/src/services/providers/Consumer.api.js
  packages/components/pages/f-account-info/src/services/providers/_tests/Consumer.api.test.js
  packages/components/pages/f-account-info/test-utils/setup.js
  yarn.lock
Labels: reviewed-1, reviewed-2, pages

#1717 f-feature-management@v0.8.0 - add @justeat/feature-management
  packages/services/f-feature-management/CHANGELOG.md
  packages/services/f-feature-management/README.md
  packages/services/f-feature-management/package.json
  packages/services/f-feature-management/src/index.js
  packages/services/f-feature-management/src/lib/FeatureManager.js
  packages/services/f-feature-management/src/lib/calculateFractions.js
  packages/services/f-feature-management/src/lib/configStore.js
  packages/services/f-feature-management/src/lib/contextGetter.js
  packages/services/f-feature-management/src/lib/createFeatureManagementInstance.js
  packages/services/f-feature-management/src/lib/evaluateDefaultValue.js
  packages/services/f-feature-management/src/lib/evaluateIdHashLogic.js
  packages/services/f-feature-management/src/lib/evaluateLogic.js
  packages/services/f-feature-management/src/lib/evaluateRestriction.js
  packages/services/f-feature-management/src/lib/index.js
  packages/services/f-feature-management/src/lib/logger.js
  packages/services/f-feature-management/src/lib/trackExperiment.js
  packages/services/f-feature-management/src/vue/services/features.service.js
  packages/services/f-feature-management/test/lib/configStore.test.js
  packages/services/f-feature-management/test/lib/endToEnd.test.js
  packages/services/f-feature-management/test/lib/evaluateRestriction.test.js
  packages/services/f-feature-management/test/lib/fractions.test.js
  yarn.lock
Labels: reviewed-1, reviewed-2, services

#1723 f-image-tile@v0.10.2 - Updated margin between image and text
  packages/components/atoms/f-image-tile/CHANGELOG.md
  packages/components/atoms/f-image-tile/package.json
  packages/components/atoms/f-image-tile/src/components/ImageTile.vue
Labels: reviewed-1, please review, atoms

#1722 f-wdio-utils@v0.9.0 - use require statement.
  packages/services/f-wdio-utils/CHANGELOG.md
  packages/services/f-wdio-utils/package.json
  packages/services/f-wdio-utils/src/page.object.js
Labels: services

#1732 f-account-info@v0.18.0 - Added the save method to the store #copy
  packages/components/pages/f-account-info/CHANGELOG.md
  packages/components/pages/f-account-info/package.json
  packages/components/pages/f-account-info/src/services/mapping/consumer.mapper.js
  packages/components/pages/f-account-info/src/store/_tests/accountInfo.module.test.js
  packages/components/pages/f-account-info/src/store/accountInfo.module.js
  packages/components/pages/f-account-info/test-utils/setup.js
  yarn.lock
Labels: pages

#1738 f-image-tile@v0.10.3 - Updated href & added checked attribute
  packages/components/atoms/f-image-tile/CHANGELOG.md
  packages/components/atoms/f-image-tile/package.json
  packages/components/atoms/f-image-tile/src/components/ImageTile.vue
  packages/components/atoms/f-image-tile/src/components/_tests/ImageTile.test.js
Labels: reviewed-1, please review, atoms

#1739 f-filter-pill@v0.3.0 - Style the component
  packages/components/atoms/f-filter-pill/CHANGELOG.md
  packages/components/atoms/f-filter-pill/package.json
  packages/components/atoms/f-filter-pill/src/components/FilterPill.vue
Labels: please review, atoms

#1741 f-image-tile@v0.11.0 - Added unit tests for props
  packages/components/atoms/f-image-tile/CHANGELOG.md
  packages/components/atoms/f-image-tile/package.json
  packages/components/atoms/f-image-tile/src/components/ImageTile.vue
  packages/components/atoms/f-image-tile/src/components/_tests/ImageTile.test.js
Labels: reviewed-1, please review, atoms

#1742 f-cookie-banner@v3.8.1 - Added data-test-id and selectors file for testing
  packages/components/organisms/f-cookie-banner/CHANGELOG.md
  packages/components/organisms/f-cookie-banner/package.json
  packages/components/organisms/f-cookie-banner/src/components/CookieBanner.vue
  packages/components/organisms/f-cookie-banner/test-utils/component-objects/f-cookie-banner-selectors.js
Labels: organisms

#1744 f-filter-pill@0.3.1 - add checked attribute to filter pill
  packages/components/atoms/f-filter-pill/CHANGELOG.md
  packages/components/atoms/f-filter-pill/package.json
  packages/components/atoms/f-filter-pill/src/components/FilterPill.vue
  packages/components/atoms/f-filter-pill/src/components/_tests/FilterPill.test.js
Labels: atoms

#1743 f-development-context@1.2.0 - new log interface signature - REVERT
  packages/services/f-development-context/CHANGELOG.md
  packages/services/f-development-context/README.md
  packages/services/f-development-context/package.json
  packages/services/f-development-context/src/logger.context.js
  packages/storybook/CHANGELOG.md
  packages/storybook/context/logger.context.js
  packages/storybook/package.json
Labels: services, storybook

#1746 f-filter-pill@v0.4.0 - Add `a` tag to the component for the SEO reasons
  packages/components/atoms/f-filter-pill/CHANGELOG.md
  packages/components/atoms/f-filter-pill/package.json
  packages/components/atoms/f-filter-pill/src/components/FilterPill.vue
  packages/components/atoms/f-filter-pill/src/components/_tests/FilterPill.test.js
  packages/components/atoms/f-filter-pill/stories/FilterPill.stories.js
Labels: atoms

#1748 f-breadcrumbs@v3.2.0 - Add nav landmark to breadcrumb list.
  packages/components/molecules/f-breadcrumbs/CHANGELOG.md
  packages/components/molecules/f-breadcrumbs/package.json
  packages/components/molecules/f-breadcrumbs/src/components/BreadCrumbs.vue
  packages/components/molecules/f-breadcrumbs/src/components/tests/Breadcrumbs.test.js
Labels: molecules

#1730 #trivial - Remove dup method in favour of package import.
  CHANGELOG.md
  package.json
  packages/components/atoms/f-button/test/accessibility/axe-accessibility.spec.js
  packages/components/atoms/f-card/test/accessibility/axe-accessibility.spec.js
  packages/components/atoms/f-error-message/test/accessibility/axe-accessibility.spec.js
  packages/components/atoms/f-filter-pill/test/accessibility/axe-accessibility.spec.js
  packages/components/atoms/f-form-field/test/accessibility/axe-accessibility.spec.js
  packages/components/atoms/f-image-tile/test/accessibility/axe-accessibility.spec.js
  packages/components/atoms/f-link/test/accessibility/axe-accessibility.spec.js
  packages/components/atoms/f-popover/test/accessibility/axe-accessibility.spec.js
  packages/components/atoms/f-spinner/test/accessibility/axe-accessibility.spec.js
  packages/components/molecules/f-alert/test/accessibility/axe-accessibility.spec.js
  packages/components/molecules/f-breadcrumbs/test/accessibility/axe-accessibility.spec.js
  packages/components/molecules/f-card-with-content/test/accessibility/axe-accessibility.spec.js
  packages/components/molecules/f-media-element/test/accessibility/axe-accessibility.spec.js
  packages/components/molecules/f-mega-modal/test/accessibility/axe-accessibility.spec.js
  packages/components/molecules/f-navigation-links/test/accessibility/axe-accessibility.spec.js
  packages/components/molecules/f-promotions-showcase/test/accessibility/axe-accessibility.spec.js
  packages/components/molecules/f-restaurant-card/test/accessibility/axe-accessibility.spec.js
  packages/components/molecules/f-searchbox/test/accessibility/axe-accessibility.spec.js
  packages/components/molecules/f-skeleton-loader/test/accessibility/axe-accessibility.spec.js
  packages/components/molecules/f-tabs/test/accessibility/axe-accessibility.spec.js
  packages/components/molecules/f-user-message/test/accessibility/axe-accessibility.spec.js
  packages/components/organisms/f-content-cards/test/accessibility/axe-accessibility.spec.js
  packages/components/organisms/f-cookie-banner/test/accessibility/axe-accessibility.spec.js
  packages/components/organisms/f-footer/test/accessibility/axe-accessibility.spec.js
  packages/components/organisms/f-form/test/accessibility/axe-accessibility.spec.js
  packages/components/organisms/f-header/test/accessibility/axe-accessibility.spec.js
  packages/components/organisms/f-status-banner/test/accessibility/axe-accessibility.spec.js
  packages/components/pages/f-account-info/test/accessibility/axe-accessibility.spec.js
  packages/components/pages/f-checkout/test/accessibility/axe-accessibility.spec.js
  packages/components/pages/f-contact-preferences/test/accessibility/axe-accessibility.spec.js
  packages/components/pages/f-loyalty/test/accessibility/axe-accessibility.spec.js
  packages/components/pages/f-offers/test/accessibility/axe-accessibility.spec.js
  packages/components/pages/f-registration/test/accessibility/axe-accessibility.spec.js
  packages/components/pages/f-takeawaypay-activation/test/accessibility/axe-accessibility.spec.js
  packages/tools/generator-component/generators/app/templates/test/accessibility/axe-accessibility.spec.js
  test/utils/axe-helper.js
Labels: atoms, molecules, organisms, tools, pages

#1750 f-navigation-links@v1.1.0 - Add aria label and nav landmark.
  packages/components/molecules/f-navigation-links/CHANGELOG.md
  packages/components/molecules/f-navigation-links/package.json
  packages/components/molecules/f-navigation-links/src/components/NavigationLinks.vue
  packages/components/molecules/f-navigation-links/src/components/_tests/NavigationLinks.test.js
  packages/components/molecules/f-navigation-links/src/components/_tests/__snapshots__/NavigationLinks.test.js.snap
Labels: molecules

#1749 f-account-info@v0.19.0 - Wired up save action to store method
  packages/components/pages/f-account-info/CHANGELOG.md
  packages/components/pages/f-account-info/package.json
  packages/components/pages/f-account-info/src/components/AccountInfo.vue
  packages/components/pages/f-account-info/src/components/_tests/AccountInfo.test.js
  packages/components/pages/f-account-info/src/components/_tests/__snapshots__/AccountInfo.test.js.snap
  packages/components/pages/f-account-info/src/services/_tests/analytics.test.js
  packages/components/pages/f-account-info/src/services/analytics.js
  packages/components/pages/f-account-info/src/store/_tests/accountInfo.module.test.js
  packages/components/pages/f-account-info/src/store/accountInfo.module.js
Labels: pages

#1751 f-offers@v1.9.0 - Updated background colour to token `$color-support-brand-01`
  packages/components/pages/f-offers/CHANGELOG.md
  packages/components/pages/f-offers/package.json
  packages/components/pages/f-offers/src/components/Header.vue
Labels: pages

#1747 f-content-cards@v8.0.0-alpha.1
  packages/components/organisms/f-content-cards/CHANGELOG.md
  packages/components/organisms/f-content-cards/package.json
  packages/components/organisms/f-content-cards/src/components/templates/Image.vue
  packages/components/organisms/f-content-cards/src/components/templates/_tests/Image.test.js
Labels: organisms

#1754 f-filter-pill@v0.5.0 - Basic skeleton loading logic
  packages/components/atoms/f-filter-pill/CHANGELOG.md
  packages/components/atoms/f-filter-pill/package.json
  packages/components/atoms/f-filter-pill/src/components/FilterPill.vue
  packages/components/atoms/f-filter-pill/src/components/_tests/FilterPill.test.js
  packages/components/atoms/f-filter-pill/stories/FilterPill.stories.js
Labels: atoms

#1753 f-account-info@v0.20.0 - Added success & failed alerts to the Save button
  packages/components/pages/f-account-info/CHANGELOG.md
  packages/components/pages/f-account-info/package.json
  packages/components/pages/f-account-info/src/components/AccountInfo.vue
  packages/components/pages/f-account-info/src/components/Notifications.vue
  packages/components/pages/f-account-info/src/components/_tests/AccountInfo.test.js
  packages/components/pages/f-account-info/src/exceptions/InfoPageError.js
  packages/components/pages/f-account-info/src/exceptions/index.js
  packages/components/pages/f-account-info/src/tenants/en-GB.js
  yarn.lock
Labels: reviewed-1, reviewed-2, pages

#1755 f-template-subnav@0.5.0 - Pulls in a11y changes via package bumps.
  packages/components/templates/f-template-subnav/CHANGELOG.md
  packages/components/templates/f-template-subnav/package.json
  yarn.lock
Labels: reviewed-1, templates

#1758 f-account-info@v0.20.1 - Additional Chrome & Visual tests
  packages/components/pages/f-account-info/CHANGELOG.md
  packages/components/pages/f-account-info/package.json
  packages/components/pages/f-account-info/stories/story.helper.js
  packages/components/pages/f-account-info/test-utils/component-objects/f-account-info-selectors.js
  packages/components/pages/f-account-info/test-utils/component-objects/f-account-info.component.js
  packages/components/pages/f-account-info/test/component/f-account-info.component.spec.js
  packages/components/pages/f-account-info/test/visual/f-account-info.visual.spec.js
Labels: pages

#1759 f-feature-management@v0.9.0 - Replace old logger interface with new one
  packages/services/f-feature-management/CHANGELOG.md
  packages/services/f-feature-management/README.md
  packages/services/f-feature-management/package.json
  packages/services/f-feature-management/src/vue/services/features.service.js
  packages/services/f-feature-management/test/vue/features.service.test.js
Labels: reviewed-1, reviewed-2, services

#1740 f-header@v9.7.0 - update component to match latest design
  packages/components/organisms/f-header/CHANGELOG.md
  packages/components/organisms/f-header/package.json
  packages/components/organisms/f-header/src/assets/scss/common.scss
  packages/components/organisms/f-header/src/assets/scss/navigation.scss
  packages/components/organisms/f-header/src/components/CountrySelector.vue
  packages/components/organisms/f-header/src/components/CountrySelectorPanel.vue
  packages/components/organisms/f-header/src/components/Header.vue
  packages/components/organisms/f-header/src/components/Logo.vue
  packages/components/organisms/f-header/src/components/NavLink.vue
  packages/components/organisms/f-header/src/components/Navigation.vue
  packages/components/organisms/f-header/src/components/UserNavigationPanel.vue
  packages/components/organisms/f-header/test-utils/component-objects/f-header.selectors.js
  packages/components/organisms/f-header/test/component/f-header.component.spec.js
Labels: organisms

#1760 f-restaurant-card@v0.27.0 - Show ratings without counts
  packages/components/molecules/f-restaurant-card/CHANGELOG.md
  packages/components/molecules/f-restaurant-card/package.json
  packages/components/molecules/f-restaurant-card/src/components/subcomponents/RestaurantRating/RestaurantRating.vue
  packages/components/molecules/f-restaurant-card/src/components/subcomponents/RestaurantRating/_tests/RestaurantRating.test.js
Labels: molecules

#1762 f-breadcrumbs@3.2.1 - Package bump only.
  packages/components/molecules/f-breadcrumbs/CHANGELOG.md
  packages/components/molecules/f-breadcrumbs/package.json
Labels: molecules

#1763 f-template-subnav@0.5.1 - Bump f-breadcrumbs package.
  packages/components/templates/f-template-subnav/CHANGELOG.md
  packages/components/templates/f-template-subnav/package.json
Labels: templates

#1761 #trivial - Add italian translations
  packages/components/pages/f-checkout/CHANGELOG.md
  packages/components/pages/f-checkout/src/tenants/it-IT.js
Labels: pages

#1757 f-cookie-banner@v3.8.2 - Added test tab loop test into f-cookie-banner component
  packages/components/organisms/f-cookie-banner/CHANGELOG.md
  packages/components/organisms/f-cookie-banner/package.json
  packages/components/organisms/f-cookie-banner/src/components/CookieBanner.vue
  packages/components/organisms/f-cookie-banner/test-utils/component-objects/f-cookie-banner-selectors.js
  packages/components/organisms/f-cookie-banner/test-utils/component-objects/f-cookie-consent-banner.component.js
  packages/components/organisms/f-cookie-banner/test/accessibility/axe-accessibility.spec.js
Labels: organisms

#1768 f-header@v9.8.0 - small changes to match latest design
  packages/components/organisms/f-header/CHANGELOG.md
  packages/components/organisms/f-header/package.json
  packages/components/organisms/f-header/src/assets/scss/navigation.scss
  packages/components/organisms/f-header/src/components/Header.vue
  packages/components/organisms/f-header/src/components/Logo.vue
  packages/components/organisms/f-header/src/components/Navigation.vue
  packages/components/organisms/f-header/src/components/UserNavigationPanel.vue
Labels: organisms

#1769 f-header@9.9.0 + f-footer@7.1.0 + f-spinner@0.4.0: Assorted accessibility updates
  packages/components/atoms/f-spinner/CHANGELOG.md
  packages/components/atoms/f-spinner/package.json
  packages/components/atoms/f-spinner/src/components/Spinner.vue
  packages/components/atoms/f-spinner/stories/Spinner.stories.js
  packages/components/atoms/f-spinner/stories/TestComponent.vue
  packages/components/organisms/f-footer/CHANGELOG.md
  packages/components/organisms/f-footer/package.json
  packages/components/organisms/f-footer/src/components/CountrySelector.vue
  packages/components/organisms/f-footer/src/components/IconList.vue
  packages/components/organisms/f-footer/src/components/_tests/CountrySelector.test.js
  packages/components/organisms/f-footer/src/tenants/countryList.js
  packages/components/organisms/f-header/CHANGELOG.md
  packages/components/organisms/f-header/package.json
  packages/components/organisms/f-header/src/components/CountrySelectorPanel.vue
  packages/components/organisms/f-header/src/tenants/countryList.js
Labels: atoms, organisms

#1770 f-checkout@v3.23.0 - Render address lines based on translations
  packages/components/pages/f-checkout/CHANGELOG.md
  packages/components/pages/f-checkout/package.json
  packages/components/pages/f-checkout/src/components/Address.vue
  packages/components/pages/f-checkout/src/components/CheckoutForm.vue
  packages/components/pages/f-checkout/src/components/CheckoutFormField.vue
  packages/components/pages/f-checkout/src/components/_tests/CheckoutForm.test.js
  packages/components/pages/f-checkout/src/components/_tests/CheckoutFormField.test.js
  packages/components/pages/f-checkout/src/tenants/en-AU.js
  packages/components/pages/f-checkout/src/tenants/en-GB.js
  packages/components/pages/f-checkout/src/tenants/en-NZ.js
  packages/components/pages/f-checkout/src/tenants/it-IT.js
  packages/components/pages/f-checkout/stories/helpers/addresses/index.js
  packages/components/pages/f-checkout/stories/helpers/addresses/it.js
Labels: pages

#1772 f-filter-pill@v0.6.0 - Screen reader improvements
  packages/components/atoms/f-filter-pill/CHANGELOG.md
  packages/components/atoms/f-filter-pill/package.json
  packages/components/atoms/f-filter-pill/src/components/FilterPill.vue
  packages/components/atoms/f-filter-pill/src/components/_tests/FilterPill.test.js
  packages/components/atoms/f-filter-pill/stories/FilterPill.stories.js
Labels: atoms

#1764 f-restaurant-card@v0.28.0 - Design review changes
  packages/components/molecules/f-restaurant-card/CHANGELOG.md
  packages/components/molecules/f-restaurant-card/package.json
  packages/components/molecules/f-restaurant-card/src/components/RestaurantCard.vue
  packages/components/molecules/f-restaurant-card/src/components/subcomponents/DeliveryTimeMeta/DeliveryTimeMeta.vue
  packages/components/molecules/f-restaurant-card/src/components/subcomponents/IconText.vue
  packages/components/molecules/f-restaurant-card/src/components/subcomponents/RestaurantAvailability/RestaurantAvailability.vue
  packages/components/molecules/f-restaurant-card/src/components/subcomponents/RestaurantCuisines.vue
  packages/components/molecules/f-restaurant-card/src/components/subcomponents/RestaurantDishes/RestaurantDish.vue
  packages/components/molecules/f-restaurant-card/src/components/subcomponents/RestaurantDishes/RestaurantDishes.vue
  packages/components/molecules/f-restaurant-card/src/components/subcomponents/RestaurantFees/RestaurantFees.vue
  packages/components/molecules/f-restaurant-card/src/components/subcomponents/RestaurantImage/RestaurantImage.vue
  packages/components/molecules/f-restaurant-card/src/components/subcomponents/RestaurantLogo/RestaurantLogo.vue
  packages/components/molecules/f-restaurant-card/src/components/subcomponents/RestaurantRating/RestaurantRating.vue
  packages/components/molecules/f-restaurant-card/src/components/subcomponents/RestaurantTags/RestaurantTag.vue
  packages/components/molecules/f-restaurant-card/src/components/subcomponents/RestaurantTags/RestaurantTags.vue
Labels: please review, molecules

#1774 f-restaurant-card@v0.29.0 - Remove eta clearfix when prop true
  packages/components/molecules/f-restaurant-card/CHANGELOG.md
  packages/components/molecules/f-restaurant-card/package.json
  packages/components/molecules/f-restaurant-card/src/components/RestaurantCard.vue
  packages/components/molecules/f-restaurant-card/stories/RestaurantCard.stories.js
Labels: molecules

#1773 f-filter-pill@v0.7.0 - Style the loading skeleton
  packages/components/atoms/f-filter-pill/CHANGELOG.md
  packages/components/atoms/f-filter-pill/package.json
  packages/components/atoms/f-filter-pill/src/components/FilterPill.vue
  packages/components/atoms/f-filter-pill/src/components/FilterPillSkeleton.vue
Labels: reviewed-1, reviewed-2, atoms

#1775 f-restaurant-card@v0.29.1 - Fixed moved margin to parent
  packages/components/molecules/f-restaurant-card/CHANGELOG.md
  packages/components/molecules/f-restaurant-card/package.json
  packages/components/molecules/f-restaurant-card/src/components/subcomponents/DeliveryTimeMeta/DeliveryTimeMeta.vue
Labels: molecules

#1777 f-development-context@v1.1.0 - Delete service
  .circleci/config.yml
  CHANGELOG.md
  package.json
  packages/services/f-development-context/.eslintignore
  packages/services/f-development-context/CHANGELOG.md
  packages/services/f-development-context/README.md
  packages/services/f-development-context/babel.config.js
  packages/services/f-development-context/jest.config.js
  packages/services/f-development-context/package.json
  packages/services/f-development-context/rollup.config.js
  packages/services/f-development-context/src/analytics.context.js
  packages/services/f-development-context/src/cookie.context.js
  packages/services/f-development-context/src/i18n.context.js
  packages/services/f-development-context/src/index.js
  packages/services/f-development-context/src/logger.context.js
  packages/services/f-development-context/src/vuex.context.js
Labels: services

#1731 fozzie-components@v7.2.0 - Removing references to vue-cli in favour of direct called to stylelint #globalconfig
  CHANGELOG.md
  package.json
  packages/components/atoms/f-button/package.json
  packages/components/atoms/f-card/package.json
  packages/components/atoms/f-error-message/package.json
  packages/components/atoms/f-filter-pill/package.json
  packages/components/atoms/f-form-field/package.json
  packages/components/atoms/f-image-tile/package.json
  packages/components/atoms/f-link/package.json
  packages/components/atoms/f-popover/package.json
  packages/components/atoms/f-spinner/package.json
  packages/components/molecules/f-alert/package.json
  packages/components/molecules/f-breadcrumbs/package.json
  packages/components/molecules/f-card-with-content/package.json
  packages/components/molecules/f-media-element/package.json
  packages/components/molecules/f-mega-modal/package.json
  packages/components/molecules/f-navigation-links/package.json
  packages/components/molecules/f-promotions-showcase/package.json
  packages/components/molecules/f-restaurant-card/package.json
  packages/components/molecules/f-searchbox/package.json
  packages/components/molecules/f-skeleton-loader/package.json
  packages/components/molecules/f-tabs/package.json
  packages/components/molecules/f-user-message/package.json
  packages/components/organisms/f-content-cards/package.json
  packages/components/organisms/f-cookie-banner/package.json
  packages/components/organisms/f-footer/package.json
  packages/components/organisms/f-form/package.json
  packages/components/organisms/f-header/package.json
  packages/components/organisms/f-status-banner/package.json
  packages/components/pages/f-account-info/package.json
  packages/components/pages/f-checkout/package.json
  packages/components/pages/f-contact-preferences/package.json
  packages/components/pages/f-loyalty/package.json
  packages/components/pages/f-offers/package.json
  packages/components/pages/f-registration/package.json
  packages/components/pages/f-takeawaypay-activation/package.json
  packages/components/templates/f-template-subnav/package.json
  packages/services/f-globalisation/package.json
  packages/tools/generator-component/CHANGELOG.md
  packages/tools/generator-component/generators/app/templates/__package__.json
  packages/tools/generator-component/package.json
  yarn.lock
Labels: atoms, molecules, organisms, services, tools, pages, templates

#1776 storybook@v0.51.0 - Remove obsolete logger interface from storybook
  packages/storybook/CHANGELOG.md
  packages/storybook/context/index.js
  packages/storybook/context/logger.context.js
  packages/storybook/package.json
Labels: reviewed-1, reviewed-2, storybook

#1766 #trivial - Upgrade Vue-CLI Packages
  CHANGELOG.md
  package.json
  packages/components/atoms/f-button/package.json
  packages/components/atoms/f-card/package.json
  packages/components/atoms/f-error-message/package.json
  packages/components/atoms/f-form-field/package.json
  packages/components/atoms/f-image-tile/package.json
  packages/components/atoms/f-link/package.json
  packages/components/atoms/f-popover/package.json
  packages/components/atoms/f-spinner/package.json
  packages/components/molecules/f-alert/package.json
  packages/components/molecules/f-breadcrumbs/package.json
  packages/components/molecules/f-card-with-content/package.json
  packages/components/molecules/f-media-element/package.json
  packages/components/molecules/f-mega-modal/package.json
  packages/components/molecules/f-navigation-links/package.json
  packages/components/molecules/f-promotions-showcase/package.json
  packages/components/molecules/f-restaurant-card/package.json
  packages/components/molecules/f-searchbox/package.json
  packages/components/molecules/f-skeleton-loader/package.json
  packages/components/molecules/f-tabs/package.json
  packages/components/molecules/f-user-message/package.json
  packages/components/organisms/f-content-cards/package.json
  packages/components/organisms/f-cookie-banner/package.json
  packages/components/organisms/f-footer/package.json
  packages/components/organisms/f-header/package.json
  packages/components/organisms/f-status-banner/package.json
  packages/components/pages/f-checkout/package.json
  packages/components/pages/f-contact-preferences/package.json
  packages/components/pages/f-loyalty/package.json
  packages/components/pages/f-offers/package.json
  packages/components/pages/f-takeawaypay-activation/package.json
  packages/components/templates/f-template-subnav/package.json
  packages/services/f-braze-adapter/package.json
  packages/services/f-globalisation/package.json
  packages/services/f-performance/package.json
  packages/services/f-wdio-utils/package.json
  packages/tools/generator-component/package.json
  yarn.lock
Labels: reviewed-1, reviewed-2, atoms, molecules, organisms, services, tools, pages, templates

#1779 f-popover@2.3.0 - Removed f-popover tooltip arrow from popover.vue
  packages/components/atoms/f-popover/CHANGELOG.md
  packages/components/atoms/f-popover/package.json
  packages/components/atoms/f-popover/src/components/Popover.vue
  yarn.lock
Labels: atoms

#1782 f-header@9.10.0 - Updated header f-popover package ver
  packages/components/organisms/f-header/CHANGELOG.md
  packages/components/organisms/f-header/package.json
Labels: organisms

#1778 f-form-field@4.8.0 - Fix assistive text styles
  packages/components/atoms/f-form-field/CHANGELOG.md
  packages/components/atoms/f-form-field/package.json
  packages/components/atoms/f-form-field/src/components/FormField.vue
Labels: atoms

#1784 f-image-tile@v0.11.1 - add pointer cursor to image tile
  packages/components/atoms/f-image-tile/CHANGELOG.md
  packages/components/atoms/f-image-tile/package.json
  packages/components/atoms/f-image-tile/src/components/ImageTile.vue
Labels: reviewed-1, reviewed-2, atoms
