Repository justeattakeaway/fozzie-components, pull requests merged in 2022-05, with the labels that each got.

#1817 f-checkout@3.26.0 - Axios wrapper for API calls that require a retry
  packages/components/pages/f-checkout/CHANGELOG.md
  packages/components/pages/f-checkout/package.json
  packages/components/pages/f-checkout/src/axios-retry-wrapper.js
  packages/components/pages/f-checkout/src/services/checkoutApi.js
  packages/components/pages/f-checkout/src/store/checkout.module.js
Labels: pages

#1824 f-account-info@0.21.1 - Add component test for urls.
  packages/components/pages/f-account-info/CHANGELOG.md
  packages/components/pages/f-account-info/package.json
  packages/components/pages/f-account-info/test-utils/component-objects/f-account-info.component.js
  packages/components/pages/f-account-info/test/component/f-account-info.component.spec.js
Labels: please review, pages

#1826 f-content-cards@v8.0.0-alpha.8 - Exporting new cards & updating card body
  packages/components/organisms/f-content-cards/CHANGELOG.md
  packages/components/organisms/f-content-cards/package.json
  packages/components/organisms/f-content-cards/src/components/cards/VoucherCard.vue
  packages/components/organisms/f-content-cards/src/components/cards/_tests/VoucherCard.test.js
  packages/components/organisms/f-content-cards/src/components/templates/ContentCardBody.vue
  packages/components/organisms/f-content-cards/src/index.js
Labels: organisms

#1822 f-account-info@v0.21.1 - Added temp extra logging for auth exp (2)
  packages/components/pages/f-account-info/CHANGELOG.md
  packages/components/pages/f-account-info/package.json
  packages/components/pages/f-account-info/src/components/AccountInfo.vue
  packages/components/pages/f-account-info/src/components/_tests/AccountInfo.test.js
  yarn.lock
Labels: reviewed-1, ready for re-review, pages

#1829 f-cookie-banner@v3.8.3 - Security- Changed the 'f-services' version
  packages/components/organisms/f-cookie-banner/CHANGELOG.md
  packages/components/organisms/f-cookie-banner/package.json
Labels: organisms

#1834 f-image-tile@v0.12.0 - Added optional performance tracker prop
  packages/components/atoms/f-image-tile/CHANGELOG.md
  packages/components/atoms/f-image-tile/package.json
  packages/components/atoms/f-image-tile/src/components/ImageTile.vue
  packages/components/atoms/f-image-tile/src/components/_tests/ImageTile.test.js
Labels: please review, atoms

#1835 f-filter-pill@v0.8.0 - Adds optional performance tracker prop
  packages/components/atoms/f-filter-pill/CHANGELOG.md
  packages/components/atoms/f-filter-pill/package.json
  packages/components/atoms/f-filter-pill/src/components/FilterPill.vue
  packages/components/atoms/f-filter-pill/src/components/_tests/FilterPill.test.js
Labels: please review, atoms

#1836 f-cookie-banner@v3.8.4 - Correct overlay positioning
  packages/components/organisms/f-cookie-banner/CHANGELOG.md
  packages/components/organisms/f-cookie-banner/package.json
  packages/components/organisms/f-cookie-banner/src/components/CookieBanner.vue
Labels: reviewed-1, reviewed-2, organisms

#1844 f-content-cards@v8.0.0-beta.1 - updating to beta to pull into offers page
  packages/components/organisms/f-content-cards/CHANGELOG.md
  packages/components/organisms/f-content-cards/package.json
Labels: organisms

#1853 #trivial f-cookie-banner - Removed New from tests naming conventions
  packages/components/organisms/f-cookie-banner/CHANGELOG.md
  packages/components/organisms/f-cookie-banner/test/accessibility/axe-accessibility.spec.js
  packages/components/organisms/f-cookie-banner/test/component/f-cookie-consent-banner.component.spec.js
  packages/components/organisms/f-cookie-banner/test/visual/f-cookie-consent-banner.visual.desktop.spec.js
  packages/components/organisms/f-cookie-banner/test/visual/f-cookie-consent-banner.visual.mobile.spec.js
Labels: organisms

#1855 f-services@1.15.0 - Add regex for Irish postcode validation
  packages/services/f-services/CHANGELOG.md
  packages/services/f-services/package.json
  packages/services/f-services/src/validations.js
  packages/services/f-services/tests/validations.test.js
Labels: services

#1823 f-takeawaypay-activation@v2.12.0 - accessibility fix and packages upg…
  packages/components/pages/f-takeawaypay-activation/CHANGELOG.md
  packages/components/pages/f-takeawaypay-activation/package.json
  packages/components/pages/f-takeawaypay-activation/src/assets/scss/_takeaway-pay-activation.scss
  packages/components/pages/f-takeawaypay-activation/src/components/ActivationFailed.vue
  packages/components/pages/f-takeawaypay-activation/src/components/TakeawaypayActivation.vue
  packages/components/pages/f-takeawaypay-activation/src/components/_tests/__snapshots__/ActivationFailed.test.js.snap
  packages/components/pages/f-takeawaypay-activation/src/components/_tests/__snapshots__/ActivationLoggedIn.test.js.snap
  packages/components/pages/f-takeawaypay-activation/stories/TakeawaypayActivation.stories.js
  yarn.lock
Labels: reviewed-1, reviewed-2, pages

#1831 f-header@9.15.0 - pie updates
  packages/components/organisms/f-header/CHANGELOG.md
  packages/components/organisms/f-header/package.json
  packages/components/organisms/f-header/src/assets/scss/navigation.scss
  packages/components/organisms/f-header/src/components/CountrySelector.vue
  packages/components/organisms/f-header/src/components/CountrySelectorPanel.vue
  packages/components/organisms/f-header/src/components/Navigation.vue
  packages/components/organisms/f-header/src/components/UserNavigationPanel.vue
  yarn.lock
Labels: organisms

#1858 f-vue-icons@3.10.0 - Add narrow visa icon
  packages/tools/f-vue-icons/CHANGELOG.md
  packages/tools/f-vue-icons/icons/PaymentVisaTransparentNarrowIcon.js
  packages/tools/f-vue-icons/package.json
  packages/tools/f-vue-icons/src/components/PaymentVisaTransparentNarrowIcon.js
  packages/tools/f-vue-icons/src/index.js
  yarn.lock
Labels: tools

#1861 f-footer@7.4.0 - Update f-vue-icons
  packages/components/organisms/f-footer/CHANGELOG.md
  packages/components/organisms/f-footer/package.json
  packages/components/organisms/f-footer/src/components/BaseProviderIcon.vue
  yarn.lock
Labels: organisms

#1863 added changelog and package.json bump for icon changes #trivial
  packages/components/atoms/f-button/CHANGELOG.md
  packages/components/atoms/f-button/package.json
  packages/components/atoms/f-error-message/CHANGELOG.md
  packages/components/atoms/f-error-message/package.json
  packages/components/atoms/f-form-field/CHANGELOG.md
  packages/components/atoms/f-form-field/package.json
  packages/components/molecules/f-alert/CHANGELOG.md
  packages/components/molecules/f-alert/package.json
  packages/components/molecules/f-mega-modal/CHANGELOG.md
  packages/components/molecules/f-mega-modal/package.json
  packages/components/molecules/f-user-message/CHANGELOG.md
  packages/components/molecules/f-user-message/package.json
  packages/components/organisms/f-footer/CHANGELOG.md
  packages/components/organisms/f-footer/package.json
Labels: atoms, molecules, organisms

#1854 f-offers@v1.12.0 - Adding new version of content cards
  packages/components/pages/f-offers/CHANGELOG.md
  packages/components/pages/f-offers/package.json
  packages/components/pages/f-offers/src/components/NoOffersFound.vue
  packages/components/pages/f-offers/src/components/Results.vue
  yarn.lock
Labels: pages

#1870 f-header@v9.16.0 - updated border-radius to match designs
  packages/components/organisms/f-header/CHANGELOG.md
  packages/components/organisms/f-header/package.json
  packages/components/organisms/f-header/src/components/CountrySelectorPanel.vue
  packages/components/organisms/f-header/src/components/Header.vue
Labels: reviewed-2, organisms

#1872 f-checkout@3.28.0 - Remove axios retry wrapper
  packages/components/pages/f-checkout/CHANGELOG.md
  packages/components/pages/f-checkout/package.json
  packages/components/pages/f-checkout/src/services/checkoutApi.js
  packages/components/pages/f-checkout/src/store/checkout.module.js
Labels: pages

#1873 f-footer@v7.6.0 - Add aria list roles
  packages/components/organisms/f-footer/CHANGELOG.md
  packages/components/organisms/f-footer/package.json
  packages/components/organisms/f-footer/src/components/LinkList.vue
  packages/services/f-wdio-utils/CHANGELOG.md
  packages/services/f-wdio-utils/package.json
  packages/services/f-wdio-utils/src/page.object.js
  yarn.lock
Labels: organisms, services

#1867 f-checkout@3.28.0 - Add address support for IE
  packages/components/pages/f-checkout/CHANGELOG.md
  packages/components/pages/f-checkout/package.json
  packages/components/pages/f-checkout/src/components/CheckoutFormField.vue
  packages/components/pages/f-checkout/src/services/addressService/index.js
  packages/components/pages/f-checkout/src/services/addressService/tenants/ie.js
  packages/components/pages/f-checkout/src/tenants/en-IE.js
  packages/components/pages/f-checkout/stories/Checkout.stories.js
  packages/components/pages/f-checkout/stories/helpers/addresses/ie.js
  packages/components/pages/f-checkout/stories/helpers/addresses/index.js
  packages/components/pages/f-checkout/stories/helpers/customer/ie.js
  packages/components/pages/f-checkout/stories/helpers/customer/index.js
  yarn.lock
Labels: pages

#1878 f-content-cards@v8.0.0-beta.4 - adding in min height on image with object cover
  packages/components/organisms/f-content-cards/CHANGELOG.md
  packages/components/organisms/f-content-cards/package.json
  packages/components/organisms/f-content-cards/src/components/templates/ContentCardImage.vue
  yarn.lock
Labels: organisms

#1880 Refactor f-button and f-card WebDriverIO tests to use async in order to support Node 16 #trivial (part 1 of 3)
  packages/components/atoms/f-button/CHANGELOG.md
  packages/components/atoms/f-button/test-utils/component-objects/f-button--action.component.js
  packages/components/atoms/f-button/test-utils/component-objects/f-button--icon.component.js
  packages/components/atoms/f-button/test-utils/component-objects/f-button--link.component.js
  packages/components/atoms/f-button/test/component/f-button.component.spec.js
  packages/components/atoms/f-button/test/visual/f-button.visual.desktop.spec.js
  packages/components/atoms/f-card/CHANGELOG.md
  packages/components/atoms/f-card/test-utils/component-objects/f-card.component.js
  packages/components/atoms/f-card/test/component/f-card.component.spec.js
Labels: atoms

#1881 Refactor f-error-message, f-filter-pill and f-form-field WebDriverIO tests to use async in order to support Node 16 #trivial (part 2 of 3)
  packages/components/atoms/f-error-message/CHANGELOG.md
  packages/components/atoms/f-error-message/test-utils/component-objects/f-error-message.component.js
  packages/components/atoms/f-error-message/test/component/f-error-message.component.spec.js
  packages/components/atoms/f-filter-pill/CHANGELOG.md
  packages/components/atoms/f-filter-pill/src/components/FilterPill.vue
  packages/components/atoms/f-filter-pill/test-utils/component-objects/f-filter-pill.component.js
  packages/components/atoms/f-filter-pill/test/component/f-filter-pill.component.spec.js
  packages/components/atoms/f-form-field/CHANGELOG.md
  packages/components/atoms/f-form-field/test-utils/component-objects/f-form-field--visual.component.js
  packages/components/atoms/f-form-field/test-utils/component-objects/f-form-field.component.js
  packages/components/atoms/f-form-field/test/component/f-form-field.component.spec.js
  packages/components/atoms/f-form-field/test/visual/f-form-field.visual.spec.js
Labels: atoms

#1882 Refactor f-image-tile, f-popover and f-spinner WebDriverIO tests to use async in order to support Node 16 #trivial (part 3 of 3)
  packages/components/atoms/f-image-tile/CHANGELOG.md
  packages/components/atoms/f-image-tile/test-utils/component-objects/f-image-tile.component.js
  packages/components/atoms/f-image-tile/test/component/f-image-tile.component.spec.js
  packages/components/atoms/f-link/CHANGELOG.md
  packages/components/atoms/f-link/test-utils/component-objects/f-link.component.js
  packages/components/atoms/f-link/test/component/f-link.component.spec.js
  packages/components/atoms/f-popover/test-utils/component-objects/f-popover.component.js
  packages/components/atoms/f-popover/test/component/f-popover.component.spec.js
  packages/components/atoms/f-spinner/CHANGELOG.md
  packages/components/atoms/f-spinner/test-utils/component-objects/f-spinner.component.js
  packages/components/atoms/f-spinner/test/component/f-spinner.component.spec.js
Labels: atoms

#1884 f-offers@v1.12.0-beta.2 - Adding updated ContentCards package
  packages/components/pages/f-offers/CHANGELOG.md
  packages/components/pages/f-offers/package.json
  yarn.lock
Labels: pages

#1885 updated molecules tests to use async to support Node 16 (part 1) #trivial
  packages/components/molecules/f-alert/CHANGELOG.md
  packages/components/molecules/f-alert/test-utils/component-objects/f-alert.component.js
  packages/components/molecules/f-alert/test/component/f-alert.component.spec.js
  packages/components/molecules/f-alert/test/visual/f-alert.visual.spec.js
  packages/components/molecules/f-breadcrumbs/CHANGELOG.md
  packages/components/molecules/f-breadcrumbs/test-utils/component-objects/f-breadcrumbs.component.js
  packages/components/molecules/f-breadcrumbs/test/component/f-breadcrumbs.component.spec.js
  packages/components/molecules/f-card-with-content/CHANGELOG.md
  packages/components/molecules/f-card-with-content/test-utils/component-objects/f-card-with-content.component.js
  packages/components/molecules/f-card-with-content/test/component/f-card-with-content.component.spec.js
  packages/components/molecules/f-media-element/CHANGELOG.md
  packages/components/molecules/f-media-element/test-utils/component-objects/f-media-element.component.js
  packages/components/molecules/f-media-element/test/component/f-media-element.component.spec.js
  yarn.lock
Labels: molecules

#1886 updated molecules tests to use async to support Node 16 (part 2) #trivial
  packages/components/molecules/f-mega-modal/CHANGELOG.md
  packages/components/molecules/f-mega-modal/test-utils/component-objects/f-mega-modal.component.js
  packages/components/molecules/f-mega-modal/test/component/f-mega-modal.component.spec.js
  packages/components/molecules/f-navigation-links/CHANGELOG.md
  packages/components/molecules/f-navigation-links/test-utils/component-objects/f-navigation-links.component.js
  packages/components/molecules/f-navigation-links/test/component/f-navigation-links.component.spec.js
  packages/components/molecules/f-promotions-showcase/CHANGELOG.md
  packages/components/molecules/f-promotions-showcase/test-utils/component-objects/f-promotions-showcase.component.js
  packages/components/molecules/f-promotions-showcase/test/component/f-promotions-showcase.component.spec.js
  packages/components/molecules/f-restaurant-card/CHANGELOG.md
  packages/components/molecules/f-restaurant-card/test-utils/component-objects/f-restaurant-card.component.js
  packages/components/molecules/f-restaurant-card/test/component/f-restaurant-card.component.spec.js
Labels: molecules

#1887 updated molecules tests to use async to support Node 16 part 3 #trivial
  packages/components/molecules/f-searchbox/CHANGELOG.md
  packages/components/molecules/f-searchbox/test-utils/component-objects/f-searchbox.component.js
  packages/components/molecules/f-searchbox/test/component/f-searchbox.component.spec.js
  packages/components/molecules/f-skeleton-loader/CHANGELOG.md
  packages/components/molecules/f-skeleton-loader/test-utils/component-objects/f-skeleton-loader.component.js
  packages/components/molecules/f-skeleton-loader/test/component/f-skeleton-loader.component.spec.js
  packages/components/molecules/f-tabs/CHANGELOG.md
  packages/components/molecules/f-tabs/test-utils/component-objects/f-tabs.component.js
  packages/components/molecules/f-tabs/test/component/f-tabs.component.spec.js
  packages/components/molecules/f-user-message/CHANGELOG.md
  packages/components/molecules/f-user-message/test-utils/component-objects/f-user-message.component.js
  packages/components/molecules/f-user-message/test/component/f-user-message.component.spec.js
Labels: molecules

#1888 f-footer@v7.7.0 - Render static elements when dynamic content is not provided
  packages/components/organisms/f-footer/CHANGELOG.md
  packages/components/organisms/f-footer/package.json
  packages/components/organisms/f-footer/src/components/Footer.vue
  packages/components/organisms/f-footer/stories/footer.stories.js
  packages/components/organisms/f-footer/test/visual/f-footer.visual.desktop.spec.js
Labels: please review, organisms

#1877 f-account-info@v0.22.0 - Redirect on 403
  packages/components/pages/f-account-info/CHANGELOG.md
  packages/components/pages/f-account-info/README.md
  packages/components/pages/f-account-info/package.json
  packages/components/pages/f-account-info/src/components/AccountInfo.vue
  packages/components/pages/f-account-info/src/components/_tests/AccountInfo.test.js
Labels: reviewed-1, reviewed-2, please review, pages

#1889 removed load and waitForComponent functions from component object (atoms) #trivial
  packages/components/atoms/f-button/CHANGELOG.md
  packages/components/atoms/f-button/test-utils/component-objects/f-button--action.component.js
  packages/components/atoms/f-button/test-utils/component-objects/f-button--icon.component.js
  packages/components/atoms/f-button/test-utils/component-objects/f-button--link.component.js
  packages/components/atoms/f-button/test/accessibility/axe-accessibility.spec.js
  packages/components/atoms/f-button/test/component/f-button.component.spec.js
  packages/components/atoms/f-button/test/visual/f-button.visual.desktop.spec.js
  packages/components/atoms/f-card/CHANGELOG.md
  packages/components/atoms/f-card/test-utils/component-objects/f-card.component.js
  packages/components/atoms/f-card/test/accessibility/axe-accessibility.spec.js
  packages/components/atoms/f-card/test/component/f-card.component.spec.js
  packages/components/atoms/f-error-message/CHANGELOG.md
  packages/components/atoms/f-error-message/test-utils/component-objects/f-error-message.component.js
  packages/components/atoms/f-error-message/test/accessibility/axe-accessibility.spec.js
  packages/components/atoms/f-error-message/test/component/f-error-message.component.spec.js
  packages/components/atoms/f-filter-pill/CHANGELOG.md
  packages/components/atoms/f-filter-pill/test-utils/component-objects/f-filter-pill.component.js
  packages/components/atoms/f-filter-pill/test/accessibility/axe-accessibility.spec.js
  packages/components/atoms/f-filter-pill/test/component/f-filter-pill.component.spec.js
  packages/components/atoms/f-form-field/CHANGELOG.md
  packages/components/atoms/f-form-field/test-utils/component-objects/f-form-field--visual.component.js
  packages/components/atoms/f-form-field/test-utils/component-objects/f-form-field.component.js
  packages/components/atoms/f-form-field/test/accessibility/axe-accessibility.spec.js
  packages/components/atoms/f-form-field/test/component/f-form-field.component.spec.js
  packages/components/atoms/f-form-field/test/visual/f-form-field.visual.spec.js
  packages/components/atoms/f-image-tile/CHANGELOG.md
  packages/components/atoms/f-image-tile/test-utils/component-objects/f-image-tile.component.js
  packages/components/atoms/f-image-tile/test/accessibility/axe-accessibility.spec.js
  packages/components/atoms/f-image-tile/test/component/f-image-tile.component.spec.js
  packages/components/atoms/f-link/CHANGELOG.md
  packages/components/atoms/f-link/test-utils/component-objects/f-link.component.js
  packages/components/atoms/f-link/test/accessibility/axe-accessibility.spec.js
  packages/components/atoms/f-link/test/component/f-link.component.spec.js
  packages/components/atoms/f-popover/CHANGELOG.md
  packages/components/atoms/f-popover/test-utils/component-objects/f-popover.component.js
  packages/components/atoms/f-popover/test/accessibility/axe-accessibility.spec.js
  packages/components/atoms/f-popover/test/component/f-popover.component.spec.js
  packages/components/atoms/f-spinner/CHANGELOG.md
  packages/components/atoms/f-spinner/test-utils/component-objects/f-spinner.component.js
  packages/components/atoms/f-spinner/test/accessibility/axe-accessibility.spec.js
  packages/components/atoms/f-spinner/test/component/f-spinner.component.spec.js
Labels: atoms

#1879 f-cookie-banner@v3.9.0 - Move f-cookie-banner-static to it's own package folder #trivial
  packages/components/organisms/f-cookie-banner-static/CHANGELOG.md
  packages/components/organisms/f-cookie-banner-static/babel.config.js
  packages/components/organisms/f-cookie-banner-static/gulpfile.js
  packages/components/organisms/f-cookie-banner-static/package.json
  packages/components/organisms/f-cookie-banner-static/public/index.html
  packages/components/organisms/f-cookie-banner-static/src/App.vue
  packages/components/organisms/f-cookie-banner-static/src/main.js
  packages/components/organisms/f-cookie-banner-static/vue.config.js
  packages/components/organisms/f-cookie-banner/CHANGELOG.md
  packages/components/organisms/f-cookie-banner/f-cookie-banner-static/yarn.lock
  packages/components/organisms/f-cookie-banner/package.json
  yarn.lock
Labels: organisms

#1894 f-footer@7.7.1 - Fix storybook accessibility tab
  packages/components/organisms/f-footer/CHANGELOG.md
  packages/components/organisms/f-footer/package.json
  packages/components/organisms/f-footer/stories/footer.stories.js
Labels: organisms

#1891 f-image-tile@v0.13.0 - Added Breakout images
  packages/components/atoms/f-image-tile/CHANGELOG.md
  packages/components/atoms/f-image-tile/package.json
  packages/components/atoms/f-image-tile/src/components/ImageTile.vue
  packages/components/atoms/f-image-tile/src/components/_tests/ImageTile.test.js
  packages/components/atoms/f-image-tile/stories/ImageTile.stories.js
  packages/components/atoms/f-image-tile/stories/images/burgers.png
Labels: please review, atoms

#1895 f-form-field@v4.11.0 - updated colour of text when disabled for better colour-contrast
  packages/components/atoms/f-form-field/CHANGELOG.md
  packages/components/atoms/f-form-field/package.json
  packages/components/atoms/f-form-field/src/components/FormFieldAffixed.vue
  packages/components/atoms/f-form-field/src/components/FormSelectionControl.vue
  packages/components/atoms/f-form-field/stories/Radio.stories.js
  packages/components/atoms/f-form-field/stories/TextInputIcon.stories.js
Labels: atoms

#1898 f-contact-preferences@v0.19.0 - f-form-field version bump
  packages/components/pages/f-contact-preferences/CHANGELOG.md
  packages/components/pages/f-contact-preferences/package.json
  yarn.lock
Labels: pages
