Repository justeattakeaway/fozzie-components, pull requests merged in 2022-08, with the labels that each got.

#2048 f-mfa@v0.3.0 - Added/Styled MFA page template
  packages/components/pages/f-mfa/CHANGELOG.md
  packages/components/pages/f-mfa/package.json
  packages/components/pages/f-mfa/src/components/Mfa.vue
  packages/components/pages/f-mfa/src/components/_tests/Mfa.test.js
  packages/components/pages/f-mfa/src/tenants/en-GB.js
  packages/components/pages/f-mfa/stories/Mfa.stories.js
  yarn.lock
Labels: reviewed-1, pages

#2068 f-filter-pill@v1.3.0 (and others) Update dependencies to be compatible with Node 16
  packages/components/atoms/f-filter-pill/CHANGELOG.md
  packages/components/atoms/f-filter-pill/package.json
  packages/components/molecules/f-searchbox/CHANGELOG.md
  packages/components/molecules/f-searchbox/package.json
  packages/components/molecules/f-searchbox/src/components/Form.vue
  packages/components/molecules/f-searchbox/src/components/formElements/FormFullAddressSearchModalOverlay.vue
  packages/components/molecules/f-searchbox/src/components/formElements/FormSearchButton.vue
  packages/components/molecules/f-searchbox/src/components/formElements/FormSearchField.vue
  packages/components/organisms/f-cookie-banner/CHANGELOG.md
  packages/components/organisms/f-cookie-banner/package.json
  packages/components/organisms/f-footer/CHANGELOG.md
  packages/components/organisms/f-footer/package.json
  packages/components/organisms/f-form/CHANGELOG.md
  packages/components/organisms/f-form/package.json
  packages/components/organisms/f-form/src/components/Form.vue
  packages/components/organisms/f-header/CHANGELOG.md
  packages/components/organisms/f-header/package.json
  packages/components/pages/f-contact-preferences/CHANGELOG.md
  packages/components/pages/f-contact-preferences/package.json
Labels: atoms, molecules, organisms, pages

#2070 f-checkout@v4.5.0 - Updated f-checkout to be node 16 compatible
  packages/components/pages/f-checkout/CHANGELOG.md
  packages/components/pages/f-checkout/package.json
  yarn.lock
Labels: pages

#2069 f-mfa@v0.4.0 - Added Api provider class
  packages/components/pages/f-mfa/CHANGELOG.md
  packages/components/pages/f-mfa/package.json
  packages/components/pages/f-mfa/src/constants.js
  packages/components/pages/f-mfa/src/services/AccountWeb.api.js
  packages/components/pages/f-mfa/src/services/_tests/AccountWeb.api.test.js
  packages/components/pages/f-mfa/test-utils/setup.js
Labels: pages

#2064 f-registration@v3.4.0 - Update dependencies to be Node 16 compatible.
  packages/components/pages/f-registration/CHANGELOG.md
  packages/components/pages/f-registration/package.json
  packages/components/pages/f-takeawaypay-activation/CHANGELOG.md
  packages/components/pages/f-takeawaypay-activation/package.json
  packages/components/pages/f-takeawaypay-activation/src/components/_tests/__snapshots__/ActivationLoggedIn.test.js.snap
  packages/tools/f-vue-icons/CHANGELOG.md
  packages/tools/f-vue-icons/icons/BagBinocularsBgIcon.js
  packages/tools/f-vue-icons/icons/BagCelebrateBgIcon.js
  packages/tools/f-vue-icons/icons/BagCelebrateIcon.js
  packages/tools/f-vue-icons/icons/BagRunBgIcon.js
  packages/tools/f-vue-icons/package.json
  packages/tools/f-vue-icons/src/components/BagBinocularsBgIcon.js
  packages/tools/f-vue-icons/src/components/BagCelebrateBgIcon.js
  packages/tools/f-vue-icons/src/components/BagCelebrateIcon.js
  packages/tools/f-vue-icons/src/components/BagRunBgIcon.js
  yarn.lock
Labels: tools, pages

#2074 f-content-cards@v9.0.0 - Merging beta branch back into master to fix muddle up over versions
  packages/components/organisms/f-content-cards/CHANGELOG.md
  packages/components/organisms/f-content-cards/package.json
  packages/components/organisms/f-content-cards/src/components/cards/PromotionCardOne.vue
  packages/components/organisms/f-content-cards/src/components/cards/PromotionCardTwo.vue
  packages/components/organisms/f-content-cards/src/components/cards/VoucherCard.vue
  packages/components/organisms/f-content-cards/src/components/cards/_tests/PromotionCardOne.test.js
  packages/components/organisms/f-content-cards/src/components/cards/_tests/PromotionCardTwo.test.js
  packages/components/organisms/f-content-cards/src/components/cards/_tests/VoucherCard.test.js
  packages/components/organisms/f-content-cards/src/components/templates/ContentCardBody.vue
  packages/components/organisms/f-content-cards/src/components/templates/ContentCardContainer.vue
  packages/components/organisms/f-content-cards/src/components/templates/ContentCardImage.vue
  packages/components/organisms/f-content-cards/src/components/templates/ContentCardVoucherCode.vue
  packages/components/organisms/f-content-cards/src/components/templates/_tests/ContentCardBody.test.js
  packages/components/organisms/f-content-cards/src/components/templates/_tests/ContentCardContainer.test.js
  packages/components/organisms/f-content-cards/src/components/templates/_tests/ContentCardImage.test.js
  packages/components/organisms/f-content-cards/src/components/templates/_tests/ContentCardVoucherCode.test.js
  packages/components/organisms/f-content-cards/src/index.js
  packages/components/organisms/f-content-cards/stories/new/PromotionCardOne.stories.js
  packages/components/organisms/f-content-cards/stories/new/PromotionCardTwo.stories.js
  packages/components/organisms/f-content-cards/stories/new/VoucherCard.stories.js
  yarn.lock
Labels: organisms

#2067 f-offers@v1.14.0 (and others) - Update components for node 16 compatibility
  packages/components/molecules/f-card-with-content/CHANGELOG.md
  packages/components/molecules/f-card-with-content/package.json
  packages/components/molecules/f-promotions-showcase/CHANGELOG.md
  packages/components/molecules/f-promotions-showcase/package.json
  packages/components/organisms/f-content-cards/CHANGELOG.md
  packages/components/organisms/f-content-cards/package.json
  packages/components/organisms/f-form/CHANGELOG.md
  packages/components/organisms/f-form/package.json
  packages/components/pages/f-loyalty/CHANGELOG.md
  packages/components/pages/f-loyalty/package.json
  packages/components/pages/f-offers/CHANGELOG.md
  packages/components/pages/f-offers/package.json
  yarn.lock
Labels: molecules, organisms, pages

#2072 f-mfa@0.5.0 - Error handling
  packages/components/pages/f-mfa/CHANGELOG.md
  packages/components/pages/f-mfa/package.json
  packages/components/pages/f-mfa/src/components/Mfa.vue
  packages/components/pages/f-mfa/src/components/_tests/Mfa.test.js
  packages/components/pages/f-mfa/src/tenants/en-GB.js
Labels: pages

#2076 f-cookie-banner@4.5.0 - fix jest test for node 16.
  packages/components/organisms/f-cookie-banner/CHANGELOG.md
  packages/components/organisms/f-cookie-banner/package.json
  packages/components/organisms/f-cookie-banner/src/components/_tests/CookieBanner.test.js
Labels: organisms

#2080 f-mfa@0.5.1 - Update buttons to match latest designs
  packages/components/pages/f-mfa/CHANGELOG.md
  packages/components/pages/f-mfa/package.json
  packages/components/pages/f-mfa/src/components/Mfa.vue
Labels: pages

#2081 f-mfa@v0.6.0 - Added validation and full page error
  packages/components/pages/f-mfa/CHANGELOG.md
  packages/components/pages/f-mfa/README.md
  packages/components/pages/f-mfa/package.json
  packages/components/pages/f-mfa/src/components/Mfa.vue
  packages/components/pages/f-mfa/src/components/_tests/Mfa.test.js
  packages/components/pages/f-mfa/src/constants.js
  packages/components/pages/f-mfa/src/tenants/en-GB.js
Labels: pages

#2083 f-mfa@v0.7.0 - Remove reading the querystring in preferences to Props
  packages/components/pages/f-mfa/CHANGELOG.md
  packages/components/pages/f-mfa/README.md
  packages/components/pages/f-mfa/package.json
  packages/components/pages/f-mfa/src/components/Mfa.vue
  packages/components/pages/f-mfa/src/components/_tests/Mfa.test.js
  packages/components/pages/f-mfa/stories/Mfa.stories.js
Labels: pages

#2085 f-mfa@0.8.0 - Help info page
  packages/components/pages/f-mfa/CHANGELOG.md
  packages/components/pages/f-mfa/package.json
  packages/components/pages/f-mfa/src/assets/scss/common.scss
  packages/components/pages/f-mfa/src/components/Help.vue
  packages/components/pages/f-mfa/src/components/Mfa.vue
  packages/components/pages/f-mfa/src/components/_tests/Mfa.test.js
  packages/components/pages/f-mfa/src/tenants/en-GB.js
Labels: pages

#2086 f-mfa@v0.8.1 - Storybook story with controls for props and api simulations
  packages/components/pages/f-mfa/CHANGELOG.md
  packages/components/pages/f-mfa/package.json
  packages/components/pages/f-mfa/src/components/Mfa.vue
  packages/components/pages/f-mfa/src/components/_tests/Mfa.test.js
  packages/components/pages/f-mfa/stories/Mfa.stories.js
  packages/components/pages/f-mfa/stories/story.helper.js
Labels: reviewed-1, reviewed-2, pages

#2087 f-mfa@0.8.2 - Fix MFA component margins
  packages/components/pages/f-mfa/CHANGELOG.md
  packages/components/pages/f-mfa/package.json
  packages/components/pages/f-mfa/src/assets/scss/common.scss
Labels: pages

#2082 fozzie-components@v7.24.0 - Create GitHub Action for building / deploying Storybook
  .circleci/config.yml
  .github/workflows/build.yml
  CHANGELOG.md
  package.json
  packages/services/f-feature-management-vue/CHANGELOG.md
  packages/services/f-feature-management-vue/package.json
  packages/services/f-feature-management-vue/vite.config.js
  packages/storybook/CHANGELOG.md
  packages/storybook/package.json
  yarn.lock
Labels: services, storybook

#2084 f-loyalty@v2.5.0 - Some minor copy changes / fixes
  packages/components/pages/f-loyalty/CHANGELOG.md
  packages/components/pages/f-loyalty/package.json
  packages/components/pages/f-loyalty/src/components/_tests/Terms.test.js
  packages/components/pages/f-loyalty/src/tenants/en-AU.js
  packages/components/pages/f-loyalty/src/tenants/en-GB.js
Labels: pages

#2088 f-mfa@0.9.0 - Expect complete validateUrl rather than building up from smartGatewayBaseUrl
  packages/components/pages/f-mfa/CHANGELOG.md
  packages/components/pages/f-mfa/README.md
  packages/components/pages/f-mfa/package.json
  packages/components/pages/f-mfa/src/components/Help.vue
  packages/components/pages/f-mfa/src/components/Mfa.vue
  packages/components/pages/f-mfa/src/components/_tests/Mfa.test.js
  packages/components/pages/f-mfa/src/constants.js
  packages/components/pages/f-mfa/src/services/AccountWeb.api.js
  packages/components/pages/f-mfa/src/services/_tests/AccountWeb.api.test.js
  packages/components/pages/f-mfa/src/tenants/en-GB.js
  packages/components/pages/f-mfa/stories/Mfa.stories.js
  packages/components/pages/f-mfa/stories/story.helper.js
  packages/components/pages/f-mfa/test-utils/setup.js
Labels: pages

#2092 f-mfa@0.9.1 - Update code regex
  packages/components/pages/f-mfa/CHANGELOG.md
  packages/components/pages/f-mfa/package.json
  packages/components/pages/f-mfa/src/components/Mfa.vue
  packages/components/pages/f-mfa/src/components/_tests/Mfa.test.js
  packages/components/pages/f-mfa/src/constants.js
  packages/components/pages/f-mfa/stories/Mfa.stories.js
Labels: pages

#2095 f-registration@3.5.0 - Add handling 401 error
  packages/components/pages/f-registration/CHANGELOG.md
  packages/components/pages/f-registration/package.json
  packages/components/pages/f-registration/src/components/Registration.vue
  packages/components/pages/f-registration/src/components/_tests/Registration.test.js
  packages/components/pages/f-registration/src/components/_tests/f-registration.integration.test.js
Labels: pages

#2094 More Fozzie Documentation updates #trivial
  packages/storybook/config/storybook/preview-head.html
  packages/storybook/config/storybook/preview.js
  packages/storybook/config/storybook/scss-loader.scss
  stories/getting-started/contributing-guide.stories.mdx
  stories/getting-started/development-principles.stories.mdx
  stories/getting-started/getting-started.stories.mdx
  stories/getting-started/structure.stories.mdx
  stories/getting-started/troubleshooting.stories.mdx
  stories/getting-started/what-not-to-do.stories.mdx
  stories/guides/component-dependencies.stories.mdx
  stories/guides/fozzie/css-naming.stories.mdx
  stories/guides/fozzie/fozzie-and-sass.stories.mdx
  stories/guides/fozzie/fozzie-migration-guide.stories.mdx
  stories/guides/fozzie/overview.stories.mdx
  stories/guides/fozzie/structure.stories.mdx
Labels: reviewed-1, storybook

#2063 f-form-field@6.2.1 - Fix handling of `false` value for `isVisuallyRequired` prop.
  packages/components/atoms/f-form-field/CHANGELOG.md
  packages/components/atoms/f-form-field/package.json
  packages/components/atoms/f-form-field/src/components/FormField.vue
  packages/components/atoms/f-form-field/src/components/FormSelectionControl.vue
  packages/components/atoms/f-form-field/src/components/_tests/FormField.test.js
  packages/components/atoms/f-form-field/src/components/_tests/FormSelectionControl.test.js
Labels: do not merge, atoms

#2097 storybook@v0.56.0 – Added custom viewports #trivial
  packages/storybook/CHANGELOG.md
  packages/storybook/config/storybook/preview.js
  packages/storybook/config/storybook/viewports.js
  packages/storybook/package.json
Labels: storybook

#2099 f-header@v10.6.0 – Fixing friendly name length
  packages/components/organisms/f-header/CHANGELOG.md
  packages/components/organisms/f-header/package.json
  packages/components/organisms/f-header/src/components/Navigation.vue
Labels: reviewed-1, reviewed-2, organisms

#2102 f-header@v10.6.1 – Updating to use truncate mixin
  packages/components/organisms/f-header/CHANGELOG.md
  packages/components/organisms/f-header/package.json
  packages/components/organisms/f-header/src/components/Navigation.vue
Labels: organisms

#2103 f-registration@3.6.0 - Add mfa challenge issued event
  packages/components/pages/f-registration/CHANGELOG.md
  packages/components/pages/f-registration/package.json
  packages/components/pages/f-registration/src/components/Registration.vue
  packages/components/pages/f-registration/src/components/_tests/Registration.test.js
  packages/components/pages/f-registration/src/components/_tests/f-registration.integration.test.js
  packages/components/pages/f-registration/src/event-names.js
Labels: pages

#2101 f-mfa@v0.10.0 - Added GTM Events (plus some minor fixes/tweaks)
  packages/components/pages/f-mfa/CHANGELOG.md
  packages/components/pages/f-mfa/package.json
  packages/components/pages/f-mfa/src/components/Help.vue
  packages/components/pages/f-mfa/src/components/Mfa.vue
  packages/components/pages/f-mfa/src/components/_tests/Mfa.test.js
  packages/components/pages/f-mfa/src/components/_tests/__snapshots__/Mfa.test.js.snap
  packages/components/pages/f-mfa/src/services/EventBuilder.js
  packages/components/pages/f-mfa/src/tenants/en-GB.js
  packages/components/pages/f-mfa/test-utils/component-objects/f-mfa.component.js
Labels: pages

#2104 f-registation@3.6.1 - Add additional LoginBlock not emitted assertion
  packages/components/pages/f-registration/CHANGELOG.md
  packages/components/pages/f-registration/package.json
  packages/components/pages/f-registration/src/components/_tests/Registration.test.js
  packages/components/pages/f-registration/src/components/_tests/f-registration.integration.test.js
Labels: pages

#2105 f-mfa@0.11.0 - Added visual regression tests and supporting structure.
  packages/components/pages/f-mfa/CHANGELOG.md
  packages/components/pages/f-mfa/package.json
  packages/components/pages/f-mfa/test-utils/component-objects/f-mfa-selectors.js
  packages/components/pages/f-mfa/test-utils/component-objects/f-mfa.component.js
  packages/components/pages/f-mfa/test/visual/f-mfa.visual.spec.js
Labels: pages

#2108 f-checkout@4.5.1 - Fix T&Cs translation formatting
  packages/components/pages/f-checkout/CHANGELOG.md
  packages/components/pages/f-checkout/package.json
  packages/components/pages/f-checkout/src/components/TermsAndConditions.vue
  packages/components/pages/f-checkout/src/tenants/en-GB.js
Labels: pages

#2109 f-account-info@v1.5.0 – Updating package.json with latest peerDeps
  packages/components/pages/f-account-info/CHANGELOG.md
  packages/components/pages/f-account-info/package.json
Labels: reviewed-1, reviewed-2, pages

#2110 f-registration@3.7.0 - Add rate limiting error event
  packages/components/pages/f-registration/CHANGELOG.md
  packages/components/pages/f-registration/package.json
  packages/components/pages/f-registration/src/components/Registration.vue
  packages/components/pages/f-registration/src/components/_tests/Registration.test.js
  packages/components/pages/f-registration/src/components/_tests/f-registration.integration.test.js
  packages/components/pages/f-registration/src/event-names.js
Labels: reviewed-1, reviewed-2, pages

#2113 f-mfa@0.12.0 - List fozzie-component dependencies as externals
  packages/components/pages/f-mfa/CHANGELOG.md
  packages/components/pages/f-mfa/package.json
  packages/components/pages/f-mfa/vue.config.js
Labels: please review, pages

#2114 f-wdio-utils@v1.2.1 - Fix configuration import
  packages/services/f-wdio-utils/CHANGELOG.md
  packages/services/f-wdio-utils/package.json
  packages/services/f-wdio-utils/src/axe-helper.js
Labels: services

#2116 #trivial - removing token from story
  packages/components/pages/f-loyalty/stories/Loyalty.stories.js
Labels: pages
