Repository justeattakeaway/fozzie-components, pull requests merged in 2022-04, with the labels that each got.

#1785 f-restaurant-card@v0.29.2- Amending dot separators for eta, availability and fees
  packages/components/molecules/f-restaurant-card/CHANGELOG.md
  packages/components/molecules/f-restaurant-card/package.json
  packages/components/molecules/f-restaurant-card/src/assets/scss/mixins.scss
  packages/components/molecules/f-restaurant-card/src/components/subcomponents/DeliveryTimeMeta/DeliveryTimeMeta.vue
  packages/components/molecules/f-restaurant-card/src/components/subcomponents/IconText.vue
  packages/components/molecules/f-restaurant-card/src/components/subcomponents/RestaurantAvailability/RestaurantAvailability.vue
  packages/components/molecules/f-restaurant-card/src/components/subcomponents/RestaurantFees/RestaurantFees.vue
Labels: reviewed-1, ready for re-review, please review, molecules

#1787 f-restaurant-card@v0.29.2 - Amended alignment of restaurant card content
  packages/components/molecules/f-restaurant-card/CHANGELOG.md
  packages/components/molecules/f-restaurant-card/package.json
  packages/components/molecules/f-restaurant-card/src/components/RestaurantCard.vue
Labels: please review, molecules

#1786 f-footer@7.2.0 - Remove css order property.
  packages/components/organisms/f-footer/CHANGELOG.md
  packages/components/organisms/f-footer/package.json
  packages/components/organisms/f-footer/src/components/FeedbackBlock.vue
Labels: organisms

#1792 f-offers@1.10.0 - Bump f-searchbox
  packages/components/pages/f-offers/CHANGELOG.md
  packages/components/pages/f-offers/package.json
Labels: pages

#1793 f-loyalty@v1.7.2 - jwt error logging and change to Tabs import
  packages/components/pages/f-loyalty/CHANGELOG.md
  packages/components/pages/f-loyalty/package.json
  packages/components/pages/f-loyalty/src/components/Loyalty.vue
  packages/components/pages/f-loyalty/src/store/loyalty.module.js
Labels: pages

#1794 f-header@v9.10.1 – Fix for user icon showing when fozzie utility classes not present
  packages/components/organisms/f-header/CHANGELOG.md
  packages/components/organisms/f-header/package.json
  packages/components/organisms/f-header/src/components/Navigation.vue
  packages/components/organisms/f-header/src/components/_tests/Navigation.test.js
Labels: reviewed-1, reviewed-2, organisms

#1791 f-header@9.11.0 - updated interactive states
  packages/components/organisms/f-header/CHANGELOG.md
  packages/components/organisms/f-header/package.json
  packages/components/organisms/f-header/src/assets/scss/common.scss
  packages/components/organisms/f-header/src/assets/scss/navigation.scss
  packages/components/organisms/f-header/src/components/CountrySelector.vue
  packages/components/organisms/f-header/src/components/CountrySelectorPanel.vue
  packages/components/organisms/f-header/src/components/Logo.vue
  packages/components/organisms/f-header/src/components/NavLink.vue
  packages/components/organisms/f-header/src/components/Navigation.vue
  packages/components/organisms/f-header/src/components/SkipToMain.vue
  packages/components/organisms/f-header/src/components/UserNavigationPanel.vue
  packages/components/organisms/f-header/test-utils/component-objects/f-header.component.js
  packages/components/organisms/f-header/test/visual/f-header.visual.desktop.spec.js
  packages/components/organisms/f-header/test/visual/f-header.visual.mobile.spec.js
  yarn.lock
Labels: organisms

#1797 f-header@9.12.0 - small hover change to match design
  packages/components/organisms/f-header/CHANGELOG.md
  packages/components/organisms/f-header/package.json
  packages/components/organisms/f-header/src/components/Navigation.vue
Labels: organisms

#1795 f-restaurant-card@v0.29.4 - Fix minor design issues
  packages/components/molecules/f-restaurant-card/CHANGELOG.md
  packages/components/molecules/f-restaurant-card/package.json
  packages/components/molecules/f-restaurant-card/src/components/RestaurantCard.vue
  packages/components/molecules/f-restaurant-card/src/components/subcomponents/RestaurantDishes/RestaurantDish.vue
  packages/components/molecules/f-restaurant-card/src/components/subcomponents/RestaurantRating/RestaurantRating.vue
  packages/components/molecules/f-restaurant-card/src/components/subcomponents/RestaurantTags/RestaurantTag.vue
  packages/components/molecules/f-restaurant-card/src/components/subcomponents/RestaurantTags/RestaurantTags.vue
Labels: molecules

#1799 f-mega-modal@v5.0.0 - modal icing updates
  packages/components/molecules/f-mega-modal/CHANGELOG.md
  packages/components/molecules/f-mega-modal/package.json
  packages/components/molecules/f-mega-modal/src/components/MegaModal.vue
  packages/components/molecules/f-mega-modal/stories/MegaModal.stories.js
Labels: please review, molecules

#1796 f-content-cards@v8.0.0-alpha.5 - Promotion Card Two
  packages/components/organisms/f-content-cards/CHANGELOG.md
  packages/components/organisms/f-content-cards/package.json
  packages/components/organisms/f-content-cards/src/components/cards/PromotionCardTwo.vue
  packages/components/organisms/f-content-cards/src/components/cards/_tests/PromotionCardTwo.test.js
  packages/components/organisms/f-content-cards/stories/new/PromotionCardTwo.stories.js
  yarn.lock
Labels: organisms

#1804 f-checkout@3.24.1 - Add IT to storybook
  packages/components/pages/f-checkout/CHANGELOG.md
  packages/components/pages/f-checkout/package.json
  packages/components/pages/f-checkout/stories/Checkout.stories.js
Labels: pages

#1805 fozzie-components@v7.6.0 - Specify required Node major versions of 12 / 14 for all components #globalconfig
  CHANGELOG.md
  package.json
  packages/components/atoms/f-button/package.json
  packages/components/atoms/f-card/package.json
  packages/components/atoms/f-error-boundary/package.json
  packages/components/atoms/f-error-message/package.json
  packages/components/atoms/f-filter-pill/package.json
  packages/components/atoms/f-form-field/package.json
  packages/components/atoms/f-image-tile/package.json
  packages/components/atoms/f-link/package.json
  packages/components/atoms/f-popover/package.json
  packages/components/atoms/f-spinner/package.json
  packages/components/molecules/f-alert/package.json
  packages/components/molecules/f-breadcrumbs/package.json
  packages/components/molecules/f-card-with-content/package.json
  packages/components/molecules/f-media-element/package.json
  packages/components/molecules/f-mega-modal/package.json
  packages/components/molecules/f-navigation-links/package.json
  packages/components/molecules/f-promotions-showcase/package.json
  packages/components/molecules/f-restaurant-card/package.json
  packages/components/molecules/f-searchbox/package.json
  packages/components/molecules/f-skeleton-loader/package.json
  packages/components/molecules/f-tabs/package.json
  packages/components/molecules/f-user-message/package.json
  packages/components/organisms/f-content-cards/package.json
  packages/components/organisms/f-cookie-banner/package.json
  packages/components/organisms/f-footer/package.json
  packages/components/organisms/f-form/package.json
  packages/components/organisms/f-header/package.json
  packages/components/organisms/f-status-banner/package.json
  packages/components/pages/f-account-info/package.json
  packages/components/pages/f-checkout/package.json
  packages/components/pages/f-contact-preferences/package.json
  packages/components/pages/f-loyalty/package.json
  packages/components/pages/f-offers/package.json
  packages/components/pages/f-registration/package.json
  packages/components/pages/f-takeawaypay-activation/package.json
  packages/components/templates/f-template-subnav/package.json
  packages/services/f-analytics/package.json
  packages/services/f-braze-adapter/package.json
  packages/services/f-compatibility/package.json
  packages/services/f-consumer-oidc/package.json
  packages/services/f-feature-management-vue/package.json
  packages/services/f-feature-management/package.json
  packages/services/f-globalisation/package.json
  packages/services/f-http/package.json
  packages/services/f-performance/package.json
  packages/services/f-services/package.json
  packages/services/f-statistics/package.json
  packages/services/f-test-data-creator/package.json
  packages/services/f-wdio-utils/package.json
  packages/storybook/package.json
  packages/tools/f-vue-icons/package.json
  packages/tools/generator-component/generators/app/templates/__package__.json
  packages/tools/generator-component/package.json
Labels: atoms, molecules, organisms, services, storybook, tools, pages, templates

#1803 f-loyalty@1.7.3 - auth token check
  packages/components/pages/f-loyalty/CHANGELOG.md
  packages/components/pages/f-loyalty/package.json
  packages/components/pages/f-loyalty/src/components/Loyalty.vue
  packages/components/pages/f-loyalty/src/store/loyalty.module.js
Labels: pages

#1802 f-header@v9.13.0 - small CSS updates to match design
  packages/components/organisms/f-header/CHANGELOG.md
  packages/components/organisms/f-header/package.json
  packages/components/organisms/f-header/src/assets/scss/navigation.scss
  packages/components/organisms/f-header/src/components/CountrySelector.vue
  packages/components/organisms/f-header/src/components/CountrySelectorPanel.vue
  packages/components/organisms/f-header/src/components/NavLink.vue
  packages/components/organisms/f-header/src/components/Navigation.vue
  packages/components/organisms/f-header/src/components/UserNavigationPanel.vue
Labels: organisms

#1807 f-header@v9.13.1 - small css refactor
  packages/components/organisms/f-header/CHANGELOG.md
  packages/components/organisms/f-header/package.json
  packages/components/organisms/f-header/src/assets/scss/navigation.scss
  packages/components/organisms/f-header/src/components/NavLink.vue
  packages/components/organisms/f-header/src/components/UserNavigationPanel.vue
Labels: organisms

#1801 f-content-cards@v8.0.0-alpha.6 - Adding in the new Voucher Card
  packages/components/organisms/f-content-cards/CHANGELOG.md
  packages/components/organisms/f-content-cards/package.json
  packages/components/organisms/f-content-cards/src/components/cards/VoucherCard.vue
  packages/components/organisms/f-content-cards/src/components/cards/_tests/VoucherCard.test.js
  packages/components/organisms/f-content-cards/stories/new/VoucherCard.stories.js
Labels: organisms

#1808 f-footer@7.2.1 – Fix footer country select list z-index
  packages/components/organisms/f-footer/CHANGELOG.md
  packages/components/organisms/f-footer/package.json
  packages/components/organisms/f-footer/src/components/CountrySelector.vue
Labels: bug, enhancement, ready for re-review, organisms

#1813 f-restaurant-card@v0.29.5 - Removed gap and added margin for Safari support
  packages/components/molecules/f-restaurant-card/CHANGELOG.md
  packages/components/molecules/f-restaurant-card/package.json
  packages/components/molecules/f-restaurant-card/src/components/RestaurantCard.vue
  packages/components/molecules/f-restaurant-card/src/components/subcomponents/RestaurantRating/RestaurantRating.vue
  packages/components/molecules/f-restaurant-card/src/components/subcomponents/RestaurantTags/RestaurantTag.vue
  packages/components/molecules/f-restaurant-card/src/components/subcomponents/RestaurantTags/RestaurantTags.vue
Labels: molecules

#1814 f-header@9.14.0 - Fix accessibility issue within country selector..
  packages/components/organisms/f-header/CHANGELOG.md
  packages/components/organisms/f-header/package.json
  packages/components/organisms/f-header/src/components/CountrySelector.vue
Labels: organisms

#1815 f-footer@v7.3.0 - Update iOS App download links in f-footer
  packages/components/organisms/f-footer/CHANGELOG.md
  packages/components/organisms/f-footer/package.json
  packages/components/organisms/f-footer/src/tenants/en-GB.js
  packages/components/organisms/f-footer/src/tenants/en-IE.js
  packages/components/organisms/f-footer/src/tenants/en-NZ.js
  packages/components/organisms/f-footer/src/tenants/es-ES.js
  packages/components/organisms/f-footer/src/tenants/it-IT.js
Labels: organisms

#1812 f-content-cards@v8.0.0-alpha.7 - Adding Promotion Card One
  packages/components/organisms/f-content-cards/CHANGELOG.md
  packages/components/organisms/f-content-cards/package.json
  packages/components/organisms/f-content-cards/src/components/cards/PromotionCardOne.vue
  packages/components/organisms/f-content-cards/src/components/cards/_tests/PromotionCardOne.test.js
  packages/components/organisms/f-content-cards/stories/new/PromotionCardOne.stories.js
Labels: organisms

#1816 f-account-info@0.21.0 - Fix change password url
  packages/components/pages/f-account-info/CHANGELOG.md
  packages/components/pages/f-account-info/package.json
  packages/components/pages/f-account-info/src/components/AccountInfo.vue
  packages/components/pages/f-account-info/src/components/_tests/AccountInfo.test.js
Labels: pages

#1800 f-offers@v1.11.0 - icing change updates plus search box fixes
  packages/components/pages/f-offers/CHANGELOG.md
  packages/components/pages/f-offers/package.json
  packages/components/pages/f-offers/src/components/NoOffersFound.vue
Labels: pages
