Repository justeattakeaway/fozzie-components, pull requests merged in 2022-06, with the labels that each got.

#1896 Refactor organisms WebDriverIO tests to use async in order to support Node 16 #trivial
  packages/components/organisms/f-content-cards/CHANGELOG.md
  packages/components/organisms/f-content-cards/test-utils/component-objects/f-content-cards-home-promotion-card1.component.js
  packages/components/organisms/f-content-cards/test/component/f-content-cards-home-promotion-card1.component.spec.js
  packages/components/organisms/f-content-cards/test/component/f-content-cards-home-promotion-card2.component.spec.js
  packages/components/organisms/f-cookie-banner/CHANGELOG.md
  packages/components/organisms/f-cookie-banner/test-utils/component-objects/f-cookie-banner-legacy.component.js
  packages/components/organisms/f-cookie-banner/test-utils/component-objects/f-cookie-banner.component.js
  packages/components/organisms/f-cookie-banner/test-utils/component-objects/f-cookie-consent-banner.component.js
  packages/components/organisms/f-cookie-banner/test/accessibility/axe-accessibility.spec.js
  packages/components/organisms/f-cookie-banner/test/component/f-cookie-banner-legacy.component.spec.js
  packages/components/organisms/f-cookie-banner/test/component/f-cookie-consent-banner.component.spec.js
  packages/components/organisms/f-cookie-banner/test/visual/f-cookie-banner-legacy.visual.desktop.spec.js
  packages/components/organisms/f-cookie-banner/test/visual/f-cookie-banner-legacy.visual.mobile.spec.js
  packages/components/organisms/f-cookie-banner/test/visual/f-cookie-consent-banner.visual.desktop.spec.js
  packages/components/organisms/f-cookie-banner/test/visual/f-cookie-consent-banner.visual.mobile.spec.js
  packages/components/organisms/f-footer/CHANGELOG.md
  packages/components/organisms/f-footer/test-utils/component-objects/f-footer.component.js
  packages/components/organisms/f-footer/test-utils/component-objects/f-footer.selectors.js
  packages/components/organisms/f-footer/test/component/f-footer.component.spec.js
  packages/components/organisms/f-footer/test/visual/f-footer.visual.desktop.spec.js
  packages/components/organisms/f-footer/test/visual/f-footer.visual.mobile.spec.js
  packages/components/organisms/f-form/CHANGELOG.md
  packages/components/organisms/f-form/test-utils/component-objects/f-form.component.js
  packages/components/organisms/f-form/test/component/f-form.component.spec.js
  packages/components/organisms/f-header/CHANGELOG.md
  packages/components/organisms/f-header/test-utils/component-objects/f-header.component.js
  packages/components/organisms/f-header/test-utils/component-objects/f-header.selectors.js
  packages/components/organisms/f-header/test/component/f-header.component.spec.js
  packages/components/organisms/f-header/test/visual/f-header.visual.desktop.spec.js
  packages/components/organisms/f-header/test/visual/f-header.visual.mobile.spec.js
  packages/components/organisms/f-status-banner/CHANGELOG.md
  packages/components/organisms/f-status-banner/test-utils/component-objects/f-status-banner.component.js
  packages/components/organisms/f-status-banner/test/component/f-status-banner.component.spec.js
  packages/components/organisms/f-status-banner/test/visual/f-status-banner.visual.desktop.spec.js
  packages/components/organisms/f-status-banner/test/visual/f-status-banner.visual.mobile.spec.js
Labels: organisms

#1899 f-account-info@v0.23.0 - Use external redirection for login page
  packages/components/pages/f-account-info/CHANGELOG.md
  packages/components/pages/f-account-info/package.json
  packages/components/pages/f-account-info/src/components/AccountInfo.vue
  packages/components/pages/f-account-info/src/components/_tests/AccountInfo.test.js
  packages/components/pages/f-account-info/stories/AccountInfo.stories.js
  packages/components/pages/f-account-info/stories/story.helper.js
Labels: reviewed-1, pages

#1900 f-wdio-utils@v0.10.0 - updated load function
  packages/services/f-wdio-utils/CHANGELOG.md
  packages/services/f-wdio-utils/package.json
  packages/services/f-wdio-utils/src/page.object.js
Labels: services

#1906 f-form-field@v4.12.0 - Swapped CaretIcon with CaretDownFilledIcon
  packages/components/atoms/f-form-field/CHANGELOG.md
  packages/components/atoms/f-form-field/package.json
  packages/components/atoms/f-form-field/src/components/FormDropdown.vue
Labels: reviewed-1, atoms

#1901 f-footer@v7.7.2 - Removed DK & NO refs.
  packages/components/organisms/f-footer/CHANGELOG.md
  packages/components/organisms/f-footer/data/da-DK.json
  packages/components/organisms/f-footer/data/nb-NO.json
  packages/components/organisms/f-footer/package.json
  packages/components/organisms/f-footer/src/components/_tests/CountrySelector.test.js
  packages/components/organisms/f-footer/src/components/_tests/Footer.test.js
  packages/components/organisms/f-footer/src/tenants/da-DK.js
  packages/components/organisms/f-footer/src/tenants/index.js
  packages/components/organisms/f-footer/src/tenants/nb-NO.js
  packages/components/organisms/f-footer/stories/footer.stories.js
  packages/components/organisms/f-footer/test/accessibility/axe-accessibility.spec.js
Labels: reviewed-1, organisms

#1903 f-loyalty@v1.8.0 - Icing updates
  packages/components/pages/f-loyalty/CHANGELOG.md
  packages/components/pages/f-loyalty/package.json
  packages/components/pages/f-loyalty/src/components/Header.vue
  packages/components/pages/f-loyalty/src/components/Loyalty.vue
  yarn.lock
Labels: pages

#1909 f-wdio-util@v0.11.0 - Introduced a new base page to reduce client code
  packages/services/f-wdio-utils/CHANGELOG.md
  packages/services/f-wdio-utils/package.json
  packages/services/f-wdio-utils/src/base.page.js
  packages/services/f-wdio-utils/src/page.object.js
Labels: reviewed-1, services

#1905 generator-component@v2.10.0 - Refactor WebDriverIO tests to use async in order to support Node 16
  packages/tools/generator-component/CHANGELOG.md
  packages/tools/generator-component/generators/app/templates/__package__.json
  packages/tools/generator-component/generators/app/templates/test-utils/component-objects/f-skeleton.component.js
  packages/tools/generator-component/generators/app/templates/test/component/f-skeleton.component.__spec__.js
  packages/tools/generator-component/generators/app/templates/test/visual/f-skeleton.visual.desktop.__spec__.js
  packages/tools/generator-component/generators/app/templates/test/visual/f-skeleton.visual.mobile.__spec__.js
  packages/tools/generator-component/package.json
Labels: tools

#1883 #trivial Remove Lerna, add Turborepo.
  .circleci/config.yml
  .gitignore
  .husky/pre-commit
  bundlewatch.config.js
  package.json
  packages/components/organisms/f-footer/test-utils/component-objects/f-footer.component.js
  packages/storybook/package.json
  turbo.json
  yarn.lock
Labels: organisms, storybook

#1927 Fix local build concurrency issue #trivial
  package.json
  packages/components/organisms/f-cookie-banner-static/package.json
  packages/components/organisms/f-cookie-banner/package.json
Labels: organisms

#1924 f-mega-modal@v5.1.1 - Bumped f-wdio-utils version & fixed up breaking changes
  packages/components/molecules/f-mega-modal/CHANGELOG.md
  packages/components/molecules/f-mega-modal/package.json
  packages/components/molecules/f-mega-modal/test-utils/component-objects/f-mega-modal.component.js
Labels: reviewed-1, molecules

#1926 f-promotions-showcase@v0.5.2 - Bumped f-wdio-utils version & fixed up breaking changes
  packages/components/molecules/f-promotions-showcase/CHANGELOG.md
  packages/components/molecules/f-promotions-showcase/package.json
  packages/components/molecules/f-promotions-showcase/src/components/PromotionsShowcase.vue
  packages/components/molecules/f-promotions-showcase/test-utils/component-objects/f-promotions-showcase.component.js
  packages/components/molecules/f-promotions-showcase/test/accessibility/axe-accessibility.spec.js
Labels: reviewed-1, molecules

#1925 f-navigation-links@v1.2.1 - Bumped f-wdio-utils version & fixed up breaking changes
  packages/components/molecules/f-navigation-links/CHANGELOG.md
  packages/components/molecules/f-navigation-links/package.json
  packages/components/molecules/f-navigation-links/src/components/NavigationLinks.vue
  packages/components/molecules/f-navigation-links/src/components/_tests/NavigationLinks.test.js
  packages/components/molecules/f-navigation-links/src/components/_tests/__snapshots__/NavigationLinks.test.js.snap
  packages/components/molecules/f-navigation-links/test-utils/component-objects/f-navigation-links.component.js
  packages/components/molecules/f-navigation-links/test/accessibility/axe-accessibility.spec.js
Labels: reviewed-1, molecules

#1923 f-media-element@v2.0.1 - Bumped f-wdio-utils version & fixed up breaking changes
  packages/components/molecules/f-media-element/CHANGELOG.md
  packages/components/molecules/f-media-element/package.json
  packages/components/molecules/f-media-element/src/components/MediaElement.vue
  packages/components/molecules/f-media-element/test-utils/component-objects/f-media-element.component.js
Labels: reviewed-1, molecules

#1921 f-breadcrumbs@v3.2.2 - Bumped f-wdio-utils version & fixed up breaking changes
  packages/components/molecules/f-breadcrumbs/CHANGELOG.md
  packages/components/molecules/f-breadcrumbs/package.json
  packages/components/molecules/f-breadcrumbs/test-utils/component-objects/f-breadcrumbs.component.js
Labels: reviewed-1, molecules

#1920 f-restaurant-card@v0.29.6 - Bumped f-wdio-utils version & fixed up breaking changes
  packages/components/molecules/f-restaurant-card/CHANGELOG.md
  packages/components/molecules/f-restaurant-card/package.json
  packages/components/molecules/f-restaurant-card/src/components/RestaurantCard.vue
  packages/components/molecules/f-restaurant-card/test-utils/component-objects/f-restaurant-card.component.js
  packages/components/molecules/f-restaurant-card/test/accessibility/axe-accessibility.spec.js
Labels: reviewed-1, molecules

#1919 f-searchbox@v4.0.0-beta.40 - Bumped f-wdio-utils version & fixed up breaking changes
  packages/components/molecules/f-searchbox/CHANGELOG.md
  packages/components/molecules/f-searchbox/package.json
  packages/components/molecules/f-searchbox/test-utils/component-objects/f-searchbox.component.js
  packages/components/molecules/f-searchbox/test/accessibility/axe-accessibility.spec.js
Labels: molecules

#1918 f-skeleton-loader@v2.1.1 - Bumped f-wdio-utils version & fixed up breaking c…
  packages/components/molecules/f-skeleton-loader/CHANGELOG.md
  packages/components/molecules/f-skeleton-loader/package.json
  packages/components/molecules/f-skeleton-loader/src/components/SkeletonLoader.vue
  packages/components/molecules/f-skeleton-loader/test-utils/component-objects/f-skeleton-loader.component.js
  packages/components/molecules/f-skeleton-loader/test/accessibility/axe-accessibility.spec.js
Labels: molecules

#1917 f-tabs@v2.1.1 - Bumped f-wdio-utils version & fixed up breaking changes
  packages/components/molecules/f-tabs/CHANGELOG.md
  packages/components/molecules/f-tabs/package.json
  packages/components/molecules/f-tabs/src/components/Tabs.vue
  packages/components/molecules/f-tabs/test-utils/component-objects/f-tabs.component.js
  packages/components/molecules/f-tabs/test/accessibility/axe-accessibility.spec.js
Labels: molecules

#1916 f-user-message@v3.2.1 - Bumped f-wdio-utils version & fixed up breaking changes
  packages/components/molecules/f-user-message/CHANGELOG.md
  packages/components/molecules/f-user-message/package.json
  packages/components/molecules/f-user-message/test-utils/component-objects/f-user-message.component.js
  packages/components/molecules/f-user-message/test/accessibility/axe-accessibility.spec.js
Labels: molecules

#1922 f-card-with-content@v1.1.1 - Bumped f-wdio-utils version & fixed up breaking changes
  packages/components/molecules/f-card-with-content/CHANGELOG.md
  packages/components/molecules/f-card-with-content/package.json
  packages/components/molecules/f-card-with-content/src/components/CardWithContent.vue
  packages/components/molecules/f-card-with-content/test-utils/component-objects/f-card-with-content.component.js
  packages/components/molecules/f-card-with-content/test/visual/f-card-with-content.visual.desktop.spec.js
  packages/components/molecules/f-card-with-content/test/visual/f-card-with-content.visual.mobile.spec.js
  packages/components/molecules/f-card-with-content/test/visual/f-card-with-content.visual.spec.js
Labels: reviewed-1, molecules

#1914 f-alert@v4.4.1 - Bumped f-wdio-utils version & fixed up breaking changes
  packages/components/molecules/f-alert/CHANGELOG.md
  packages/components/molecules/f-alert/package.json
  packages/components/molecules/f-alert/test-utils/component-objects/f-alert.component.js
  packages/components/molecules/f-alert/test/accessibility/axe-accessibility.spec.js
  packages/components/molecules/f-alert/test/visual/f-alert.visual.spec.js
Labels: reviewed-1, reviewed-2, molecules

#1908 f-form-field@4.13.0 - Add required prop
  packages/components/atoms/f-form-field/CHANGELOG.md
  packages/components/atoms/f-form-field/README.md
  packages/components/atoms/f-form-field/package.json
  packages/components/atoms/f-form-field/src/components/FormDropdown.vue
  packages/components/atoms/f-form-field/src/components/FormField.vue
  packages/components/atoms/f-form-field/src/components/FormFieldAffixed.vue
  packages/components/atoms/f-form-field/src/components/FormLabel.vue
  packages/components/atoms/f-form-field/src/components/FormSelectionControl.vue
  packages/components/atoms/f-form-field/stories/Checkbox.stories.js
  packages/components/atoms/f-form-field/stories/DropdownDefault.stories.js
  packages/components/atoms/f-form-field/stories/DropdownIcon.stories.js
  packages/components/atoms/f-form-field/stories/FormField.stories.js
  packages/components/atoms/f-form-field/stories/Radio.stories.js
  packages/components/atoms/f-form-field/stories/SharedArgTypes.js
  packages/components/atoms/f-form-field/stories/TextInputAffixed.stories.js
  packages/components/atoms/f-form-field/stories/TextInputDefault.stories.js
  packages/components/atoms/f-form-field/stories/TextInputIcon.stories.js
  packages/components/atoms/f-form-field/stories/Textarea.stories.js
  packages/components/atoms/f-form-field/test/visual/f-form-field.visual.spec.js
Labels: please review, atoms

#1933 f-error-message@v1.2.1 - Bumped f-wdio-utils version & fixed up breaking changes
  packages/components/atoms/f-error-message/CHANGELOG.md
  packages/components/atoms/f-error-message/package.json
  packages/components/atoms/f-error-message/test-utils/component-objects/f-error-message.component.js
  packages/components/atoms/f-error-message/test/accessibility/axe-accessibility.spec.js
  packages/components/atoms/f-error-message/test/component/f-error-message.component.spec.js
Labels: reviewed-1, reviewed-2, atoms

#1934 f-filter-pill@v0.8.1 - Bumped f-wdio-utils version & fixed up breaking changes
  packages/components/atoms/f-filter-pill/CHANGELOG.md
  packages/components/atoms/f-filter-pill/package.json
  packages/components/atoms/f-filter-pill/test-utils/component-objects/f-filter-pill-selectors.js
  packages/components/atoms/f-filter-pill/test-utils/component-objects/f-filter-pill.component.js
  packages/components/atoms/f-filter-pill/test/accessibility/axe-accessibility.spec.js
  packages/components/atoms/f-filter-pill/test/component/f-filter-pill.component.spec.js
Labels: reviewed-1, reviewed-2, atoms

#1938 f-image-tile@v0.13.1 - Bumped f-wdio-utils version & fixed up breaking changes
  packages/components/atoms/f-image-tile/CHANGELOG.md
  packages/components/atoms/f-image-tile/package.json
  packages/components/atoms/f-image-tile/test-utils/component-objects/f-image-tile.component.js
  packages/components/atoms/f-image-tile/test/accessibility/axe-accessibility.spec.js
  packages/components/atoms/f-image-tile/test/component/f-image-tile.component.spec.js
Labels: reviewed-1, reviewed-2, atoms

#1941 f-spinner@v0.4.1 - Bumped f-wdio-utils version & fixed up breaking changes
  packages/components/atoms/f-spinner/CHANGELOG.md
  packages/components/atoms/f-spinner/package.json
  packages/components/atoms/f-spinner/src/components/Spinner.vue
  packages/components/atoms/f-spinner/test-utils/component-objects/f-spinner.component.js
  packages/components/atoms/f-spinner/test/accessibility/axe-accessibility.spec.js
  packages/components/atoms/f-spinner/test/component/f-spinner.component.spec.js
Labels: reviewed-1, reviewed-2, atoms

#1930 f-button@v3.4.1 - Bumped f-wdio-utils version & fixed up breaking changes
  packages/components/atoms/f-button/CHANGELOG.md
  packages/components/atoms/f-button/package.json
  packages/components/atoms/f-button/test-utils/component-objects/f-button--action.component.js
  packages/components/atoms/f-button/test-utils/component-objects/f-button--icon.component.js
  packages/components/atoms/f-button/test-utils/component-objects/f-button--link.component.js
  packages/components/atoms/f-button/test/accessibility/axe-accessibility.spec.js
  packages/components/atoms/f-button/test/component/f-button.component.spec.js
  packages/components/atoms/f-button/test/visual/f-button.visual.desktop.spec.js
Labels: atoms

#1929 f-account-info@v0.24.0 - Dynamically generate return URL
  packages/components/pages/f-account-info/CHANGELOG.md
  packages/components/pages/f-account-info/package.json
  packages/components/pages/f-account-info/src/components/AccountInfo.vue
  packages/components/pages/f-account-info/src/components/_tests/AccountInfo.test.js
Labels: reviewed-1, reviewed-2, pages

#1937 f-account-info@0.26.0 - Add autocomplete attribute to form fields
  packages/components/pages/f-account-info/CHANGELOG.md
  packages/components/pages/f-account-info/package.json
  packages/components/pages/f-account-info/src/components/AccountInfo.vue
Labels: pages

#1944 f-mega-modal - Add visual tests #trivial
  packages/components/molecules/f-mega-modal/CHANGELOG.md
  packages/components/molecules/f-mega-modal/jest.config.js
  packages/components/molecules/f-mega-modal/package.json
  packages/components/molecules/f-mega-modal/stories/MegaModal.stories.js
  packages/components/molecules/f-mega-modal/test/visual/f-mega-modal.visual.spec.js
  yarn.lock
Labels: molecules

#1942 #trivial - Move components to dart-sass.
  CHANGELOG.md
  package.json
  packages/components/molecules/f-navigation-links/jest.config.js
  packages/components/molecules/f-navigation-links/package.json
  packages/components/molecules/f-navigation-links/src/components/_tests/__snapshots__/NavigationLinks.test.js.snap
  packages/components/molecules/f-tabs/jest.config.js
  packages/components/molecules/f-tabs/package.json
  packages/components/molecules/f-tabs/src/components/Tab.vue
  packages/components/molecules/f-tabs/src/components/tests/Tab.test.js
  packages/components/organisms/f-header/jest.config.js
Labels: molecules, organisms

#1947 f-link@2.4.0 - Update descriptions for screen readers
  packages/components/atoms/f-link/CHANGELOG.md
  packages/components/atoms/f-link/package.json
  packages/components/atoms/f-link/src/components/_tests/Link.test.js
  packages/components/atoms/f-link/src/tenants/en-AU.js
  packages/components/atoms/f-link/src/tenants/en-GB.js
  packages/components/atoms/f-link/src/tenants/en-IE.js
  packages/components/atoms/f-link/src/tenants/en-NZ.js
  packages/components/atoms/f-link/src/tenants/es-ES.js
  packages/components/atoms/f-link/src/tenants/it-IT.js
Labels: reviewed-1, reviewed-2, atoms

#1954 f-button@4.0.0 - use new sass @use syntax
  packages/components/atoms/f-button/CHANGELOG.md
  packages/components/atoms/f-button/package.json
  packages/components/atoms/f-button/src/assets/scss/common.scss
  packages/components/atoms/f-button/src/components/Button.vue
  packages/components/atoms/f-button/vue.config.js
  packages/storybook/CHANGELOG.md
  packages/storybook/package.json
  packages/storybook/vue.config.js
  yarn.lock
Labels: dependencies, atoms, storybook

#1958 f-card@v4.0.0 - use new sass @use syntax
  packages/components/atoms/f-card/CHANGELOG.md
  packages/components/atoms/f-card/package.json
  packages/components/atoms/f-card/src/assets/scss/common.scss
  packages/components/atoms/f-card/src/components/Card.vue
  packages/components/atoms/f-card/vue.config.js
  packages/storybook/CHANGELOG.md
  packages/storybook/package.json
  packages/storybook/vue.config.js
  yarn.lock
Labels: dependencies, atoms, storybook

#1959 f-error-message@v2.0.0 - use new sass @use syntax
  packages/components/atoms/f-error-message/CHANGELOG.md
  packages/components/atoms/f-error-message/package.json
  packages/components/atoms/f-error-message/src/assets/scss/common.scss
  packages/components/atoms/f-error-message/src/components/ErrorMessage.vue
  packages/components/atoms/f-error-message/vue.config.js
  packages/storybook/CHANGELOG.md
  packages/storybook/package.json
  packages/storybook/vue.config.js
Labels: dependencies, atoms, storybook

#1960 f-filter-pill@v1.0.0 - update to @use sass syntax
  packages/components/atoms/f-filter-pill/CHANGELOG.md
  packages/components/atoms/f-filter-pill/package.json
  packages/components/atoms/f-filter-pill/src/assets/scss/common.scss
  packages/components/atoms/f-filter-pill/src/components/FilterPill.vue
  packages/components/atoms/f-filter-pill/src/components/FilterPillSkeleton.vue
  packages/components/atoms/f-filter-pill/vue.config.js
  packages/storybook/CHANGELOG.md
  packages/storybook/package.json
  packages/storybook/vue.config.js
Labels: dependencies, please review, atoms, storybook

#1961 f-form-field@v5.0.0 - update to new sass syntax
  packages/components/atoms/f-form-field/CHANGELOG.md
  packages/components/atoms/f-form-field/package.json
  packages/components/atoms/f-form-field/src/assets/scss/common.scss
  packages/components/atoms/f-form-field/src/components/FormDropdown.vue
  packages/components/atoms/f-form-field/src/components/FormField.vue
  packages/components/atoms/f-form-field/src/components/FormFieldAffixed.vue
  packages/components/atoms/f-form-field/src/components/FormLabel.vue
  packages/components/atoms/f-form-field/src/components/FormSelectionControl.vue
  packages/components/atoms/f-form-field/vue.config.js
  packages/storybook/CHANGELOG.md
  packages/storybook/package.json
  packages/storybook/vue.config.js
Labels: dependencies, please review, atoms, storybook

#1962 f-image-tile@v1.0.0 - use new sass syntax
  packages/components/atoms/f-image-tile/CHANGELOG.md
  packages/components/atoms/f-image-tile/package.json
  packages/components/atoms/f-image-tile/src/assets/scss/common.scss
  packages/components/atoms/f-image-tile/src/components/ImageTile.vue
  packages/components/atoms/f-image-tile/src/components/ImageTileSkeleton.vue
  packages/components/atoms/f-image-tile/vue.config.js
  packages/storybook/CHANGELOG.md
  packages/storybook/package.json
  packages/storybook/vue.config.js
Labels: dependencies, atoms, storybook

#1964 f-spinner@v1.0.0 f-link@v3.00 f-popover@v3.0.0 - use new sass syntax
  packages/components/atoms/f-link/CHANGELOG.md
  packages/components/atoms/f-link/package.json
  packages/components/atoms/f-link/src/assets/scss/common.scss
  packages/components/atoms/f-link/src/components/Link.vue
  packages/components/atoms/f-link/vue.config.js
  packages/components/atoms/f-popover/CHANGELOG.md
  packages/components/atoms/f-popover/package.json
  packages/components/atoms/f-popover/src/assets/scss/common.scss
  packages/components/atoms/f-popover/src/components/Popover.vue
  packages/components/atoms/f-popover/vue.config.js
  packages/components/atoms/f-spinner/CHANGELOG.md
  packages/components/atoms/f-spinner/package.json
  packages/components/atoms/f-spinner/src/assets/scss/common.scss
  packages/components/atoms/f-spinner/src/components/Spinner.vue
  packages/components/atoms/f-spinner/vue.config.js
  packages/storybook/CHANGELOG.md
  packages/storybook/package.json
  packages/storybook/vue.config.js
Labels: dependencies, please review, atoms, storybook

#1948 f-checkout@v3.31.0 - updated wdio version and refactored tests
  packages/components/pages/f-checkout/CHANGELOG.md
  packages/components/pages/f-checkout/package.json
  packages/components/pages/f-checkout/test-utils/component-objects/argumentStringBuilder.js
  packages/components/pages/f-checkout/test-utils/component-objects/f-checkout.component.js
  packages/components/pages/f-checkout/test/accessibility/axe-accessibility.spec.js
  packages/components/pages/f-checkout/test/component/f-checkout-delivery.component.spec.js
  packages/components/pages/f-checkout/test/component/f-checkout-dinein.component.spec.js
  packages/components/pages/f-checkout/test/component/f-checkout-guest.component.spec.js
  packages/components/pages/f-checkout/test/component/f-checkout.component.spec.js
  packages/components/pages/f-checkout/test/visual/f-checkout-authenticated.visual.desktop.spec.js
  packages/components/pages/f-checkout/test/visual/f-checkout-authenticated.visual.mobile.spec.js
  packages/components/pages/f-checkout/test/visual/f-checkout-guest.visual.desktop.spec.js
  packages/components/pages/f-checkout/test/visual/f-checkout-guest.visual.mobile.spec.js
  packages/components/pages/f-checkout/test/visual/f-checkout-invalid.visual.desktop.spec.js
  packages/components/pages/f-checkout/test/visual/f-checkout-invalid.visual.mobile.spec.js
Labels: pages

#1963 f-link@3.1.0 - Add dataTestId prop
  packages/components/atoms/f-link/CHANGELOG.md
  packages/components/atoms/f-link/README.md
  packages/components/atoms/f-link/package.json
  packages/components/atoms/f-link/src/components/Link.vue
  packages/components/atoms/f-link/stories/Link.stories.js
Labels: atoms

#1965 f-alert@v5.0.0 - Update f-alert to new sass syntax
  packages/components/molecules/f-alert/CHANGELOG.md
  packages/components/molecules/f-alert/package.json
  packages/components/molecules/f-alert/src/assets/scss/common.scss
  packages/components/molecules/f-alert/src/components/Alert.vue
  packages/components/molecules/f-alert/vue.config.js
  packages/storybook/CHANGELOG.md
  packages/storybook/package.json
  packages/storybook/vue.config.js
  yarn.lock
Labels: dependencies, please review, molecules, storybook

#1967 f-breadcrumbs@v4.0.0 - use new sass syntax
  packages/components/molecules/f-breadcrumbs/CHANGELOG.md
  packages/components/molecules/f-breadcrumbs/package.json
  packages/components/molecules/f-breadcrumbs/src/assets/scss/common.scss
  packages/components/molecules/f-breadcrumbs/src/components/BreadCrumbs.vue
  packages/components/molecules/f-breadcrumbs/vue.config.js
  packages/storybook/CHANGELOG.md
  packages/storybook/package.json
  packages/storybook/vue.config.js
  yarn.lock
Labels: dependencies, molecules, storybook

#1969 f-card-with-content@v2.0.0 - use newer sass syntax
  packages/components/molecules/f-card-with-content/CHANGELOG.md
  packages/components/molecules/f-card-with-content/package.json
  packages/components/molecules/f-card-with-content/src/assets/scss/common.scss
  packages/components/molecules/f-card-with-content/src/components/CardWithContent.vue
  packages/components/molecules/f-card-with-content/vue.config.js
  packages/storybook/CHANGELOG.md
  packages/storybook/package.json
  packages/storybook/vue.config.js
Labels: dependencies, molecules, storybook

#1972 f-registration@v2.3.0 - Bump form field
  packages/components/pages/f-registration/CHANGELOG.md
  packages/components/pages/f-registration/package.json
  packages/components/pages/f-registration/src/components/Registration.vue
  yarn.lock
Labels: pages

#1971 f-alert@v5.0.1 - Read alert messages to accessible users
  packages/components/molecules/f-alert/CHANGELOG.md
  packages/components/molecules/f-alert/package.json
  packages/components/molecules/f-alert/src/components/Alert.vue
  packages/components/molecules/f-alert/src/components/_tests/Alert.test.js
  packages/components/molecules/f-alert/test-utils/component-objects/f-alert.component.js
  packages/components/molecules/f-alert/test/component/f-alert.component.spec.js
Labels: reviewed-1, reviewed-2, molecules

#1970 f-media-element@v3.0.0 - update to newer sass syntax
  packages/components/molecules/f-media-element/CHANGELOG.md
  packages/components/molecules/f-media-element/package.json
  packages/components/molecules/f-media-element/src/assets/scss/common.scss
  packages/components/molecules/f-media-element/src/components/MediaElement.vue
  packages/components/molecules/f-media-element/vue.config.js
  packages/storybook/CHANGELOG.md
  packages/storybook/package.json
  packages/storybook/vue.config.js
Labels: dependencies, please review, molecules, storybook

#1974 f-link@3.1.1 - Move data-test-id back from prop to attribute
  packages/components/atoms/f-link/CHANGELOG.md
  packages/components/atoms/f-link/README.md
  packages/components/atoms/f-link/package.json
  packages/components/atoms/f-link/src/components/Link.vue
  packages/components/atoms/f-link/stories/Link.stories.js
Labels: reviewed-1, reviewed-2, atoms

#1955 f-navigation-links@1.3.0 - (and others) f-link package updates
  packages/components/molecules/f-navigation-links/CHANGELOG.md
  packages/components/molecules/f-navigation-links/package.json
  packages/components/molecules/f-navigation-links/src/components/_tests/NavigationLinks.test.js
  packages/components/organisms/f-cookie-banner/CHANGELOG.md
  packages/components/organisms/f-cookie-banner/package.json
  packages/components/organisms/f-cookie-banner/test-utils/component-objects/f-cookie-banner-selectors.js
  packages/components/pages/f-account-info/CHANGELOG.md
  packages/components/pages/f-account-info/package.json
  packages/components/pages/f-checkout/CHANGELOG.md
  packages/components/pages/f-checkout/package.json
  packages/components/pages/f-registration/CHANGELOG.md
  packages/components/pages/f-registration/package.json
  yarn.lock
Labels: please review, molecules, organisms, pages

#1977 f-promotions-showcase@v1.0.0 - Add new sass syntax
  packages/components/molecules/f-promotions-showcase/CHANGELOG.md
  packages/components/molecules/f-promotions-showcase/package.json
  packages/components/molecules/f-promotions-showcase/src/assets/scss/common.scss
  packages/components/molecules/f-promotions-showcase/src/components/PromotionsShowcase.vue
  packages/components/molecules/f-promotions-showcase/vue.config.js
  packages/storybook/CHANGELOG.md
  packages/storybook/package.json
  packages/storybook/vue.config.js
Labels: molecules, storybook

#1981 f-template-subnav@0.6.0 - Use latest f-navigation-links
  packages/components/templates/f-template-subnav/CHANGELOG.md
  packages/components/templates/f-template-subnav/package.json
  yarn.lock
Labels: templates

#1980 f-restaurant-card@v1.0.0 - Add new sass syntax
  packages/components/molecules/f-restaurant-card/CHANGELOG.md
  packages/components/molecules/f-restaurant-card/package.json
  packages/components/molecules/f-restaurant-card/src/assets/scss/common.scss
  packages/components/molecules/f-restaurant-card/src/assets/scss/mixins.scss
  packages/components/molecules/f-restaurant-card/src/components/RestaurantCard.vue
  packages/components/molecules/f-restaurant-card/src/components/subcomponents/DeliveryTimeMeta/DeliveryTimeMeta.vue
  packages/components/molecules/f-restaurant-card/src/components/subcomponents/IconText.vue
  packages/components/molecules/f-restaurant-card/src/components/subcomponents/RestaurantAvailability/RestaurantAvailability.vue
  packages/components/molecules/f-restaurant-card/src/components/subcomponents/RestaurantCuisines.vue
  packages/components/molecules/f-restaurant-card/src/components/subcomponents/RestaurantDishes/RestaurantDish.vue
  packages/components/molecules/f-restaurant-card/src/components/subcomponents/RestaurantDishes/RestaurantDishes.vue
  packages/components/molecules/f-restaurant-card/src/components/subcomponents/RestaurantFees/RestaurantFees.vue
  packages/components/molecules/f-restaurant-card/src/components/subcomponents/RestaurantImage/RestaurantImage.vue
  packages/components/molecules/f-restaurant-card/src/components/subcomponents/RestaurantLogo/RestaurantLogo.vue
  packages/components/molecules/f-restaurant-card/src/components/subcomponents/RestaurantRating/RestaurantRating.vue
  packages/components/molecules/f-restaurant-card/src/components/subcomponents/RestaurantSkeleton/RestaurantContentSkeleton.vue
  packages/components/molecules/f-restaurant-card/src/components/subcomponents/RestaurantSkeleton/RestaurantRatingSkeleton.vue
  packages/components/molecules/f-restaurant-card/src/components/subcomponents/RestaurantTags/RestaurantTag.vue
  packages/components/molecules/f-restaurant-card/src/components/subcomponents/RestaurantTags/RestaurantTags.vue
  packages/components/molecules/f-restaurant-card/vue.config.js
  packages/storybook/CHANGELOG.md
  packages/storybook/package.json
  packages/storybook/vue.config.js
  yarn.lock
Labels: molecules, storybook

#1978 f-mega-modal@v6.0.0 - use newer sass syntax
  packages/components/molecules/f-mega-modal/CHANGELOG.md
  packages/components/molecules/f-mega-modal/package.json
  packages/components/molecules/f-mega-modal/src/assets/scss/common.scss
  packages/components/molecules/f-mega-modal/src/components/MegaModal.vue
  packages/components/molecules/f-mega-modal/vue.config.js
  packages/storybook/CHANGELOG.md
  packages/storybook/package.json
  packages/storybook/vue.config.js
Labels: dependencies, please review, molecules, storybook

#1987 f-navigation-links@v2.0.0 - use new sass syntax
  packages/components/molecules/f-navigation-links/CHANGELOG.md
  packages/components/molecules/f-navigation-links/package.json
  packages/components/molecules/f-navigation-links/src/assets/scss/common.scss
  packages/components/molecules/f-navigation-links/src/components/NavigationLinks.vue
  packages/components/molecules/f-navigation-links/vue.config.js
  packages/storybook/CHANGELOG.md
  packages/storybook/package.json
  packages/storybook/vue.config.js
  yarn.lock
Labels: dependencies, molecules, storybook

#1982 f-account-info@v0.28.1 - Improve f-alert accessibility
  packages/components/pages/f-account-info/CHANGELOG.md
  packages/components/pages/f-account-info/package.json
  packages/components/pages/f-account-info/src/components/Notifications.vue
Labels: reviewed-1, reviewed-2, pages

#1985 f-user-message@4.0.0 - Update sass and fozzie
  packages/components/molecules/f-user-message/CHANGELOG.md
  packages/components/molecules/f-user-message/package.json
  packages/components/molecules/f-user-message/src/assets/scss/common.scss
  packages/components/molecules/f-user-message/src/components/UserMessage.vue
  packages/components/molecules/f-user-message/vue.config.js
  packages/storybook/CHANGELOG.md
  packages/storybook/package.json
  packages/storybook/vue.config.js
Labels: molecules, storybook

#1988 f-tabs@3.0.0 - Update sass and fozzie
  packages/components/molecules/f-tabs/CHANGELOG.md
  packages/components/molecules/f-tabs/package.json
  packages/components/molecules/f-tabs/src/assets/scss/common.scss
  packages/components/molecules/f-tabs/src/components/Tab.vue
  packages/components/molecules/f-tabs/src/components/Tabs.vue
  packages/components/molecules/f-tabs/vue.config.js
  packages/storybook/CHANGELOG.md
  packages/storybook/package.json
  packages/storybook/vue.config.js
Labels: molecules, storybook

#1989 #trivial - update common.scss imports
  packages/components/atoms/f-button/src/components/Button.vue
  packages/components/atoms/f-button/vue.config.js
  packages/components/atoms/f-card/vue.config.js
  packages/components/atoms/f-error-message/vue.config.js
  packages/components/atoms/f-filter-pill/vue.config.js
  packages/components/atoms/f-form-field/src/components/FormDropdown.vue
  packages/components/atoms/f-form-field/src/components/FormField.vue
  packages/components/atoms/f-form-field/src/components/FormFieldAffixed.vue
  packages/components/atoms/f-form-field/src/components/FormLabel.vue
  packages/components/atoms/f-form-field/src/components/FormSelectionControl.vue
  packages/components/atoms/f-form-field/vue.config.js
  packages/components/atoms/f-image-tile/vue.config.js
  packages/components/atoms/f-link/vue.config.js
  packages/components/atoms/f-popover/vue.config.js
  packages/components/atoms/f-spinner/vue.config.js
  packages/components/molecules/f-alert/vue.config.js
  packages/components/molecules/f-breadcrumbs/vue.config.js
  packages/components/molecules/f-card-with-content/vue.config.js
  packages/components/molecules/f-media-element/vue.config.js
  packages/components/molecules/f-mega-modal/vue.config.js
  packages/components/molecules/f-promotions-showcase/vue.config.js
  packages/components/molecules/f-restaurant-card/src/assets/scss/common.scss
  packages/components/molecules/f-restaurant-card/src/components/subcomponents/DeliveryTimeMeta/DeliveryTimeMeta.vue
  packages/components/molecules/f-restaurant-card/src/components/subcomponents/RestaurantAvailability/RestaurantAvailability.vue
  packages/components/molecules/f-restaurant-card/src/components/subcomponents/RestaurantFees/RestaurantFees.vue
  packages/components/molecules/f-restaurant-card/src/components/subcomponents/RestaurantSkeleton/RestaurantContentSkeleton.vue
  packages/components/molecules/f-restaurant-card/src/components/subcomponents/RestaurantSkeleton/RestaurantRatingSkeleton.vue
  packages/components/molecules/f-restaurant-card/vue.config.js
  packages/storybook/vue.config.js
Labels: please review, atoms, molecules, storybook

#1975 f-header@9.16.1 - Bumped f-wdio-utils version & fixed up breaking changes
  packages/components/organisms/f-header/CHANGELOG.md
  packages/components/organisms/f-header/package.json
  packages/components/organisms/f-header/test-utils/component-objects/f-header.component.js
  packages/components/organisms/f-header/test-utils/component-objects/f-header.selectors.js
  packages/components/organisms/f-header/test/accessibility/axe-accessibility.spec.js
  packages/components/organisms/f-header/test/component/f-header.component.spec.js
  packages/components/organisms/f-header/test/visual/f-header.visual.desktop.spec.js
  packages/components/organisms/f-header/test/visual/f-header.visual.mobile.spec.js
Labels: reviewed-1, please review, organisms

#1976 f-form@v0.4.1 - Bumped f-wdio-utils version & fixed up breaking changes
  packages/components/organisms/f-form/CHANGELOG.md
  packages/components/organisms/f-form/package.json
  packages/components/organisms/f-form/src/components/Form.vue
  packages/components/organisms/f-form/test-utils/component-objects/f-form-selectors.js
  packages/components/organisms/f-form/test-utils/component-objects/f-form.component.js
Labels: please review, organisms

#1992 f-status-banner@6.0.0 - Update sass and fozzie
  packages/components/organisms/f-status-banner/CHANGELOG.md
  packages/components/organisms/f-status-banner/package.json
  packages/components/organisms/f-status-banner/src/assets/scss/common.scss
  packages/components/organisms/f-status-banner/src/components/MainBannerContainer.vue
  packages/components/organisms/f-status-banner/src/components/PageBanner.vue
  packages/components/organisms/f-status-banner/vue.config.js
  packages/storybook/CHANGELOG.md
  packages/storybook/package.json
  packages/storybook/vue.config.js
Labels: organisms, storybook

#1986 f-image-tile@v1.0.1 - Update icon color when selected
  packages/components/atoms/f-image-tile/CHANGELOG.md
  packages/components/atoms/f-image-tile/package.json
  packages/components/atoms/f-image-tile/src/components/ImageTile.vue
Labels: reviewed-1, please review, atoms

#1979 f-footer@v7.7.3 - Bumped f-wdio-utils version & fixed up breaking changes
  packages/components/organisms/f-footer/CHANGELOG.md
  packages/components/organisms/f-footer/package.json
  packages/components/organisms/f-footer/test-utils/component-objects/f-footer.component.js
  packages/components/organisms/f-footer/test-utils/component-objects/f-footer.selectors.js
  packages/components/organisms/f-footer/test/accessibility/axe-accessibility.spec.js
  packages/components/organisms/f-footer/test/component/f-footer.component.spec.js
  packages/components/organisms/f-footer/test/visual/f-footer.visual.desktop.spec.js
  packages/components/organisms/f-footer/test/visual/f-footer.visual.mobile.spec.js
Labels: reviewed-1, please review, organisms

#1993 f-cookie-banner@v3.10.1 - Bumped f-wdio-utils version & fixed up breaking changes
  packages/components/organisms/f-cookie-banner/CHANGELOG.md
  packages/components/organisms/f-cookie-banner/package.json
  packages/components/organisms/f-cookie-banner/src/components/CookieBanner.vue
  packages/components/organisms/f-cookie-banner/src/components/LegacyBanner.vue
  packages/components/organisms/f-cookie-banner/test-utils/component-objects/f-cookie-banner-legacy.component.js
  packages/components/organisms/f-cookie-banner/test-utils/component-objects/f-cookie-banner-selectors.js
  packages/components/organisms/f-cookie-banner/test-utils/component-objects/f-cookie-banner.component.js
  packages/components/organisms/f-cookie-banner/test-utils/component-objects/f-cookie-consent-banner.component.js
  packages/components/organisms/f-cookie-banner/test/accessibility/axe-accessibility.spec.js
  packages/components/organisms/f-cookie-banner/test/component/f-cookie-banner-legacy.component.spec.js
  packages/components/organisms/f-cookie-banner/test/component/f-cookie-banner.component.spec.js
  packages/components/organisms/f-cookie-banner/test/component/f-cookie-consent-banner.component.spec.js
  packages/components/organisms/f-cookie-banner/test/visual/f-cookie-banner-legacy.visual.desktop.spec.js
  packages/components/organisms/f-cookie-banner/test/visual/f-cookie-banner-legacy.visual.mobile.spec.js
  packages/components/organisms/f-cookie-banner/test/visual/f-cookie-banner-legacy.visual.spec.js
  packages/components/organisms/f-cookie-banner/test/visual/f-cookie-banner.visual.spec.js
  packages/components/organisms/f-cookie-banner/test/visual/f-cookie-consent-banner.visual.desktop.spec.js
  packages/components/organisms/f-cookie-banner/test/visual/f-cookie-consent-banner.visual.mobile.spec.js
Labels: organisms

#1956 fozzie-components@v7.14.0 - Ensure devDependency version range matches peerDependencies
  .circleci/config.yml
  CHANGELOG.md
  package.json
  packages/components/molecules/f-alert/CHANGELOG.md
  packages/components/molecules/f-alert/package.json
  packages/components/molecules/f-card-with-content/CHANGELOG.md
  packages/components/molecules/f-card-with-content/package.json
  packages/components/molecules/f-mega-modal/CHANGELOG.md
  packages/components/molecules/f-mega-modal/package.json
  packages/components/molecules/f-navigation-links/CHANGELOG.md
  packages/components/molecules/f-navigation-links/package.json
  packages/components/molecules/f-searchbox/CHANGELOG.md
  packages/components/molecules/f-searchbox/package.json
  packages/components/organisms/f-form/CHANGELOG.md
  packages/components/organisms/f-form/package.json
  packages/components/organisms/f-header/CHANGELOG.md
  packages/components/organisms/f-header/package.json
  packages/components/organisms/f-status-banner/CHANGELOG.md
  packages/components/organisms/f-status-banner/package.json
  packages/components/templates/f-template-subnav/CHANGELOG.md
  packages/components/templates/f-template-subnav/package.json
  turbo.json
  yarn.lock
Labels: reviewed-1, please review, molecules, organisms, templates

#1984 #trivial - Update f skeleton loader 2
  package.json
  packages/components/molecules/f-skeleton-loader/CHANGELOG.md
  packages/components/molecules/f-skeleton-loader/package.json
  packages/components/molecules/f-skeleton-loader/src/assets/scss/common.scss
  packages/components/molecules/f-skeleton-loader/src/components/skeletons/Heading.vue
  packages/components/molecules/f-skeleton-loader/src/components/skeletons/Image.vue
  packages/components/molecules/f-skeleton-loader/src/components/skeletons/Rating.vue
  packages/components/molecules/f-skeleton-loader/src/components/skeletons/RestaurantCard.vue
  packages/components/molecules/f-skeleton-loader/src/components/skeletons/RestaurantCardData.vue
  packages/components/molecules/f-skeleton-loader/src/components/skeletons/RestaurantCardHeader.vue
  packages/components/molecules/f-skeleton-loader/src/components/skeletons/RestaurantCarousel.vue
  packages/components/molecules/f-skeleton-loader/src/components/skeletons/Sentence.vue
  packages/components/molecules/f-skeleton-loader/src/components/skeletons/Text.vue
  packages/components/molecules/f-skeleton-loader/vue.config.js
  packages/storybook/vue.config.js
  yarn.lock
Labels: molecules, storybook

#1998 fozzie-components@v7.14.1 - Fix Bundlewatch to only run against changed packages and it's dependants.
  .circleci/config.yml
  CHANGELOG.md
  bundlewatch.config.js
  package.json
  packages/components/organisms/f-header/CHANGELOG.md
  packages/components/organisms/f-header/package.json
Labels: organisms

#2001 #trivial - Fix up build.
  packages/storybook/CHANGELOG.md
  packages/storybook/package.json
  packages/storybook/vue.config.js
Labels: storybook

#1996 f-content-cards@v7.4.1 - Bumped f-wdio-utils version & fixed up breaking changes
  packages/components/organisms/f-content-cards/CHANGELOG.md
  packages/components/organisms/f-content-cards/package.json
  packages/components/organisms/f-content-cards/test-utils/component-objects/f-content-cards-home-promotion-card1.component.js
  packages/components/organisms/f-content-cards/test-utils/component-objects/f-content-cards-home-promotion-card2.component.js
Labels: reviewed-1, organisms

#2005 f-cookie-banner@v4.0.0
  packages/components/organisms/f-cookie-banner/CHANGELOG.md
  packages/components/organisms/f-cookie-banner/package.json
  packages/components/organisms/f-cookie-banner/src/assets/scss/common.scss
  packages/components/organisms/f-cookie-banner/src/components/CookieBanner.vue
  packages/components/organisms/f-cookie-banner/src/components/LegacyBanner.vue
  packages/components/organisms/f-cookie-banner/src/components/ReopenBannerLink.vue
  packages/components/organisms/f-cookie-banner/vue.config.js
  packages/storybook/CHANGELOG.md
  packages/storybook/package.json
  packages/storybook/vue.config.js
Labels: reviewed-1, reviewed-2, organisms, storybook

#2003 f-registration@2.4.1 - Add tests for policy links
  packages/components/pages/f-registration/CHANGELOG.md
  packages/components/pages/f-registration/package.json
  packages/components/pages/f-registration/test/component/f-registration.component.spec.js
Labels: pages

#2006 f-cookie-banner-static@v1.0.2 - update f-cookie-banner version
  packages/components/organisms/f-cookie-banner-static/CHANGELOG.md
  packages/components/organisms/f-cookie-banner-static/package.json
  packages/storybook/CHANGELOG.md
  packages/storybook/config/storybook/story.config.js
  packages/storybook/package.json
  yarn.lock
Labels: organisms, storybook

#2007 f-header@v10.0.0 - sass updates
  packages/components/organisms/f-header/CHANGELOG.md
  packages/components/organisms/f-header/package.json
  packages/components/organisms/f-header/src/assets/scss/common.scss
  packages/components/organisms/f-header/src/assets/scss/navigation.scss
  packages/components/organisms/f-header/src/components/CountrySelector.vue
  packages/components/organisms/f-header/src/components/CountrySelectorPanel.vue
  packages/components/organisms/f-header/src/components/Header.vue
  packages/components/organisms/f-header/src/components/Logo.vue
  packages/components/organisms/f-header/src/components/NavLink.vue
  packages/components/organisms/f-header/src/components/Navigation.vue
  packages/components/organisms/f-header/src/components/SkipToMain.vue
  packages/components/organisms/f-header/src/components/UserNavigationPanel.vue
  packages/components/organisms/f-header/vue.config.js
  packages/storybook/CHANGELOG.md
  packages/storybook/package.json
  packages/storybook/vue.config.js
Labels: organisms, storybook

#2008 f-footer@v8.0.0 - update to newer sass syntax
  packages/components/organisms/f-footer/CHANGELOG.md
  packages/components/organisms/f-footer/package.json
  packages/components/organisms/f-footer/src/assets/scss/common.scss
  packages/components/organisms/f-footer/src/assets/scss/headings.scss
  packages/components/organisms/f-footer/src/assets/scss/icons.scss
  packages/components/organisms/f-footer/src/assets/scss/lists.scss
  packages/components/organisms/f-footer/src/components/ButtonList.vue
  packages/components/organisms/f-footer/src/components/CountrySelector.vue
  packages/components/organisms/f-footer/src/components/FeedbackBlock.vue
  packages/components/organisms/f-footer/src/components/Footer.vue
  packages/components/organisms/f-footer/src/components/IconList.vue
  packages/components/organisms/f-footer/src/components/LegalField.vue
  packages/components/organisms/f-footer/src/components/LinkList.vue
  packages/components/organisms/f-footer/vue.config.js
  packages/storybook/CHANGELOG.md
  packages/storybook/package.json
  packages/storybook/vue.config.js
Labels: dependencies, organisms, storybook

#2010 f-registration@v2.4.2 - increase password minlength to 10
  packages/components/pages/f-registration/CHANGELOG.md
  packages/components/pages/f-registration/package.json
  packages/components/pages/f-registration/src/components/Registration.vue
  packages/components/pages/f-registration/src/components/_tests/Registration.test.js
  packages/components/pages/f-registration/src/tenants/en-AU.js
  packages/components/pages/f-registration/src/tenants/en-GB.js
  packages/components/pages/f-registration/src/tenants/en-NZ.js
  packages/components/pages/f-registration/test-utils/component-objects/f-registration.component.js
  packages/components/pages/f-registration/test/constants/consumer.js
Labels: pages

#1943 Updated Pages components to async/await to support Node 16 #trivial
  packages/components/pages/f-account-info/CHANGELOG.md
  packages/components/pages/f-account-info/package.json
  packages/components/pages/f-account-info/test-utils/component-objects/f-account-info.component.js
  packages/components/pages/f-account-info/test/component/f-account-info.component.spec.js
  packages/components/pages/f-account-info/test/visual/f-account-info.visual.spec.js
  packages/components/pages/f-checkout/CHANGELOG.md
  packages/components/pages/f-checkout/package.json
  packages/components/pages/f-checkout/test-utils/component-objects/f-checkout.component.js
  packages/components/pages/f-checkout/test/component/f-checkout-delivery.component.spec.js
  packages/components/pages/f-checkout/test/component/f-checkout-dinein.component.spec.js
  packages/components/pages/f-checkout/test/component/f-checkout-guest.component.spec.js
  packages/components/pages/f-checkout/test/component/f-checkout.component.spec.js
  packages/components/pages/f-checkout/test/visual/f-checkout-authenticated.visual.desktop.spec.js
  packages/components/pages/f-checkout/test/visual/f-checkout-authenticated.visual.mobile.spec.js
  packages/components/pages/f-checkout/test/visual/f-checkout-guest.visual.desktop.spec.js
  packages/components/pages/f-checkout/test/visual/f-checkout-guest.visual.mobile.spec.js
  packages/components/pages/f-checkout/test/visual/f-checkout-invalid.visual.desktop.spec.js
  packages/components/pages/f-checkout/test/visual/f-checkout-invalid.visual.mobile.spec.js
  packages/components/pages/f-contact-preferences/CHANGELOG.md
  packages/components/pages/f-contact-preferences/package.json
  packages/components/pages/f-contact-preferences/test-utils/component-objects/f-contactPreferences.component.js
  packages/components/pages/f-contact-preferences/test/component/f-contact-preferences.component.spec.js
  packages/components/pages/f-contact-preferences/test/visual/f-contact-preferences.visual.desktop.spec.js
  packages/components/pages/f-contact-preferences/test/visual/f-contact-preferences.visual.mobile.spec.js
  packages/components/pages/f-loyalty/CHANGELOG.md
  packages/components/pages/f-loyalty/package.json
  packages/components/pages/f-loyalty/test-utils/component-objects/f-loyalty.component.js
  packages/components/pages/f-loyalty/test/component/f-loyalty.component.spec.js
  packages/components/pages/f-offers/CHANGELOG.md
  packages/components/pages/f-offers/test-utils/component-objects/f-offers.component.js
  packages/components/pages/f-offers/test/component/f-offers.component.spec.js
  packages/components/pages/f-registration/CHANGELOG.md
  packages/components/pages/f-registration/package.json
  packages/components/pages/f-registration/test-utils/component-objects/f-registration.component.js
  packages/components/pages/f-registration/test/component/f-registration.component.spec.js
  packages/components/pages/f-registration/test/visual/f-registration.visual.desktop.spec.js
  packages/components/pages/f-takeawaypay-activation/CHANGELOG.md
  packages/components/pages/f-takeawaypay-activation/package.json
  packages/components/pages/f-takeawaypay-activation/test-utils/component-objects/f-takeawaypayActivation.component.js
  packages/components/pages/f-takeawaypay-activation/test/component/f-takeawaypayActivation.component.spec.js
  packages/components/pages/f-takeawaypay-activation/test/visual/f-takeawaypay-activation-authenticated.visual.desktop.spec.js
  packages/components/pages/f-takeawaypay-activation/test/visual/f-takeawaypay-activation-authenticated.visual.mobile.spec.js
  packages/components/pages/f-takeawaypay-activation/test/visual/f-takeawaypay-activation-error.visual.desktop.spec.js
  packages/components/pages/f-takeawaypay-activation/test/visual/f-takeawaypay-activation-error.visual.mobile.spec.js
  packages/components/pages/f-takeawaypay-activation/test/visual/f-takeawaypay-activation-unauthenticated.visual.desktop.spec.js
  packages/components/pages/f-takeawaypay-activation/test/visual/f-takeawaypay-activation-unauthenticated.visual.mobile.spec.js
  packages/services/f-wdio-utils/CHANGELOG.md
  packages/services/f-wdio-utils/package.json
  packages/services/f-wdio-utils/src/base.page.js
  packages/services/f-wdio-utils/src/page.object.js
  yarn.lock
Labels: services, pages
