Repository justeattakeaway/fozzie-components, pull requests merged in 2023-06, with the labels that each got.

#2292 f-offers@v2.1.3 - updating cc-braze-adapter and adding filters
  packages/components/pages/f-offers/CHANGELOG.md
  packages/components/pages/f-offers/package.json
  packages/components/pages/f-offers/src/components/Results.vue
  yarn.lock
Labels: pages

#2295 f-mega-modal@v7.5.0 - update f-button to 5.x
  packages/components/molecules/f-mega-modal/CHANGELOG.md
  packages/components/molecules/f-mega-modal/package.json
Labels: molecules

#2296 f-cookie-banner@4.11.0 - Remove overlay to allow page interaction
  packages/components/organisms/f-cookie-banner/CHANGELOG.md
  packages/components/organisms/f-cookie-banner/README.md
  packages/components/organisms/f-cookie-banner/package.json
  packages/components/organisms/f-cookie-banner/src/components/CookieBanner.vue
  packages/components/organisms/f-cookie-banner/src/components/ReopenBannerLink.vue
Labels: reviewed-1, please review, organisms

#2298 f-content-cards@v10.4.1 - moving dependencies in content cards package.json and updating offers…
  packages/components/organisms/f-content-cards/CHANGELOG.md
  packages/components/organisms/f-content-cards/package.json
  packages/components/pages/f-loyalty/CHANGELOG.md
  packages/components/pages/f-loyalty/package.json
  packages/components/pages/f-offers/CHANGELOG.md
  packages/components/pages/f-offers/package.json
  yarn.lock
Labels: organisms, pages

#2299 #trivial - Updated the /member links to /account
  packages/components/molecules/f-navigation-links/CHANGELOG.md
  packages/components/molecules/f-navigation-links/src/components/_tests/NavigationLinks.test.js
  packages/components/molecules/f-navigation-links/src/components/_tests/__snapshots__/NavigationLinks.test.js.snap
  packages/components/molecules/f-navigation-links/stories/NavigationLinks.stories.js
  packages/components/organisms/f-footer/CHANGELOG.md
  packages/components/organisms/f-footer/data/en-GB.json
  packages/components/organisms/f-footer/package.json
  packages/components/organisms/f-header/CHANGELOG.md
  packages/components/organisms/f-header/package.json
  packages/components/organisms/f-header/src/tenants/en-GB.js
  packages/components/templates/f-template-subnav/CHANGELOG.md
  packages/components/templates/f-template-subnav/stories/TemplateSubNav.stories.js
Labels: molecules, organisms, templates

#2301 f-content-cards@v10.4.2 - updating adapters
  packages/components/organisms/f-content-cards/CHANGELOG.md
  packages/components/organisms/f-content-cards/package.json
  packages/components/pages/f-loyalty/CHANGELOG.md
  packages/components/pages/f-loyalty/package.json
  packages/components/pages/f-offers/CHANGELOG.md
  packages/components/pages/f-offers/package.json
Labels: organisms, pages
