Repository justeattakeaway/fozzie-components, pull requests merged in 2023-02, with the labels that each got.

#2238 f-mfa@v0.24.0 - add translations for es, ie and it
  packages/components/pages/f-mfa/CHANGELOG.md
  packages/components/pages/f-mfa/package.json
  packages/components/pages/f-mfa/src/tenants/en-IE.js
  packages/components/pages/f-mfa/src/tenants/es-ES.js
  packages/components/pages/f-mfa/src/tenants/it-IT.js
  packages/components/pages/f-mfa/stories/Mfa.stories.js
  packages/components/pages/f-mfa/test/visual/f-mfa.visual.spec.js
Labels: reviewed-1, reviewed-2, pages

#2228 f-loyalty@v3.0.0 - changes to support the new content cards component
  packages/components/pages/f-loyalty/CHANGELOG.md
  packages/components/pages/f-loyalty/jest.config.js
  packages/components/pages/f-loyalty/package.json
  packages/components/pages/f-loyalty/src/components/HowItWorks.vue
  packages/components/pages/f-loyalty/src/components/Loyalty.vue
  packages/components/pages/f-loyalty/src/components/LoyaltyCards.vue
  packages/components/pages/f-loyalty/src/store/loyalty.module.js
  packages/components/pages/f-loyalty/src/store/types.js
  packages/components/pages/f-loyalty/src/tenantConfig.js
  packages/components/pages/f-loyalty/src/tenants/map.js
  packages/components/pages/f-loyalty/stories/Loyalty.stories.js
  packages/components/pages/f-loyalty/stories/mocks/data.js
  packages/components/pages/f-loyalty/stories/mocks/generateRestaurant.js
  packages/components/pages/f-loyalty/stories/mocks/stampCards.js
  packages/components/pages/f-loyalty/stories/stories/mocks/factories/cardFactory.js
  packages/components/pages/f-loyalty/stories/stories/mocks/seeds/stampcards.js
  packages/components/pages/f-loyalty/stories/stories/mocks/server.js
  packages/components/pages/f-loyalty/stories/stories/mocks/traits/stampCardInProgress.js
  packages/components/pages/f-loyalty/stories/stories/mocks/traits/stampCardReadyToClaim.js
  packages/components/pages/f-offers/CHANGELOG.md
  packages/components/pages/f-offers/package.json
  packages/services/f-braze-adapter/CHANGELOG.md
  packages/services/f-braze-adapter/package.json
  yarn.lock
Labels: please review, services, pages

#2235 f-restaurant-card@v1.4.0 - Add max rating Prop
  packages/components/molecules/f-restaurant-card/CHANGELOG.md
  packages/components/molecules/f-restaurant-card/package.json
  packages/components/molecules/f-restaurant-card/src/components/subcomponents/RestaurantRating/RestaurantRating.vue
  packages/components/molecules/f-restaurant-card/src/components/subcomponents/RestaurantRating/_tests/RestaurantRating.test.js
  packages/components/molecules/f-restaurant-card/stories/RestaurantCard.stories.js
  packages/components/molecules/f-restaurant-card/stories/RestaurantRating.stories.js
Labels: molecules

#2242 fozzie@v10.11.0 - bump DS token library
  CHANGELOG.md
  package.json
  packages/tools/fozzie/CHANGELOG.md
  packages/tools/fozzie/package.json
  packages/tools/fozzie/src/scss/settings/_variables.scss
  packages/tools/fozzie/src/test/css/snapshot-tests/__snapshots__/fozzie-typography.spec.js.snap
  packages/tools/fozzie/src/test/css/snapshot-tests/__snapshots__/fozzie-utilities.spec.js.snap
  packages/tools/fozzie/src/test/scss/snapshot-tests/__snapshots__/snapshotTest.spec.js.snap
  yarn.lock
Labels: please review, tools

#2239 f-offers@v2.0.0 - new content cards
  packages/components/pages/f-offers/CHANGELOG.md
  packages/components/pages/f-offers/jest.config.js
  packages/components/pages/f-offers/package.json
  packages/components/pages/f-offers/src/components/Results.vue
  packages/components/pages/f-offers/stories/Offers.stories.js
  yarn.lock
Labels: pages

#2243 f-header@10.12.0 - Stop country selector chevron flashing on page load
  packages/components/organisms/f-header/CHANGELOG.md
  packages/components/organisms/f-header/package.json
  packages/components/organisms/f-header/src/components/CountrySelector.vue
  packages/components/organisms/f-header/src/components/Navigation.vue
Labels: organisms
