Repository justeattakeaway/fozzie-components, pull requests merged in 2023-05, with the labels that each got.

#2279 f-button@5.0.0 - Split small button into productive and expressive
  packages/components/atoms/f-button/CHANGELOG.md
  packages/components/atoms/f-button/README.md
  packages/components/atoms/f-button/package.json
  packages/components/atoms/f-button/src/components/Button.vue
  packages/components/atoms/f-button/src/components/_tests/Button.test.js
  packages/components/atoms/f-button/src/constants.js
  packages/components/atoms/f-button/stories/Button.stories.js
  packages/components/atoms/f-button/stories/Demo.stories.js
  packages/components/atoms/f-button/stories/IconDemo.stories.js
  packages/components/atoms/f-button/stories/LinkButton.stories.js
  packages/components/atoms/f-button/stories/RouterButton.stories.js
  packages/components/molecules/f-mega-modal/CHANGELOG.md
  packages/components/molecules/f-mega-modal/package.json
  packages/components/molecules/f-mega-modal/src/components/MegaModal.vue
  packages/components/pages/f-checkout/CHANGELOG.md
  packages/components/pages/f-checkout/package.json
  packages/components/pages/f-checkout/stories/api/checkoutMock.js
  packages/components/pages/f-checkout/stories/api/responses/getBasket/getBasket.js
  packages/components/pages/f-checkout/stories/api/responses/getCheckout/getCheckout.js
  packages/components/pages/f-offers/CHANGELOG.md
  packages/components/pages/f-offers/package.json
  packages/components/pages/f-offers/src/components/Results.vue
  packages/storybook/CHANGELOG.md
  packages/storybook/config/storybook/preview-head.html
  packages/storybook/package.json
  yarn.lock
Labels: atoms, molecules, storybook, pages

#2285 f-loyalty@3.1.1, f-offers@2.0.2 Rollback f-globalisation in f-offers and f-loyalty
  packages/components/pages/f-loyalty/CHANGELOG.md
  packages/components/pages/f-loyalty/package.json
  packages/components/pages/f-offers/CHANGELOG.md
  packages/components/pages/f-offers/package.json
  yarn.lock
Labels: bug, reviewed-1, please review, pages

#2281 f-cookie-banner@4.10.0
  packages/components/organisms/f-cookie-banner/CHANGELOG.md
  packages/components/organisms/f-cookie-banner/package.json
  packages/components/organisms/f-cookie-banner/src/components/CookieBanner.vue
Labels: organisms

#2251 added volta to repo #trivial
  CHANGELOG.md
  packages/components/atoms/f-card/package.json
  packages/components/atoms/f-error-boundary/package.json
  packages/components/atoms/f-error-message/package.json
  packages/components/atoms/f-filter-pill/package.json
  packages/components/atoms/f-form-field/package.json
  packages/components/atoms/f-image-tile/package.json
  packages/components/atoms/f-link/package.json
  packages/components/atoms/f-popover/package.json
  packages/components/atoms/f-segmented-control/package.json
  packages/components/atoms/f-spinner/package.json
  packages/components/atoms/f-toggle-switch/package.json
  packages/components/molecules/f-alert/package.json
  packages/components/molecules/f-breadcrumbs/package.json
  packages/components/molecules/f-card-with-content/package.json
  packages/components/molecules/f-media-element/package.json
  packages/components/molecules/f-mega-modal/package.json
  packages/components/molecules/f-navigation-links/package.json
  packages/components/molecules/f-promotions-showcase/package.json
  packages/components/molecules/f-rating/package.json
  packages/components/molecules/f-restaurant-card/package.json
  packages/components/molecules/f-searchbox/package.json
  packages/components/molecules/f-skeleton-loader/package.json
  packages/components/molecules/f-tabs/package.json
  packages/components/molecules/f-user-message/package.json
  packages/components/organisms/f-content-cards/package.json
  packages/components/organisms/f-cookie-banner/package.json
  packages/components/organisms/f-footer/package.json
  packages/components/organisms/f-header/package.json
  packages/components/organisms/f-status-banner/package.json
  packages/components/pages/f-account-info/package.json
  packages/components/pages/f-checkout/package.json
  packages/components/pages/f-contact-preferences/package.json
  packages/components/pages/f-loyalty/package.json
  packages/components/pages/f-mfa/package.json
  packages/components/pages/f-offers/package.json
  packages/components/pages/f-registration/package.json
  packages/components/pages/f-takeawaypay-activation/package.json
  packages/components/templates/f-template-subnav/package.json
  packages/services/f-analytics/package.json
  packages/services/f-braze-adapter/package.json
  packages/services/f-compatibility/package.json
  packages/services/f-consumer-oidc/package.json
  packages/services/f-feature-management-vue/package.json
  packages/services/f-feature-management/package.json
  packages/services/f-globalisation/package.json
  packages/services/f-http/package.json
  packages/services/f-performance/package.json
  packages/services/f-services/package.json
  packages/services/f-statistics/package.json
  packages/services/f-test-data-creator/package.json
  packages/services/f-wdio-utils/package.json
  packages/tools/f-vue-icons/icons/Vegan.js
  packages/tools/f-vue-icons/package.json
  packages/tools/generator-component/package.json
  yarn.lock
Labels: atoms, molecules, organisms, services, tools, pages, templates

#2287 f-content-cards@v10.3.1 - patch to fix content cards error for undefined el
  packages/components/organisms/f-content-cards/CHANGELOG.md
  packages/components/organisms/f-content-cards/package.json
  packages/components/organisms/f-content-cards/src/components/templates/ContentCardContainer.vue
  packages/components/organisms/f-content-cards/src/components/templates/_tests/ContentCardContainer.test.js
Labels: reviewed-1, organisms

#2286 f-tabs@v3.4.0 - Adding active tab name for analytics purposes
  packages/components/molecules/f-tabs/CHANGELOG.md
  packages/components/molecules/f-tabs/package.json
  packages/components/molecules/f-tabs/src/components/Tabs.vue
  packages/components/molecules/f-tabs/src/components/tests/Tabs.test.js
Labels: molecules

#2288 f-loyalty@v3.1.2 - adding new version of content cards
  packages/components/pages/f-loyalty/CHANGELOG.md
  packages/components/pages/f-loyalty/package.json
  yarn.lock
Labels: pages

#2289 f-offers@v2.0.3 - updating content cards
  packages/components/pages/f-offers/CHANGELOG.md
  packages/components/pages/f-offers/package.json
  yarn.lock
Labels: pages
