Repository justeattakeaway/fozzie-components, pull requests merged in 2023-11, with the labels that each got.

#2352 fozzie@11.0.2 - Reference released version of include media.
  packages/tools/fozzie/CHANGELOG.md
  packages/tools/fozzie/package.json
Labels: tools

#2350 f-self-exclusion@v1.0.0
  packages/components/pages/f-self-exclusion/.eslintignore
  packages/components/pages/f-self-exclusion/CHANGELOG.md
  packages/components/pages/f-self-exclusion/LICENSE
  packages/components/pages/f-self-exclusion/README.md
  packages/components/pages/f-self-exclusion/babel.config.js
  packages/components/pages/f-self-exclusion/jest.config.js
  packages/components/pages/f-self-exclusion/package.json
  packages/components/pages/f-self-exclusion/src/assets/scss/common.scss
  packages/components/pages/f-self-exclusion/src/components/SelfExclusion.vue
  packages/components/pages/f-self-exclusion/src/components/_tests/SelfExclusion.test.js
  packages/components/pages/f-self-exclusion/src/components/_tests/helpers/setup.js
  packages/components/pages/f-self-exclusion/src/constants.js
  packages/components/pages/f-self-exclusion/src/index.js
  packages/components/pages/f-self-exclusion/src/services/providers/selfExclusion.api.js
  packages/components/pages/f-self-exclusion/src/store/selfExclusion.module.js
  packages/components/pages/f-self-exclusion/src/tenants/da-DK.js
  packages/components/pages/f-self-exclusion/src/tenants/en-AU.js
  packages/components/pages/f-self-exclusion/src/tenants/en-GB.js
  packages/components/pages/f-self-exclusion/src/tenants/en-IE.js
  packages/components/pages/f-self-exclusion/src/tenants/en-NZ.js
  packages/components/pages/f-self-exclusion/src/tenants/es-ES.js
  packages/components/pages/f-self-exclusion/src/tenants/index.js
  packages/components/pages/f-self-exclusion/src/tenants/it-IT.js
  packages/components/pages/f-self-exclusion/src/tenants/nb-NO.js
  packages/components/pages/f-self-exclusion/stories/SelfExclusion.stories.js
  packages/components/pages/f-self-exclusion/stories/payloads/get-exclusions.json
  packages/components/pages/f-self-exclusion/stories/payloads/put-exclusions.json
  packages/components/pages/f-self-exclusion/stories/story.helper.js
  packages/components/pages/f-self-exclusion/test-utils/component-objects/README.md
  packages/components/pages/f-self-exclusion/test-utils/component-objects/f-self-exclusion.component.js
  packages/components/pages/f-self-exclusion/test/accessibility/axe-accessibility.spec.js
  packages/components/pages/f-self-exclusion/test/component/f-self-exclusion.component.spec.js
  packages/components/pages/f-self-exclusion/vue.config.js
Labels: pages

#2373 f-self-exclusion@1.0.1 - Update f-button to v5 and use new small-productive size
  packages/components/pages/f-self-exclusion/CHANGELOG.md
  packages/components/pages/f-self-exclusion/package.json
  packages/components/pages/f-self-exclusion/src/components/SelfExclusion.vue
Labels: pages

#2374 f-header@10.17.0 - Added/Enabled 'Become a courier' links for AU & NZ
  CHANGELOG.md
  package.json
  packages/components/organisms/f-header/CHANGELOG.md
  packages/components/organisms/f-header/package.json
  packages/components/organisms/f-header/src/tenants/en-AU.js
  packages/components/organisms/f-header/src/tenants/en-NZ.js
  yarn.lock
Labels: ready for re-review, organisms

#2338 [Snyk] Security upgrade crypto-js from 4.0.0 to 4.2.0 #trivial
  packages/components/organisms/f-content-cards/package.json
Labels: organisms

#2339 [Snyk] Security upgrade crypto-js from 4.1.1 to 4.2.0 #trivial
  packages/services/f-feature-management/package.json
Labels: services

#2340 [Snyk] Security upgrade crypto-js from 4.0.0 to 4.2.0 #trivial
  packages/services/f-analytics/package.json
Labels: services

#2342 [Snyk] Security upgrade axios from 0.21.2 to 1.6.0 #trivial
  packages/components/pages/f-checkout/package.json
Labels: pages

#2326 [Snyk] Security upgrade yeoman-generator from 4.12.0 to 5.0.0 #trivial
  packages/tools/generator-component/package.json
Labels: tools

#2331 [Snyk] Security upgrade postcss from 8.4.18 to 8.4.31 #trivial
  packages/tools/fozzie/package.json
Labels: tools

#2396 [Snyk] Security upgrade vite-plugin-vue2 from 1.9.0 to 1.9.3 #trivial
  packages/components/atoms/f-error-boundary/package.json
Labels: atoms
