Repository justeattakeaway/fozzie-components, pull requests merged in 2023-04, with the labels that each got.

#2266 f-restaurant-card@v1.5.1 - Update Restaurant Card Promoted Tag Colour
  packages/components/molecules/f-restaurant-card/CHANGELOG.md
  packages/components/molecules/f-restaurant-card/package.json
  packages/components/molecules/f-restaurant-card/src/components/subcomponents/RestaurantTags/RestaurantTag.vue
Labels: molecules

#2267 f-mega-modal@7.4.0 - Add back button and rtl config.
  packages/components/molecules/f-mega-modal/CHANGELOG.md
  packages/components/molecules/f-mega-modal/README.md
  packages/components/molecules/f-mega-modal/package.json
  packages/components/molecules/f-mega-modal/src/components/MegaModal.vue
  packages/components/molecules/f-mega-modal/src/components/_tests/MegaModal.test.js
  packages/components/molecules/f-mega-modal/stories/MegaModal.stories.js
  packages/components/molecules/f-mega-modal/test/visual/f-mega-modal.visual.spec.js
Labels: molecules

#2270 f-rating@v0.17.0 - Fix rating star rating state and remove stars flickering
  packages/components/molecules/f-rating/CHANGELOG.md
  packages/components/molecules/f-rating/package.json
  packages/components/molecules/f-rating/src/components/Rating.vue
  packages/components/molecules/f-rating/src/components/RatingMultiStarVariant.vue
  packages/components/molecules/f-rating/src/components/_tests/Rating.test.js
Labels: bug, enhancement, please review, molecules

#2269 f-toggle@0.1.0 - Create component
  packages/components/atoms/f-toggle/.eslintignore
  packages/components/atoms/f-toggle/CHANGELOG.md
  packages/components/atoms/f-toggle/LICENSE
  packages/components/atoms/f-toggle/README.md
  packages/components/atoms/f-toggle/babel.config.js
  packages/components/atoms/f-toggle/jest.config.js
  packages/components/atoms/f-toggle/package.json
  packages/components/atoms/f-toggle/src/assets/scss/common.scss
  packages/components/atoms/f-toggle/src/components/Toggle.vue
  packages/components/atoms/f-toggle/src/components/_tests/Toggle.test.js
  packages/components/atoms/f-toggle/src/index.js
  packages/components/atoms/f-toggle/stories/Toggle.stories.js
  packages/components/atoms/f-toggle/test-utils/component-objects/README.md
  packages/components/atoms/f-toggle/test-utils/component-objects/f-toggle.component.js
  packages/components/atoms/f-toggle/test/accessibility/axe-accessibility.spec.js
  packages/components/atoms/f-toggle/test/component/README.md
  packages/components/atoms/f-toggle/test/component/f-toggle.component.spec.js
  packages/components/atoms/f-toggle/test/visual/f-toggle.visual.spec.js
  packages/components/atoms/f-toggle/vue.config.js
Labels: reviewed-1, ready for re-review, please review, atoms

#2268 f-segmented-control@v0.1.0 - initial component
  .github/workflows/build.yml
  CHANGELOG.md
  package.json
  packages/components/atoms/f-segmented-control/.eslintignore
  packages/components/atoms/f-segmented-control/CHANGELOG.md
  packages/components/atoms/f-segmented-control/LICENSE
  packages/components/atoms/f-segmented-control/README.md
  packages/components/atoms/f-segmented-control/babel.config.js
  packages/components/atoms/f-segmented-control/jest.config.js
  packages/components/atoms/f-segmented-control/package.json
  packages/components/atoms/f-segmented-control/src/assets/scss/common.scss
  packages/components/atoms/f-segmented-control/src/components/SegmentedControl.vue
  packages/components/atoms/f-segmented-control/src/components/_tests/SegmentedControl.test.js
  packages/components/atoms/f-segmented-control/src/components/_tests/visual/f-segmented-control.visual.desktop.spec
  packages/components/atoms/f-segmented-control/src/components/helpers/_tests/validators.test.js
  packages/components/atoms/f-segmented-control/src/components/helpers/validators.js
  packages/components/atoms/f-segmented-control/src/index.js
  packages/components/atoms/f-segmented-control/stories/SegmentedControl.stories.js
  packages/components/atoms/f-segmented-control/test-utils/component-objects/README.md
  packages/components/atoms/f-segmented-control/test-utils/component-objects/f-segmented-control.component.js
  packages/components/atoms/f-segmented-control/test/accessibility/axe-accessibility.spec.js
  packages/components/atoms/f-segmented-control/test/component/README.md
  packages/components/atoms/f-segmented-control/test/component/f-segmented-control.component.spec.js
  packages/components/atoms/f-segmented-control/test/visual/f-segmented-control.visual.spec.js
  packages/components/atoms/f-segmented-control/vue.config.js
  yarn.lock
Labels: atoms

#2272 f-loyalty@v3.1.0 - New adapters
  packages/components/pages/f-loyalty/CHANGELOG.md
  packages/components/pages/f-loyalty/package.json
  yarn.lock
Labels: reviewed-1, please review, pages

#2274 f-cookie-banner@4.9.0 - Add scrolling functionality to body content
  packages/components/organisms/f-cookie-banner/CHANGELOG.md
  packages/components/organisms/f-cookie-banner/package.json
  packages/components/organisms/f-cookie-banner/src/components/CookieBanner.vue
  packages/components/organisms/f-cookie-banner/src/components/ReopenBannerLink.vue
Labels: organisms

#2278 f-footer@v8.5.0 - Confianza link
  packages/components/organisms/f-footer/CHANGELOG.md
  packages/components/organisms/f-footer/package.json
  packages/components/organisms/f-footer/src/components/LegalField.vue
  packages/components/organisms/f-footer/src/components/_tests/Footer.test.js
  packages/components/organisms/f-footer/src/tenants/es-ES.js
Labels: organisms
