Repository justeattakeaway/fozzie-components, pull requests merged in 2023-03, with the labels that each got.

#2248 f-vue-icons@3.13.1 - Added VeganIcon to index file
  packages/tools/f-vue-icons/CHANGELOG.md
  packages/tools/f-vue-icons/package.json
  packages/tools/f-vue-icons/src/components/Vegan.js
  packages/tools/f-vue-icons/src/components/VeganIcon.js
  packages/tools/f-vue-icons/src/index.js
  yarn.lock
Labels: tools

#2254 fozzie-components@v7.48.0 - Add Turborepo remote caching
  .github/workflows/build.yml
  .gitignore
  .turbo/config.json
  CHANGELOG.md
  README.md
  package.json
  packages/tools/f-vue-icons/CHANGELOG.md
  packages/tools/f-vue-icons/icons/CorporateOfficeSmallIcon.js
  packages/tools/f-vue-icons/icons/VeganIcon.js
  packages/tools/f-vue-icons/package.json
  packages/tools/f-vue-icons/src/components/CorporateOfficeSmallIcon.js
  packages/tools/f-vue-icons/src/index.js
  turbo.json
  yarn.lock
Labels: tools

#2256 f-globalisation@v1.2.0
  packages/services/f-globalisation/CHANGELOG.md
  packages/services/f-globalisation/package.json
  packages/services/f-globalisation/src/mixins/globalisation.mixin.vue
  packages/services/f-globalisation/src/mixins/tests/globalisation.mixin.test.js
Labels: services

#2260 f-globalisation@1.3.0 - Attempt to fix translation merge from component.
  packages/services/f-globalisation/CHANGELOG.md
  packages/services/f-globalisation/package.json
  packages/services/f-globalisation/src/mixins/globalisation.mixin.vue
  packages/services/f-globalisation/src/mixins/tests/globalisation.mixin.test.js
Labels: services

#2262 f-globalisation@1.4.0
  packages/services/f-globalisation/CHANGELOG.md
  packages/services/f-globalisation/package.json
  packages/services/f-globalisation/src/mixins/globalisation.mixin.vue
  packages/services/f-globalisation/src/mixins/tests/globalisation.mixin.test.js
Labels: services

#2265 f-rating@0.16.0 - Correct default prop value.
  packages/components/molecules/f-rating/CHANGELOG.md
  packages/components/molecules/f-rating/README.md
  packages/components/molecules/f-rating/package.json
  packages/components/molecules/f-rating/src/components/Rating.vue
  packages/components/molecules/f-rating/src/components/_tests/Rating.test.js
Labels: do not merge, molecules
