Repository justeattakeaway/fozzie-components, pull requests merged in 2023-08, with the labels that each got.

#2311 f-loyalty@v3.3.0 - updating loyalty to remove braze adapter
  packages/components/pages/f-loyalty/CHANGELOG.md
  packages/components/pages/f-loyalty/package.json
  packages/components/pages/f-loyalty/src/components/Loyalty.vue
  packages/components/pages/f-loyalty/src/components/LoyaltyCards.vue
  packages/components/pages/f-loyalty/src/store/loyalty.module.js
  packages/components/pages/f-loyalty/src/store/types.js
Labels: pages

#2313 f-mega-modal@7.6.0 - Add `position: fixed;` to fix z-index
  packages/components/molecules/f-mega-modal/CHANGELOG.md
  packages/components/molecules/f-mega-modal/package.json
  packages/components/molecules/f-mega-modal/src/components/MegaModal.vue
  packages/components/molecules/f-mega-modal/stories/MegaModal.stories.js
Labels: molecules

#2314 f-cookie-banner@4.11.1 - Use latest f-mega-modal
  packages/components/organisms/f-cookie-banner/CHANGELOG.md
  packages/components/organisms/f-cookie-banner/package.json
Labels: organisms

#2318 f-checkout@v4.11.0 - remove linting warnings changes from 4.9.1 version
  packages/components/pages/f-checkout/CHANGELOG.md
  packages/components/pages/f-checkout/package.json
  packages/components/pages/f-checkout/stories/api/checkoutMock.js
  packages/components/pages/f-checkout/stories/api/responses/getBasket/getBasket.js
  packages/components/pages/f-checkout/stories/api/responses/getCheckout/getCheckout.js
Labels: pages
