Repository justeattakeaway/fozzie-components, pull requests merged in 2024-04, with the labels that each got.

#2503 chore(fozzie-components): Upgrade Chromedriver to v122.0.6 & fix CI issues. #trivial
  .github/workflows/build.yml
  package.json
  packages/components/organisms/f-cookie-banner/package.json
  yarn.lock
Labels: organisms

#2512 fozzie-components@7.56.0 - Update fozzie and components to use latest pie-design-tokens
  CHANGELOG.md
  package.json
  packages/components/atoms/f-error-message/CHANGELOG.md
  packages/components/atoms/f-error-message/package.json
  packages/components/organisms/f-content-cards/CHANGELOG.md
  packages/components/organisms/f-content-cards/package.json
  packages/tools/fozzie/CHANGELOG.md
  packages/tools/fozzie/package.json
  packages/tools/fozzie/src/test/css/snapshot-tests/__snapshots__/fozzie-reset.spec.js.snap
  packages/tools/fozzie/src/test/css/snapshot-tests/__snapshots__/fozzie-typography.spec.js.snap
  packages/tools/fozzie/src/test/css/snapshot-tests/__snapshots__/fozzie-utilities.spec.js.snap
  yarn.lock
Labels: atoms, organisms, tools

#2511 f-restaraurant-card@1.6.2: Add new prop f-restaurant card for review threshold
  packages/components/molecules/f-restaurant-card/CHANGELOG.md
  packages/components/molecules/f-restaurant-card/package.json
  packages/components/molecules/f-restaurant-card/src/components/subcomponents/RestaurantRating/RestaurantRating.vue
  packages/components/molecules/f-restaurant-card/src/components/subcomponents/RestaurantRating/_tests/RestaurantRating.test.js
Labels: molecules

#2516 fozzie-components@7.6.1 - Security package updates
  CHANGELOG.md
  package.json
  packages/components/molecules/f-searchbox/CHANGELOG.md
  packages/components/molecules/f-searchbox/package.json
  packages/components/molecules/f-searchbox/src/services/general.services.js
  packages/components/molecules/f-searchbox/src/services/tests/general.services.test.js
  packages/components/molecules/f-user-message/CHANGELOG.md
  packages/components/molecules/f-user-message/package.json
  packages/components/organisms/f-content-cards/CHANGELOG.md
  packages/components/organisms/f-content-cards/package.json
  packages/components/organisms/f-cookie-banner/CHANGELOG.md
  packages/components/organisms/f-cookie-banner/package.json
  packages/components/pages/f-checkout/CHANGELOG.md
  packages/components/pages/f-checkout/package.json
  packages/components/pages/f-checkout/src/services/tests/addressService.test.js
  packages/components/pages/f-offers/CHANGELOG.md
  packages/components/pages/f-offers/package.json
  packages/components/pages/f-self-exclusion/CHANGELOG.md
  packages/components/pages/f-self-exclusion/package.json
  packages/components/pages/f-takeawaypay-activation/CHANGELOG.md
  packages/components/pages/f-takeawaypay-activation/package.json
  packages/services/f-http/CHANGELOG.md
  packages/services/f-http/package.json
  packages/services/f-services/CHANGELOG.md
  packages/services/f-services/package.json
  packages/tools/fozzie/CHANGELOG.md
  packages/tools/fozzie/package.json
  test/utils/svgTransform.js
  yarn.lock
Labels: molecules, organisms, services, tools, pages

#2517 fozzie-components@7.56.2 - More security package updates (vue, storybook)
  CHANGELOG.md
  package.json
  packages/components/atoms/f-form-field/CHANGELOG.md
  packages/components/atoms/f-form-field/package.json
  packages/components/molecules/f-media-element/CHANGELOG.md
  packages/components/molecules/f-media-element/package.json
  packages/components/molecules/f-mega-modal/CHANGELOG.md
  packages/components/molecules/f-mega-modal/package.json
  packages/components/molecules/f-promotions-showcase/CHANGELOG.md
  packages/components/molecules/f-promotions-showcase/package.json
  packages/components/molecules/f-restaurant-card/CHANGELOG.md
  packages/components/molecules/f-restaurant-card/package.json
  packages/components/organisms/f-content-cards/CHANGELOG.md
  packages/components/organisms/f-content-cards/package.json
  packages/components/organisms/f-cookie-banner/CHANGELOG.md
  packages/components/organisms/f-cookie-banner/package.json
  packages/components/pages/f-account-info/CHANGELOG.md
  packages/components/pages/f-account-info/package.json
  packages/components/pages/f-checkout/CHANGELOG.md
  packages/components/pages/f-checkout/package.json
  packages/components/pages/f-contact-preferences/CHANGELOG.md
  packages/components/pages/f-contact-preferences/package.json
  packages/components/pages/f-loyalty/CHANGELOG.md
  packages/components/pages/f-loyalty/package.json
  packages/components/pages/f-mfa/CHANGELOG.md
  packages/components/pages/f-mfa/package.json
  packages/components/pages/f-offers/CHANGELOG.md
  packages/components/pages/f-offers/package.json
  packages/components/pages/f-registration/CHANGELOG.md
  packages/components/pages/f-registration/package.json
  packages/components/pages/f-self-exclusion/CHANGELOG.md
  packages/components/pages/f-self-exclusion/package.json
  packages/storybook/CHANGELOG.md
  packages/storybook/package.json
  yarn.lock
Labels: atoms, molecules, organisms, storybook, pages
