Repository justeattakeaway/fozzie-components, pull requests merged in 2024-05, with the labels that each got.

#2521 f-vue-icons@3.14.1 - More package updates
  packages/tools/f-vue-icons/CHANGELOG.md
  packages/tools/f-vue-icons/package.json
  packages/tools/fozzie/CHANGELOG.md
  packages/tools/fozzie/package.json
  packages/tools/fozzie/src/test/scss/scss-setup.spec.js
  packages/tools/fozzie/src/utilities/getSubdirectories.js
  yarn.lock
Labels: tools

#2520 fozzie-components@7.57.0 - Update babel to latest versions
  CHANGELOG.md
  babel.config.js
  package.json
  packages/components/atoms/f-button/babel.config.js
  packages/components/atoms/f-card/babel.config.js
  packages/components/atoms/f-error-boundary/babel.config.js
  packages/components/atoms/f-error-message/babel.config.js
  packages/components/atoms/f-filter-pill/babel.config.js
  packages/components/atoms/f-form-field/babel.config.js
  packages/components/atoms/f-image-tile/babel.config.js
  packages/components/atoms/f-link/babel.config.js
  packages/components/atoms/f-popover/babel.config.js
  packages/components/atoms/f-segmented-control/babel.config.js
  packages/components/atoms/f-spinner/babel.config.js
  packages/components/atoms/f-toggle-switch/babel.config.js
  packages/components/molecules/f-alert/babel.config.js
  packages/components/molecules/f-breadcrumbs/babel.config.js
  packages/components/molecules/f-card-with-content/babel.config.js
  packages/components/molecules/f-media-element/babel.config.js
  packages/components/molecules/f-mega-modal/babel.config.js
  packages/components/molecules/f-navigation-links/babel.config.js
  packages/components/molecules/f-promotions-showcase/babel.config.js
  packages/components/molecules/f-rating/babel.config.js
  packages/components/molecules/f-restaurant-card/babel.config.js
  packages/components/molecules/f-searchbox/babel.config.js
  packages/components/molecules/f-skeleton-loader/babel.config.js
  packages/components/molecules/f-tabs/babel.config.js
  packages/components/molecules/f-user-message/babel.config.js
  packages/components/organisms/f-content-cards/babel.config.js
  packages/components/organisms/f-content-cards/package.json
  packages/components/organisms/f-cookie-banner/babel.config.js
  packages/components/organisms/f-footer/babel.config.js
  packages/components/organisms/f-header/babel.config.js
  packages/components/organisms/f-status-banner/babel.config.js
  packages/components/pages/f-account-info/babel.config.js
  packages/components/pages/f-checkout/babel.config.js
  packages/components/pages/f-contact-preferences/babel.config.js
  packages/components/pages/f-loyalty/babel.config.js
  packages/components/pages/f-mfa/babel.config.js
  packages/components/pages/f-offers/babel.config.js
  packages/components/pages/f-registration/babel.config.js
  packages/components/pages/f-self-exclusion/babel.config.js
  packages/components/pages/f-takeawaypay-activation/babel.config.js
  packages/components/templates/f-template-subnav/babel.config.js
  packages/services/core-analytics/babel.config.js
  packages/services/f-analytics/babel.config.js
  packages/services/f-braze-adapter/babel.config.js
  packages/services/f-compatibility/babel.config.js
  packages/services/f-globalisation/babel.config.js
  packages/services/f-http/babel.config.js
  packages/services/f-performance/babel.config.js
  packages/services/f-services/babel.config.js
  packages/services/f-statistics/babel.config.js
  packages/services/f-test-data-creator/babel.config.js
  packages/services/f-wdio-utils/babel.config.js
  packages/tools/f-vue-icons/babel.config.js
  packages/tools/fozzie/package.json
  packages/tools/generator-component/babel.config.js
  packages/tools/generator-component/generators/app/templates/babel.config.js
  yarn.lock
Labels: atoms, molecules, organisms, services, tools, pages, templates

#2529 f-header@v10.20.0 Stop Portugal, Romania, and New Zealand support & adding Slovakia country
  packages/components/organisms/f-header/CHANGELOG.md
  packages/components/organisms/f-header/package.json
  packages/components/organisms/f-header/src/components/FlagIcon.vue
  packages/components/organisms/f-header/src/components/_tests/Header.test.js
  packages/components/organisms/f-header/src/tenants/countryList.js
  packages/components/organisms/f-header/src/tenants/en-NZ.js
  packages/components/organisms/f-header/src/tenants/index.js
  packages/components/organisms/f-header/stories/header.stories.js
  packages/components/organisms/f-header/test/accessibility/axe-accessibility.spec.js
  packages/components/organisms/f-header/test/component/f-header.component.spec.js
  packages/components/organisms/f-header/test/visual/f-header.visual.desktop.spec.js
  packages/components/organisms/f-header/test/visual/f-header.visual.mobile.spec.js
Labels: organisms
