Repository justeattakeaway/fozzie-components, pull requests merged in 2024-06, with the labels that each got.

#2515 f-self-exclusion@1.4.0 - Handling of cases where the exclusion period has expired
  packages/components/pages/f-self-exclusion/CHANGELOG.md
  packages/components/pages/f-self-exclusion/package.json
  packages/components/pages/f-self-exclusion/src/components/SelfExclusion.vue
  packages/components/pages/f-self-exclusion/src/tenants/da-DK.js
  packages/components/pages/f-self-exclusion/src/tenants/en-AU.js
  packages/components/pages/f-self-exclusion/src/tenants/en-GB.js
  packages/components/pages/f-self-exclusion/src/tenants/en-IE.js
  packages/components/pages/f-self-exclusion/src/tenants/en-NZ.js
  packages/components/pages/f-self-exclusion/src/tenants/es-ES.js
  packages/components/pages/f-self-exclusion/src/tenants/it-IT.js
  packages/components/pages/f-self-exclusion/src/tenants/nb-NO.js
Labels: pages

#2538 f-button@5.1.1 - Update outline button border colour
  packages/components/atoms/f-button/CHANGELOG.md
  packages/components/atoms/f-button/package.json
  packages/components/atoms/f-button/src/components/Button.vue
Labels: atoms

#2541 f-vue-icons@3.14.2 - Fix Published NPM package is missing `esm` folder
  packages/tools/f-vue-icons/CHANGELOG.md
  packages/tools/f-vue-icons/package.json
Labels: bug, please review, tools

#2543 f-header@10.21.0 - Add support for tracking contexts
  packages/components/organisms/f-footer/CHANGELOG.md
  packages/components/organisms/f-footer/README.md
  packages/components/organisms/f-footer/package.json
  packages/components/organisms/f-footer/src/components/ButtonList.vue
  packages/components/organisms/f-footer/src/components/CountrySelector.vue
  packages/components/organisms/f-footer/src/components/FeedbackBlock.vue
  packages/components/organisms/f-footer/src/components/Footer.vue
  packages/components/organisms/f-footer/src/components/IconList.vue
  packages/components/organisms/f-footer/src/components/LinkList.vue
  packages/components/organisms/f-footer/src/components/_tests/__snapshots__/Footer.test.js.snap
  packages/components/organisms/f-footer/src/mixins/analytics.mixin.js
  packages/components/organisms/f-footer/stories/footer.stories.js
  packages/components/organisms/f-header/CHANGELOG.md
  packages/components/organisms/f-header/README.md
  packages/components/organisms/f-header/package.json
  packages/components/organisms/f-header/src/components/CountrySelector.vue
  packages/components/organisms/f-header/src/components/CountrySelectorPanel.vue
  packages/components/organisms/f-header/src/components/Header.vue
  packages/components/organisms/f-header/src/components/Logo.vue
  packages/components/organisms/f-header/src/components/Navigation.vue
  packages/components/organisms/f-header/src/components/UserNavigationPanel.vue
  packages/components/organisms/f-header/src/components/_tests/__snapshots__/Header.test.js.snap
  packages/components/organisms/f-header/src/mixins/analytics.mixin.js
  packages/components/organisms/f-header/stories/header.stories.js
  yarn.lock
Labels: organisms
